
.otiles {
    padding:@d4; overflow: auto;
    .list-item {
        display: inline-block;
    }
    .list-empty {
        font-size:@f3; color:@c2; padding:@d3;
        i {margin-right: @d3;}
    }
}

// 灰掉的节点
.list-item[it-disabled] {opacity: .3;}