@thSW : 40%;
// ------------------------------- 
// 管理器
.th-manager {
    position: relative;
    > * {position: absolute; top:0; bottom: 0;}
    > .th-search-con {left: 0; width: @thSW;}
    > .th-obj-con {right:0; left:@thSW;}
    // 搜索
    > .th-search-con {border-right:1px solid @cborder1;}
}
.th-manager[dis-mode="index"] {
    > .th-search-con {width:60%;}
    > .th-obj-con {left:60%;}
}
.th-manager[dis-mode="only-search"] {
    > .th-search-con {
        height:100%; width:100%; border-right:0;
        position: unset; top:unset; bottom:unset;
    }
    > .th-obj-con {display: none;}
}
// ------------------------------- 
// 对象搜索器
.th-search {
    [key="th_nm"] {
        > i, >.th_thumb {
            display:inline-block; vertical-align: middle; width: 16px; text-align: center;
            margin-right:@d2;
        }
        img {
            height:16px; vertical-align: middle;border-radius: @d0; border:1px solid @cborder1;
            margin-right:@d2;
        }
        span {
            margin-left:@d3; color:@c4;
            em {margin-left:@d1; color:@c3;}
        }
    }
    .th-lbl {
        display: inline-block; padding:0 @d2; vertical-align: middle;
        margin: 0 1px; border:1px solid @cborder1; font-size:@f1;
        border-radius: @d0;
    }
    .th_file_none {
            font-size:@f2; font-style: italic; color:@c2;
    }
    .th_file_nb {
        font-size:@f2; 
        > i {color:@c4;}
        > em {font-style: normal; font-weight: bold; color:@c3; margin-left: @d0;}
    }
    .list-item [key] {
        font-family: @f_fixed; font-size: @f2;
    }
    .list-item[li-checked] {
        [key="th_nm"] {
            span {
                color:@ch0_f;
                em {color:@ch0_f;}
            }
        }
        [key="lbls"] {
            .th-lbl {
                color:@ch0_f; background: @ch0_b;
                border-color:@ch0_f; border-style: dotted;
            }
        }
        .th_file_none {color:@ch0_f;}
        .th_file_nb {
            > i {color:@ch0_f;}
            > em {color:@ch0_f;}
        }
        .th-pub {
            color:@ch0_f;
        }
    }
}

// ------------------------------- 
// 空对象
.th-obj-blank {
    padding:@da 0 0 @d6; color:@c2;
    font-size:@f2; font-family: @f_fixed;
    i {margin-right:@d3;}
}

// ------------------------------- 
// 对象编辑器 
@thOW : 60%;
.th-obj {
    > * {position: absolute; top:0; bottom: 0;}
}
.th-manager[dis-mode="index-data"] .th-obj{
    > .th-obj-index-con {left:0; width:@thOW;}
    > .th-obj-data-con {right:0; left:@thOW;}
}
.th-manager[dis-mode="index"] .th-obj{
    > .th-obj-index-con {left:0; right:0;}
}
.th-manager[dis-mode="data"] .th-obj{
    > .th-obj-data-con {right:0; left:0;}
}
//........................................
// 通用标签面板
@toiH : 32px;
.th-obj-pan {
    position: relative;
    > * {position: absolute; left:0; right:0;}
    > header {top:0;
        .top-tabs {float:left;}
        .top-menu {float:right;}
    }
    > header:after{@clr();}
    > section {top:@toiH+1; bottom:0;}
    
    // 标题部分样式
    > header {
        background: @cb0; border-bottom: 1px solid @cborder1;
        > div {
            position: relative; height:@toiH;
            .top-tabs { @noselect();
                position: absolute; left: 0; bottom:0; 
                padding:0 @d3;
                ul {@flex();
                    li {
                        margin-bottom:-1px; cursor: pointer;
                        border:1px solid transparent;
                        border-bottom:0; border-radius: @d1 @d1 0 0;
                        padding:@d1 @d2; opacity: 0.6;
                    }
                    li[current] {
                        border-color:@cborder1;
                        background: @cb2; opacity: 1;
                    }
                }
            }
            .top-menu {
                position: absolute; right: 0; top:0;
                .menu {
                    padding:@d1 @d0;
                }
            }
        }
    }
    // 内如部分样式
    > section {
        background: @cb2;
    }
}
  
//........................................
// 元数据界面
.th-obj-index-meta {
    .obj-meta-form > .form-body > .form-body-wrapper > .form-group {
        padding-top:@d3;
        > .fg-fields > .form-fld {
            padding:0;
            > .ff-txt {padding:@d3 @d2 @d3 24px;}
            > .ff-val {padding:@d0;}
            > .ff-prompt {padding:@d3+@d1 @d3;}
        }
        // .comi-image {
        //     img {max-height:180px;}
        // }
    }
}
//........................................
// 对象详情界面
.th-obj-index-detail {
    .toid-brief {
        padding:@d2; position: relative; background: @cb1;
        > h4 {margin:0; padding:@d2; font-size:@f2; color:@c2;}
        > aside {
            position: absolute; right: 0; top:0;
            padding:@d2;
            a {cursor: pointer;}
        }
        > textarea {@input();
            width:100%; height:60px; outline:none; resize:none;
            padding:@d3; font-size:@f2; line-height: @f3;
            
        }
    }
}
//........................................
.th-obj-data {
    > header > div {
        .top-tabs ul li[current] {background: @cb1;}
    }
    > section {background: @cb1;border-left:1px solid @cborder1;}
    > .hide-file-selector {
        position: fixed; top:-10000px; left:0; visibility: hidden;
    }
}

//........................................
// 通用附件/多媒体面板样式
@todH : 160px;
.th-obj-data-W {
    padding:@d0;  position: relative;
    > * {position: absolute; left: 0; right: 0;}
    > header {
        top:0; height:@todH; border-bottom:1px solid @cborder0;
        padding:@d2;
        div.media-none {
            @flex(); justify-content:center; align-items:center;
            width: 100%; height:100%; 
            color:@c2; font-size:@f3;
        }
    }
    > section {
        top:@todH; bottom:0;
    }
    &[ui-drag] {
        background: @ch1_b; color:@ch1_f;
        > * {
            opacity: 0.4; 
            -webkit-filter: blur(3px); /* Chrome, Opera */
            -moz-filter: blur(3px);
            -ms-filter: blur(3px);    
                filter: blur(3px);
        }
    }
}

//......................................... 配置样式:Begin
@thcFldMH : 48px;
@thcFldLW : 40%;
.th-design {
    background: @cb2; 
    // 头部标题
    .thd-info {
        @flex(); 
        > div {
            flex:0 0 auto; padding:@d2 0;
            @flex(); align-items: center;
        }
        > .thd-icon {
           padding-left:@d2; 
        }
        > .thd-id {
            flex:0 0 auto; color:@c3; padding:@d3+@d2 0;
            font-family: @f_fixed; font-size:@f2; 
        }
        > .thd-id:before {display: inline; content:"(";}
        > .thd-id:after  {display: inline; content:")";}
        > .thd-vc {
            flex:1 1 auto; color:@c3; padding:@d0 @d1;
            font-family: @f_fixed; font-size:@f1; 
            @flex(); align-items: center;
            a {cursor: pointer;}
        }
        > .thd-btns { @noselect();
            padding-left:@d3;
            a {cursor: pointer; margin-right: @d2;}
            b {@btn(); padding:@d2 @d4;}
            b:hover {@btn_hover();}
            em {
                font-style: normal; color:@c2; 
                padding:@d2 @d4;
            }
        }
        > .thd-btns[mode="loaded"] {
            a, b, em {display: none;}
        }
        > .thd-btns[mode="changed"] {
            a, b {display: inline-block;}
            em {display: none;}
        }
        > .thd-btns[mode="ing"] {
            a, b {display: none;}
            em {display: inline-block;}
        }
    }
    .thd-tabs {
        padding:0 @d2 @d2 @d2;
    }
    // 全局设置 
    .th-design-general {
    }
    // 字段编辑器
    .th-design-flds {
        position: relative;
        > div {position: absolute;}
        > .thd-menu { 
            left: 0; top:0; right:0; height:@thcFldMH; padding:@d2;
            .menu {padding:@d1 @d3; border:1px dashed @cborder1; background: @cb4;}
        }
        > .thd-fld-list { 
            left:0; top:@thcFldMH; bottom:0; width:@thcFldLW;
            padding:0 0 @d2 @d2;
            .lst { @noselect();
                .list-item {
                    font-size: @f2; font-family: @f_fixed;
                    border:0; opacity: 0.6;
                    i {width:24px;}
                    b {font-weight: normal;}
                    em {
                        font-style: normal; color:@c4;
                        margin-left:@d2; font-size: @f2;
                    }
                }
                .lst-item-checked {background: @cb1; color:unset;}
                .lst-item-actived {opacity: 1.0;
                    b  {color:@c4;}
                }
            }
        }
        > .thd-fld-conf { 
            right:0; top:@thcFldMH; bottom:0; left:@thcFldLW;
            padding:0 @d2 @d2 0;
            .thd-blank {
                padding:@d4; font-size: @f3;
            }
            .thd-fld-form {
                background: @cb1;
                .form-fld {
                    padding:0;
                    .ff-txt {padding-left:@d4; padding-right:@d0;}
                    .ff-val {padding-right:0;}
                }
            }
        }
    }
}
//......................................... 配置样式:End


//......................................... 导入/导出数据
.th-wizard {
    .form-body {
        overflow: hidden; padding-right:@d6;
    }
    .cmd-log pre {
        background: transparent; color:#888;
        .msg-info {color:#666;}
        .msg-err {color:#F00;}
    }
} // ~End of .th-wizard
.th-wizard-mask {
    .pm-body {
        border-radius: 0 0 @d2 @d2;
        overflow: hidden;
    }
}
.th-import-1-choose-file {
    input[type="file"]{display: none;}
    .thiw-main {
        width:100%; height:100%;
        @flex(); justify-content: center; align-content: center;
        flex-wrap:wrap;
        border:3px dashed transparent;
        padding-bottom:10%;
        section {
            padding:@d4; font-size:@f3; color:@c2;
            width:100%; text-align: center;
        }
        &[ui-drag] {
            border-color:@cborder1; background: @cb1; color:@cf1;
        }
    }
}
.th-import-2-uploading {
    h4 {
        margin:0; padding:@d2 @d4; color:@c2; font-size:@f3;
        code {color:@c3; margin:0 @d2;}
    }
    .thiw-ing {
        padding:@d5;
        .thiw-ing-nb {
            padding:@d3; text-align: center; color:@c4;
        }
        .thiw-ing-bar {
            border:1px solid @cborder1; background: #FFF;
            span {
                height:4px; display: block; background: #0F0;
            }
        }
        .thiw-ing-msg {
            padding:@d3; text-align: center; color:@c2;
            font-size: @f3;
        }
    }
}
.th-import-4-done {
    text-align: center;
    header {
        padding:@d6 0 @d3 0; font-size:@f8; color:@c3;
    }
    section {
        font-size:@f4; color:@c3;
    }
    footer {
        padding:@d2;
        a {cursor: pointer;}
    }
}
.th-export-3-done {
    text-align: center;
    header {
        padding:@d7 0 @d2 0;  color:@c3;
        i {vertical-align: middle; font-size:3em;}
        span {display: block; padding:@d4; font-size:@f4;}
    }
    section {
        font-size:@f4; color:@c3;
        a {
            display: inline-block; padding:@d4 @d6; 
            border:1px solid @clink; border-radius: @d2;
            &:hover {
                background: @chx_b; color:@chx_f; border-color:@chx_b;
                text-decoration: none
            }
            i {vertical-align: middle; margin:0 @d3;}
            span {}
        }
    }
    footer {
        padding:@d7 @d2 0 @d2;
        a {cursor: pointer; color:@c2;}
    }
}
//......................................... 以上是导入/导出数据

//......................................... 
// 扩展命令界面
@THDC_AH : 160px;
.th-design-commands {
    position: relative;
    > section {position: absolute;}
    .thdc-search { top:0; bottom:@THDC_AH; left:0;  width:50%;}
    .thdc-obj    { top:0; bottom:@THDC_AH; right:0; width:50%;}
    .thdc-actions {
        left:0; right:0; bottom:0; height:@THDC_AH;
        @flex(); padding:@d2 @d3;
        .thdca-list {
            flex:1 1 auto; border:1px solid @cborder1;
        }
        .thdca-opt {
            flex:0 0 auto; padding:@d4;

        }
    }
    .thdc-list {
        padding:@d4;
    }
}





































