@thSW : 40%;
// ------------------------------- 
// 管理器
.th-manager {
    position: relative;
    > * {position: absolute; top:0; bottom: 0;}
    > .th-search-con {left: 0; width: @thSW;}
    > .th-obj-con {right:0; left:@thSW;}
    // 搜索
    > .th-search-con {border-right:1px solid @cborder1;}
}

// ------------------------------- 
// 对象搜索器
.th-search {
    [key="th_nm"] {
        i.th_thumb {
            display:inline-block; vertical-align: middle; width: 16px; text-align: center;
            margin-right:@d2;
        }
        img {
            height:16px; vertical-align: middle;border-radius: @d0; border:1px solid @cborder1;
            margin-right:@d2;
        }
        span {
            margin-left:@d3; color:@c4;
            em {margin-left:@d1; color:@c3;}
        }
    }
    .th-lbl {
        display: inline-block; padding:0 @d2; vertical-align: middle;
        margin: 0 1px; border:1px solid @cborder1; font-size:@f1;
        border-radius: @d0;
    }
    .th_file_none {
            font-size:@f2; font-style: italic; color:@c2;
    }
    .th_file_nb {
        font-size:@f2; 
        > i {color:@c4;}
        > em {font-style: normal; font-weight: bold; color:@c3; margin-left: @d0;}
    }
    .list-item [key] {
        font-family: @f_fixed; font-size: @f2;
    }
    .list-item[li-checked] {
        [key="th_nm"] {
            span {
                color:@ch0_f;
                em {color:@ch0_f;}
            }
        }
        [key="lbls"] {
            .th-lbl {
                color:@ch0_f; background: @ch0_b;
                border-color:@ch0_f; border-style: dotted;
            }
        }
        .th_file_none {color:@ch0_f;}
        .th_file_nb {
            > i {color:@ch0_f;}
            > em {color:@ch0_f;}
        }
        .th-pub {
            color:@ch0_f;
        }
    }
}

// ------------------------------- 
// 空对象
.th-obj-blank {
    padding:@da 0 0 @d6; color:@c2;
    font-size:@f2; font-family: @f_fixed;
    i {margin-right:@d3;}
}

// ------------------------------- 
// 对象编辑器 
@thOW : 60%;
.th-obj {
    > * {position: absolute; top:0; bottom: 0;}
    > .th-obj-index-con {left:0; width:@thOW;}
    > .th-obj-data-con {right:0; left:@thOW;}
}
//........................................
@toiH : 32px;
.th-obj-index {
    position: relative;
    > * {position: absolute; left:0; right:0;}
    > header {top:0;
        .toi-tabs {float:left;}
        .toi-menu {float:right;}
    }
    > header:after{@clr();}
    > section {top:@toiH; bottom:0;}
    
    // 标题部分样式
    > header {
        background: @cb0; border-bottom: 1px solid @cborder1;
        > div {
            @flex(); align-items: flex-end;  height:@toiH;
            .toi-tabs { @noselect();
                padding:0 @d3;
                ul {@flex();
                    li {
                        margin-bottom:-1px; cursor: pointer;
                        border:1px solid transparent;
                        border-bottom:0; border-radius: @d1 @d1 0 0;
                        padding:@d1 @d2; opacity: 0.6;
                    }
                    li[current] {
                        border-color:@cborder1;
                        background: @cb2; opacity: 1;
                    }
                }
            }
        }
    }
    // 内如部分样式
    > section {
        background: @cb2;
    }
}
//........................................
// 元数据界面
.th-obj-index-meta {
    .obj-meta-form > .form-body > .form-body-wrapper > .form-group {
        padding-top:@d3;
        > .fg-fields > .form-fld {
            padding:0;
            > .ff-txt {padding:@d3 @d2 @d3 24px;}
            > .ff-val {padding:@d0;}
            > .ff-prompt {padding:@d3+@d1 @d3;}
        }
    }
}
//........................................
// 对象详情界面
.th-obj-index-detail {
    .toid-brief {
        padding:@d2; position: relative; background: @cb1;
        > h4 {margin:0; padding:@d2; font-size:@f2; color:@c2;}
        > aside {
            position: absolute; right: 0; top:0;
            padding:@d2;
            a {cursor: pointer;}
        }
        > textarea {@input();
            width:100%; height:60px; outline:none; resize:none;
            padding:@d3; font-size:@f2; line-height: @f3;
            
        }
    }
}























