@thSW : 40%;
// ------------------------------- 
// 管理器
.th-manager {
    position: relative;
    > * {position: absolute; top:0; bottom: 0;}
    > .th-search-con {left: 0; width: @thSW;}
    > .th-obj-con {right:0; left:@thSW;}
    // 搜索
    > .th-search-con {border-right:1px solid @cborder1;}
}

// ------------------------------- 
// 对象搜索器
.th-search {
    [key="th_nm"] {
        i.th_thumb {
            display:inline-block; vertical-align: middle; width: 16px; text-align: center;
            margin-right:@d2;
        }
        img {
            height:16px; vertical-align: middle;border-radius: @d0; border:1px solid @cborder1;
            margin-right:@d2;
        }
        span {
            margin-left:@d3; color:@c4;
            em {margin-left:@d1; color:@c3;}
        }
    }
}

// ------------------------------- 
// 空对象
.th-obj-blank {
    padding:@da 0 0 @d6; color:@c2;
    font-size:@f2; font-family: @f_fixed;
    i {margin-right:@d3;}
}

// ------------------------------- 
// 对象编辑器 
@thOW : 60%;
.th-obj {
    > * {position: absolute; top:0; bottom: 0;}
    > .th-obj-index-con {left:0; width:@thOW;}
    > .th-obj-data-con {right:0; left:@thOW;}
}
.th-obj[dis-mode="index-only"] { @noselect();
    > .th-obj-index-con {width:100%;}
    > .th-obj-data-con {display: none;}
}
.th-obj[dis-mode="index-data"] { @noselect();
    > .th-obj-index-con {}
    > .th-obj-data-con {}
}
