.otext textarea {
  width: 100%;
  height: 100%;
  resize: none;
  border: 0;
  outline: none;
  padding: 12px;
  font-size: 14px;
  line-height: 24px;
  font-family: Monaco, Consolas, Courier New;
}
