@lnk_c       : #08F;       // 链接颜色
@lnk_ho_c    : #F80;       // 链接悬浮颜色
@ar_title_c     : #444;               // 文章标题颜色
@ar_title_f     : .32rem;             // 文章标题大小
@ar_info_c      : #888;               // 文章信息颜色
@ar_info_f      : .14rem;             // 文章信息大小
@ar_brief_c     : #888;               // 文章摘要颜色
@ar_brief_f     : .14rem;             // 文章摘要大小
@ar_brief_b     : rgba(0,0,0,0.1);    // 文章摘要背景
@ar_brief_l     : 1px solid #DDD;     // 文章摘要边框

@ar_txt_c       : #444;               // 普通文字颜色
@ar_tab_c       : #666;               // 表格文字颜色
@ar_bold_c      : #F80;               // 加粗文字颜色
@ar_italic_c    : rgba(0,0,0,0.6);    // 斜体文字颜色
@ar_del_c       : rgba(0,0,0,0.6);    // 删除线文字颜色


.edit-markdown[m="preview"] {
    > section.edmd-edit{display: none;}
    > section.edmd-preview{display: block;}
}
.edit-markdown[m="edit"] {
    > section.edmd-edit{display: block;}
    > section.edmd-preview{display: none;}
}
.edit-markdown {
    > header.edmd-menu {
        background: @cb2;
    }
    > section {
        background: @cb1; padding:@d2;
    }
    > section.edmd-edit {
        textarea {
            border:1px solid @cborder1;
            outline:none; resize:none;
            font-size:@f3; line-height: @f5;
            font-family: @f_fixed;
            width:100%; height:100%;
            padding:@d3; 
            border-radius:@d1;
        }
    }
    > section.edmd-preview {
        > article {
            width:100%; height:100%; overflow: auto;
            background: @cb0; color:@cf0;
            padding: .1rem; font-size: 1.2em;
            letter-spacing:.03em; color:@ar_txt_c;
            box-shadow:1px 1px 3px rgba(0,0,0,0.4);

            > div.edmd-empty {
                color:@c3; font-size:@f2;
            }
            // 重定义字体大小
            table, thead, tbody, tr, th, td {
                font-size:1em; color:@ar_tab_c;
            }
            
            // 链接
            a {color:@lnk_c; text-decoration: none;}
            a:hover {color:@lnk_ho_c; text-decoration: underline;}
            
            // ------------------------- 标题
            h1 {margin:.14rem 0; padding:.08rem 0; font-size:1.6em;}
            h2 {margin:.12rem 0; padding:.06rem 0; font-size:1.5em;}
            h3 {margin:.10rem 0; padding:.04rem 0; font-size:1.4em;}
            h4 {margin:.08rem 0; padding:.02rem 0; font-size:1.3em;}
            h5 {margin:.06rem 0; padding:.02rem 0; font-size:1.2em;}
            h6 {margin:.04rem 0; padding:.02rem 0; font-size:1.1em;}
            // ------------------------- 段落及正文
            p {margin:.22rem 0 .22rem .1rem; line-height: .24rem;}
            p[md-img-only] {
                text-align: center;
                img{
                    border:1px solid rgba(0,0,0,0.2);
                    margin:.1rem 0;
                    box-shadow: .02rem .02rem .04rem rgba(0,0,0,0.4);
                }
            }
            em {font-style: italic; color:@ar_italic_c;}
            b {color:@ar_bold_c; font-weight: bold;}
            del {color:@ar_del_c;}
            code {
                border:1px solid #CCC; background: #FFC; color:#666;
                display: inline-block; vertical-align: middle;
                margin:.02rem .02rem .06rem .02rem; font-size:.8em; line-height: .24rem;
                padding:0 .04rem; font-family: @f_fixed;
                border-radius: .04rem;
            }
            // ------------------------- 图片
            img {max-width: 100%;}
            // ------------------------- 引用
            blockquote {
                border-left:4px solid rgba(0,0,0,0.1); line-height: 2em;
                margin:.1rem; padding:.1rem; font-size:.8em;
                color:#666; background: rgba(0,0,0,0.05);
                text-align: left;
            }
            // ------------------------- 无序列表
            ul {list-style: disc;}
            ol {list-style: decimal;}
            ul, ol {
                margin:.1rem 0 .1rem .2rem; 
                padding:.1rem .06rem .1rem .16rem;
                line-height: .24rem;
            }
            ul, ol {
                ul, ol {
                    padding:.05rem 0 .16rem .05; margin:0 .24rem;
                }
            }
            // ------------------------- 表格
            table {
                border-spacing: 0; border-collapse: collapse;
                margin:.2rem .1rem;
            }
            td, th {
                border:1px solid #dfe2e5; padding:.08rem .16rem;
                font-family: -apple-system, BlinkMacSystemFont, 
                            "Segoe UI", Helvetica, Arial, 
                            sans-serif, "Apple Color Emoji", 
                            "Segoe UI Emoji", "Segoe UI Symbol";
            }
            th {font-weight: bold;}
            
            // ------------------------- 代码
            pre {
                padding: .16rem; margin:.1rem;
                overflow: auto; border: 1px dashed rgba(0,0,0,0.4);
                font-size: .7em; line-height: 1.5em;
                background-color: #F0F0F0; border-radius: 3px;
                font-family: @f_fixed; 
                text-align: left;
            }    
        } // ~ article
    } // .edmd-preview
} // .edit-markdown