.ojson {

  .ui-wjson-editor .ui-wjson-menu {
    background: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  }

  .ui-wjson-editor .ui-wjson-container {
    border: 1px solid rgba(0, 0, 0, 0.8);
  }
}