.zeditor {
  position: relative;
}
.zeditor > * {
  position: absolute;
  left: 0;
  right: 0;
}
.zeditor > header {
  top: 0;
  height: 32px;
  line-height: 32px;
  padding: 0 8px;
  background: #eeeeee;
  color: #666666;
}
.zeditor > header i.fa {
  margin: 0 6px 0 0;
}
.zeditor > section {
  top: 32px;
  bottom: 0;
  padding: 0 6px 6px 6px;
  background: #eeeeee;
}
.zeditor > section textarea {
  outline: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  color: #000000;
  background: #ffffff;
  width: 100%;
  height: 100%;
  resize: none;
  padding: 12px;
  font: 16px Monaco, Consolas, Courier New;
}
.zeditor > section textarea:focus {
  color: #000000;
  background: #ffffcc;
  border-color: #ff8800;
}
