@import "_page_vars";
@import "../component/paper";

@buildin-height: 30px;
@buildin-padding: 32px;

.md-buildin {
  position: fixed;
  z-index: @zi-masker + 1000;
  border-radius: 4px;
  overflow: hidden;
}

.md-buildin-bg {
  position: absolute;
  z-index: @zi-masker + 1000 - 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: @min-black;
  &.transparent {
    background: @transparent;
  }
}

// 文字内容
.md-buildin-content {
  height: @buildin-height;
  line-height: @buildin-height;
  font-size: @font-size-h5;
  color: @black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// 文本输入框
.md-buildin-input {
  height: @buildin-height;
  line-height: @buildin-height;
  font-size: @font-size-h5;
  width: 100%;
  padding: 0 8px;
}

.md-message {
  background: @black;
  height: @buildin-height;
  line-height: @buildin-height;
  margin: 0 auto;
  .md-buildin-content {
    text-align: center;
    color: @white;
    font-weight: bold;
    padding: 0 64px;
  }
}

.md-confirm, .md-prompt, .md-win {
  background: @white;
  //padding: @buildin-padding /2 @buildin-padding;
  .md-buildin-content {
    padding: 16px;
    min-height: 60px;
    font-size: 1.5rem;
  }
  .md-buildin-input {
    width: 100%;
  }
}

.md-prompt {
  .md-buildin-content {
    padding: 16px;
    min-height: 60px;
  }
}

.md-win {
  .md-buildin-content {
    //border-top: 1px solid @hint-on-light;
    //border-bottom: 1px solid @hint-on-light;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 24px;
  }
}

.md-buildin-title {
  height: @buildin-height * 1.5;
  line-height: @buildin-height * 1.5;
  font-size: @font-size-h3;
  background-color: @primary-1-color;
  color: @white;
  padding: 0 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.md-buildin-btns {
  //box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.26);
  height: @buildin-height * 1.5;
  padding: 0 32px;
  padding-top: @buildin-height * 1.5 / 2 - 15px;
  border-top: 1px solid @divider-on-light;
  button {
    float: right;
    margin-left: 4px;

    &.left {
      float: left;
    }
  }
}

.hl {
  &.red {
    color: red;
  }
}

