* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* 清除浮动 */
.ui-clr:before, .ui-clr:after {content:"";display:block;}
.ui-clr:after {clear: both;}

body.ui-body {
    margin: 0;
    overflow: hidden;
    background: #444;
}

body.ui-body font, body.ui-body td, body.ui-body form, body.ui-body p, body.ui-body input, body.ui-body {
    font-family: arial, sans-serif;
}

::-webkit-scrollbar {
    width: 8px; height:8px;
}
::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.4);
}
::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.2);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255,255,255,0.4);
}

.ui-body a {
    color: #FFF;
    text-decoration: none;
}

.ui-body a:hover {
    color: #FF0;
    text-decoration: underline;
}

/* 所有的 ui-code-template 都是隐藏的 */
.ui-code-template {
    display: none;
}

/* 所有的 UI 中的通用组件 */
.ui-btn {
    color: #FFF;
    background-color: #08F;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    font-weight: normal;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    padding: 0 16px 0 12px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.ui-noselect {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;  
}

.ui-btn:hover {
    background-color: #4AF;
    color: #FF0;
}

.ui-log {
    padding:10px; margin:0;
    width:100%; height:100%; overflow: auto; 
    background: #000; 
    font-family: Monaco, Consolas, Courier New;
    font-size: 13px;
    -webkit-font-smoothing: auto;
    white-space: pre-wrap;
}

.ui-log-info {color:#CCC;}
.ui-log-err {color:#F00;}

.fa-combo-icon2 {
    position: relative;
}
.fa-combo-icon2 > *:last-child {
    position: absolute; top: 0; right: 0;
    font-size:0.9em; margin:-2px -2px 0 0; 
}

.ui-loading {padding:14px; font-size:14px; color:rgba(255,255,255,0.6); background-color:rgba(0,0,0,0.8); line-height: 24px;}
.ui-loading i {display: inline-block; vertical-align: middle;font-size: 18px;}

.z-edit-it input {padding:0 6px;}


/*--------------------------------------------------- balloon.css --------*/
[data-balloon] {position: relative; }
[data-balloon]::before {
    opacity: 0;
    pointer-events: none;
    transition: all .18s ease-out;
    background: rgba(17, 17, 17, 0.9);
    border-radius: 4px;
    color: #fff;
    content: attr(data-balloon);
    font-size: 12px;
    padding: .5em 1em;
    position: absolute;
    white-space: nowrap;
    z-index: 10;
}
[data-balloon]::after {
    background: no-repeat url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="36px" height="12px"><path fill="rgba(17, 17, 17, 0.9)" transform="rotate(0)" d="M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z"/></svg>');
    background-size: 100% auto;
    width: 18px;
    height: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all .18s ease-out;
    content: '';
    position: absolute;
    z-index: 10;
}
[data-balloon]:hover::before, [data-balloon]:hover::after {
    opacity: 1;
    pointer-events: auto;
}
[data-balloon][data-balloon-pos="up"]::before {
    bottom: 100%;
    left: 50%;
    margin-bottom: 11px;
    transform: translate3d(-50%, 10px, 0);
    transform-origin: top; }
    [data-balloon][data-balloon-pos="up"]::after {
    bottom: 100%;
    left: 50%;
    margin-bottom: 5px;
    transform: translate3d(-50%, 10px, 0);
    transform-origin: top;
}
[data-balloon][data-balloon-pos="up"]:hover::before {
    transform: translate3d(-50%, 0, 0);
}
[data-balloon][data-balloon-pos="up"]:hover::after {
    transform: translate3d(-50%, 0, 0);
}
[data-balloon][data-balloon-pos='down']::before {
    left: 50%;
    margin-top: 11px;
    top: 100%;
    transform: translate3d(-50%, -10px, 0);
}
[data-balloon][data-balloon-pos='down']::after {
    background: no-repeat url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="36px" height="12px"><path fill="rgba(17, 17, 17, 0.9)" transform="rotate(180 18 6)" d="M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z"/></svg>');
    background-size: 100% auto;
    width: 18px;
    height: 6px;
    left: 50%;
    margin-top: 5px;
    top: 100%;
    transform: translate3d(-50%, -10px, 0);
}
[data-balloon][data-balloon-pos='down']:hover::before {
    transform: translate3d(-50%, 0, 0);
}
[data-balloon][data-balloon-pos='down']:hover::after {
    transform: translate3d(-50%, 0, 0);
}
[data-balloon][data-balloon-pos='left']::before {
    margin-right: 11px;
    right: 100%;
    top: 50%;
    transform: translate3d(10px, -50%, 0);
}
[data-balloon][data-balloon-pos='left']::after {
    background: no-repeat url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12px" height="36px"><path fill="rgba(17, 17, 17, 0.9)" transform="rotate(-90 18 18)" d="M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z"/></svg>');
    background-size: 100% auto;
    width: 6px;
    height: 18px;
    margin-right: 5px;
    right: 100%;
    top: 50%;
    transform: translate3d(10px, -50%, 0);
}
[data-balloon][data-balloon-pos='left']:hover::before {
    transform: translate3d(0, -50%, 0);
}
[data-balloon][data-balloon-pos='left']:hover::after {
    transform: translate3d(0, -50%, 0);
}
[data-balloon][data-balloon-pos='right']::before {
    left: 100%;
    margin-left: 11px;
    top: 50%;
    transform: translate3d(-10px, -50%, 0);
}
[data-balloon][data-balloon-pos='right']::after {
    background: no-repeat url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12px" height="36px"><path fill="rgba(17, 17, 17, 0.9)" transform="rotate(90 6 6)" d="M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z"/></svg>');
    background-size: 100% auto;
    width: 6px;
    height: 18px;
    left: 100%;
    margin-left: 5px;
    top: 50%;
    transform: translate3d(-10px, -50%, 0);
}
[data-balloon][data-balloon-pos='right']:hover::before {
    transform: translate3d(0, -50%, 0);
}
[data-balloon][data-balloon-pos='right']:hover::after {
    transform: translate3d(0, -50%, 0);
}
[data-balloon][data-balloon-length='small']::before {
    white-space: normal;
    width: 80px;
}
[data-balloon][data-balloon-length='medium']::before {
    white-space: normal;
    width: 150px;
}
[data-balloon][data-balloon-length='large']::before {
    white-space: normal;
    width: 260px;
}
[data-balloon][data-balloon-length='xlarge']::before {
    white-space: normal;
    width: 380px;
}
@media screen and (max-width: 768px) {
    [data-balloon][data-balloon-length='xlarge']::before {
        white-space: normal;
        width: 90vw;
    }
}
[data-balloon][data-balloon-length='fit']::before {
    white-space: normal;
    width: 100%;
}
