.ui-wjson {
  background: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.ui-wjson-editor {
  position: relative;
  width: 100%;
  height: 100%;
}
.ui-wjson-editor .ui-wjson-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  line-height: 40px;
  padding: 6px;
  color: #1A1A1A;
  background-color: #729CBD;
  border-bottom: 1px solid #5882A3;
}
.ui-wjson-editor .ui-wjson-menu .menu-item {
  min-width: 28px;
  height: 28px;
  line-height: 28px;
  float: left;
  margin-right: 6px;
  text-align: center;
}
.ui-wjson-editor .ui-wjson-menu .menu-item.right {
  float: right;
  margin-right: 0px;
  margin-left: 6px;
}
.ui-wjson-editor .ui-wjson-menu .menu-item.btn {
  border: 1px solid #aec0f8;
  background: #e3eaf6;
  color: #4D4D4D;
  opacity: 0.8;
  cursor: pointer;
}
.ui-wjson-editor .ui-wjson-menu .menu-item.btn:hover {
  background-color: #f0f2f5;
}
.ui-wjson-editor .ui-wjson-menu .menu-item input {
  display: block;
  height: 28px;
  padding-left: 4px;
  padding-right: 4px;
  outline: none;
  border: 1px solid #CCC;
  border-radius: 4px;
  color: #000;
  background: #FFF;
}
.ui-wjson-editor .ui-wjson-menu .menu-item input:focus {
  color: #000;
  background: #FFC;
  border-color: #F80;
}
.ui-wjson-editor .ui-wjson-container {
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid #5882A3;
  border-top: none;
  overflow: auto;
  color: #333;
  font-family: droid sans mono, monospace, courier new, courier, sans-serif;
  line-height: 1.3;
  background: #fff;
}
.ui-wjson-editor .ui-wjson-curb {
  display: block;
  width: 40px;
  background: #ebebeb;
  float: left;
  text-align: right;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.ui-wjson-editor .ui-wjson-curb li {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 2px;
  display: block;
}
.ui-wjson-editor .ui-wjson-treenode {
  padding-left: 16px;
}
.ui-wjson-editor .ui-wjson-content {
  display: block;
  padding-left: 44px;
  width: 100%;
  height: 100%;
}
.ui-wjson-editor .ui-wjson-content li {
  display: block;
  margin-bottom: 2px;
}
.ui-wjson-editor .ui-wjson-content .tn-toggle {
  width: 16px;
  height: 16px;
  position: absolute;
  cursor: pointer;
  text-align: center;
  top: 2px;
  left: -16px;
}
.ui-wjson-editor .ui-wjson-content .tn-toggle:hover {
  background: #EEEEEE;
}
.ui-wjson-editor .ui-wjson-content .tn-menu {
  width: 16px;
  height: 16px;
  position: absolute;
  cursor: pointer;
  text-align: center;
  top: 2px;
  left: -32px;
}
.ui-wjson-editor .ui-wjson-content .tn-menu i {
  color: #888;
  opacity: 0.3;
}
.ui-wjson-editor .ui-wjson-content .tn-menu:hover i {
  opacity: 1;
}
.ui-wjson-editor .ui-wjson-content .tn {
  position: relative;
}
.ui-wjson-editor .ui-wjson-content .tn.mkey .tn-key,
.ui-wjson-editor .ui-wjson-content .tn.mval .tn-val {
  background-color: #ffffad;
  border: 1px solid #ff0;
}
.ui-wjson-editor .ui-wjson-content .tn > span {
  display: inline-block;
  outline: none;
  border: 1px solid transparent;
  padding-left: 1px;
  padding-right: 1px;
  word-wrap: break-word;
}
.ui-wjson-editor .ui-wjson-content .tn > span.tn-sp,
.ui-wjson-editor .ui-wjson-content .tn > span.tn-length {
  min-width: 1px;
}
.ui-wjson-editor .ui-wjson-content .tn > span.empty {
  border-color: #d3d3d3;
  border-style: dashed;
}
.ui-wjson-editor .ui-wjson-content .tn > span.empty.tn-key:after {
  pointer-events: none;
  color: #d3d3d3;
  font-size: 8pt;
  content: "name";
}
.ui-wjson-editor .ui-wjson-content .tn > span.empty.tn-val:after {
  pointer-events: none;
  color: #d3d3d3;
  font-size: 8pt;
  content: "value";
}
.ui-wjson-editor .ui-wjson-content .tn-key {
  color: #000;
}
.ui-wjson-editor .ui-wjson-content .tn-key:focus {
  background-color: #ffffad;
  border: 1px solid #ff0;
}
.ui-wjson-editor .ui-wjson-content .tn-val:focus {
  background-color: #ffffad;
  border: 1px solid #ff0;
}
.ui-wjson-editor .ui-wjson-content .tn-val.boolean {
  color: #ffab00;
}
.ui-wjson-editor .ui-wjson-content .tn-val.number {
  color: #f00;
}
.ui-wjson-editor .ui-wjson-content .tn-val.string {
  color: #080;
}
.ui-wjson-editor .ui-wjson-content .tn-val.null,
.ui-wjson-editor .ui-wjson-content .tn-val.undefined {
  color: #007aff;
}
.ui-wjson-editor .ui-wjson-content .tn-sp {
  color: #888;
}
.ui-wjson-editor .ui-wjson-content .tn-length {
  color: #585858;
}
.ui-wjson-textarea {
  width: 100%;
  height: 100%;
  outline: none;
  border: 1px dashed #DDD;
  border-radius: 6px;
  font-size: 14px;
  color: #444;
  font-family: Monaco, Consolas, Courier New;
  padding: 20px;
}
