* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.mvrz-ass {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.mvrz-ass .mvrza-grp {
  flex: 0 0 8px;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.mvrz-ass .mvrza-grp .mvrza-hdl {
  flex: 0 0 8px;
  border: 1px solid #CCC;
  background: rgba(255, 255, 255, 0.6);
  z-index: 3;
}
.mvrz-ass .mvrza-grp .mvrza-hdl[hd="NW"],
.mvrz-ass .mvrza-grp .mvrza-hdl[hd="SE"] {
  cursor: nwse-resize;
}
.mvrz-ass .mvrza-grp .mvrza-hdl[hd="NE"],
.mvrz-ass .mvrza-grp .mvrza-hdl[hd="SW"] {
  cursor: nesw-resize;
}
.mvrz-ass .mvrza-grp .mvrza-hdl[hd="N"],
.mvrz-ass .mvrza-grp .mvrza-hdl[hd="S"] {
  cursor: ns-resize;
}
.mvrz-ass .mvrza-grp .mvrza-hdl[hd="W"],
.mvrz-ass .mvrza-grp .mvrza-hdl[hd="E"] {
  cursor: ew-resize;
}
.mvrz-mask[mvrz-hd="NW"],
.mvrz-mask[mvrz-hd="SE"] {
  cursor: nwse-resize;
}
.mvrz-mask[mvrz-hd="NE"],
.mvrz-mask[mvrz-hd="SW"] {
  cursor: nesw-resize;
}
.mvrz-mask[mvrz-hd="N"],
.mvrz-mask[mvrz-hd="S"] {
  cursor: ns-resize;
}
.mvrz-mask[mvrz-hd="W"],
.mvrz-mask[mvrz-hd="E"] {
  cursor: ew-resize;
}
.mvrz-mask[mvrz-hd="move"] {
  cursor: move;
}
