<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<div layout="block" theme="navbar" gasket="nav">
    <section extend="nav" apply="简单导航条" old="true">
        <script type="text/x-template" prop="height">50</script>
		<section extend="logo" apply="logo" from="HOME">
		    <script type="text/x-template" prop="src">/imgs/zozoh.jpg</script>
		</section>
		<section extend="menu" apply="menu-simple" from="HOME">
		    <script type="text/x-template" prop="links">
		    [
		        {text:"首页", href:"site:/page/index.hml"},
		        {text:"下载", href:"site:/page/download.hml"},
		        {text:"文档", href:"site:/page/documents.hml"},
		        {text:"资源", href:"site:/page/resource.md"},
		        {text:"关于", href:"site:/page/about.md"}
		    ]
		    </script>
		</section>
    </section>
</div>
<div layout="block" theme="banner" gasket="banner"></div>
<div layout="row" theme="arena">
    <div gasket="main"></div>
    <div gasket="side"></div>
</div>
</body>
</html>