.picker {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  color: #666666;
  position: relative;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
}
.picker-box {
  flex: 1 1 auto;
  overflow: hidden;
  min-width: 96px;
  height: 32px;
  line-height: 30px;
  background: #eeeeee;
  padding: 0 6px;
}
.picker-box .picker-obj {
  display: inline-block;
  vertical-align: middle;
}
.picker-box .picker-obj .icon {
  vertical-align: middle;
}
.picker-box .picker-obj a {
  display: inline-block;
  color: #08F;
  vertical-align: middle;
  font-size: 10px;
}
.picker-box .picker-obj a:hover {
  color: #F80;
}
.picker-btn {
  flex: 0 0 auto;
  line-height: 30px;
  background: #e0e0e0;
  cursor: pointer;
  padding: 0 8px;
  border-left: 1px solid #cccccc;
  font-size: 8px;
  text-align: center;
}
.picker-btn:hover {
  color: #444444;
  background: #cccccc;
}
.picker[wrap-button] {
  flex-wrap: wrap;
}
.picker[wrap-button] .picker-box {
  width: 100%;
}
.picker[wrap-button] .picker-btn {
  flex-grow: 1;
}
.picker-mask .picker-mask-main {
  background: #FFF;
  position: relative;
  width: 100%;
  height: 100%;
}
.picker-mask .picker-mask-main .pm-title {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 32px;
  font-size: 14px;
  text-align: center;
  line-height: 32px;
  white-space: nowrap;
  border-bottom: 1px solid #d0d0d0;
  background: #eeeeee;
  color: #666666;
}
.picker-mask .picker-mask-main .pm-body {
  position: absolute;
  left: 0;
  right: 0;
  top: 32px;
  bottom: 48px;
}
.picker-mask .picker-mask-main .pm-btns {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 48px;
  padding-top: 6px;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  border-top: 1px solid #d0d0d0;
  background: #eeeeee;
  color: #666666;
}
.picker-mask .picker-mask-main .pm-btns b {
  display: inline-block;
  padding: 6px 16px;
  border: 1px solid #bbbbbb;
  background: #d0d0d0;
  color: #000000;
  border-radius: 4px;
  cursor: pointer;
}
.picker-mask .picker-mask-main .pm-btns b:hover {
  background: #0044bb;
  color: #ffffff;
}
.picker-multi .picker-obj {
  border: 1px solid #d0d0d0;
  padding: 0 6px;
  height: 22px;
  line-height: 20px;
  border-radius: 2px;
  margin-right: 4px;
}
.picker-mask .zcal {
  font-size: 10px;
  font-family: Monaco, Consolas, Courier New;
}
.datepicker .picker-box {
  padding-left: 24px;
  position: relative;
}
.datepicker .picker-box > i {
  position: absolute;
  left: 6px;
  top: 7px;
  opacity: 0.5;
}
.datepicker .picker-box .pick-box-con {
  padding-right: 12px;
  white-space: nowrap;
}
