.clearfix {
  display: block;
  zoom: 1;
}
.clearfix:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.vcal {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.vcal * {
  box-sizing: border-box;
}
.vcal table {
  table-layout: fixed;
  border-spacing: 0;
}
.vcal tr,
.vcal th,
.vcal td {
  padding: 0;
  margin: 0;
}
.vcal td {
  vertical-align: top;
}
.vcal-header {
  width: 100%;
  height: 50px;
  display: block;
  zoom: 1;
  padding: 10px;
}
.vcal-header:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.vcal-header .vcal-info {
  float: left;
  height: 30px;
  line-height: 30px;
  color: #03A9F4;
  font-size: 1.5rem;
}
.vcal-header .vcal-btns {
  float: right;
  height: 30px;
  line-height: 30px;
}
.vcal-header .vcal-btns span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 6px 12px;
  text-align: center;
  background: #EEE;
}
.vcal-header .vcal-btns span:hover {
  cursor: pointer;
}
.vcal-header .vcal-btns span:active {
  background: #b4b4b4;
  color: #FFF;
}
.vcal-header .vcal-btns span:first-child {
  border-radius: 8px 0 0 8px;
}
.vcal-header .vcal-btns span:last-child {
  border-radius: 0 8px 8px 0;
}
.vcal-header .vcal-switch {
  float: right;
  height: 30px;
  line-height: 30px;
  margin-left: 16px;
}
.vcal-body {
  width: 100%;
  height: calc(100% - 50px);
}
.vcal-cal-entity {
  width: 100%;
}
.vcal-cal-entity > .vheader {
  background: #dcdcdc;
  color: #000;
  font-weight: bold;
}
.vcal-matrix-entity {
  border-right: 1px solid #eeeeee;
}
.vcal-matrix-entity:first-child {
  border-left: 1px solid #eeeeee;
}
.vcal-matrix-entity.week-tip {
  text-align: center;
  height: 36px;
  line-height: 36px;
}
.day-entity {
  cursor: pointer;
}
.day-entity .day-tip {
  height: 24px;
  line-height: 24px;
  text-align: center;
}
.ds-today .day-tip {
  color: #f00;
}
.ds-today.week-tip {
  color: #FFF;
  background: #2196f3;
}
.ds-select {
  background: rgba(248, 178, 208, 0.3);
}
.ds-select .day-tip {
  color: #36a624;
  font-size: 1.1rem;
}
.ds-outmonth {
  background: none;
  cursor: not-allowed;
}
.ds-outmonth .day-tip {
  color: #ccc;
}
.vcal-week-entity {
  width: calc(100% - 30px);
  margin-left: 30px;
}
.vcal-week-entity.no-sidebar {
  width: 100%;
  margin-left: 0;
}
.vcal-week-entity .vcal-hour-entity {
  height: 28.8px;
  border-bottom: 1px solid #eeeeee;
}
.vcal-week-entity .vcal-hour-entity:last-child {
  border-bottom: none;
}
.vcal-week-entity .hour-tip {
  display: none;
}
.vcal-week-entity .week-day-entity:first-child .vcal-hour-entity {
  position: relative;
}
.vcal-week-entity .week-day-entity:first-child .hour-tip {
  display: block;
  position: absolute;
  top: -8px;
  left: -25px;
  color: #cccccc;
}
.vcal-year-entity .vcal-year-month-wrap {
  padding: 8px;
  width: 25%;
  display: inline-block;
}
.vcal-year-entity .vcal-year-month-wrap > .vheader {
  height: 36px;
  line-height: 36px;
}
.vcal-year-entity .vcal-year-month-wrap .vcal-matrix-entity.week-tip {
  height: 24px;
  line-height: 24px;
}
