* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* 清除浮动 */
.ui-clr:before, .ui-clr:after {content:"";display:block;}
.ui-clr:after {clear: both;}

html, body, .ui-body {width:100%; height:100%; margin:0; overflow: hidden; background: @cb;}

html {font-size:100px;}
body {font-size:.12rem;}

ol, ul {list-style:none;padding:0;margin:0;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;}

[ui-debuger="show"] .ui-body  {width:70%; float: left;}
[ui-debuger="show"] .ui-debug {width:30%; float: right; display: block;}
.ui-debug {display: none; height:100%;}

html[z-os="mac"] {
    body, td, th, font, input {
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    }
}

html[z-os="windows"] {
    body, td, th, font, input { 
        font-family: "Microsoft YaHei", Vendana, Calibri, Driod Sans, Arial;
        //font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    }
}

pre {
    font-family: @f_fixed; 
    tab-size:4; -moz-tab-size:4;
}

::-webkit-scrollbar {
    width: 8px; height: 8px;
}
::-webkit-scrollbar-track {
    background-color: @cscroll-trace; 
}
::-webkit-scrollbar-thumb {
    background-color: @cscroll-thumb;
}
::-webkit-scrollbar-thumb:hover {
    background-color: @cscroll-thumb_hover;
}

::-webkit-input-placeholder { /* WebKit browsers */
    @cplaceholder();
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    @cplaceholder();
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    @cplaceholder();
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    @cplaceholder();
}

.ui-body a {
    color: @clink;
    text-decoration: none;
}

.ui-body a:hover {
    color: @clink_hover;
    text-decoration: underline;
}

/* 所有的 ui-code-template 都是隐藏的 */
.ui-code-template {
    display: none;
}

/* 所有的 UI 中的通用组件 */
.ui-btn {@btn();}
.ui-btn:hover {@btn_hover();}

.ui-noselect {@noselect();}

/*-------------------------------------------- resizable 的通用样式 ------*/
@hS  : 4px;
@hV  : 14px;
@aS  : 2px;
.ui-resize-assist {
    display: none;
    > * {position:absolute; z-index: 1;}
    >.rsz-hdl1{
        border-width: 0;
        border-style: dotted;
        border-color: #0FF;
    }
    >.rsz-hdl1:hover {
        // background: rgba(255,255,0,0.6);
        // border:1px solid rgba(0,0,0,0.2);
    }
    >.rsz-hdl2 {
        width:@hV;height:@hV;
    }
    >.rsz-hdl2:hover {
        // background: rgba(255,255,0,0.6);
        // border:1px solid rgba(0,0,0,0.2);
    }
    > .uirz-ai[m="N"] {cursor:ns-resize; top:0;    left:0;right:0; height:@hS;}
    > .uirz-ai[m="S"] {cursor:ns-resize; bottom:0; left:0;right:0; height:@hS;}
    > .uirz-ai[m="W"] {cursor:ew-resize; left:0;   top:0;bottom:0; width:@hS;}
    > .uirz-ai[m="E"] {cursor:ew-resize; right:0;  top:0;bottom:0; width:@hS;}
    > .uirz-ai[m="NW"] {cursor:nwse-resize; top:0; left:0;}
    > .uirz-ai[m="NE"] {cursor:nesw-resize; top:0; right:0;}
    > .uirz-ai[m="SW"] {cursor:nesw-resize; bottom:0; left:0;}
    > .uirz-ai[m="SE"] {cursor:nwse-resize; bottom:0; right:0;}
    > .uirz-ai[m="N"] {border-top-width:@aS;}
    > .uirz-ai[m="S"] {border-bottom-width:@aS;}
    > .uirz-ai[m="W"] {border-left-width:@aS;}
    > .uirz-ai[m="E"] {border-right-width:@aS;}
}

/*--------------------------------------------------- 其他 --------*/
.fa-combo-icon2 {
    position: relative;
}
.fa-combo-icon2 > *:last-child {
    position: absolute; top: 0; right: 0;
    font-size:0.9em; margin:-2px -2px 0 0; 
}

//--------------------------------------------------- 
// 通用·UI.loading
div[ui-id][ui-loading] > .ui-arena{
    @noselect(); opacity: 0.4;
}
.ui-loading { @noselect();
    @flex(); justify-content:center; align-items:center;
    padding:1px;
    aside {
        color:@c4; font-size:@f4; text-align: center;
        padding:@d3; margin-top:@d4 * -1;
        i {display: inline-block; vertical-align: middle;font-size: 1.3em;}
    }
}
//---------------------------------------------------
// 通用·UI.editIt
.z-edit-it input {padding:0 6px;}

//---------------------------------------------------
// 通用·video 包裹
.z-video-con {
    display: block; 
    position: relative;
    .z-video-ctrl {
        transition: 0.5s; opacity: 0;
        position: absolute; top:0;left:0;right:0;bottom:30px;
        @flex();
        justify-content: center; align-items: center;
        font-size:.5rem; color:rgba(255,255,255,0.6);
        cursor: pointer; 
        &:hover{opacity: 1;}
        b {
            display: block; padding:.1rem;
            background:rgba(0,0,0,0.4); color:rgba(255,255,255,0.8);
            border:1px solid rgba(255,255,255,0.8);
            border-radius: 50%;
            font-size:.3rem; width:.5rem; height:.5rem;
            @flex(); justify-content: center; align-items: center;
        }
        &[st="loading"] {
            opacity: 1;
            b {border:0;}
        }
        &[st="playing"]:hover {opacity: 1;}
        &[st="pause"] {
            opacity: 1;
            b {padding-left:.15rem;}
        }
        &[st="ended"] {opacity: 1;}
    }
}

//---------------------------------------------------
// SPAN做的单选框
.ui-radio {
    font-family:'Material-Design-Iconic-Font'; display: inline-block; cursor: pointer; margin:0 2px;
    vertical-align: middle;
}
.ui-radio:before{content:"\f26c"; display: inline;}
.ui-radio[checked]:before{content:"\f26f";}

//---------------------------------------------------
// SPAN做的复选框
.ui-checkbox {
    font-family:FontAwesome; display: inline-block; cursor: pointer; margin:0 2px;
    vertical-align: middle;
}
.ui-checkbox:before{content:"\f096"; display: inline;}
.ui-checkbox[checked]:before{content:"\f14a";}

//---------------------------------------------------
// SPAN做的ON/OFF控件
.ui-toggle {
    font-family:FontAwesome; display: inline-block; cursor: pointer;
    vertical-align: middle;
}
.ui-toggle:before{content:"\f204"; display: inline;}
.ui-toggle[on]:before{content:"\f205";}

//---------------------------------------------------
// balloon.css
/*
[data-balloon] {position: relative; }
[data-balloon]::before {
    opacity: 0;
    pointer-events: none;
    transition: all .18s ease-out;
    background: @balloon-b;
    border-radius: 4px;
    color: @balloon-f; 
    content: attr(data-balloon);
    font-size: 12px;
    padding: .5em 1em;
    position: absolute;
    white-space: nowrap;
    z-index: 10;

}
[data-balloon]::after {
    display: block;
    box-sizing: content-box;
    border:6px solid transparent;
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
    transition: all .16s ease-out;
    content: '';
    position: absolute;
    z-index: 10;
}
[data-balloon]:hover::before, [data-balloon]:hover::after {
    opacity: 1;
    pointer-events: auto;
}
[data-balloon][data-balloon-pos="up"]::before {
    bottom: 100%;
    left: 50%;
    margin-bottom: 11px;
    transform: translate3d(-50%, 10px, 0);
    transform-origin: top; 
}
[data-balloon][data-balloon-pos="up"]::after {
    top:-12px;
    left: 50%;
    margin-bottom: 5px;
    transform: translate3d(-50%, 10px, 0);
    transform-origin: top;
}
[data-balloon][data-balloon-pos="up"]:hover::before {
    transform: translate3d(-50%, 0, 0);
}
[data-balloon][data-balloon-pos="up"]:hover::after {
    border-top-color:@balloon-b;
    transform: translate3d(-50%, 0, 0);
}
[data-balloon][data-balloon-pos='down']::before {
    left: 50%;
    margin-top: 11px;
    top: 100%;
    transform: translate3d(-50%, -10px, 0);
}
[data-balloon][data-balloon-pos='down']::after {
    border-bottom-color:@balloon-b;
    left: 50%;
    margin-top: 5px;
    bottom: -12px;
    transform: translate3d(-50%, -10px, 0);
}
[data-balloon][data-balloon-pos='down']:hover::before {
    transform: translate3d(-50%, 0, 0);
}
[data-balloon][data-balloon-pos='down']:hover::after {
    transform: translate3d(-50%, 0, 0);
}
[data-balloon][data-balloon-pos='left']::before {
    margin-right: 11px;
    right: 100%;
    top: 50%;
    transform: translate3d(10px, -50%, 0);
}
[data-balloon][data-balloon-pos='left']::after {
    border-left-color:@balloon-b;
    margin-right: 5px;
    left:-12px;
    top: 50%;
    transform: translate3d(10px, -50%, 0);
}
[data-balloon][data-balloon-pos='left']:hover::before {
    transform: translate3d(0, -50%, 0);
}
[data-balloon][data-balloon-pos='left']:hover::after {
    transform: translate3d(0, -50%, 0);
}
[data-balloon][data-balloon-pos='right']::before {
    left: 100%;
    margin-left: 11px;
    top: 50%;
    transform: translate3d(-10px, -50%, 0);
}
[data-balloon][data-balloon-pos='right']::after {
    border-right-color:@balloon-b;
    right: -12px;
    top: 50%;
    transform: translate3d(-10px, -50%, 0);
}
[data-balloon][data-balloon-pos='right']:hover::before {
    transform: translate3d(0, -50%, 0);
}
[data-balloon][data-balloon-pos='right']:hover::after {
    transform: translate3d(0, -50%, 0);
}
[data-balloon][data-balloon-length='small']::before {
    white-space: normal;
    width: 80px;
}
[data-balloon][data-balloon-length='medium']::before {
    white-space: normal;
    width: 150px;
}
[data-balloon][data-balloon-length='large']::before {
    white-space: normal;
    width: 260px;
}
[data-balloon][data-balloon-length='xlarge']::before {
    white-space: normal;
    width: 380px;
}
@media screen and (max-width: 768px) {
    [data-balloon][data-balloon-length='xlarge']::before {
        white-space: normal;
        width: 90vw;
    }
}
[data-balloon][data-balloon-length='fit']::before {
    white-space: normal;
    width: 100%;
}
*/


// 绝对浮动的模式
.ui-debug-mask {
    position: fixed; top:0; left:0; right:0; bottom:0; z-index: 9999;
    padding: 20px;
    .ui-debug {
        width:600px; height:100%; margin:0 auto; display: block;
    }
}

// 调试区域样式 
.ui-debug {
    color:#CCC; background: #000; 
    font-size:12px; font-family: Monaco, Consolas, Courier New;
    line-height: 20px; position: relative;
    > .uid-closer {
        position: absolute; top:-12px; right:-12px;
        font-size:18px; font-family: 'Material-Design-Iconic-Font';
        cursor:pointer; 
        color:#FFF; background-color: #888; 
        border-radius: 100px; border:2px solid #CCC;
        line-height: 24px; width:28px; text-align: center;
        transition:0.2s;
    }
    > .uid-closer:before {
        display: "inline";
        content: "\f136";
    }
    > .uid-closer:hover {
        background-color: #00F; color:#FFF; border-color:#DDD;
        font-size:1.2em; font-weight: bold;
        transform: scale(1.2) rotate(360deg);
    }
    > section {width:100%; overflow: auto;}
    .uid-detail {
         height:10%; border-bottom:1px dashed rgba(255,255,0,0.3);
         white-space: pre-wrap; padding:10px; overflow: auto;
    }
    .uid-tree {
        height:90%; padding:10px;
        .uid-tnode {
            // border:1px solid transparent; margin-bottom:1px;
            .uid-self {
                color:rgba(255,255,0,0.6); cursor: pointer; position: relative;
                > * {display: inline-block; vertical-align: middle; margin: 0 2px;}
                > span.tnd-handle {
                    font-family:FontAwesome; display: inline-block; color:#888; width: 16px;
                    text-align: center;
                }
                > span.tnd-handle:before{content: '\f0d7';}
                > span.tnd-handle:hover {color:#FFF; text-shadow:0 0 4px #FFF;}
                > b {font-weight: normal;}
                > u {text-decoration: none; color:#888;}
                em {font-style: normal;}
                > em.index  {color:#F0F; font-size: 10px; margin: 0 6px;}
                > span.gasket {
                    color:#0AA; width: 100px; border-right:1px solid #0AA;
                    > em.gasket {font-size: 11px; margin: 0 2px;}
                }
                > div {
                    position: absolute; top:0; bottom:0; right:0; padding:0 4px;
                }
                > div:hover {
                    color: #FFF; font-size: 16px;
                }
            }
            .uid-self:hover {
                color:rgba(255,255,0,1.0); 
            }
            .uid-self[show-in-live] {background: #36A; color:#FFF;}
            .uid-self[no-area] {
                opacity: 0.4; color:#F00;
                > span.gasket {color:#F00;}
            }
            .uid-self[no-area]:hover {opacity: 1.0;}
            .uid-tsub {
                border-left:1px dotted rgba(255,255,255,0.2);
                padding-left:12px;
                margin-left:8px;
            }
        }
        .uid-tnode[collapse] {
            //border-color:rgba(255,255,0,0.4);
            .uid-self {
                > span.tnd-handle:before{content: '\f0da'; color:#FF0; text-shadow:0 0 2px #FF0;}
            }
            .uid-tsub {display: none;}
        }
        .uid-tnode[no-children] {
            .uid-self {
                > span.tnd-handle{visibility: hidden;}
                > div {display: none;}
            }
        }
    }
}