* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* 清除浮动 */
.ui-clr:before, .ui-clr:after {content:"";display:block;}
.ui-clr:after {clear: both;}

html, body, .ui-body {width:100%; height:100%; margin:0; overflow: hidden; background: @cb;}

html {font-size:100px;}
body {font-size:.12rem;}

ol, ul {list-style:none;padding:0;margin:0;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;}

[ui-debuger="show"] .ui-body  {width:70%; float: left;}
[ui-debuger="show"] .ui-debug {width:30%; float: right; display: block;}
.ui-debug {display: none; height:100%;}

.ui-body font, 
.ui-body td, 
.ui-body form, 
.ui-body p, 
.ui-body input, 
.ui-body {
    font-family: arial, sans-serif;
}

::-webkit-scrollbar {
    width: 8px; height: 8px;
}
::-webkit-scrollbar-track {
    background-color: @cscroll-trace;
}
::-webkit-scrollbar-thumb {
    background-color: @cscroll-thumb;
}
::-webkit-scrollbar-thumb:hover {
    background-color: @cscroll-thumb_hover;
}

.ui-body a {
    color: @clink;
    text-decoration: none;
}

.ui-body a:hover {
    color: @clink_hover;
    text-decoration: underline;
}

/* 所有的 ui-code-template 都是隐藏的 */
.ui-code-template {
    display: none;
}

/* 所有的 UI 中的通用组件 */
.ui-btn {@btn();}
.ui-btn:hover {@btn_hover();}

.ui-noselect {@noselect();}

/*--------------------------------------------------- 其他 --------*/
.fa-combo-icon2 {
    position: relative;
}
.fa-combo-icon2 > *:last-child {
    position: absolute; top: 0; right: 0;
    font-size:0.9em; margin:-2px -2px 0 0; 
}

.ui-loading {
    padding:14px; font-size:18px; font-weight:bold; color:#FFF;
    text-shadow:0 0 2px #666; line-height: 24px;
}
.ui-loading i {display: inline-block; vertical-align: middle;font-size: 22px;}

.z-edit-it input {padding:0 6px;}

/*--------------------------------------------------- SPAN做的单选框 --------*/
.ui-radio {
    font-family:'Material-Design-Iconic-Font'; display: inline-block; cursor: pointer; margin:0 2px;
    vertical-align: middle;
}
.ui-radio:before{content:"\f26c"; display: inline;}
.ui-radio[checked]:before{content:"\f26f";}

/*--------------------------------------------------- SPAN做的复选框 --------*/
.ui-checkbox {
    font-family:FontAwesome; display: inline-block; cursor: pointer; margin:0 2px;
    vertical-align: middle;
}
.ui-checkbox:before{content:"\f096"; display: inline;}
.ui-checkbox[checked]:before{content:"\f14a";}

/*--------------------------------------------------- SPAN做的ON/OFF控件 --------*/
.ui-toggle {
    font-family:FontAwesome; display: inline-block; cursor: pointer;
    vertical-align: middle;
}
.ui-toggle:before{content:"\f204"; display: inline;}
.ui-toggle[on]:before{content:"\f205";}

/*--------------------------------------------------- balloon.css --------*/
[data-balloon] {position: relative; }
[data-balloon]::before {
    opacity: 0;
    pointer-events: none;
    transition: all .18s ease-out;
    background: @balloon-b;
    border-radius: 4px;
    color: @balloon-f;
    content: attr(data-balloon);
    font-size: 12px;
    padding: .5em 1em;
    position: absolute;
    white-space: nowrap;
    z-index: 10;

}
[data-balloon]::after {
    background: no-repeat url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="36px" height="12px"><path fill="rgba(17, 17, 17, 0.9)" transform="rotate(0)" d="M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z"/></svg>');
    background-size: 100% auto;
    width: 18px;
    height: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all .18s ease-out;
    content: '';
    position: absolute;
    z-index: 10;
}
[data-balloon]:hover::before, [data-balloon]:hover::after {
    opacity: 1;
    pointer-events: auto;
}
[data-balloon][data-balloon-pos="up"]::before {
    bottom: 100%;
    left: 50%;
    margin-bottom: 11px;
    transform: translate3d(-50%, 10px, 0);
    transform-origin: top; 
}
[data-balloon][data-balloon-pos="up"]::after {
    bottom: 100%;
    left: 50%;
    margin-bottom: 5px;
    transform: translate3d(-50%, 10px, 0);
    transform-origin: top;
}
[data-balloon][data-balloon-pos="up"]:hover::before {
    transform: translate3d(-50%, 0, 0);
}
[data-balloon][data-balloon-pos="up"]:hover::after {
    transform: translate3d(-50%, 0, 0);
}
[data-balloon][data-balloon-pos='down']::before {
    left: 50%;
    margin-top: 11px;
    top: 100%;
    transform: translate3d(-50%, -10px, 0);
}
[data-balloon][data-balloon-pos='down']::after {
    background: no-repeat url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="36px" height="12px"><path fill="rgba(17, 17, 17, 0.9)" transform="rotate(180 18 6)" d="M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z"/></svg>');
    background-size: 100% auto;
    width: 18px;
    height: 6px;
    left: 50%;
    margin-top: 5px;
    top: 100%;
    transform: translate3d(-50%, -10px, 0);
}
[data-balloon][data-balloon-pos='down']:hover::before {
    transform: translate3d(-50%, 0, 0);
}
[data-balloon][data-balloon-pos='down']:hover::after {
    transform: translate3d(-50%, 0, 0);
}
[data-balloon][data-balloon-pos='left']::before {
    margin-right: 11px;
    right: 100%;
    top: 50%;
    transform: translate3d(10px, -50%, 0);
}
[data-balloon][data-balloon-pos='left']::after {
    background: no-repeat url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12px" height="36px"><path fill="rgba(17, 17, 17, 0.9)" transform="rotate(-90 18 18)" d="M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z"/></svg>');
    background-size: 100% auto;
    width: 6px;
    height: 18px;
    margin-right: 5px;
    right: 100%;
    top: 50%;
    transform: translate3d(10px, -50%, 0);
}
[data-balloon][data-balloon-pos='left']:hover::before {
    transform: translate3d(0, -50%, 0);
}
[data-balloon][data-balloon-pos='left']:hover::after {
    transform: translate3d(0, -50%, 0);
}
[data-balloon][data-balloon-pos='right']::before {
    left: 100%;
    margin-left: 11px;
    top: 50%;
    transform: translate3d(-10px, -50%, 0);
}
[data-balloon][data-balloon-pos='right']::after {
    background: no-repeat url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12px" height="36px"><path fill="rgba(17, 17, 17, 0.9)" transform="rotate(90 6 6)" d="M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z"/></svg>');
    background-size: 100% auto;
    width: 6px;
    height: 18px;
    left: 100%;
    margin-left: 5px;
    top: 50%;
    transform: translate3d(-10px, -50%, 0);
}
[data-balloon][data-balloon-pos='right']:hover::before {
    transform: translate3d(0, -50%, 0);
}
[data-balloon][data-balloon-pos='right']:hover::after {
    transform: translate3d(0, -50%, 0);
}
[data-balloon][data-balloon-length='small']::before {
    white-space: normal;
    width: 80px;
}
[data-balloon][data-balloon-length='medium']::before {
    white-space: normal;
    width: 150px;
}
[data-balloon][data-balloon-length='large']::before {
    white-space: normal;
    width: 260px;
}
[data-balloon][data-balloon-length='xlarge']::before {
    white-space: normal;
    width: 380px;
}
@media screen and (max-width: 768px) {
    [data-balloon][data-balloon-length='xlarge']::before {
        white-space: normal;
        width: 90vw;
    }
}
[data-balloon][data-balloon-length='fit']::before {
    white-space: normal;
    width: 100%;
}


// 绝对浮动的模式
.ui-debug-mask {
    position: fixed; top:0; left:0; right:0; bottom:0; z-index: 9999;
    padding: 20px;
    .ui-debug {
        width:600px; height:100%; margin:0 auto; display: block;
    }
}

// 调试区域样式 
.ui-debug {
    color:#CCC; background: #000; 
    font-size:12px; font-family: Monaco, Consolas, Courier New;
    line-height: 20px; position: relative;
    > .uid-closer {
        position: absolute; top:-12px; right:-12px;
        font-size:18px; font-family: 'Material-Design-Iconic-Font';
        cursor:pointer; 
        color:#FFF; background-color: #888; 
        border-radius: 100px; border:2px solid #CCC;
        line-height: 24px; width:28px; text-align: center;
        transition:0.2s;
    }
    > .uid-closer:before {
        display: "inline";
        content: "\f136";
    }
    > .uid-closer:hover {
        background-color: #00F; color:#FFF; border-color:#DDD;
        font-size:1.2em; font-weight: bold;
        transform: scale(1.2) rotate(360deg);
    }
    > section {width:100%; overflow: auto;}
    .uid-detail {
         height:10%; border-bottom:1px dashed rgba(255,255,0,0.3);
         white-space: pre-wrap; padding:10px; overflow: auto;
    }
    .uid-tree {
        height:90%; padding:10px;
        .uid-tnode {
            // border:1px solid transparent; margin-bottom:1px;
            .uid-self {
                color:rgba(255,255,0,0.6); cursor: pointer; position: relative;
                > * {display: inline-block; vertical-align: middle; margin: 0 2px;}
                > span.tnd-handle {
                    font-family:FontAwesome; display: inline-block; color:#888; width: 16px;
                    text-align: center;
                }
                > span.tnd-handle:before{content: '\f0d7';}
                > span.tnd-handle:hover {color:#FFF; text-shadow:0 0 4px #FFF;}
                > b {font-weight: normal;}
                > u {text-decoration: none; color:#888;}
                em {font-style: normal;}
                > em.index  {color:#F0F; font-size: 10px; margin: 0 6px;}
                > span.gasket {
                    color:#0AA; width: 100px; border-right:1px solid #0AA;
                    > em.gasket {font-size: 11px; margin: 0 2px;}
                }
                > div {
                    position: absolute; top:0; bottom:0; right:0; padding:0 4px;
                }
                > div:hover {
                    color: #FFF; font-size: 16px;
                }
            }
            .uid-self:hover {
                color:rgba(255,255,0,1.0); 
            }
            .uid-self[show-in-live] {background: #36A; color:#FFF;}
            .uid-self[no-area] {
                opacity: 0.4; color:#F00;
                > span.gasket {color:#F00;}
            }
            .uid-self[no-area]:hover {opacity: 1.0;}
            .uid-tsub {
                border-left:1px dotted rgba(255,255,255,0.2);
                padding-left:12px;
                margin-left:8px;
            }
        }
        .uid-tnode[collapse] {
            //border-color:rgba(255,255,0,0.4);
            .uid-self {
                > span.tnd-handle:before{content: '\f0da'; color:#FF0; text-shadow:0 0 2px #FF0;}
            }
            .uid-tsub {display: none;}
        }
        .uid-tnode[no-children] {
            .uid-self {
                > span.tnd-handle{visibility: hidden;}
                > div {display: none;}
            }
        }
    }
}