.ticket-container {
  display: block;
}

.clear {
  clear: both;
}

@menu-h-step2: 180px;
@menu-h-step3: 50px;
@title-h: 40px;

.ticket-reply {
  width: 100%;
  height: 100%;
  position: relative;
  background: @cpop_b;

  &.step1 {

    .ticket-menu {
      display: none;
    }
    .ticket-chat {
      height: calc(~"100% - @{title-h}");
    }

    .ticket-menu.step1.user {
      display: block;
      height: @menu-h-step2;
    }

    .ticket-chat {
      height: calc(~"100% - @{title-h} - @{menu-h-step2}");
    }
  }

  &.step2 {

    .ticket-menu.step2 {
      display: block;
      height: @menu-h-step2;
    }

    .ticket-chat {
      height: calc(~"100% - @{title-h} - @{menu-h-step2}");
    }
  }

  &.step3 {

    .ticket-menu.step3 {
      display: block;
      height: @menu-h-step3;
    }
    .ticket-chat {
      height: calc(~"100% - @{title-h} - @{menu-h-step3}");
    }
  }
}

// 标题部分
.ticket-title {
  height: @title-h;
  line-height: @title-h;
  text-align: center;
  cursor: pointer;

  // 标题内容
  .text {
    text-underline: #888;
    font-size: 16px;
    text-decoration: underline;
  }

  .tp {
    font-size: 16px;
    color: #F9400f;
    margin-right: 4px;
  }

}

// 修改状态菜单
.ticket-menu {
  display: none;
  padding: 8px 4px;
  width: 100%;

  @tedit-h: 126px;
  @tedit-lbl-h: 32px;
  @tedit-ta-h: @tedit-h - @tedit-lbl-h - 4px;

  .ticket-text-edit {
    outline: none;
    width: 100%;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 13px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    height: @tedit-h;
    border: 1px solid @cinput_l;
    background-color: @cinput_b;
    color: @cinput_f;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &:focus {
      border: 1px solid @cinput_lF;
      background-color: @cinput_bF;
      color: @cinput_fF;
    }
  }

  .ticket-label-edit {
    position: relative;
    display: none;
    margin-bottom: 4px;
    height: @tedit-lbl-h;
    padding: 4px 12px;
    border-radius: 4px;
    font-size: 13px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    width: 100%;

    border: 1px solid @ch0_b;
    background-color: @ch1_f;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    input {
      color: @ch0_f;
    }
  }

  &.cservice {

    .ticket-text-edit {
      height: @tedit-ta-h;
    }

    .ticket-label-edit {
      display: block;
    }
  }

  // label

  .lbl-input {

    input {
      border: none;
      outline: none;
      background-color: transparent;
      vertical-align: middle;
      box-sizing: content-box;
      min-width: 5px;
      display: inline-block;
      height: 24px;
      line-height: 24px;
      &:focus {
        width: auto;
      }
    }

    span {
      height: 24px;
      line-height: 24px;
      display: inline-block;
    }
  }

  .lbl-placeholder {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 32px;
    line-height: 32px;
    padding-left: 14px;
    padding-right: 10px;
    color: #aaa;
    font-size: 12px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .lbl-item {
    border: 1px solid #f00;
    border-radius: 2px;
    padding: 3px 8px;
    margin-right: 8px;
    color: #f00;
    position: relative;

    &:hover {
      .lbl-del {
        display: block;
      }
    }
  }

  .lbl-del {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    color: #fff;
    background: #333;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    display: none;
  }

  .ticket-send-btns {
    text-align: center;
  }
}

.tk-btn {
  display: inline-block;
  margin: 6px;
  padding: 4px 8px;
  font-size: 14px;
  border: none;
  border-radius: 20px;
  color: #fff;
  background-color: #42c02e;
  cursor: pointer;
  outline: none;

  &.close, &.reopen {
    background-color: #F00;
  }

  &.file {
    background-color: #00a1e9;
  }
}

// 对话列表
.ticket-chat {
  width: 100%;
  height: calc(~"100% - @{title-h}");
  overflow-y: auto;
  overflow-x: hidden;
  padding: 8px 4px;

  .chat-no-record {
    text-align: center;
    font-size: 13px;
    color: #888;
  }

  .chat-record {
    margin-bottom: 8px;
    overflow: hidden;

    // 客服数据在右边

    &.cservice {
      .chat-user {
        float: right;
      }
      .chat-content {
        text-align: right;

        .chat-content-text {
          display: inline-block;

          .text-con {
            border-radius: 4px 0 4px 4px;
            color: @ch1_f;
            background-color: @ch1_b;
          }

          &:before {
            display: none;
          }

          &:after {
            right: -9px;
            border-right: 9px solid transparent;
            border-top: 16px solid @ch1_b;
          }
        }
      }

      .chat-content-footer {
        right: 0;
        left: inherit;
        text-align: right;

        &.left {
          display: none;
        }

        &.right {
          display: block;
        }
      }
    }

  }

  @cmargin: 70px;

  .chat-user {
    width: @cmargin;
    float: left;

    @avatar-size: 40px;

    .chat-user-avatar {
      display: block;
      width: @avatar-size;
      height: @avatar-size;
      margin: 0 auto;
    }

    .chat-user-name {
      text-align: center;
      font-size: 10px;
    }

  }

  @comargin: @cmargin * 2;

  .chat-content {
    width: calc(~"100% - @{comargin}");
    position: relative;
    display: block;
    margin: 0px auto;
    min-height: 39px;
    padding-bottom: 16px;

    @ctop: 4px;
    .chat-content-text {
      position: relative;
      padding-top: @ctop;

      .text-con {
        min-height: 39px;
        color: @ch0_f;
        background-color: @ch0_b;
        border-radius: 0 4px 4px 4px;
        position: relative;
        padding: 8px 12px;
        font-size: 13px;
        word-break: break-word !important;
        word-break: break-all;
        //white-space: pre-line;
        line-height: 1.5;
        display: table-cell;

        &:hover {
          .fa {
            display: inline-block;
          }
        }

      }

      &:before, &:after {
        position: absolute;
        top: @ctop;
        content: "";
        display: inline-block;
      }

      &:before {
        left: -9px;
        border-left: 9px solid transparent;
        border-top: 16px solid @ch0_b;
      }

      // 编辑moshi
      &.edit {
        .text-con {
          color: @cf6;
        }
      }

    }
  }

  @foot-time: 14px;

  .chat-content-footer {
    min-width: 200px;
    position: absolute;
    bottom: (@foot-time + 6) * -1;
    left: 0;

    &.right {
      display: none;
    }

    .time {
      font-size: 10px;
      color: @ch1_f;
    }

    .fa {
      display: none;
    }

    .fa:hover {
      cursor: pointer;
      color: #F00;
    }
  }

  .atta-preview {
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;

    img, video {
      display: block;
      max-width: 100%;
      min-size: 32px;
      margin: 0 auto;
    }

    &.dw {
      padding-top: 4px;
      padding-bottom: 4px;

      &:hover {
        cursor: pointer;
        .filenm {
          text-underline: #888;
          text-decoration: underline;
          color: #888;
        }
      }
    }

  }

}

/*.............................................. mask*/
.srh-mask {
  width: 100%;
  height: 100%;
  padding-bottom: @d8;
  position: relative;
  background: @cb0;
  .srh-qform {
    width: 100%;
    height: 100%;
    .form-body-wrapper {
      padding: 0 @d4 0 @d2;
    }
    .ff-txt {
      padding-left: @d8;
    }
  }
  .srh-qbtns {@noselect();
    background: @cb1;
    border-top: 1px solid @cborder0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: @d8;
    text-align: center;
    padding-top: @d2;
    b {@btn();
      padding: @d3 @d2;
    }
    b:hover {@btn_hover();
    }

    .ing {
      margin-right: @d1;
      visibility: hidden;
      display: inline-block;
      width: @d4;
      margin-left: -@d4;
    }
    b[ui-ing] {
      .ing {
        visibility: visible;
      }
    }

    .srh-qform-ok {
      min-width: @db;
    }
    .srh-qform-cancel {
      min-width: @da;
    }
  }
}