@import "../ui";

/*theme:w0 .................................................*/
[theme="w0"] {
    .theme_w0();

    .osearch-sky {}
    .osearch-sky:after{@clr();}

    .osearch-list {
        min-height: 300px; padding-right:10px;
    }
    .osearch-checkbox, .osearch-actions {
        display: inline-block; vertical-align: middle;
    }
    /*.............................................. check*/
    .osearch-check-opts {list-style: none;padding:0;margin: 0;}
    .osearch-check-opts>li{
        float:left;
        padding:0 4px; border-right:1px solid #AAA;
        font-size:12px; color:#08F; cursor: pointer;
    }
    .osearch-check-opts>li:hover{color:#F80;}
    .osearch-check-opts>li:last-child{border-right:0;}
    /*.............................................. actions*/
    .osearch-actions {
        padding:10px; float: left;
    }
    /*.............................................. filter*/
    .osearch-filter {
        float: left; padding:4px;
    }

    .ofilter-keyword {
        padding:0px;
    }
    .ofilter-keyword input{
        font-size:16px; padding:10px; width:100%;
    }

    /*.............................................. pager*/
    .osearch-pager {padding:10px;}
    .opager-tip {
        color:#888; font-style: normal; margin-right:10px;
        display: inline-block; vertical-align: middle;
        padding:5px 8px; font-size: @f_small;
    }
    .opager-btn {
        display: inline-block; vertical-align: middle;
        border:1px solid #CCC; color:#08F; padding:4px 8px;
        border-radius: 2px; margin: 0 1px; cursor: pointer;
        font-size:12px;
    }

    .opager-btn:hover {
        background: #CEF;
    }

    .opager-disable, .opager-disable:hover {
        background: #CCC; color:#888; opacity: 0.6;
    }
}