body > .ui-obrowser {
  background: url(main_bg.jpg);
}
.obrowser {
  color: #cccccc;
}
.obrowser .obrowser-block {
  margin: 0px;
}
.obrowser .obrowser-main .wnobj {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.obrowser .obrowser-main .wnobj * {
  cursor: default;
}
.obrowser .obrowser-main .wnobj-hide * {
  opacity: 0.5;
}
.obrowser .obrowser-footer {
  background: rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.obrowser .obrowser-chute {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
  color: #888888;
  background: rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.obrowser .obrowser-chute .chute-scroller {
  transition: 0.3s;
  width: 200%;
  height: 100%;
  position: relative;
}
.obrowser .obrowser-chute .chute-scroller .chute-nav {
  position: absolute;
  top: 0;
  right: 50%;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
.obrowser .obrowser-chute .chute-scroller .chute-outline {
  position: absolute;
  top: 0;
  right: 0;
  left: 50%;
  bottom: 0;
}
.obrowser .obrowser-chute .chute-scroller .chute-scroller-btn {
  position: absolute;
  top: 0;
  width: 16px;
  height: 24px;
  border-radius: 2px;
  font-size: 10px;
  line-height: 22px;
  text-align: center;
  border: 1px solid #000000;
  background: #000000;
  color: #cccccc;
  display: none;
  margin: 2px;
  cursor: pointer;
}
.obrowser .obrowser-chute .chute-scroller .chute-scroller-btn * {
  cursor: pointer;
}
.obrowser .obrowser-chute .chute-scroller .chute-scroller-btn:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}
.obrowser .obrowser-chute .chute-scroller[outline="yes"] {
  margin-left: -100%;
}
.obrowser .obrowser-chute .chute-scroller[outline] .chute-scroller-btn {
  display: block;
}
.obrowser .obrowser-chute .chute-wrapper {
  padding: 12px;
  font-size: 12px;
}
.obrowser .obrowser-chute .chute-wrapper section {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 6px;
  position: relative;
  transition: 0.3s;
}
.obrowser .obrowser-chute .chute-wrapper section h1 {
  font-size: 10px;
  cursor: pointer;
  font-weight: bold;
  line-height: 16px;
  padding: 6px;
}
.obrowser .obrowser-chute .chute-wrapper section item {
  display: block;
  padding: 6px 2px 6px 12px;
  cursor: pointer;
  line-height: 16px;
  color: #aaaaaa;
}
.obrowser .obrowser-chute .chute-wrapper section item i {
  width: 16px;
  height: 16px;
  text-align: center;
  font-size: 16px;
  display: inline-block;
  float: left;
  vertical-align: middle;
}
.obrowser .obrowser-chute .chute-wrapper section item b {
  display: inline-block;
  float: left;
  vertical-align: middle;
  margin-left: 6px;
}
.obrowser .obrowser-chute .chute-wrapper section item:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.obrowser .obrowser-chute .chute-wrapper section item.chute-actived {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.2);
}
.obrowser .obrowser-chute .chute-wrapper section.chute-sec-hide {
  border-color: rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0.5);
}
.obrowser .obrowser-chute .chute-wrapper section.chute-sec-hide h1:after {
  content: "...";
  display: block;
  position: absolute;
  top: 4px;
  right: 8px;
}
.obrowser .obrowser-chute .chute-wrapper section.chute-sec-hide item {
  opacity: 0;
}
.obrowser .obrowser-vmd-thumbnail {
  padding: 12px 6px;
}
.obrowser .obrowser-vmd-thumbnail .wnobj-hide * {
  opacity: 1.0;
}
.obrowser .obrowser-vmd-thumbnail .wnobj-hide .wnobj-thumbnail {
  opacity: 0.382;
}
.obrowser .obrowser-vmd-thumbnail .wnobj-hide .wnobj-nm {
  opacity: 0.6;
}
.obrowser .obrowser-vmd-thumbnail .wnobj {
  display: inline-block;
}
.obrowser .obrowser-vmd-thumbnail .wnobj .wnobj-wrapper {
  padding: 4px;
}
.obrowser .obrowser-vmd-thumbnail .wnobj .wnobj-wrapper:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.obrowser .obrowser-vmd-thumbnail .wnobj .wnobj-thumbnail {
  width: 76px;
  height: 76px;
  padding: 6px;
  margin: 0 auto;
  border-radius: 6px;
}
.obrowser .obrowser-vmd-thumbnail .wnobj .wnobj-thumbnail .img {
  display: block;
  width: 64px;
  height: 64px;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
}
.obrowser .obrowser-vmd-thumbnail .wnobj .wnobj-thumbnail .img > div {
  position: absolute;
  width: 16px;
  height: 16px;
  background: red;
}
.obrowser .obrowser-vmd-thumbnail .wnobj .wnobj-thumbnail .img .wnobj-NW {
  top: 0;
  left: 0;
}
.obrowser .obrowser-vmd-thumbnail .wnobj .wnobj-thumbnail .img .wnobj-NE {
  top: 0;
  right: 0;
}
.obrowser .obrowser-vmd-thumbnail .wnobj .wnobj-thumbnail .img .wnobj-SW {
  bottom: 0;
  left: 0;
}
.obrowser .obrowser-vmd-thumbnail .wnobj .wnobj-thumbnail .img .wnobj-SE {
  bottom: 0;
  right: 0;
}
.obrowser .obrowser-vmd-thumbnail .wnobj .wnobj-thumbnail .img .wnobj-icon-hide {
  display: none;
}
.obrowser .obrowser-vmd-thumbnail .wnobj .wnobj-thumbnail[thumb] .img {
  background-color: #000;
}
.obrowser .obrowser-vmd-thumbnail .wnobj .wnobj-nm-con {
  text-align: center;
  margin-top: 4px;
  width: 102px;
  height: 50px;
  line-height: 16px;
  overflow: hidden;
  word-break: break-all;
  position: relative;
}
.obrowser .obrowser-vmd-thumbnail .wnobj .wnobj-nm {
  display: inline-block;
  padding: 0 4px;
  border-radius: 2px;
  border: 1px dotted rgba(0, 0, 0, 0);
  font-family: Monaco, Consolas, Courier New;
}
.obrowser .obrowser-vmd-thumbnail .wnobj-checked .wnobj-thumbnail {
  background: rgba(0, 0, 0, 0.3);
}
.obrowser .obrowser-vmd-thumbnail .wnobj-checked .wnobj-thumbnail[thumb] .img {
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.obrowser .obrowser-vmd-thumbnail .wnobj-checked .wnobj-nm {
  background: rgba(0, 64, 255, 0.6);
  color: #ffffff;
}
.obrowser .obrowser-vmd-thumbnail .wnobj-actived .wnobj-nm {
  border-color: rgba(255, 255, 255, 0.3);
}
.obrowser .obrowser-sky {
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.obrowser .obrowser-sky .obrowser-crumb {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  background: rgba(0, 0, 0, 0.5);
  padding: 6px;
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0;
}
.obrowser .obrowser-sky .obrowser-crumb .z_editit {
  background: #000000;
  color: #cccccc;
  padding-left: 12px;
  outline: none;
  font-size: 16px;
  font-family: Monaco, Consolas, Courier New;
  border: 0;
}
.obrowser .obrowser-sky .obrowser-crumb > div {
  display: inline-block;
  vertical-align: middle;
}
.obrowser .obrowser-sky .obrowser-crumb .citem {
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 0 0 0 2px;
}
.obrowser .obrowser-sky .obrowser-crumb .citem b {
  font-weight: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 24px;
  margin: 0 2px 0 2px;
}
.obrowser .obrowser-sky .obrowser-crumb .citem .ochild {
  display: inline-block;
  vertical-align: middle;
  padding: 4px 2px 4px 2px;
  cursor: pointer;
}
.obrowser .obrowser-sky .obrowser-crumb .citem .ochild:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}
.obrowser .obrowser-sky .obrowser-crumb .citem .citem-drop {
  position: fixed;
  z-index: 1000;
  min-width: 128px;
  border: 1px solid #ff8800;
  min-width: 96px;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 2px 2px 6px #000000;
}
.obrowser .obrowser-sky .obrowser-crumb .citem .citem-drop .citem .ochild {
  display: none;
}
.obrowser .obrowser-sky .obrowser-crumb .citem .citem-drop .citem:hover {
  color: #ffffff;
  background: rgba(0, 64, 255, 0.6);
}
.obrowser .obrowser-sky .obrowser-crumb .citem:hover {
  border-color: rgba(255, 255, 255, 0.3);
}
.obrowser .obrowser-sky .obrowser-crumb .citem-tail {
  padding-right: 2px;
}
.obrowser .obrowser-sky .obrowser-crumb .citem-tail b {
  font-weight: bold;
}
.obrowser .obrowser-sky .obrowser-crumb .citem-tail .ochild {
  display: none;
}
.obrowser .obrowser-sky .obrowser-crumb .citem-tail:hover {
  border-color: rgba(0, 0, 0, 0);
}
.obrowser .obrowser-sky .obrowser-crumb .folder-btn {
  cursor: pointer;
  border-radius: 4px;
  line-height: 24px;
  padding: 0 4px;
}
.obrowser .obrowser-sky .obrowser-crumb .folder-btn:hover {
  background: rgba(0, 64, 255, 0.6);
  color: #ffffff;
}
.obrowser .obrowser-sky .obrowser-crumb .folder-drop {
  z-index: 2000;
  border: 1px solid #ff8800;
  min-width: 128px;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 2px 2px 6px #000000;
}
.obrowser .obrowser-sky .obrowser-crumb .folder-drop .citem .ochild {
  display: none;
}
.obrowser .obrowser-sky .obrowser-crumb .folder-drop .citem:hover {
  color: #ffffff;
  background: rgba(0, 64, 255, 0.6);
}
.obrowser .obrowser-sky .obrowser-menu {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  padding-left: 6px;
}
.obrowser[hidden-obj-visibility=hidden] .wnobj-hide {
  display: none;
}
