.ui-disk {
  width: 100%;
  height: 100%;
  position: relative;
}

.rclick-menu-bg {
  position: absolute;
  z-index: 5000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.rclick-menu {
  display: block;
  position: absolute;
}

@icon-path: "../../../img/file/";

.disk-icon {

  background: url(~"@{icon-path}16_unknow.png");

  &.folder {
    background: url(~"@{icon-path}16_folder.png");
  }
  &.txt {
    background: url(~"@{icon-path}16_txt.png");
  }

  // 图片
  &.jpg, &.jpeg {
    background: url(~"@{icon-path}16_jpg.png");
  }
  &.png {
    background: url(~"@{icon-path}16_png.png");
  }
  &.gif {
    background: url(~"@{icon-path}16_gif.png");
  }
  &.bmp {
    background: url(~"@{icon-path}16_bmp.png");
  }

  // 视频
  &.mp4 {
    background: url(~"@{icon-path}16_video.png");
  }
  &.avi {
    background: url(~"@{icon-path}16_video.png");
  }
  &.mov {
    background: url(~"@{icon-path}16_video.png");
  }
  &.mpg {
    background: url(~"@{icon-path}16_video.png");
  }
  &.vod {
    background: url(~"@{icon-path}16_video.png");
  }
}

.disk-preview {
  background: url(~"@{icon-path}256_unknow.png");
  background-size: cover;

  &.folder {
    background: url(~"@{icon-path}256_folder.png");
  }
  &.txt {
    background: url(~"@{icon-path}256_txt.png");
  }

  // 图片
  &.jpg, &.jpeg {
    background: url(~"@{icon-path}256_jpg.png");
  }
  &.png {
    background: url(~"@{icon-path}256_png.png");
  }
  &.gif {
    background: url(~"@{icon-path}256_gif.png");
  }
  &.bmp {
    background: url(~"@{icon-path}256_bmp.png");
  }

  // 视频
  &.mp4 {
    background: url(~"@{icon-path}256_video.png");
  }
  &.avi {
    background: url(~"@{icon-path}256_video.png");
  }
  &.mov {
    background: url(~"@{icon-path}256_video.png");
  }
  &.mpg {
    background: url(~"@{icon-path}256_video.png");
  }
  &.vod {
    background: url(~"@{icon-path}256_video.png");
  }
}




