.ui-disk {
  width: 100%;
  height: 100%;
  position: relative;
}
.rclick-menu-bg {
  position: absolute;
  z-index: 5000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.rclick-menu {
  display: block;
  position: absolute;
}
.disk-icon {
  background: url(../../../img/file/16_unknow.png);
}
.disk-icon.folder {
  background: url(../../../img/file/16_folder.png);
}
.disk-icon.txt {
  background: url(../../../img/file/16_txt.png);
}
.disk-icon.jpg,
.disk-icon.jpeg {
  background: url(../../../img/file/16_image.png);
}
.disk-icon.png {
  background: url(../../../img/file/16_image.png);
}
.disk-icon.gif {
  background: url(../../../img/file/16_image.png);
}
.disk-icon.bmp {
  background: url(../../../img/file/16_image.png);
}
.disk-icon.mp4 {
  background: url(../../../img/file/16_video.png);
}
.disk-icon.avi {
  background: url(../../../img/file/16_video.png);
}
.disk-icon.mov {
  background: url(../../../img/file/16_video.png);
}
.disk-icon.mpg {
  background: url(../../../img/file/16_video.png);
}
.disk-icon.vod {
  background: url(../../../img/file/16_video.png);
}
.disk-preview {
  background: url(../../../img/file/256_unknow.png);
  background-size: cover;
}
.disk-preview.folder {
  background: url(../../../img/file/256_folder.png);
}
.disk-preview.txt {
  background: url(../../../img/file/256_txt.png);
}
.disk-preview.jpg,
.disk-preview.jpeg {
  background: url(../../../img/file/256_image.png);
}
.disk-preview.png {
  background: url(../../../img/file/256_image.png);
}
.disk-preview.gif {
  background: url(../../../img/file/256_image.png);
}
.disk-preview.bmp {
  background: url(../../../img/file/256_image.png);
}
.disk-preview.mp4 {
  background: url(../../../img/file/256_video.png);
}
.disk-preview.avi {
  background: url(../../../img/file/256_video.png);
}
.disk-preview.mov {
  background: url(../../../img/file/256_video.png);
}
.disk-preview.mpg {
  background: url(../../../img/file/256_video.png);
}
.disk-preview.vod {
  background: url(../../../img/file/256_video.png);
}
