.ui-disk {
  width: 100%;
  height: 100%;
  position: relative;
}

.rclick-menu-bg {
  position: absolute;
  z-index: 5000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.rclick-menu {
  display: block;
  position: absolute;
}


