@import "../ui.less";

.oform-title {
    padding:@d5; text-align: center; color:@cf0;
    background: @cb2; font-size: 14px; 
}

.oform-fldnm {
    width:30%; text-align: right; padding:@f4 @f3;
    color:@c2;  font-size: @f3;
}

.oform-fld-required {
    color:@c1; font-weight: bolder; margin-right: @d1;
}

.oform-fldval {
    width:70%; padding: @d4; 
}

.oform-fldcmt {
    padding:4px; color:@c3; font-size: @f2;
}

.oform-grp {
    width:100%; border-collapse: collapse;
}
.oform-grp td {
    border:1px solid @cborder0;
    vertical-align: top;
}

.oform-flow { 
    width:100%; height:100%; 
    .oform-flow-main {
        overflow: auto;
    }

    .oform-actions { @noselect(); 
        list-style: none;
        text-align:center;
        margin:0;
        border-bottom: 1px solid @cborder1; padding:@d4;
    }
    .oform-actions:after{@clr();}
    .oform-abtn {@btn();}
    .oform-abtn:hover {@btn_hover();}

    .oform-flow-ghead {
        padding:@d5; font-size:@f4;
    }

}

.oform-tabs {
    width:100%; height: 100%;

    .oform-tabs-viewport{width:100%; height: 100%;}
    .oform-tabs-main{width:100%; height: 100%;overflow: auto;}

    .oform-tabs-bar {@noselect();
        list-style: none;
        text-align:center;
        margin:0;
        padding: @d5 0 0 0; border-bottom: 1px solid @cborder1;
    }
    .oform-tabs-bar:after{@clr();}
    .oform-tabs-li {
        display:inline-block; vertical-align: middle; cursor: pointer;
        margin: 0 @d0; 
        padding: @d4 @d7; 
        border:1px solid @cbtn_l;  border-bottom: 0;
        background: @cbtn_f;  color:@cbtn_b;
        border-radius: @d1 @d1 0 0; 
    }
    .oform-tabs-li[highlight]{
        color:@ch0_f; background: @ch0_b; border-color:@c0;
    }
    
    .oform-actions {@noselect(); 
        list-style: none;
        text-align:center;
        margin:0;  padding:@d5;
        border-top: 1px solid @cborder1;
    }
    .oform-actions:after{@clr();}
    .oform-abtn {@btn();}
    .oform-abtn:hover {@btn_hover();}

    .oform-grp {display: none;}
    .oform-tabs-main[grp-nb="1"] .oform-grp {display: table; }

}
