body.zui-app-wn_upload {
    background: #FFF; margin: 20px;
}

.ui-upload {
    position: absolute;
    top:10px; left:10px; bottom:10px; right:10px;
}

.ui-upload .ui-arena {
    width:100%; height:100%; 
}

.ui-upload-sky {
    background-color:rgba(0,0,0,0.3); padding:20px;
}

.ui-upload-footer {
    position: absolute;
    left:0px; right:0; bottom:0;
    background-color:rgba(0,0,0,0.3); padding:20px; text-align: center;
}

.ui-upload-tip{
    color:#888; font-size:18px;
    text-align: center;
    padding-top:10%;
}

.ui-upload-list {
    position: absolute;
    left:0px; right:0; top:59px; bottom:72px;
    overflow: auto; padding:10px;
}

.ui-upload-list-dragover {
    background: #CCF; box-shadow: 0 0 20px #FFF;
}
/*-----------------------------------------------------------*/
.ui-upload-item {
    position: relative;
    padding:8px 0; line-height: 18px;
    border-bottom:1px dashed #CCC;
}

.ui-upload-item .fname {
    padding:0 10px; font-size:12px;
    overflow: hidden;
    text-overflow : ellipsis; 
}

.ui-upload-item .progress {
    float:right;
    width:80px; height:20px; background: #EEE;
}

.ui-upload-item .progress .outer {
    width:100%; height:100%;
    border:1px solid #CCC; position: relative;
}

.ui-upload-item .progress .inner {
    width:1px; height:100%; line-height: 20px; 
    background: #0F0; 
}

.ui-upload-item .progress .nb {
    position: absolute; top:0; right:4px; line-height: 18px;
    color: #88F; font-size:9px; 
}

.ui-upload-item .thumbnail {
    float: left;
}

.ui-upload-item .thumbnail .fa-file         {color:#888;}
.ui-upload-item .thumbnail .fa-spinner      {color:#000;}
.ui-upload-item .thumbnail .fa-spinner      {color:#000;}
.ui-upload-item .thumbnail .fa-check-circle {color:#080;}
.ui-upload-item .thumbnail .fa-warning      {color:#A00;}

.ui-upload-item-done {color:#080;}
.ui-upload-item-fail {color:#A00;}












