body.zui-app-wn_upload {background: #FFF; margin: 0;}
/*-----------------------------------------------------------------------------------------*/
.ui-upload {width:100%; height:100%;}

.ui-upload .ui-arena {width:100%; height:100%; }
.ui-upload-sky {background-color:#DDD; padding:10px;}
.ui-upload-footer {background: #08F;}
.ui-upload-arena {background-color:#EEE; overflow: auto; padding:0px;}
/*-----------------------------------------------------------------------------------------*/
.ui-upload .progress .outer {display: block; width:100%; height:6px; border:1px solid #CCC;}
.ui-upload .progress .inner {display: block;width:1px; height:100%; background: #0F0; }
.ui-upload .nb {color: #88F;}
/*-----------------------------------------------------------------------------------------*/
.ui-upload-single {width:100%; height:100%;}
.ui-upload-single-tip {
    position: absolute; top:0; left:0; right:0; bottom:0; display: none;
    color:#888; font-size:18px;text-align: center;
}
.ui-upload-single[ing=no]:hover .ui-upload-single-tip,
.ui-upload-arena[drag] .ui-upload-single-tip
{display: block;}
.ui-upload-single-tip:before {height: 36%;display: block;content: "";}

.ui-upload-single .progress {
    position: absolute; bottom:30px; left:30px; right:30px;
}
.ui-upload-single .nb {text-align: center;}
.ui-upload-single[ing=no] .progress{display: none;}
/*-----------------------------------------------------------------------------------------*/
.ui-upload-multi {width:100%; height:100%; padding:10px 14px;}
.ui-upload-arena[drag] .ui-upload-multi{background: #CCF;}
.ui-upload-multi-tip{
    color:#888; font-size:18px;
    text-align: center;
    width:100%; height:100%;
}
.ui-upload-multi-tip:before {height: 36%;display: block;content: "";}
/*-----------------------------------------------------------------------------------------*/
.ui-upload-item {
    position: relative;
    padding:0; line-height: 32px;
    border-bottom:1px dashed #CCC;
}
.ui-upload-item:last-child{border-bottom: 0;}

.ui-upload-item .fname {
    display: inline-block; vertical-align: middle;
    padding:0 10px; font-size:12px; overflow: hidden; min-width: 160px;
}

.ui-upload-item .progress { display: inline-block; vertical-align: middle; min-width:80px;}
.ui-upload-item .nb {display: inline-block; vertical-align: middle; font-size:9px;}

.ui-upload-item .thumbnail {float: left;}
.ui-upload-item .local {float: left;}
.ui-upload-item .remote {float: right; color:#AAA;}
.ui-upload-item .remote .rname {display: inline-block; font-size:12px;}
.ui-upload-item .remote .fa {font-size:1.3em;}
.ui-upload-item-done .remote .fa, 
.ui-upload-item-fail .remote .fa {font-size:1em;}
.ui-upload-item-done .remote {color:#08F;}
.ui-upload-item-fail .remote {color:#F00;}
.ui-upload-item-fail .progress {opacity: 0.2;}
.ui-upload-item-fail .nb {opacity: 0.2;}

.ui-upload-item .thumbnail .fa-file         {color:#888;}
.ui-upload-item .thumbnail .fa-spinner      {color:#000;}
.ui-upload-item .thumbnail .fa-spinner      {color:#000;}
.ui-upload-item .thumbnail .fa-check-circle {color:#080;}
.ui-upload-item .thumbnail .fa-warning      {color:#A00;}

.ui-upload-item-done {color:#080;}
.ui-upload-item-fail {color:#F00;}












