body.zui-app-wn_upload {
  background: #ffffff;
  margin: 0;
}
/*-----------------------------------------------------------------------------------------*/
.ui-upload-sky {
  background-color: #eeeeee;
  padding: 8px;
  color: #666666;
}
.ui-upload-footer {
  background: #eeeeee;
  color: #666666;
}
.ui-upload-arena {
  padding: 0;
}
/*-----------------------------------------------------------------------------------------*/
.ui-upload-arena .progress .outer {
  display: block;
  width: 100%;
  height: 6px;
  border: 1px solid #CCC;
}
.ui-upload-arena .progress .inner {
  display: block;
  width: 1px;
  height: 100%;
  background: #0F0;
}
.ui-upload-arena .nb {
  color: #88F;
}
/*-----------------------------------------------------------------------------------------*/
.ui-upload-single {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.ui-upload-single-tip:before {
  height: 36%;
  display: block;
  content: "";
}
.ui-upload-single-tip {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background: rgba(0, 0, 0, 0.2);
  color: #FFF;
  font-size: 18px;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.ui-upload-single[ing=no]:hover .ui-upload-single-tip {
  display: block;
}
.ui-upload-arena[drag] {
  border: 2px dashed #ff8800;
}
.ui-upload-single .progress {
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;
}
.ui-upload-single .nb {
  text-align: center;
}
.ui-upload-single[ing=no] .progress {
  display: none;
}
/*-----------------------------------------------------------------------------------------*/
.ui-upload-multi {
  width: 100%;
  height: 100%;
  padding: 10px 14px;
  cursor: default;
  overflow: auto;
}
.ui-upload-arena[drag] .ui-upload-multi {
  background: #CCF;
}
.ui-upload-multi-tip {
  color: #888;
  font-size: 18px;
  text-align: center;
  width: 100%;
  height: 100%;
}
.ui-upload-multi-tip:before {
  height: 36%;
  display: block;
  content: "";
}
/*-----------------------------------------------------------------------------------------*/
.ui-upload-item {
  position: relative;
  padding: 0;
  line-height: 32px;
  border-bottom: 1px dashed #d0d0d0;
}
.ui-upload-item:last-child {
  border-bottom: 0;
}
.ui-upload-item .fname {
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
  font-size: 12px;
  overflow: hidden;
}
.ui-upload-item .progress {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
}
.ui-upload-item .nb {
  display: inline-block;
  vertical-align: middle;
  font-size: 9px;
}
.ui-upload-item .thumbnail {
  float: left;
}
.ui-upload-item .local {
  float: left;
}
.ui-upload-item .remote {
  float: right;
  color: #AAA;
}
.ui-upload-item .remote .rname {
  display: inline-block;
  font-size: 12px;
  margin-right: 4px;
}
.ui-upload-item .remote .fa {
  font-size: 1.3em;
}
.ui-upload-item-done .remote .fa,
.ui-upload-item-fail .remote .fa {
  font-size: 1em;
}
.ui-upload-item-done .remote {
  color: #08F;
}
.ui-upload-item-fail .remote {
  color: #F00;
}
.ui-upload-item-fail .progress {
  opacity: 0.2;
}
.ui-upload-item-fail .nb {
  opacity: 0.2;
}
.ui-upload-item .thumbnail .fa-file {
  color: #888888;
}
.ui-upload-item .thumbnail .fa-spinner {
  color: #008800;
}
.ui-upload-item .thumbnail .fa-spinner {
  color: #008800;
}
.ui-upload-item .thumbnail .fa-check-circle {
  color: #888888;
}
.ui-upload-item .thumbnail .fa-warning {
  color: #ff8800;
}
.ui-upload-item-done {
  color: #080;
}
.ui-upload-item-fail {
  color: #F00;
}
