.ui.tbl > .ui-arena {
  overflow: hidden;
}
.ui.tbl .ui-loading {
  padding: 24px;
}
.tbl {
  width: 100%;
  height: 100%;
  position: relative;
}
.tbl table {
  border-spacing: 0;
}
.tbl td {
  overflow: hidden;
}
.tbl-head {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  height: 32px;
  line-height: 32px;
  overflow: hidden;
}
.tbl-head-t td {
  padding: 0 8px;
  margin: 0;
  white-space: nowrap;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  color: #aaaaaa;
  text-align: center;
  cursor: pointer;
}
.tbl-head td:first-child {
  border: 0;
}
.tbl-checker {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  color: #cccccc;
}
.tbl-checker > * {
  display: none;
}
.tbl-checker > [tp="part"] {
  opacity: 0.3;
}
.tbl-checker[tp="all"] [tp="all"] {
  display: inline;
}
.tbl-checker[tp="none"] [tp="none"] {
  display: inline;
}
.tbl-checker[tp="part"] [tp="part"] {
  display: inline;
}
.tbl-body {
  width: 100%;
  height: 100%;
  overflow: auto;
  border-top: 32px solid rgba(255, 255, 255, 0.1);
}
.tbl-row td {
  padding: 8px;
  white-space: nowrap;
  position: relative;
  vertical-align: middle;
  border: 1px dashed rgba(0, 0, 0, 0);
  border-bottom-color: rgba(255, 255, 255, 0.06);
}
.tbl-row td .oicon {
  margin: 0 6px;
}
.tbl-row-actived .tbl-row-td0:before {
  display: block;
  content: "";
  position: absolute;
  top: 8px;
  left: 1px;
  bottom: 8px;
  width: 1px;
  border-left: 1px dotted rgba(255, 255, 255, 0.6);
  border-right: 1px dotted rgba(255, 255, 255, 0.6);
}
.tbl-show-checkbox .tbl-row td:first-child {
  padding-left: 34px;
}
.tbl-show-checkbox .tbl-row-checker {
  position: absolute;
  top: 0;
  left: 0;
  height: 32px;
  width: 32px;
  text-align: center;
  line-height: 32px;
}
.tbl-show-checkbox .tbl-row-checker > *:first-child {
  display: inline;
}
.tbl-show-checkbox .tbl-row-checker > *:last-child {
  display: none;
}
.tbl-row-checked {
  background: rgba(0, 64, 255, 0.6);
  color: #ffffff;
}
.tbl-row-checked .tbl-row-checker > *:first-child {
  display: none;
}
.tbl-row-checked .tbl-row-checker > *:last-child {
  display: inline;
}
.tbl-row-checked td {
  border-color: #338;
}
