<!-- 
侧边栏可以由一些列 <section> 构成， text 属性标识了这个段落的标题
为了安全起见，你不要妄想在里面写 <Script>，因为会被客户端直接过滤掉
如果你打算写 onxxx 之类的属性，抱歉，只要是 onxxx 格式的属性也都会过滤掉
 -->
<script>console.log("I am evil, very evil >o<")</script>
<section>
    <!--
    ===========================================
    -->
    <!-- h1>i18n:favorites</h1-->
    <h1>站点管理</h1>
    <!--
    内部每个 <item> 标签都将出现在侧边栏上
      - 属性 @ph 指明这个项目对应的路径 
      - 属性 @noicon 指明了这个项目没有图标
      - <i> 被认为是 icon，你可以随意写 icon 的 CSS
            如果没有声明 <i> 就用对象的图标，当然如果声明了@noicon就不显示图标
      - <b> 被认为是文字，支持 i18n 形式的表述
    -->
    <item ph="~/demo_site" editor="hmaker">
        <i class="fa fa-sitemap"></i>
        <b>演示站点A</b>
    </item>
    <item ph="~/demo_site2" editor="hmaker2">
        <i class="fa fa-sitemap"></i>
        <b>演示站点B</b>
    </item>
    <item ph="~/demo_site3" editor="hmaker">
        <i class="fa fa-sitemap"></i>
        <b>演示站点C</b>
    </item>
    <item ph="~/abc"></item>
</section>
<section>
    <!-- item ph="~/屏幕"></item>
    <item ph="~/素材库"></item>
    <item ph="~/可播放对象"></item -->
    <!--
    ===========================================
    -->
    <h1>数据管理</h1>
    <item ph="~/.thing/news" editor="thing_set">
        <i class="fa fa-newspaper-o"></i>
        <b>咨询管理</b>
    </item>
    <item ph="~/.thing/app" editor="thing_set">
        <i class="fa fa-rocket"></i>
        <b>应用管理</b>
    </item>
    <item ph="~/.thing/game" editor="thing_set">
        <i class="fa fa-gamepad"></i>
        <b>游戏管理</b>
    </item>
    <item ph="~/.thing/shop" editor="thing_set">
        <i class="fa fa-shopping-bag"></i>
        <b>商户管理</b>
    </item>
    <item ph="~/.thing/menu" editor="thing_set">
        <i class="fa fa-file-text"></i>
        <b>餐单管理</b>
    </item>
</section> 

