.weixin-mp {
  position: relative;
}
.weixin-mp > div {
  position: absolute;
  bottom: 0;
}
.weixin-mp .wxmp-list {
  left: 0;
  width: 180px;
  top: 32px;
}
.weixin-mp .wxmp-main {
  left: 180px;
  right: 0;
  top: 0;
}
.weixin-mp > h2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 32px;
  line-height: 32px;
  padding: 0 12px;
  background: rgba(100, 200, 0, 0.2);
}
.weixin-mp .wxmp-list {
  padding: 6px 6px;
  background: #eeeeee;
}
.weixin-mp .wxmp-list .lst-item {
  font-family: Monaco, Consolas, Courier New;
  white-space: nowrap;
  line-height: 24px;
  padding: 6px 6px 6px 8px;
}
.weixin-mp .wxmp-list .lst-item i {
  margin-right: 4px;
}
.weixin-mp .wxmp-list .lst-item .lbls {
  text-align: right;
}
.weixin-mp .weixin-mp-handler {
  overflow: auto;
}
.weixin-mp .weixin-mp-handler .wxmh-hdl {
  padding: 1px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 1px;
}
.weixin-mp .weixin-mp-handler .wxmh-hdl h4 {
  padding: 6px;
  position: relative;
  color: #999999;
  background: #e0e0e0;
}
.weixin-mp .weixin-mp-handler .wxmh-hdl h4 b {
  margin: 0 4px;
}
.weixin-mp .weixin-mp-handler .wxmh-hdl h4 .hdl-del {
  position: absolute;
  right: 6px;
  top: 6px;
  color: #F00;
  opacity: 0.4;
  cursor: pointer;
  display: block;
  width: 16px;
  height: 16px;
  text-align: center;
}
.weixin-mp .weixin-mp-handler .wxmh-hdl h4 .hdl-del:hover {
  opacity: 1.0;
}
.weixin-mp .weixin-mp-handler .wxmh-hdl .hdl-matchs {
  padding: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
.weixin-mp .weixin-mp-handler .wxmh-hdl .hdl-matchs .hdl-match-add {
  padding: 8px;
  width: 80%;
  margin: 4px auto;
  border: 1px dashed #d0d0d0;
}
.weixin-mp .weixin-mp-handler .wxmh-hdl .hdl-matchs .hdl-match-add b {
  margin: 0 6px;
}
.weixin-mp .weixin-mp-handler .wxmh-hdl .hdl-matchs .hdl-match-add em {
  color: rgba(255, 255, 255, 0.6);
}
.weixin-mp .weixin-mp-handler .wxmh-hdl .hdl-matchs .hdl-match-add:hover {
  background: #cccccc;
}
.weixin-mp .weixin-mp-handler .wxmh-hdl .hdl-matchs .hdl-mat {
  padding: 6px;
}
.weixin-mp .weixin-mp-handler .wxmh-hdl .hdl-matchs .hdl-mat > div {
  float: left;
}
.weixin-mp .weixin-mp-handler .wxmh-hdl .hdl-matchs .hdl-mat select,
.weixin-mp .weixin-mp-handler .wxmh-hdl .hdl-matchs .hdl-mat input {
  outline: none;
  color: #000000;
  background: #ffffff;
}
.weixin-mp .weixin-mp-handler .wxmh-hdl .hdl-matchs .hdl-mat input {
  border: 1px solid #cccccc;
}
.weixin-mp .weixin-mp-handler .wxmh-hdl .hdl-matchs .hdl-mat input:focus {
  background: #ffffcc;
  color: #000000;
  border-color: #ff8800;
}
.weixin-mp .weixin-mp-handler .wxmh-hdl .hdl-matchs .hdl-mat .key {
  padding: 4px;
}
.weixin-mp .weixin-mp-handler .wxmh-hdl .hdl-matchs .hdl-mat .val input {
  padding: 6px;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
  font-family: Monaco, Consolas, Courier New;
}
.weixin-mp .weixin-mp-handler .wxmh-hdl .hdl-matchs .hdl-mat .regex {
  padding: 6px;
}
.weixin-mp .weixin-mp-handler .wxmh-hdl .hdl-matchs .hdl-mat .regex i:nth-child(1n) {
  display: inline;
}
.weixin-mp .weixin-mp-handler .wxmh-hdl .hdl-matchs .hdl-mat .regex i:nth-child(2n) {
  display: none;
}
.weixin-mp .weixin-mp-handler .wxmh-hdl .hdl-matchs .hdl-mat .regex[checked] i:nth-child(1n) {
  display: none;
}
.weixin-mp .weixin-mp-handler .wxmh-hdl .hdl-matchs .hdl-mat .regex[checked] i:nth-child(2n) {
  display: inline;
}
.weixin-mp .weixin-mp-handler .wxmh-hdl .hdl-matchs .hdl-mat .mat-del {
  float: right;
}
.weixin-mp .weixin-mp-handler .wxmh-hdl .hdl-matchs .hdl-mat .mat-del:hover {
  color: #FF0;
  text-decoration: underline;
}
.weixin-mp .weixin-mp-handler .wxmh-hdl .hdl-matchs .hdl-mat:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.weixin-mp .weixin-mp-handler .wxmh-hdl .hdl-matchs .hdl-mat:hover {
  background: #cccccc;
}
.weixin-mp .weixin-mp-handler .wxmh-hdl .hdl-context {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  padding: 12px;
}
.weixin-mp .weixin-mp-handler .wxmh-hdl .hdl-context span {
  cursor: pointer;
}
.weixin-mp .weixin-mp-handler .wxmh-hdl .hdl-context span i {
  width: 14px;
  vertical-align: middle;
}
.weixin-mp .weixin-mp-handler .wxmh-hdl .hdl-context span i:nth-child(1n) {
  display: inline-block;
}
.weixin-mp .weixin-mp-handler .wxmh-hdl .hdl-context span i:nth-child(2n) {
  display: none;
}
.weixin-mp .weixin-mp-handler .wxmh-hdl .hdl-context span b {
  margin: 0 6px;
  display: inline-block;
  vertical-align: middle;
}
.weixin-mp .weixin-mp-handler .wxmh-hdl .hdl-context span[checked] i:nth-child(1n) {
  display: none;
}
.weixin-mp .weixin-mp-handler .wxmh-hdl .hdl-context span[checked] i:nth-child(2n) {
  display: inline-block;
}
.weixin-mp .weixin-mp-handler .wxmh-hdl .hdl-command {
  padding: 6px;
}
.weixin-mp .weixin-mp-handler .wxmh-hdl .hdl-command textarea {
  width: 100%;
  resize: none;
  padding: 8px;
  outline: none;
  font-family: Monaco, Consolas, Courier New;
  color: #000000;
  background: #ffffff;
  border: 1px solid #cccccc;
}
.weixin-mp .weixin-mp-handler .wxmh-hdl .hdl-command textarea:focus {
  background: #ffffcc;
  color: #000000;
  border-color: #ff8800;
}
.weixin-mp .weixin-mp-handler .wxmh-hdl-add {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  padding: 8px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #d0d0d0;
  cursor: pointer;
}
.weixin-mp .weixin-mp-handler .wxmh-hdl-add:hover {
  background: #cccccc;
}
.weixin-mp .form .form-body-wrapper,
.weixin-mp .form .form-group {
  height: 100%;
}
.weixin-mp .form .fg-title {
  margin: 0;
}
.weixin-mp .form .ff-txt {
  padding: 12px 6px 6px 6px;
}
.weixin-mp .form .wx-mp-handlers {
  position: relative;
}
.weixin-mp .form .wx-mp-handlers .fg-fields {
  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
  bottom: 0;
}
.weixin-mp .form .wx-mp-handlers .form-fld,
.weixin-mp .form .wx-mp-handlers .ff-val,
.weixin-mp .form .wx-mp-handlers .ffv-ui {
  height: 100%;
}
.weixin-mp .form .com-checklist ul {
  height: 200px;
  overflow: auto;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.weixin-mp .form .com-checklist ul li {
  white-space: nowrap;
}
