@import "../../../../core/css/mdcss/md";

@task-h: 48px;

.ext-project {
  width: 100%;
  height: 100%;
  position: relative;

  .project-tabs {
  }

  .project-info {
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
  }

  @t-border: 1px solid rgba(0, 0, 0, 0.13);

  .project-task-container {
    min-height: 64px;
    margin: 16px;
    padding: 8px;
    position: relative;
  }

  .project-task-title {
    width: 100%;
    height: 48px;
    line-height: 48px;

    span {
      display: block;
      float: left;
      padding-right: 8px;
      font-size: @font-size-h4;
    }

    em {
      display: block;
      float: left;
      min-width: 30px;
      padding: 0px 8px;
      height: 20px;
      margin-top: 12px;
      border-radius: 10px;
      line-height: 20px;
      text-align: center;
      color: @white;
      background-color: @primary-1-color;

      &.err {
        background-color: @accent-2-color;
      }
    }

  }

  .project-task {
    display: block;
    width: 100%;
    height: @task-h + 16;
    position: relative;
    padding: 8px 0;
    border-bottom: @t-border;

    &:last-child {
      border-bottom: none;
    }

    .task-name {
      float: left;
      width: 20%;
      height: @task-h;
      line-height: @task-h;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 1.1em;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .task-detail {
      float: left;
      width: 40%;
      height: @task-h;

      .task-priority, .task-level {
        float: left;
        width: 50%;
        height: @task-h /2;
        line-height: @task-h /2;
        padding: 0 2px;
      }

      .task-description {
        float: left;
        width: 100%;
        height: @task-h /2;
        line-height: @task-h /2;
        padding: 0 2px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

    }

    @progress-color: rgba(0, 128, 0, 0.9);

    .task-progress {
      float: left;
      width: 20%;
      line-height: @task-h;
      height: @task-h;
      padding: 0 2px;
      text-align: center;
      position: relative;
      border: 1px solid @progress-color;
      border-radius: 2px;

      .task-progress-tip {
        width: 100%;
        height: 100%;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 1.2em;
        color: @accent-2-color;
      }

      .task-progress-bar {
        width: 100%;
        height: 100%;
        background: @progress-color;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .dead-line {
      float: left;
      width: 20%;
      height: @task-h;

      .dl-left, .dl {
        float: left;
        width: 100%;
        text-align: center;
        height: @task-h /2;
        line-height: @task-h /2;
        padding: 0 2px;
      }
    }
  }

}

@media screen {
  @media (max-width: 600px) {
    .ext-project {
      .project-task {
        width: 100%;

        .task-name {
          width: 40%;
        }

        .task-detail {
          display: none;
        }

        .task-progress {
          width: 30%;
        }

        .dead-line {
          width: 30%;
        }
      }
    }

  }
}

