@import "skin_vars";

/***************************************************
 * 定义变量
 */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@clr : {
    content:"";
    display:block;
    height:0;
    clear:both;
};


@flex   : {display: -webkit-flex; display: flex;};
@flexWrap : {@flex(); flex-wrap:wrap;};

@f_fixed : Monaco, Menlo, Consolas, Courier New, Courier, monospace;

@thumb_section: {
    background: rgba(0,0,0,0.6); color:#FFF;
    text-shadow: 1px 1px 1px #000; text-align: center;
    bottom:0; left:0; right:0; font-size:.12rem;
    line-height: .2rem; padding:0; position: absolute;
};

// "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace

/***************************************************
 * 自适应布局
 */
html {
    font-size: 100px; height: 100%;
}

/***************************************************
 * 开始设置
 */

// 重置导航菜单里面的 UL 样式
.hmc-navmenu {
    ul {list-style:none; margin:0; padding:0;}
}

body {
    background: #FFF; font-size:@f_0; min-height: 100%;
}

a[href]{color:@lnk_c; text-decoration: none;}
a[href]:hover{color:@lnk_ho_c; text-decoration: underline;}

@media screen and (min-width: @M_dev_w) {
    .hmc-navmenu a > i {margin-right:.04rem;}
} // @media
@media screen and (max-width: @M_dev_w) {
    .hmc-navmenu a > i {margin-right:.08rem; font-size: 1.2em;}
} // @media

/***************************************************
 * 针对控件的样式
 */
//............................................
// com.rows:页眉
@media screen and (min-width: @M_dev_w) {
.skin-rows-sky {
    padding:.1rem 0 .1rem 0;
    > .hm-area {
        max-width: @D_page_maxW; margin:0 auto;
    }
}
} // @media
@media screen and (max-width: @M_dev_w) {
.skin-rows-sky {
    background: @M_skybar_cb; color:@M_skybar_cf;
}
} // @media

//............................................
// com.rows:展示区
.skin-rows-bann {
    border-top:2px solid @h_b_c;
    border-bottom:2px solid @h_b_c;
    height:3.5rem;
}

//............................................
// com.rows:页面主体
@media screen and (min-width: @M_dev_w) {
.hm-com-rows[skin="skin-rows-main"] {
    max-width: @D_page_maxW; margin: 0 auto;
}
} // @media
@media screen and (max-width: @M_dev_w) {
    .hm-com-rows[skin="skin-rows-main"] {
        margin: 0 .08rem;
    }
} // @media

//............................................
// com.rows:页脚
.skin-rows-footer {
    padding:.1rem 0 .1rem 0;
    background: @foot_b_c; color:@foot_f_c;
    border-top: 2px solid @h_b_c;
    .skin-navmenu-mc {
        ul li[current]{
            > a {color:@foot_h_f_c;background: @foot_h_b_c; }
        }
    }
    a[href]{color:@foot_lnk_c;}
    a[href]:hover{color:@foot_lnk_ho_c;}
}
@media screen and (min-width: @M_dev_w) {
.skin-rows-footer {
    > .hm-area {
        max-width: @D_page_maxW; margin:0 auto;
    }
}
} // @media
@media screen and (max-width: @M_dev_w) {
.skin-rows-footer {
    .skin-navmenu-mc {
        @flex(); justify-content:center; text-align: center;
    }
}
} // @media

//............................................
// com.navmenu:主菜单
@media screen and (min-width: @M_dev_w) {
.skin-navmenu-0 {
    font-size: @D_menu_f;
    .ul-top {@flex();}
    .li-top {
        padding:0 .04rem;
        > a {display: block;padding: .08rem; border-radius: .04rem; } 
    }
    .li-top[current] a {
        color:@h_f_c;background: @h_b_c; 
    }
}
.skin-navmenu-0[sa-align="WS"] {
    .ul-top {align-items:flex-end;}
}
.skin-navmenu-0[sa-align="S"] {
    .ul-top {align-items:flex-end; justify-content:center;}
}
.skin-navmenu-0[sa-align="ES"] {
    .ul-top {align-items:flex-end; justify-content:flex-end;}
}
.skin-navmenu-0[sa-align="P"] {
    .ul-top {align-items:center; justify-content:center;}
}
} // @media
@media screen and (max-width: @M_dev_w) {
// 在线的
.skin-navmenu-0 {
    font-size: @M_menu_f;
    .ul-top { transition:.3s;
        position: fixed; top:0; bottom:0; left:@M_menu_w * -1; width:@M_menu_w;
        background: @M_menu_cb; color:@M_menu_cf;
        z-index: 100; padding:.16rem 0; line-height: .48rem;
        .li-top > a {
            color:@M_menu_cf; display: block; text-align: center;
        }
        .li-top > a:hover {color:@M_menu_cf;}
        .li-top[current] a {
            color:@h_f_c;background: @h_b_c; 
        }
    }
}
.skin-navmenu-0[show] {
    .ul-top {left:0; box-shadow: .06rem 0 .2rem rgba(0,0,0,0.4);}
}
// 给 IDE 做的
[hmaker-ide] {
    .skin-navmenu-0 {
        display: inline-block;
        .ul-top {display: none; left:0; box-shadow: .06rem 0 .2rem rgba(0,0,0,0.4);}
    }
    .skin-navmenu-0:before {
        display: block; content:"Menu";
        width: .5rem; height:.4rem; line-height: .38rem;
        text-align: center;
        margin:.02rem; border:.01rem dashed rgba(0,0,0,0.4);
        background: rgba(255,255,255,0.6); color:rgba(0,0,0,0.4);
        border-radius: .08rem;
    }
    .hm-com-navmenu[hm-actived] {
        .hmc-ai[m="H"]{z-index: 101;}
        .ul-top {display: block;}
    }
}
} // @media

//............................................
// com.navmenu:多栏菜单
.skin-navmenu-mc {
    ul li[current]{
        > a {color:@h_f_c;background: @h_b_c; }
    }
}
@media screen and (min-width: @M_dev_w) {
.skin-navmenu-mc {
    font-size: @D_menu_f; padding:.1rem 0;
    li {margin:0; text-align: center;}
    li[open-sub]{
        > .ul-sub {display: block;}
    }
    .ul-top {@flex();}
    .li-top {flex:1 1 auto; padding:.08rem .12rem;
        > a {font-weight: bold;}
    }
    .li-sub {padding:.04rem 0;}
    .ul-sub {padding-top:.08rem;}
    .ul-sub-n {display: none;}
}
} // @media
@media screen and (max-width: @M_dev_w) {
.skin-navmenu-mc {
    font-size: @M_menu_f; padding:.1rem 0;
    .ul-top {padding:.1rem; display: inline-block;}
    .li-top {padding:.1rem;}
    .ul-sub {padding:.1rem;}
    .li-sub {padding:.08rem;}
    .ul-sub-n {display: none;}
}
} // @media


//............................................
// com.image:主菜单触发LOGO
@media screen and (min-width: @M_dev_w) {
.skin-image-mtlogo {
    img {height:.6rem;}
}
} // @media
@media screen and (max-width: @M_dev_w) {
.skin-image-mtlogo {
    width:.5rem; height:.5rem; cursor: pointer; 
    @flex(); align-items:center; justify-content:center;
    color:@sky_title_c;
    img {display: none;}
}
.skin-image-mtlogo:before{
    font-family:'Material-Design-Iconic-Font'; display: inline; content:"\f197";
}
} // @media

//............................................
// com.image:缩略图
.hm-com-image[skin="skin-image-thumb"]{
    margin:@thumb_margin; vertical-align: middle;
}
.skin-image-thumb {
    width:@thumb_w; height:@thumb_h; border-radius: @thumb_r;
    border:@thumb_l solid @thumb_lc; cursor: pointer;
    img {width:100%; height:100%;}
    section {@thumb_section();}
}
.hm-com-image[skin="skin-image-thumb"][href] {
    section {opacity: 0.6;}
}
.hm-com-image[skin="skin-image-thumb"][href]:hover {
    section {opacity: 1;}
}
//............................................
// com.text:页眉标题
.skin-text-skytitle {
    font-size:.22rem; font-weight: bold; color:@sky_title_c;
    padding:0 .06rem;
}

//............................................
// com.dynamic:超文本(Markdown)
// com.text:超文本(Markdown)
.skin-markdown {
    padding: 0 .2rem;
    // 标题
    > header.md-title {
        font-size:@ar_title_f; color:@ar_title_c;
        font-weight: bold;
        padding:.1rem; text-align: center;
        border-bottom:1px solid rgba(0,0,0,0.2);
    }

    // 文章信息
    > aside.md-info {
        margin:.2rem; font-size:@ar_brief_f; color:@ar_brief_c; text-align: center;
        > span {margin:0 .04rem;}
        > span.mdi-author {color:@ar_bold_c;}
        > span.mdi-source {color:@ar_italic_c;}
        > span.mdi-pubat {color:@ar_italic_c;}
    }

    // 文章摘要
    > div.md-brief {
        padding:.2rem; font-size:@ar_brief_f; color:@ar_brief_c;
        margin:.2rem; background: @ar_brief_b;
        border: @ar_brief_l;
        text-align: left;
    }

    // 正文内容
    > article.md-content {
        padding: 0 0 .3rem 0; margin-top:.3rem;
        letter-spacing:.03em; color:@ar_txt_c;
        // 重定义字体大小
        table, thead, tbody, tr, th, td {
            font-size:1em; color:@ar_tab_c;
        }
        
        // 链接
        a {color:@lnk_c; text-decoration: none;}
        a:hover {color:@lnk_ho_c; text-decoration: underline;}
        
        // ------------------------- 标题
        h1 {margin:.20rem 0; padding:.08rem 0; font-size:1.6em;}
        h2 {margin:.16rem 0; padding:.06rem 0; font-size:1.5em;}
        h3 {margin:.12rem 0; padding:.04rem 0; font-size:1.4em;}
        h4 {margin:.10rem 0; padding:.02rem 0; font-size:1.3em;}
        h5 {margin:.08rem 0; padding:.02rem 0; font-size:1.2em;}
        h6 {margin:.04rem 0; padding:.02rem 0; font-size:1.1em;}
        // ------------------------- 段落及正文
        p {margin:.22rem 0; line-height: .32rem;}
        p[md-img-only] {
            text-align: center;
            img{
                border:1px solid rgba(0,0,0,0.2);
                margin:.1rem 0;
                box-shadow: .02rem .02rem .04rem rgba(0,0,0,0.4);
            }
        }
        em {font-style: italic; color:@ar_italic_c;}
        b {color:@ar_bold_c; font-weight: bold;}
        del {color:@ar_del_c;}
        code {
            border:1px solid #CCC; background: #FFC; color:#666;
            display: inline-block; vertical-align: middle;
            margin:.02rem .02rem .06rem .02rem; font-size:.8em; line-height: .24rem;
            padding:0 .04rem; font-family: @f_fixed;
            border-radius: .04rem;
        }
        // ------------------------- 图片
        img {max-width: 100%;}
        // ------------------------- 引用
        blockquote {
            border-left:4px solid rgba(0,0,0,0.1); line-height: 2em;
            margin:.1rem; padding:.1rem; font-size:.8em;
            color:#666; background: rgba(0,0,0,0.05);
            text-align: left;
        }
        // ------------------------- 无序列表
        ul, ol {
            margin:.1rem 0 .3rem .2rem; 
            padding:.16rem .06rem .16rem .16rem;
            line-height: .32rem;
        }
        ul, ol {
            ul, ol {
                padding:.05rem 0 .16rem .05; margin:0 .24rem;
            }
        }
        // ------------------------- 表格
        table {
            border-spacing: 0; border-collapse: collapse;
            margin:.2rem .1rem;
        }
        td, th {
            border:1px solid #dfe2e5; padding:.08rem .16rem;
            font-family: -apple-system, BlinkMacSystemFont, 
                        "Segoe UI", Helvetica, Arial, 
                        sans-serif, "Apple Color Emoji", 
                        "Segoe UI Emoji", "Segoe UI Symbol";
        }
        th {font-weight: bold;}
        
        // ------------------------- 代码
        pre {
            padding: .16rem; margin:.1rem;
            overflow: auto; border: 1px dashed rgba(0,0,0,0.4);
            font-size: .7em; line-height: 1.5em;
            background-color: #F0F0F0; border-radius: 3px;
            font-family: @f_fixed; 
            text-align: left;
        }

    } // ~ 结束正文 article
}

//............................................
// 区域: 对齐方式
.skin-area-align-NW > .hm-area-con{}
.skin-area-align-N  > .hm-area-con{@flexWrap(); justify-content:center}
.skin-area-align-NE > .hm-area-con{@flexWrap(); justify-content:flex-end;}
.skin-area-align-W  > .hm-area-con{@flexWrap(); align-items:center;}
.skin-area-align-P  > .hm-area-con{@flexWrap(); align-items:center; justify-content:center;}
.skin-area-align-E  > .hm-area-con{@flexWrap(); align-items:center; justify-content:flex-end;}
.skin-area-align-SW > .hm-area-con{@flexWrap(); align-items:flex-end;}
.skin-area-align-S  > .hm-area-con{@flexWrap(); align-items:flex-end; justify-content:center;}
.skin-area-align-SE > .hm-area-con{@flexWrap(); align-items:flex-end; justify-content:flex-end;}
//............................................
// 区域: 紧贴
.hm-com-columns > .hm-com-W > .hmc-columns > .skin-area-nogrow,
.hm-com-rows > .hm-com-W > .hmc-columns > .skin-area-nogrow {flex:0 0 auto;}

//............................................
// 模板（wn_list_th_thumb）
.skin-list-th-thumb {
    > a {
        margin:@thumb_margin; display: inline-block; vertical-align: middle;
        width:@thumb_w; height:@thumb_h; border-radius: @thumb_r;
        border:@thumb_l solid @thumb_lc; position: relative;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        section {@thumb_section();}
    }
    a[href] {
        cursor: pointer;
        section {opacity: 0.6;}
    }
    a[href]:hover {
        section {opacity: 1;}
    }
}

//............................................
// 模板（wn_list_th_article）
.skin-list-th-article {
    padding: .08rem; font-size:.16rem;
    .wn-li-article {@flex(); border:0;}
    .wla-thumb {
        display: block; flex:0 0 auto; margin:0 .12rem 0 0; cursor: pointer;
        background-repeat: no-repeat; background-position: center center;
        background-size: cover; background-color:#000;
    }
    .wla-info {flex:1 1 auto; list-style: none; padding: 0; margin: 0;}
    .wla-ih a {
        text-decoration:none; color:#08F; cursor: pointer;
        font-size:1.3em;
    }
    .wla-ih a:hover {text-decoration:underline;;}
    .wla-is{font-size:.8em; color:#AAA;}
    .wla-ii {
        font-size:.8em; color:#888;
        em {font-style:normal;}
        u  {text-decoration:none;}
        b  {font-weight: normal;}
    }

    // 默认显示模式
    .wn-li-article {padding:.12rem .06rem;}
    .wla-thumb {
        border:3px solid #AAA; border-radius:.16rem;
        width:1.2rem; height:1.2rem;
    }
    .wla-info {position: relative; padding-bottom:1em;}
    .wla-is {padding:.08rem 0;}
    .wla-ii {position: absolute; bottom:.02rem; left:0; right: 0;}

    // 分隔线
    .wn-li-article {border-top:1px dashed rgba(0,0,0,0.2);}
    .wn-li-article:first-child {border:0;}
}
