//#全局设置
@f_0         : .18rem;     // 默认文字大小
@lnk_c       : #08F;       // 链接颜色
@lnk_ho_c    : #F80;       // 链接悬浮颜色
@h_f_c       : #000;       // 高亮区前景色
@h_b_c       : #f9c320;    // 高亮区背景色

//#页眉设定
@sky_title_c  : #444;       // 网站标题颜色

//#页脚设定
@foot_f_c    : rgba(255, 255, 255, 0.4);    // 底栏文字颜色
@foot_b_c    : #34373e;                     // 底栏背景颜色
@foot_lnk_c  : rgba(255, 255, 255, 0.8);    // 底栏链接颜色
@foot_lnk_ho_c : #FF0;                      // 底栏链接悬浮颜色
@foot_h_f_c  : #34373e;                     // 底栏高亮前景色
@foot_h_b_c  : rgba(255, 255, 255, 0.4);    // 底栏高亮背景

//#文章设定
@ar_txt_c       : #444;               // 普通文字颜色
@ar_tab_c       : #666;               // 表格文字颜色
@ar_bold_c      : #000;               // 加粗文字颜色
@ar_italic_c    : rgba(0,0,0,0.6);    // 斜体文字颜色
@ar_del_c       : rgba(0,0,0,0.6);    // 删除线文字颜色

//#缩略图
@thumb_l   : .04rem;            // 边框宽度
@thumb_lc  : rgba(0,0,0,0.4);   // 边框颜色
@thumb_w   : 1.3rem;            // 宽度
@thumb_h   : 1.3rem;            // 高度
@thumb_r   : .04rem;            // 圆角半径
@thumb_margin : .1rem;          // 间距半径

//#桌面版相关设置
@D_page_maxW : 800px;      // 页面最大宽度
@D_menu_f    : .14rem;     // 导航菜单文字大小

//#移动版相关设置
@M_dev_w     : 640px;      // 设备屏幕宽度
@M_menu_w    : 180px;      // 菜单宽度
@M_skybar_cf : #444;       // 顶栏文字颜色
@M_skybar_cb : #f9c320;    // 顶栏背景
@M_menu_cf   : #FFF;       // 菜单文字颜色
@M_menu_cb   : #34373e;    // 菜单背景
@M_menu_f    : .18rem;     // 导航菜单文字大小