//#全局设置
@w_C_dev     : 640px;      // 紧凑模式屏幕宽度
@c_title     : #444;       // 网站标题颜色
@c_lnk       : #08F;       // 链接颜色
@c_lnk_ho    : #F80;       // 链接悬浮颜色
@c_h_f       : #000;       // 高亮区前景色
@c_h_b       : #f9c320;    // 高亮区背景色
@f_0         : .18rem;     // 默认文字大小
@c_foot_f    : rgba(255, 255, 255, 0.4);    // 底栏文字颜色
@c_foot_b    : #34373e;                     // 底栏背景颜色
@c_foot_lnk  : rgba(255, 255, 255, 0.8);    // 底栏链接颜色
@c_foot_lnk_ho : #FF0;                      // 底栏链接悬浮颜色
@c_foot_h_f  : #34373e;                     // 底栏高亮前景色
@c_foot_h_b  : rgba(255, 255, 255, 0.4);    // 底栏高亮背景

@c_txt       : #444;               // 普通文字颜色
@c_tab       : #666;               // 表格文字颜色
@c_bold      : #000;               // 加粗文字颜色
@c_italic    : rgba(0,0,0,0.6);    // 斜体文字颜色
@c_del       : rgba(0,0,0,0.6);    // 删除线文字颜色

@w_thumb   : .04rem;             // 缩略图边框宽度
@c_thumb   : rgba(0,0,0,0.4);    // 缩略图边框颜色

//#桌面版相关设置
@w_N_pmax    : 800px;      // 页面最大宽度
@f_N_menu    : .14rem;     // 导航菜单文字大小

//#移动版相关设置
@w_C_menu    : 180px;      // 菜单宽度
@c_skybar_f  : #444;       // 顶栏文字颜色
@c_skybar_b  : #f9c320;    // 顶栏背景
@c_menu_f    : #FFF;       // 菜单文字颜色
@c_menu_b    : #34373e;    // 菜单背景
@f_C_menu    : .18rem;     // 导航菜单文字大小