* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.slidebar {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 99999;
  background: rgba(200, 200, 200, 0.4);
  margin: 1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}
.slidebar .slidebar-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.slidebar .slidebar-wrapper > div {
  position: absolute;
}
.slidebar * {
  position: default;
}
.slidebar[pointer-moving] .sb-change-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background: #000;
  opacity: 0;
  cursor: pointer;
}
.slidebar[mode="vertical"] {
  width: 32px;
}
.slidebar[mode="vertical"] .sb-bg-0 {
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
}
.slidebar[mode="vertical"] .sb-bg-1 {
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  border-left: 1px solid rgba(255, 255, 255, 0.8);
}
.slidebar[mode="vertical"] .sb-ruler {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
.slidebar[mode="vertical"] .sb-ruler > div {
  flex: 0 0 auto;
  height: 0;
  width: 40%;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.slidebar[mode="vertical"] .sb-ruler > div:first-child,
.slidebar[mode="vertical"] .sb-ruler > div:last-child {
  visibility: hidden;
}
.slidebar[mode="vertical"] .sb-pointer {
  cursor: pointer;
  bottom: 23px;
  left: 0;
  right: 0;
}
.slidebar[mode="vertical"] .sb-pointer:before {
  display: block;
  margin: 0 auto;
  content: "";
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 1px 1px 3px #000;
  border-radius: 100px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.slidebar[mode="horizontal"] {
  height: 32px;
}
