<div class="hm-th-obj">
    <ul>
        <li t-key="aaa" as="text" class="hahaha"><em>empty</em></li>
        <li t-key="bbb" as="img"></li>
        <li t-key="ccc" as="html"><b>Haha</b></li>
        <li t-key="ddd" as="sub:eq">
            <span for="true">是</span>
            <span for="false">否</span>
        </li>
        <li t-key="eee" as="sub:loop">
            <img src="/o/read/id:${item}">
        </li>
    </ul>
</div>