.ui-olist > .ui-arena {
  padding: 0px;
  overflow: auto;
  border-right:0px solid #ccc;
}
.olist-item {
  padding: 12px 5px 12px 15px;
  cursor: pointer;
  font-size: 14px;
}
.olist-item [tp] {
  margin: 0 2px;
  width: 1.1em;
}
.olist-item [tp=icon] {
  margin-right: 6px;
}
.olist-item-actived {
  background: #424242;
  color: #FFF;
}
