@import (reference) "../ui";

.ui-olist>.ui-arena {padding:20px; overflow: auto;}

.olist-item {padding:8px; cursor:pointer; font-size: @f_small;}
.olist-item [tp] {margin:0 2px; width:1.1em;}
.olist-item [tp=icon] {margin-right:6px;}

.olist-item-actived {background: #08F; color:#FFF;}