.ui-olist>.ui-arena {padding:20px;}

.olist-item {padding:8px; cursor:pointer;}
.olist-item [tp] {margin:0 2px; width:1.1em;}
.olist-item [tp=icon] {margin-right:6px;}

.olist-item-actived {background: #08F;}