@import (reference) "../ui";

@pT : 32px;
@pB : 48px;

.pop {
    width:100%; height:100%; position: relative;
    > * {position: absolute; left: 0; right: 0;}
    .pm-title {@noselect();
        top:0; height:@pT; line-height: @pT; padding:0 @d4;
        text-align: center; font-size: @f3;
        border-bottom: 1px solid @cborder1;
    }
    .pm-body {
        top:@pT; bottom:@pB;
        background: @cb0;

        .ui-quartz {
            padding:@d3;
        }
    }
    .pm-btns {@noselect();
        bottom:0; height:@pB;
        border-top: 1px solid @cborder1;
        text-align: right; padding:@d3;
        .pm-btn {@btn();}
        .pm-btn:hover{@btn_hover();}
    }
}