* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clr {
    clear: both;
    height: 1px;
    line-height: 1px;
    overflow:hidden;
}

.clr-after {
    .clr;
    display:block;
    content:"";
}

body {
    font-family: arial, sans-serif;
    font-size: 12px;
}

font, td, form, p{
    font-family: arial, sans-serif;
    font-size: 1rem;
}

@link-color : #0457ad;
@link-hover : #FF3300;
a       {color:@link-color; text-decoration:none;}
a:hover {color:@link-hover; text-decoration:underline;}
