/* 所有 hmaker 生成的网页都要引入这个 css 作为统一的样式规范*/

@noselect : {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;  
};

@clr : {
    content:"";
    display:block;
    height:0;
    clear:both;
};

//............................................................
// 重定义变量
@flex : {
    display: -webkit-flex;
    display: flex;
};
@flexWrap : {@flex(); flex-wrap:wrap;};

@d0 : .02rem;
@d1 : .04rem;
@d2 : .06rem;
@d3 : .08rem;
@d4 : .12rem;
@d5 : .16rem;
@d6 : .24rem;
@d7 : .32rem;
@d8 : .48rem;
@d9 : .64rem;
@da : .96rem;
@db : 1.28rem;

@f0 : .08rem;
@f1 : .10rem;
@f2 : .12rem;
@f3 : .14rem;
@f4 : .16rem;
@f5 : .24rem;
@f6 : .32rem;
@f7 : .48rem;
@f8 : .64rem;

// TODO 下面四个是不是要抛弃掉？
@cborder0      : #CCC;        // 主要边框颜色
@cborder1      : #D0D0D0;     // 次要边框颜色
@chx_b         : #080;        // 补充高亮元素背景色
@chx_f         : #FFF;        // 补充高亮元素前景色

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* 清除浮动 */
.cf:before, .cf:after {content:"";display:block;}
.cf:after {clear: both;}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  height: 100%;
  font-size:100px;
}

//............................................................
// 重新定义各个元素的样式
html {font-size: 100px; height: 100%;}
body {margin: 0; font-size:@f4; height:100%;}
a[href]{cursor: pointer;}
ul, ol {list-style: none; margin:0; padding:0;}

.hm-com[auto-wrap-width]  {
    > .hm-com-W {width: 100%;}
    > .hm-com-W > div {width:100%;}
}
.hm-com[auto-wrap-height] {
    > .hm-com-W {height:100%;}
    > .hm-com-W > div {height:100%;}
}
.hm-com {outline:none;}

// COM 元素下的子元素通常是表示 .ui-arena，当然这个选择器会被去掉
// 那么这个元素需要被设定 relative，以便重载绝对浮动的元素
.hm-com>* {position: relative;}

// 绝对定位控件应该覆盖在其他控件之上
.hm-com[hmc-mode="abs"],
.hm-com[hmc-mode="fix"] {
    z-index: 1;
}

/**
 * 控件: image
 */
.hm-com-image {display: inline-block; vertical-align: bottom;}
.hmc-image { @noselect(); color:#FFF; 
    position: relative; overflow: hidden; text-decoration: none;
    img {border:0; display:block; vertical-align: bottom;}
    section {
        position: absolute;padding:.08rem;
        bottom:0; left:0; right:0;
        text-align: center; letter-spacing: .2em;
        article.md-content p {
            margin:.05rem 0;
        }
    }
}
.hmc-image[tpos="center"] section{
    top:0;bottom:0;left:0;right:0;
    @flex(); flex-wrap:wrap; align-items:center;
    justify-content: center;
}
.hmc-image[tpos="top"]  section{top:0;left:0;right:0;}
.hmc-image[tpos="bottom"]  section{bottom:0;left:0;right:0;}

.hmc-image[hover-show] {
    section{opacity: 0; transition: opacity .5s;}
    &:hover {
        section{opacity: 1;}
    }
}
/**
 * 控件: video
 */
.hm-com-video {
    display: block;
}
.hmc-video { @noselect();
    .hmc-video-con {
        background: #000; 
        video {
            max-width: 100%; border:0;
            display: block; vertical-align: bottom;
            object-fit: contain;
        }
        div.hmcv-s-blank {
            @flex(); opacity: 1; font-size:.32rem; 
        }
    }
}
.z-video-con {
    display: block; vertical-align: bottom;
    position: relative;
    .z-video-ctrl {
        transition: 0.5s; opacity: 0;
        position: absolute; top:0;left:0;right:0;bottom:30px;
        @flex();
        justify-content: center; align-items: center;
        font-size:.5rem; color:rgba(255,255,255,0.6);
        cursor: pointer; 
        &:hover{opacity: 1;}
        b {
            display: block; padding:.1rem;
            background:rgba(0,0,0,0.4); color:rgba(255,255,255,0.8);
            border:1px solid rgba(255,255,255,0.8);
            border-radius: 50%;
            font-size:.3rem; width:.5rem; height:.5rem;
            @flex(); justify-content: center; align-items: center;
        }
        &[st="loading"] {
            opacity: 1;
            b {border:0;}
        }
        &[st="playing"]:hover {opacity: 1;}
        &[st="pause"] {
            opacity: 1;
            b {padding-left:.15rem;}
        }
        &[st="ended"] {opacity: 1;}
    }
}
/**
 * 控件: text
 */
.hmc-text {}

/**
 * 控件: 布局
 */
.hm-layout[toggle-on] {
    > .hm-com-W > .ui-arena {
        > .hm-area[toggle-mode="hide"] {display: none;}
    }
}
.hm-area {
    position: relative;
    > .hm-area-con {position: relative;}
    &[area-align="NW"] > .hm-area-con{@flexWrap(); justify-content:flex-start;}
    &[area-align="N"]  > .hm-area-con{@flexWrap(); justify-content:center;}
    &[area-align="NE"] > .hm-area-con{@flexWrap(); justify-content:flex-end;}
    &[area-align="W"]  > .hm-area-con{@flexWrap(); align-items:center;}
    &[area-align="P"]  > .hm-area-con{@flexWrap(); align-items:center; justify-content:center;}
    &[area-align="E"]  > .hm-area-con{@flexWrap(); align-items:center; justify-content:flex-end;}
    &[area-align="SW"] > .hm-area-con{@flexWrap(); align-items:flex-end;}
    &[area-align="S"]  > .hm-area-con{@flexWrap(); align-items:flex-end; justify-content:center;}
    &[area-align="SE"] > .hm-area-con{@flexWrap(); align-items:flex-end; justify-content:flex-end;}
}

/**
 * 控件: columns
 */
.hmc-columns {
    @flex();
    > .hm-area {
        flex:1 1 auto; @flex();
        > .hm-area-con {flex: 1 1 auto; }
    }
}

/**
 * 控件: navmenu
 */
.hmc-navmenu {
    li a i {margin:0 .04rem;}
    li a span em {font-style: normal;}
    li a span img {vertical-align: middle;}
    li[li-multi] a span em {display: block;}
    li[icon="hide"] > a i {display: none;}
    li[icon="show"] > a i {display: inline;}
    li[text="hide"] > a span {display: none;}
    li[text="show"] > a span {display: inline;}
}
.hm-com[ctype="navmenu"][auto-wrap-height] .ul-top{height:100%;}
.hm-com[ctype="navmenu"][auto-wrap-width]  .ul-top{width:100%;}

/**
 * 控件: Text
 */

/**
 * 控件: Dynamic
 */
.hm-com-dynamic {
    .msg-error {
        color:#F00; padding:@d6; text-align: center;
    }
    .msg-info {
        color:#CCC; padding:@d4; text-align: center;
    }
}

/**
 * 控件: Searcher
 */
.hmc-searcher {
    @flex(); padding:@d1; position: relative;
    .kwd-input {
        flex:1 1 auto;
        input {width:100%; outline: none; font-size: @f3; padding:@d2}
    }
    .kwd-btn {
        flex:0 0 auto; padding:1px;
        b {
            display: block; cursor: pointer;
            padding:@d2 @d4; font-size:@f3; border:1px solid @cborder1;
        }
    }
    ul.search-tip {
        z-index: 99;
        background:#FFF; color:#888; 
        border:1px solid rgba(30,30,30,0.6);
        padding:0; margin:0;
        li {
            border-top:1px dashed rgba(0,0,0,0.1);
            line-height: 2.6em; cursor: pointer;
            padding:0 .1rem;
            &:first-child{border:0};
            &:hover,
            &[current]{
                background:rgba(0,0,0,0.06);
            }
            em {
                font-weight: bold; color:#003; font-style: normal;
                margin:0 .1em;
            }
        }
    }
}

/**
 * 控件: Filter
 */
.hmc-filter {
    padding:@d3;
    .hmcf-fld {
        @flex(); border-bottom:1px dashed #DDD;
        > * {padding:@d2; margin: 0;}
    }
    .hmcf-fld:last-child {border:0;}
    .hmcf-folder {display: none; border-top:1px dashed #DDD;}
    .fld-info {
        flex:0 0 auto; min-width: 1rem; 
        em {
            cursor: pointer; font-style: normal; color:#AAA; 
            margin:@d2 0; display: inline-block;
        }
        em:after {display: inline; content: ":";}
    }
    .fld-items {flex:1 1 auto;}
    ul {list-style: none; padding:0; margin:0;}
    ul:after {@clr();}
    li {float: left; padding:@d1; margin:@d0; cursor: pointer;}
    li[it-checked] {background: #000; color:#FFF;}
    li em {display: none; vertical-align: middle; padding:0 4px;}
    li em i{
        display: inline-block; cursor: pointer;
        font-family:'Material-Design-Iconic-Font'; font-style: normal;
    }
    li em i:before {display:inline; content:"\f279";}
    li:hover em i:before {content:"\f26b";}
    li[auto-hide] {display: none;}
    .fld-it-check {
        display:none; text-align: center; padding:@d2;
        span {display: inline-block; padding:@d1 @d2; margin:1px; cursor: pointer;}
        b {font-weight: normal;}
        .fld-it-check-ok {border:1px solid #DDD;}
    }
    // 启用了多选
    .hmcf-fld[enable-multi] {
        .fld-multi    {display: none;}
        .fld-it-check {display: block;}
        li em {display: inline-block;}
        li[multi-checked] em i:before {content:"\f26a";}
    }
    .fld-multi {
        flex:0 0 auto;
        b {
            font-weight: normal; display:inline-block; cursor: pointer;
            border:1px solid #DDD; padding: 0 4px;
        }
    }
    .fld-more {
        flex:0 0 auto; 
        b {
            font-weight: normal; display:inline-block; cursor: pointer;
            border:1px solid #DDD; padding: 0 4px;
        }
        em {font-style: normal; margin-right: 4px;}
        i {
            display: inline-block; cursor: pointer;
            font-family:'Material-Design-Iconic-Font'; font-style: normal;
        }
        b[mode="more"] i:before {content:"\f2f9";}
        b[mode="less"] i:before {content:"\f2fc";}
    }
    .hmcf-exts {
        text-align: center; border-top:1px solid #DDD; padding:@d0 0;
        b {
            display: inline-block; padding:@d0 @d4; cursor: pointer;
            border:1px solid #CCC; 
        }
    }
}
.hmc-filter[folder-show] .hmcf-folder {display: block;}
.hmc-filter[more-items-mode="auto"] .hmcf-fld[more-useless] .fld-more {visibility: hidden;}
.hmc-filter[more-items-mode="never"] .fld-more {display:none;}

/**
 * 控件: Sorter
 */
.hmc-sorter {
    ul {padding:@d1; margin: 0; list-style: none;}
    li {
        display: inline-block; padding:@d0 @d3; margin:0 1px;
        border:1px solid #CCC; cursor: pointer;
    }
    li[enabled] {
        background: @chx_b; color:@chx_f;
    }
    em {font-style: normal;}
    span[or-icon] {font-family:'FontAwesome'; margin:0 0 0 @d1; display: none;}
    span[or-icon]:before {display: inline;}
    span[or-icon="asc"]:before  {content:"\f176";}
    span[or-icon="desc"]:before {content:"\f175";}
    li[modify] span {display: inline;}
}

/**
 * 控件: Pager
 */
.hmc-pager {
    cursor: default; padding: @d1;
    .pg_ele {
        display: inline-block; padding:@d2 0; vertical-align: middle;
    }
    .pg_brief {display: none;}
    a, b {
        display: inline-block; padding:@d2; vertical-align: middle;
        margin:0 1px;
    }
    a { border:1px solid rgba(0,0,0,0.3); cursor: pointer;}
}
.hmc-pager[pager-type="button"]{}
.hmc-pager[pager-type="jumper"] .pg_nbs a { 
    display: none;
}
.hmc-pager[pager-type="jumper"][free-jump] .pg_nbs b { 
    border:1px dotted rgba(0,0,0,0.6);
}
.hmc-pager[show-brief] .pg_brief { 
    display: inline-block;
}
.hmc-pager[show-first-last="auto"][is-first-page] .pg_btn a[key="first"],
.hmc-pager[show-first-last="auto"][is-last-page]  .pg_btn a[key="last"],
.hmc-pager[show-first-last="hide"] .pg_btn a[key="first"],
.hmc-pager[show-first-last="hide"] .pg_btn a[key="last"],
{display: none;}

.hmc-pager[show-prev-next="auto"][is-first-page] .pg_btn a[key="prev"],
.hmc-pager[show-prev-next="auto"][is-last-page]  .pg_btn a[key="next"],
.hmc-pager[show-prev-next="hide"] .pg_btn a[key="prev"],
.hmc-pager[show-prev-next="hide"] .pg_btn a[key="next"],
{display: none;}
