
.ui-console {
    background: #000;
    color: #CCC;
}

.ui-console .ui-arena {
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px;
}

.ui-console * {
    font-family: Monaco, Consolas, Courier New;
    font-size: 13px;
}

.ui-console-block {
    line-height: 18px;
    margin: 0;
    word-wrap: break-word;
}

.ui-console-error {
    color: red;
}

.ui-console-block:after {
    content: "";
    clear: both;
    height: 1px;
    line-height: 1px;
    overflow: hidden;
    display: block;
}

.ui-console-prompt {
    position: relative;
}

.ui-console-prompt .ui-console-ps {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

input.ui-console-inbox {
    width: 100%;
    border: 0;
    outline: none;
    background: rgba(255, 255, 255, 0);
    color: #CCC;
    margin-left: -1px;
}

.ui-console-block[objs-mode=short] .ui-console-obj {
    display: inline-block;
    vertical-align: middle;
    min-width: 100px;
    margin: 0 10px;
}

.ui-console-obj-DIR {
    color: #52c7e5;
}

.ui-console-block[objs-mode=long] .ui-console-obj span[att] {
    margin: 0 4px;
    display: inline-block;
    vertical-align: middle;
}

.ui-console-block[objs-mode=long] .ui-console-obj span[att=ow] {
    min-width: 80px;
    text-align: left;
}

.ui-console-block[objs-mode=long] .ui-console-obj span[att=len] {
    min-width: 60px;
}
