body {
    margin:30px;
}

body > div {
    float: left;
}

.viewport {
    width:600px; height:400px;
    background: #CCC; border:1px solid #000;
    position: relative;
}

.item {
    width:200px; height:100px; cursor: pointer;
    position: absolute; padding:10px;
    background: #FF0; border: 1px solid #888;
}

.drop {
    width:100%; 
}

.drop > div {
    width:200px; height:100px; text-align: center; padding:20px;
    display: inline-block;
}

.panel {
    padding:20px; 
}

.panel button {
    font-size: 1.2em; padding:8px 14px; display: block; margin: 2px 0;
}

pre {
    padding:10px; font-family: Monaco, Consolas, Courier New; 
    background: #000; color:#CCC;
}

.pmv-mask .pmv-helper {
    background: rgba(255,0,0,0.2); padding:2px;
}

.pmv-mask .pmv-dropi {
    border:1px dashed red;
}

.pmv-mask .pmv-dropi[pmv-hover]{
    background-color: rgba(255,0,0,0.2);
}