/*theme:w0 .................................................*/
[theme="w0"] {
    .ui-otable table {
        border-spacing: 0;
        border-collapse: collapse;
    }

    .ui-otable td {padding:6px;}
    .ui-otable i[tp="checkbox"] {width:12px;}

    .otable-row-actived {background: #FDA;}
    .otable-row-checked {background: #EEE;}
}