/*theme:w0 .................................................*/
[theme="w0"] .otable-body-t {
  border-spacing: 0;
  border-collapse: collapse;
}
[theme="w0"] .otable-row td {
  padding: 6px;
}
[theme="w0"] .otable-row-nm [tp="checkbox"] {
  width: 12px;
}
[theme="w0"] .otable-row-nm > [tp="icon"] {
  margin-left: 8px;
}
[theme="w0"] .otable-row-nm > [tp="text"] {
  margin-left: 8px;
  font-weight: normal;
}
[theme="w0"] .otable-row-actived {
  background: #FDA;
}
[theme="w0"] .otable-row-checked {
  background: #EEE;
}
