/*theme:w0 .................................................*/
[theme="w0"] {
    .otable-body-t {
        border-spacing: 0;
        border-collapse: collapse;
    }

    .otable-row td {padding:6px;}
    .otable-row-nm [tp="checkbox"] {width:12px;}
    .otable-row-nm>[tp="icon"] {margin-left:8px;}
    .otable-row-nm>[tp="text"] {margin-left:8px; font-weight: normal;}

    .otable-row-actived {background: #FDA;}
    .otable-row-checked {background: #EEE;}
}