@import "../ui.less";
.ui-otable>.ui-arena {overflow: hidden;}
/*theme:w0 .................................................*/
[theme="w0"] {
    .theme_w0();

    table {border-spacing: 0; }
    td {overflow: hidden;}

    .otable {
        width:100%; height:100%;  position: relative;
    }

    .otable-head {@noselect();
        position: absolute; top:0px; left:0; right:0; 
        height:@f_large; line-height: @f_large; overflow: hidden; 
    }

    .otable-head-t td {
        padding:0 8px;margin:0; white-space:nowrap;
        border-left:1px solid @c_white; color:@c_gray_dim;
        text-align: center; font-size: @f_small; cursor: pointer;
    }
    .otable-head td:first-child{border:0;}

    .otable-checker {
        position: absolute; top:0; left:0; width:@f_large; height:@f_large;
        text-align: center; border-right:1px solid @c_white; background: @c_gray_b;

        >* {display: none;}
        >[tp="part"] {opacity: 0.3;}
        .current {display: inline;}
    }

    .otable-body{
        width:100%; height:100%; overflow: auto;
        border:1px solid @c_gray_b;
        border-top:@f_large solid @c_gray_b;
    }

    .otable-row td {
        padding:@big; border-bottom: 1px dashed @c_gray_b; white-space: nowrap;
        font-size:@f_small;
    }
    .otable-row-nm [tp="checkbox"] {width:12px;}
    .otable-row-nm>[tp="icon"] {margin-left:8px;}
    .otable-row-nm>[tp="text"] {margin-left:8px; font-weight: normal;}

    .otable-row-checked {background: #EEE; }
    .otable-row-checked .otable-row-nm i[tp]{color: @c_main;}
    .otable-row-checked td {border-color: @c_main;}
    .otable-row-actived {background: #FDA;}
}