
.acode-manager {
    position: relative;
    > div {
        position: absolute; top:0; bottom:0; width:50%;
    }
    .am-search {
        left:0; border-right:1px solid @cborder1;

        .tbl {
            .tbl-row {
                td {font-family: @f_fixed;}
            }
        }
    }
    .am-form {
        right:0;
        .form {
            .com-input input {
                font-family: @f_fixed; 
            }
        }
        .am-empty {
            padding:@d6; font-size:@f4;
        }
    }
}