// ------------------------------- 
// 对象搜索器
.th3-search {
    [key="th_nm"] {
        > i, >.th_thumb {
            display:inline-block; vertical-align: middle; width: 16px; text-align: center;
            margin-right:@d2;
        }
        img {
            height:16px; vertical-align: middle;border-radius: @d0; border:1px solid @cborder1;
            margin-right:@d2;
        }
        span {
            margin-left:@d3; color:@c4;
            em {margin-left:@d1; color:@c3;}
        }
    }
    .th-lbl {
        display: inline-block; padding:0 @d2; vertical-align: middle;
        margin: 0 1px; border:1px solid @cborder1; font-size:@f1;
        border-radius: @d0;
    }
    .th_file_none {
            font-size:@f2; font-style: italic; color:@c2;
    }
    .th_file_nb {
        font-size:@f2; 
        > i {color:@c4;}
        > em {font-style: normal; font-weight: bold; color:@c3; margin-left: @d0;}
    }
    .list-item [key] {
        font-family: @f_fixed; font-size: @f2;
    }
    .list-item[li-checked] {
        [key="th_nm"] {
            span {
                color:@ch0_f;
                em {color:@ch0_f;}
            }
        }
        [key="lbls"] {
            .th-lbl {
                color:@ch0_f; background: @ch0_b;
                border-color:@ch0_f; border-style: dotted;
            }
        }
        .th_file_none {color:@ch0_f;}
        .th_file_nb {
            > i {color:@ch0_f;}
            > em {color:@ch0_f;}
        }
        .th-pub {
            color:@ch0_f;
        }
    }
}
//........................................
// 元数据界面
.th3-meta {
    .obj-meta-form > .form-body > .form-body-wrapper > .form-group {
        padding-top:@d3;
        > .fg-fields > .form-fld {
            padding:0;
            > .ff-txt {padding:@d3 @d2 @d3 24px;}
            > .ff-val {padding:@d0;}
            > .ff-prompt {padding:@d2 @d3;}
        }
        // .comi-image {
        //     img {max-height:180px;}
        // }
    }
}
//........................................
// 对象详情界面
.th3-content {
    .toid-brief {
        padding:@d2; position: relative; background: @cb1;
        > h4 {margin:0; padding:@d2; font-size:@f2; color:@c2;}
        > aside {
            position: absolute; right: 0; top:0;
            padding:@d2;
            a {cursor: pointer;}
        }
        > textarea {@input();
            width:100%; height:60px; outline:none; resize:none;
            padding:@d3; font-size:@f2; line-height: @f3;
            
        }
    }
}
//........................................
// 通用附件/多媒体面板样式
@todH : 160px;
.th3-media {
    padding:@d0;  position: relative;
    > * {position: absolute; left: 0; right: 0;}
    > header {
        top:0; height:@todH; border-bottom:1px solid @cborder0;
        padding:@d2;
        div.media-none {
            @flex(); justify-content:center; align-items:center;
            width: 100%; height:100%; 
            color:@c2; font-size:@f3;
        }
    }
    > section {
        top:@todH; bottom:0;
    }
    &[ui-drag] {
        background: @ch1_b; color:@ch1_f;
        > * {
            opacity: 0.4; 
            -webkit-filter: blur(3px); /* Chrome, Opera */
            -moz-filter: blur(3px);
            -ms-filter: blur(3px);    
                filter: blur(3px);
        }
    }
    .hide-file-selector {display:none;}
}
//........................................
// 创建数据界面
.th3-obj-create {
    @flex(); flex-direction: column;
    > header, >footer {
        flex:0 0 auto; padding:@d6; font-size:2em;
        text-align: center;
    }
    > section {flex:1 1 auto;}
    > footer {
        position: relative;
        b {
            @btn(); padding:@d5 @d6; font-size:.8em; line-height:auto;
            &:hover {@btn_hover();}
        }
        a {
            cursor: pointer; position: absolute; right:@d6; bottom:@d6;
            font-size:.6em;
        }
    }
}
// ------------------------------- 
// 空对象
.th3-blank {
    padding:@da 0 0 @d6; color:@c2; text-align: center;
    font-size:1.6em; font-family: @f_fixed;
    i {margin-right:@d3;}
}


// ------------------------------- 
// 配置信息管理界面  th3_design
@thcFldMH : 48px;
@thcFldLW : 40%;
.th3-design {
    background: @cb2; 
    // 头部标题
    .thd-info {
        @flex(); 
        > div {
            flex:0 0 auto; padding:@d2 0;
            @flex(); align-items: center;
        }
        > .thd-icon {
           padding-left:@d2; 
        }
        > .thd-id {
            flex:0 0 auto; color:@c3; padding:@d3+@d2 0;
            font-family: @f_fixed; font-size:@f2; 
        }
        > .thd-id:before {display: inline; content:"(";}
        > .thd-id:after  {display: inline; content:")";}
        > .thd-vc {
            flex:1 1 auto; color:@c3; padding:@d0 @d1;
            font-family: @f_fixed; font-size:@f1; 
            @flex(); align-items: center;
            a {cursor: pointer;}
        }
        > .thd-btns { @noselect();
            padding-left:@d3;
            a {cursor: pointer; margin-right: @d2;}
            b {@btn(); padding:@d2 @d4;}
            b:hover {@btn_hover();}
            em {
                font-style: normal; color:@c2; 
                padding:@d2 @d4;
            }
        }
        > .thd-btns[mode="loaded"] {
            a, b, em {display: none;}
        }
        > .thd-btns[mode="changed"] {
            a, b {display: inline-block;}
            em {display: none;}
        }
        > .thd-btns[mode="ing"] {
            a, b {display: none;}
            em {display: inline-block;}
        }
    }  // ~ .thd-info
    .thd-tabs {
        padding:0 @d2 @d2 @d2;
    }
    // 字段编辑器
    .th3-design-flds {
        position: relative;
        > div {position: absolute;}
        > .thd-menu { 
            left: 0; top:0; right:0; height:@thcFldMH; padding:@d2;
            .menu {padding:@d1 @d3; border:1px dashed @cborder1; background: @cb4;}
        }
        > .thd-fld-list { 
            left:0; top:@thcFldMH; bottom:0; width:@thcFldLW;
            padding:0 0 @d2 @d2;
            .lst { @noselect();
                .list-item {
                    font-size: @f2; font-family: @f_fixed;
                    border:0; opacity: 0.6;
                    i {width:24px;}
                    b {font-weight: normal;}
                    em {
                        font-style: normal; color:@c4;
                        margin-left:@d2; font-size: @f2;
                    }
                }
                .lst-item-checked {background: @cb1; color:unset;}
                .lst-item-actived {opacity: 1.0;
                    b  {color:@c4;}
                }
            }
        }
        > .thd-fld-conf { 
            right:0; top:@thcFldMH; bottom:0; left:@thcFldLW;
            padding:0 @d2 @d2 0;
            .thd-blank {
                padding:@d4; font-size: @f3;
            }
            .thd-fld-form {
                background: @cb1;
                .form-fld {
                    padding:0;
                    .ff-txt {padding-left:@d4; padding-right:@d0;}
                    .ff-val {padding-right:0;}
                }
            }
        }
    }   // ~ .th3-design-flds

    //......................................... 
    // 扩展命令界面
    @THDC_AH : 160px;
    .th3-design-commands {
        position: relative;
        > section {position: absolute;}
        .thdc-search { top:0; bottom:@THDC_AH; left:0;  width:50%;}
        .thdc-obj    { top:0; bottom:@THDC_AH; right:0; width:50%;}
        .thdc-actions {
            left:0; right:0; bottom:0; height:@THDC_AH;
            @flex(); padding:@d2 @d3;
            .thdca-list {
                flex:1 1 auto; border:1px solid @cborder1;
                padding:@d1 @d0;
            }
            .thdca-opt {
                flex:0 0 auto; padding:@d4;
                li {
                    padding:@d2;
                    a[m] {cursor: pointer;}
                }
            }
        }
        .thdc-list {
            padding:@d4;
            @flex(); flex-direction: column;
            h4 {
                flex:0 0 auto;
                padding:@d2 @d3; margin:0;
                font-size:@f2; background: @cb4; color:@cf4;
            }
            textarea {
                @input(); flex:1 1 auto;
                padding:@d3; resize:none;
                &:focus {
                    @input_focus();
                }
            }
        }
    }  // ~ .th3-design-commands
}
// 以上是：配置信息管理界面  th3_design
// ------------------------------- 


































