@skyH    : 40px;
@footerH : 32px;
@chuteW  : 180px;
.obrowser{
    color:@cf0;  position: relative;
    > div {position: absolute; left: 0; right: 0;}
    .obw-sky { 
        top:0; height:@skyH;

    }
    .obw-con {
        top:@skyH; bottom:@footerH;
        .obw-con-wrapper {
            width: 100%; height:100%; position: relative;
            > div {position: absolute; top: 0; bottom: 0;}
            .obw-chute { 
                left:0; width:@chuteW;
            }
            .obw-main {
                left:@chuteW; right:0;
            }
        }
    }
    .obw-footer { 
        bottom:0; height:@footerH;
    }



    .wnobj-hide {opacity: 0.6;}

    .obrowser-main {
        .wnobj {
            @noselect();
            * {cursor: default;}
        }

        .obrowser-vmd-table {
            .tbl-row-td0 {
                i {
                    margin: 0 @d2; width:16px; text-align: center;
                }
            }
        }

        .obrowser-vmd-thumbnail {
            overflow: auto;
        }
    }

    //---------------------------------------------- BEGIN Footer
    .obrowser-footer {
        background: @cb1; border-top:1px solid @cborder0;
        line-height: 32px; padding:0 @d2; font-size:@f1; color:@cf1;
        font-family: @f_fixed;
    }
    //---------------------------------------------- END Footer

    //---------------------------------------------- BEGIN Chute
    .obrowser-chute { @noselect();
        overflow: hidden;
        color:@cf2; background: @cb2; border-right:1px solid @cborder0;

        .chute-scroller {transition: 0.3s; 
            width:200%; height:100%; position: relative; 
            .chute-nav {
                position: absolute; top:0; right:50%; left:0; bottom:0;
                overflow-y: auto; overflow-x: hidden; 
            }
            .chute-outline {
                position: absolute; top:0; right:0; left:50%; bottom:0;
            }
            .chute-scroller-btn {
                position: absolute; top:0; 
                width:@d5; height:@d6; border-radius: @d0;
                font-size:@f1; line-height: @d6 - 2; text-align: center;
                border:1px solid @cbtn_l;
                background: @cbtn_b; color:@cshadow; 
                display: none;
                margin:@d0; 
                cursor: pointer;
                * {cursor: pointer;}
            }
            .chute-scroller-btn:hover {
                background: @ch1_b; color:@ch1_f;
            }
        }
        .chute-scroller[outline="yes"] {
            margin-left:-100%;
        }
        .chute-scroller[outline]{
            .chute-scroller-btn {display: block;}
        }

        .chute-wrapper {
            padding: @d4; font-size:@f2; 
            section{
                border:1px solid rgba(0,0,0,0); border-radius: @d1;
                overflow: hidden; margin-bottom: @d2; position: relative;
                transition: 0.3s; 
                h1 {
                    font-size:@f1; cursor: pointer;
                    font-weight: bold; line-height: @d5; margin:@d3;
                }
                item {
                    display: block; padding:@d2 @d0 @d2 @d4; cursor: pointer;
                    line-height: @d5; color: @cf1; @flex();
                    i {
                        width:@d5; height: @d5; text-align: center;
                        font-size: @d5;
                        display: inline-block; float:left;vertical-align: middle;
                    }
                    a {
                        display: inline-block; float:left; vertical-align: middle;
                        margin-left: @d2; color:@cf2;
                    }
                }
                item:after{@clr();}
                item.chute-actived {
                    color:@ch1_f; background: @ch1_b;
                }
            }
            section.chute-sec-hide {
                border-color:@cborder0; background: @cb1;
                h1:after{
                    content: "..."; display: block; position: absolute;
                    top:@d1;right:@d3;
                }
                item{opacity: 0;}
            }
        }
    }
    //---------------------------------------------- END Chute

    //---------------------------------------------- BEGIN Sky
    .obrowser-sky {
        position: relative; border-bottom:1px solid @cborder0;
        > div {
            position: absolute; top:0; bottom:0;
        }
    }

    .obrowser-logo { @noselect(); cursor: default;
        background: @cb2; color:@cf2;
        left:0; line-height: @skyH;
    }

    .obrowser-crumb { @noselect(); cursor: default;
        background: @cb1;
        padding:@d2; white-space: nowrap;
        left:0;
        .z-edit-it input {
            background: @cb0; color:@cf0;
            padding-left:@d4; outline: none;
            font-size:@d5; font-family: @f_fixed; border:0; 
        }
        >div {
            display: inline-block; 
            vertical-align: middle;
        }
        .citem {
            border:1px solid rgba(0,0,0,0);
            padding: 0 0 0 @d1; 
            i {
                display: inline-block; vertical-align: middle;
            }
            b {
                font-weight: normal;
                display: inline-block; vertical-align: middle;
                line-height:@d6; margin:0 @d0 0 @d1;
            }
            .ochild {
                display: inline-block; vertical-align: middle;
                padding:@d1 @d0 @d1 @d0; cursor:pointer; 
            }
            .ochild:hover{
                background: @ch1_b; color: @ch1_f;
            }
            .citem-drop {
                position: fixed; z-index: 1000; min-width: @db;
                border:1px solid @cmenu_l;
                min-width: @da; padding: @d2; background: @cmenu_b;
                box-shadow: @d0 @d0 @d2 @cshadow;
                .citem .ochild{display: none;}
                .citem:hover{color:@ch0_f; background: @ch0_b;}
            }
        }
        .citem:hover {
            border-color:@cborder1;
        }
        .citem-tail{
            padding-right:@d0;
            b {font-weight: bold;}
            .ochild{display: none;}
        }
        .citem-tail:hover{border-color:rgba(0,0,0,0);}
        .folder-btn {
            cursor:pointer; border-radius: @d1;
            line-height:@d6; padding:0 @d1;
        }
        .folder-btn:hover{
            background: @ch0_b; color: @ch0_f;
        }
        .folder-drop {
            z-index: 2000; border:1px solid @cmenu_l;
            min-width: @db; padding: @d2; background: @cmenu_b;
            box-shadow: @d0 @d0 @d2 @cshadow;
            .citem .ochild{display: none;}
            .citem:hover{color:@ch0_f; background: @ch0_b;}
        }
    }
    .obrowser-me {
        background: @cb2;padding:@d3 @d2; border-left:1px solid @cborder1;
        white-space: nowrap;
        > div {
            line-height:@d6; 
            > * {margin:0 @d1;}
        }
    }
    .obrowser-menu {
        background: @cb2;padding-left:@d2; border-left:1px solid @cborder1;
        right: 0;
        .menu {
            padding:@d2 @d2; line-height:@d6; 
        }
    }
    // 禁止主目录点击
    .obrowser-sky .obrowser-crumb[forbid-click-home="yes"] .citem[home="yes"] {
        border-color: rgba(0,0,0,0);
        .ochild{
            background: inherit; color: inherit;
        }
    }
    //---------------------------------------------- END Sky

} // END .obrowser

// 隐藏对象
.obrowser[hidden-obj-visibility=hidden] {
    .wnobj-hide {display: none;}
    //.obw-sky .obrowser-crumb > .wnobj-hide {display: inline-block;}
}