body > .ui-obrowser {
  background: #ffffff;
}
.obrowser {
  color: #333333;
}
.obrowser .obrowser-block {
  margin: 0px;
}
.obrowser .wnobj-hide {
  opacity: 0.6;
}
.obrowser .obrowser-main .wnobj {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.obrowser .obrowser-main .wnobj * {
  cursor: default;
}
.obrowser .obrowser-main .obrowser-vmd-table .tbl-row-td0 i {
  margin: 0 6px;
  width: 16px;
  text-align: center;
}
.obrowser .obrowser-footer {
  background: #eeeeee;
  border-top: 1px solid #cccccc;
  line-height: 32px;
  padding: 0 6px;
  font-size: 10px;
  color: #666666;
  font-family: Monaco, Consolas, Courier New;
}
.obrowser .obrowser-chute {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
  color: #999999;
  background: #e0e0e0;
  border-right: 1px solid #cccccc;
}
.obrowser .obrowser-chute .chute-scroller {
  transition: 0.3s;
  width: 200%;
  height: 100%;
  position: relative;
}
.obrowser .obrowser-chute .chute-scroller .chute-nav {
  position: absolute;
  top: 0;
  right: 50%;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
.obrowser .obrowser-chute .chute-scroller .chute-outline {
  position: absolute;
  top: 0;
  right: 0;
  left: 50%;
  bottom: 0;
}
.obrowser .obrowser-chute .chute-scroller .chute-scroller-btn {
  position: absolute;
  top: 0;
  width: 16px;
  height: 24px;
  border-radius: 2px;
  font-size: 10px;
  line-height: 22px;
  text-align: center;
  border: 1px solid #bbbbbb;
  background: #d0d0d0;
  color: #888888;
  display: none;
  margin: 2px;
  cursor: pointer;
}
.obrowser .obrowser-chute .chute-scroller .chute-scroller-btn * {
  cursor: pointer;
}
.obrowser .obrowser-chute .chute-scroller .chute-scroller-btn:hover {
  background: #cccccc;
  color: #444444;
}
.obrowser .obrowser-chute .chute-scroller[outline="yes"] {
  margin-left: -100%;
}
.obrowser .obrowser-chute .chute-scroller[outline] .chute-scroller-btn {
  display: block;
}
.obrowser .obrowser-chute .chute-wrapper {
  padding: 12px;
  font-size: 12px;
}
.obrowser .obrowser-chute .chute-wrapper section {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 6px;
  position: relative;
  transition: 0.3s;
}
.obrowser .obrowser-chute .chute-wrapper section h1 {
  font-size: 10px;
  cursor: pointer;
  font-weight: bold;
  line-height: 16px;
  padding: 6px;
}
.obrowser .obrowser-chute .chute-wrapper section item {
  display: block;
  padding: 6px 2px 6px 12px;
  cursor: pointer;
  line-height: 16px;
  color: #666666;
}
.obrowser .obrowser-chute .chute-wrapper section item i {
  width: 16px;
  height: 16px;
  text-align: center;
  font-size: 16px;
  display: inline-block;
  float: left;
  vertical-align: middle;
}
.obrowser .obrowser-chute .chute-wrapper section item b {
  display: inline-block;
  float: left;
  vertical-align: middle;
  margin-left: 6px;
}
.obrowser .obrowser-chute .chute-wrapper section item:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.obrowser .obrowser-chute .chute-wrapper section item.chute-actived {
  color: #444444;
  background: #cccccc;
}
.obrowser .obrowser-chute .chute-wrapper section.chute-sec-hide {
  border-color: #cccccc;
  background: #eeeeee;
}
.obrowser .obrowser-chute .chute-wrapper section.chute-sec-hide h1:after {
  content: "...";
  display: block;
  position: absolute;
  top: 4px;
  right: 8px;
}
.obrowser .obrowser-chute .chute-wrapper section.chute-sec-hide item {
  opacity: 0;
}
.obrowser .obrowser-sky {
  position: relative;
  border-bottom: 1px solid #cccccc;
}
.obrowser .obrowser-sky .obrowser-crumb[forbid-click-home="yes"] .citem[home="yes"] {
  border-color: rgba(0, 0, 0, 0);
}
.obrowser .obrowser-sky .obrowser-crumb[forbid-click-home="yes"] .citem[home="yes"] .ochild {
  background: inherit;
  color: inherit;
}
.obrowser .obrowser-crumb {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  background: #eeeeee;
  padding: 6px;
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0;
}
.obrowser .obrowser-crumb .z-edit-it input {
  background: #ffffff;
  color: #333333;
  padding-left: 12px;
  outline: none;
  font-size: 16px;
  font-family: Monaco, Consolas, Courier New;
  border: 0;
}
.obrowser .obrowser-crumb > div {
  display: inline-block;
  vertical-align: middle;
}
.obrowser .obrowser-crumb .citem {
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 0 0 0 4px;
}
.obrowser .obrowser-crumb .citem i {
  display: inline-block;
  vertical-align: middle;
}
.obrowser .obrowser-crumb .citem b {
  font-weight: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 24px;
  margin: 0 2px 0 4px;
}
.obrowser .obrowser-crumb .citem .ochild {
  display: inline-block;
  vertical-align: middle;
  padding: 4px 2px 4px 2px;
  cursor: pointer;
}
.obrowser .obrowser-crumb .citem .ochild:hover {
  background: #cccccc;
  color: #444444;
}
.obrowser .obrowser-crumb .citem .citem-drop {
  position: fixed;
  z-index: 1000;
  min-width: 128px;
  border: 1px solid #ffffff;
  min-width: 96px;
  padding: 6px;
  background: #ffffff;
  box-shadow: 2px 2px 6px #888888;
}
.obrowser .obrowser-crumb .citem .citem-drop .citem .ochild {
  display: none;
}
.obrowser .obrowser-crumb .citem .citem-drop .citem:hover {
  color: #ffffff;
  background: #0044bb;
}
.obrowser .obrowser-crumb .citem:hover {
  border-color: #dddddd;
}
.obrowser .obrowser-crumb .citem-tail {
  padding-right: 2px;
}
.obrowser .obrowser-crumb .citem-tail b {
  font-weight: bold;
}
.obrowser .obrowser-crumb .citem-tail .ochild {
  display: none;
}
.obrowser .obrowser-crumb .citem-tail:hover {
  border-color: rgba(0, 0, 0, 0);
}
.obrowser .obrowser-crumb .folder-btn {
  cursor: pointer;
  border-radius: 4px;
  line-height: 24px;
  padding: 0 4px;
}
.obrowser .obrowser-crumb .folder-btn:hover {
  background: #0044bb;
  color: #ffffff;
}
.obrowser .obrowser-crumb .folder-drop {
  z-index: 2000;
  border: 1px solid #ffffff;
  min-width: 128px;
  padding: 6px;
  background: #ffffff;
  box-shadow: 2px 2px 6px #888888;
}
.obrowser .obrowser-crumb .folder-drop .citem .ochild {
  display: none;
}
.obrowser .obrowser-crumb .folder-drop .citem:hover {
  color: #ffffff;
  background: #0044bb;
}
.obrowser .obrowser-menu {
  position: absolute;
  top: 0;
  right: 0;
  background: #e0e0e0;
  padding-left: 6px;
}
.obrowser[hidden-obj-visibility=hidden] .wnobj-hide {
  display: none;
}
