@import (reference) "../ui";

.wn-thumbnail-showdel {.wnobj .wnobj-wrapper .wnobj-del{display: block;}}
.wn-thumbnail-showseq {.wnobj .wnobj-wrapper .wnobj-seq{display: block;}}
.wn-thumbnail {
    padding:@d4 @d2;

    @wnobj_w       : 102px;
    @thumb_w       : 64px;
    @thumb_h       : 64px;
    @thumb_icon    : 16px;
    @thumb_padding : 6px;
    .wnobj {
        display: inline-block;;
        .wnobj-wrapper {padding:@d1; position:relative;}
        .wnobj-wrapper:after{@clr();}
        .wnobj-del {
            position: absolute; top:0; right: 0; color:#000;
            width:16px; height:16px; line-height: 16px; text-align: center;
            opacity: 0.2; cursor: pointer; display: none;
            * {cursor: pointer;}
        }
        .wnobj-del:hover {color:#F00; opacity: 1.0;}
        .wnobj-seq {
            position: absolute; top:0; left: 0;
            color:rgba(0,0,0,0.4);
            background: rgba(0,0,0,0.1);
            padding:@d1 @d2 @d1 @d1; border-radius: 0 0 @d3 0;
            font-size:@f0; display: none;
        }
        .wnobj-thumbnail {
            width: @thumb_w + @thumb_padding*2; 
            height: @thumb_h + @thumb_padding*2; 
            padding: @thumb_padding;
            margin:0 auto; border-radius: @d2;
            .img {
                display: block; 
                width:@thumb_w; height:@thumb_h; position: relative;
                background-size: contain; background-repeat: no-repeat;
                background-position: center;
                border:1px solid rgba(0,0,0,0); border-radius: @d1;
                >div {position: absolute; width:@thumb_icon; height:@thumb_icon;}
                .wnobj-NW {top:@thumb_icon/-2;    left:@thumb_icon/-2;}
                .wnobj-NE {top:@thumb_icon/-2;    right:@thumb_icon/-2;}
                .wnobj-SW {bottom:@thumb_icon/-2; left:@thumb_icon/-2;}
                .wnobj-SE {bottom:@thumb_icon/-2; right:@thumb_icon/-2;}
                .wnobj-icon-hide {ddisplay: none;}
            }
        }
        .wnobj-thumbnail[noexists]{
            text-align: center;
            .img:before {
                display: block;
                content: "";
                height: 50%;
            }
            .img:after {
                display:block;
                font-family: FontAwesome;
                font-size: 3.0em;
                content: "\f1f8";
            }
        }
        .wnobj-thumbnail[thumb]{
            .img {background-color: #000;}
        }
        .wnobj-nm-con {
            text-align: center; margin-top:@d1;
            width: @wnobj_w; height: @d5*3 + 2; line-height: @d5;
            overflow: hidden; word-break:break-all; 
            position: relative;
        }
        .wnobj-nm{
            display: inline-block; padding:0 @d1; border-radius: @d0;
            border:1px dotted rgba(0,0,0,0); font-family: @f_fixed;
        }
    }
    .wnobj-checked {
        .wnobj-thumbnail{background: @cb5;}
        .wnobj-thumbnail[thumb]{
            .img {border:1px solid @cborder1;}
        }
        .wnobj-nm {background: @ch0_b; color:@ch0_f;}
    }
    .wnobj-actived {
        .wnobj-nm {border-color:@cborder1;}
    }
}
