.wn-thumbnail-showdel .wnobj .wnobj-wrapper .wnobj-del {
  display: block;
}
.wn-thumbnail-showseq .wnobj .wnobj-wrapper .wnobj-seq {
  display: block;
}
.wn-thumbnail {
  padding: 12px 6px;
}
.wn-thumbnail .wnobj {
  display: inline-block;
}
.wn-thumbnail .wnobj .wnobj-wrapper {
  padding: 4px;
  position: relative;
}
.wn-thumbnail .wnobj .wnobj-wrapper:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.wn-thumbnail .wnobj .wnobj-del {
  position: absolute;
  top: 0;
  right: 0;
  color: #000;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  opacity: 0.2;
  cursor: pointer;
  display: none;
}
.wn-thumbnail .wnobj .wnobj-del * {
  cursor: pointer;
}
.wn-thumbnail .wnobj .wnobj-del:hover {
  color: #F00;
  opacity: 1.0;
}
.wn-thumbnail .wnobj .wnobj-seq {
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.4);
  background: rgba(0, 0, 0, 0.1);
  padding: 4px 6px 4px 4px;
  border-radius: 0 0 8px 0;
  font-size: 8px;
  display: none;
}
.wn-thumbnail .wnobj .wnobj-thumbnail {
  width: 76px;
  height: 76px;
  padding: 6px;
  margin: 0 auto;
  border-radius: 6px;
}
.wn-thumbnail .wnobj .wnobj-thumbnail .img {
  display: block;
  width: 64px;
  height: 64px;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
}
.wn-thumbnail .wnobj .wnobj-thumbnail .img > div {
  position: absolute;
  width: 16px;
  height: 16px;
}
.wn-thumbnail .wnobj .wnobj-thumbnail .img .wnobj-NW {
  top: -8px;
  left: -8px;
}
.wn-thumbnail .wnobj .wnobj-thumbnail .img .wnobj-NE {
  top: -8px;
  right: -8px;
}
.wn-thumbnail .wnobj .wnobj-thumbnail .img .wnobj-SW {
  bottom: -8px;
  left: -8px;
}
.wn-thumbnail .wnobj .wnobj-thumbnail .img .wnobj-SE {
  bottom: -8px;
  right: -8px;
}
.wn-thumbnail .wnobj .wnobj-thumbnail .img .wnobj-icon-hide {
  ddisplay: none;
}
.wn-thumbnail .wnobj .wnobj-thumbnail[noexists] {
  text-align: center;
}
.wn-thumbnail .wnobj .wnobj-thumbnail[noexists] .img:before {
  display: block;
  content: "";
  height: 50%;
}
.wn-thumbnail .wnobj .wnobj-thumbnail[noexists] .img:after {
  display: block;
  font-family: FontAwesome;
  font-size: 3.0em;
  content: "\f1f8";
}
.wn-thumbnail .wnobj .wnobj-thumbnail[thumb] .img {
  background-color: #000;
}
.wn-thumbnail .wnobj .wnobj-nm-con {
  text-align: center;
  margin-top: 4px;
  width: 102px;
  height: 50px;
  line-height: 16px;
  overflow: hidden;
  word-break: break-all;
  position: relative;
}
.wn-thumbnail .wnobj .wnobj-nm {
  display: inline-block;
  padding: 0 4px;
  border-radius: 2px;
  border: 1px dotted rgba(0, 0, 0, 0);
  font-family: Monaco, Consolas, Courier New;
}
.wn-thumbnail .wnobj-checked .wnobj-thumbnail {
  background: rgba(0, 0, 0, 0.1);
}
.wn-thumbnail .wnobj-checked .wnobj-thumbnail[thumb] .img {
  border: 1px solid #d0d0d0;
}
.wn-thumbnail .wnobj-checked .wnobj-nm {
  background: #0044bb;
  color: #ffffff;
}
.wn-thumbnail .wnobj-actived .wnobj-nm {
  border-color: #d0d0d0;
}
