
@lW : 180px;
@rW : 320px;
@panTH  : 32px;
@ibarW  : 120px;
@iboxWh : 120px;
@iboxWs : 180px;

.hmaker {
    position: relative; background: @cb0; 
    > div {position: absolute; top:0; bottom:0;}
    .hm-con-main {left:@lW;right:@rW;}
    .hm-con-resource {left:0; width:@lW;}
    .hm-con-prop {right:0; width:@rW;}
    //.............................................................
    .hm-W {width: 100%; height:100%; position: relative;}
    //.............................................................
    // 面板的通用样式
    .hm-panel {
        position: relative; padding-top:@panTH;
        background: @cb1;
        > header { @noselect();
            position: absolute; top:0;left:0;right:0;
            background: @cb2; color:@cf2; height:@panTH; line-height: @panTH; 
            > ul {
                > li {
                    position: absolute; top:0; bottom: 0; padding:0 @d3;
                }
                .hmpn-pin {
                    right:0; cursor: pointer;
                }
                .hmpn-tt { @noselect();
                    left: 0; font-family: @f_fixed;
                    > * {display:inline-block;vertical-align: middle;}
                    > span {}
                    > b    {margin:0 @d1;}
                }
                .hmpn-opt {
                    right: @d6;
                }
            }
        }
        > section {
            width: 100%; height:100%; position: relative;
            > * {
                position: absolute; top:0; left:0; right:0; bottom:0; 
            }
        }
    }
    //.............................................................
    // 属性面板
    .hm-con-prop {
        .hm-panel {
            > section {
                > * {display: none;}
                > *[current] {display: block;}
            }
        }
    }
    //.............................................................
    // 资源面板
    .hm-con-resource {
        .hm-resource {
            .ui-tree {
                .tree-node > .tnd-self {
                    line-height: 28px; padding: 0 @d2;
                    > .tnd-text {
                        a {
                            font-weight: normal; font-size:@f2;
                            color: @cf0; 
                        }
                        em {
                            font-style: italic; margin-left:@d2;
                            font-size:@f1; color:@c2;
                        }
                    }
                    .z-edit-it {
                        input {@input();}
                        input:focus {@input_focus();}
                    }
                }
                .tree-node-actived > .tnd-self > .tnd-text {
                    a {color:@ch0_f;}
                    em {color:@ch0_f; opacity: 0.6;}
                }
                .tree-node[edit-text-on] > .tnd-self {
                    background: transparent;
                }
            }
        }
    }
    //.............................................................
    // 主区域
    .hm-page {
        border-right:1px solid @cborder1;
        //.........................................................
        > .hm-W > div {position: absolute;}
        .hmpg-stage {
            top:@panTH; left:@panTH; right:0; bottom:0; 
            background:#AAB;
            > div {
                width:100%; height:100%; position: relative;
            }
            .hmpg-screen {
                background: #FFF; margin:0 auto;
                > iframe {width:100%; height:100%; border:0;}
            }
            .hmpg-loading-mask { display: none;
                position: absolute; top:0; left:0; bottom:0; right:0;
                .hmpg-loading {
                    background: #FFF; color:#DDD;
                    padding: 26px 20px; color:#CCC;
                    font-size: 16px;
                    > * {display: inline-block; vertical-align: middle;}
                    > span {padding:0 @d2; font-size: 32px;}
                    > em {font-style: normal;}
                }
            }
        }
        .hmpg-stage[mode="pc"] > div {
            .hmpg-screen, .hmpg-loading {
                width: 100%; height:100%;
            }
        }
        .hmpg-stage[mode="phone"] > div {
            padding: 10px 0;
            .hmpg-screen {
                width: 400px; height:96%; 
                box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
            }
            .hmpg-loading-mask {
                padding: 10px 0;
                .hmpg-loading {width: 400px; height:96%; margin:0 auto;}
            }
        }
        .hmpg-stage[hm-page-preparing] .hmpg-loading-mask {display: block;}
        //.........................................................
        // 隐藏的 .iload <iframe>
        .hmpg-frame-load { display: none;
            width:380px; height:100%; position: fixed; top:300px; left:0px;
            border:3px solid red; z-index: 1000; background: rgba(255,255,255,0.8);
        }
        //.........................................................
        // 插入条
        .hmpg-ibar {@noselect(); 
            top:0;bottom:0;left:0;width:@panTH;
            border:1px solid @cborder1;
            border-top: 0; border-bottom: 0;
            background:@cb2; text-align: center;
            > .hm-W {
                > h4.hm-ibtn {
                    line-height: @panTH; border-bottom:1px solid @cborder1;
                    cursor: pointer; text-align: center;
                    span {display: none; margin-left:@d2;}
                }
                > h4.hm-ibtn:hover {background: @ch1_b; color:@ch1_f;}
                > ul {
                    line-height: 28px; font-size: @f3; 
                    > li.sep {
                        height: 1px; line-height: 1px;
                        overflow: hidden; background: @cborder0;
                        margin:@d3 0;
                    }
                    > li[ctype] {
                        cursor: pointer; position: relative;
                        .hmpg-ibar-thumb {
                            white-space: nowrap;
                            i {vertical-align: middle;}
                            span {display: none; margin-left:@d2; font-size:@f2;}
                        }
                        .hmpg-ibar-ibox { 
                            opacity: 0; width: 0;
                            position: absolute; left:@panTH - @d1;
                            z-index: 100; border-radius: 0 @d2 @d2 0; overflow: hidden;
                            line-height: @f4;
                            background: @cpop_b; color:@cpop_f;
                            box-shadow: 2px 2px 4px @cshadow;
                            text-align: left;
                            > div {
                                @flex(); flex-direction:row-reverse;
                                header {
                                    font-size:@f2; padding:@d3;  
                                    max-width:@iboxWh;
                                    b {
                                        color:@c3; display:block;
                                    }
                                    em {
                                        display:block; 
                                        padding:@d3 0; margin:@d3 0;
                                        border:1px dashed @cborder1;
                                        border-left:0;
                                        border-right:0;
                                        font-style: normal; color:@c2;
                                    }
                                    a.hm-ireload { 
                                        padding:@d3; cursor: pointer;
                                        color:@clink; display: block;
                                        white-space: nowrap; font-size: @f1;
                                    }
                                    a.hm-ireload:hover {color:@clink_hover;}
                                }
                                section {
                                    padding:0; background: @cb1; color:@cf1;
                                    font-size:@f2; min-width: @iboxWs;
                                    > .loading {
                                        padding:@d4; color:@c2;
                                        i {margin: 0 @d2;}
                                    }
                                    > .ibar-item {
                                        cursor: pointer;
                                        padding:@d3 @d4;
                                        i {vertical-align: middle;}
                                        b {font-weight: normal; margin-left: @d2;}
                                    }
                                    > .ibar-item:hover {
                                        background: @ch0_b; color:@ch0_f;
                                    }
                                }
                            }
                        }
                    }
                    > li[ctype]:hover {
                        color: @ch0_f; background: @ch0_b;
                        .hmpg-ibar-ibox { 
                            width:unset; opacity: 1.0;
                        }
                    }
                }
            }
        }
        //.........................................................
        .hmpg-sbar {
            top:0;left:@panTH;right:0; height:@panTH;
            background:@cb2; padding:0;
            > .hm-W > div {position: absolute; top:0;bottom:0;}
            // 组件路径条
            .hmpg-sbar-com  {left:0;
                .hm-combar{
                    white-space: nowrap; line-height: @panTH - 1; 
                    .hm-combar-item { 
                        display: inline-block; padding:0 @d2;
                        color:@c2; font-size:@f1; opacity: 0.8;
                        > * {
                            vertical-align: middle; display: inline-block;
                        }
                        > .pi-sep {margin-right:@d1;}
                        span.pi-icon {
                            margin-right:@d1; 
                            i {transition:0.3s;}
                        }
                        b { transition:0.3s;
                            font-weight: normal;
                            font-family: @f_fixed;
                        }
                    }
                    .hm-combar-item[mode="parent"] {
                        cursor: pointer;
                    }
                    .hm-combar-item[mode="current"]{
                        font-weight: bold; cursor: default; opacity: 1.0;
                        background: @ch1_b; color:@ch1_f;
                    }
                    .hm-combar-item[mode="child"]{
                        cursor: pointer; opacity: 0.4; font-style: italic;
                    }
                    .hm-combar-item[mode="parent"]:hover,
                    .hm-combar-item[mode="child"]:hover {
                        opacity: 1.0;
                        span.pi-icon i{
                            transform:scale(1.2);
                        }
                        b {
                            transform:translateY(-2px);
                        }
                    }
                    .hm-combar-item[ctype="_area"] {
                        color: rgba(255,0,255,0.6);
                    }
                    .hm-combar-item[lib-name] {
                        color: @chy_b;
                    }
                }
            }
            // 右侧快捷菜单
            .hmpg-sbar-page {right:0; background:@cb2;
                border-left:1px solid @cborder1;
                .menu {
                    padding:@d1; @flex();
                    .menu-item {
                        flex:0 1 @panTH - @d0 - @d0;
                        .menu-item-wrapper {
                            padding:0 @d1; 
                        }
                    }
                    .menu-item-status {
                        font-size: 16px; overflow: hidden;
                    }
                }
            }
        }
        //.........................................................
    }
    // 开启动画
    .hm-page[animat-on] {
        .hmpg-ibar {
            transition: width 0.3s;
            .hmpg-ibar-ibox {
                transition: opacity 0.3s;
            }
        }
        .hmpg-sbar, .hmpg-stage { 
            transition: left 0.3s;
        }
        .hmpg-screen {
            transition: 0.1s;
        }
    }
    // 插入条宽模式
    .hm-page[full-ibar] {
        .hmpg-ibar {
            width: @ibarW; text-align: left;
            > .hm-W {
                > h4 {
                    span {display: inline;}
                }
                > ul > li {
                    padding-left:@d3;
                    .hmpg-ibar-thumb {
                        span {display: inline;}
                    }
                    .hmpg-ibar-ibox {
                        left:@ibarW - @d1;
                    }
                }
            }
        }
        .hmpg-sbar  {left:@ibarW;}
        .hmpg-stage {left:@ibarW;}
    }
    // ~End of 主区域
    //.............................................................
    // Otherview : 任何对象的浏览器
    .hm-other, .hm-folder, .hm-code {
        padding:@panTH 0 0 0;
        > header {
            position: absolute; top:0; left:0; right:0; 
            height: @panTH; line-height: @panTH; 
            background: @cb1; padding: 0 @d3; 
            font-family: @f_fixed;
            i {margin:0 @d2;}
        }
        > section {
            width:100%; height:100%; line-height: unset;
        }
    }
    //.............................................................
    .hm-code .otext textarea {
        background: @cb0; color:@cf0; font-size:@f2;
    }
    //.............................................................
    // 库管界面
    @libH : 32px;
    @libW : 180px;
    .hm-lib {
        position: relative;
        > * {
            position: absolute;
        }
        > header {
            top:0;left:0;right:0; height: @libH; line-height: @libH;
            background: @cb2; color:@cf2;
            border:1px solid @cborder1;
            border-top:0;
            padding:0 @d4;
            > span b {margin:0 @d1; font-weight: normal;}
        }
        > nav {
            top:@libH;bottom:0;left:0;width:@libW;
            background: @cb3; color:@cf3;
            padding:@d2 0; border-left:1px solid @cborder1;
            .list-item{
                padding:@d3 @d4; line-height: unset;
                b {margin:0 @d1; font-weight: normal;}
            }
        }
        > section {
            top:@libH;bottom:0;left:@libW;right:0;
            border:1px solid @cborder1;
            border-top:0; border-bottom:0;
            background: @cb1; color:@c2;
            .blank-tip {
                font-size:@f4; padding:@d8; 
                em {font-style: normal; margin: 0 @d2;}
            }
        }
    }
    //.............................................................
}
//.............................................................
// 发布面板
.hm-publish-mask {
    .wn-process-panel > section > .wpp-msg[mode="result"] {
        @flex(); justify-content:center; 
        padding:@d6 @d4;
        > div {
            flex:0 0 auto;
            text-align: center;
            padding:@d3;
        }
        .hm-warn {
            color:@c6;
            margin:@d4; border-radius: @d2;
            > i {font-size: @f8;}
            > em {display: block; padding:@d3 0;}
        }
        .hm-enter {
            img {
                width : 128px; height: 128px; background: @c2;
            }
            a {
                display: block; text-align: center;
                font-size: @f2; padding:@d3 0; color:@clink;
            }
            a:hover {color:@clink_hover;}
        }
    }
}
//.............................................................
// 新建站点面板
.hm-ui-new-site {
    @ftW : 140px;
    header {
        padding:@d4; font-size: @f4;
        color:@c2; text-align: center;
        border-bottom:1px solid @cborder1;
    }
    section {
        .ff-txt {
            padding: @d5+@d0 @d2 @d5 @d8;
            width: @ftW;
        }
        .ff-prompt {
            padding: @d5 + @d0;
        }
        .com-input input {
            font-size:@f3; padding:@d4;
        }
        .com-droplist {
            padding:@d2 0;
        }
    }
    footer {
        border-top: 1px solid @cborder1;
        padding:@d4 0 @d4 @ftW + @d3;
        > b { opacity: .4;
            @btn(); padding:@d4 @d6 @d4 @d5; 
            > i {margin: 0 @d2;}
        }
        > b[enable] {
            opacity: 1.0;
        }
        > b[enable]:hover {@btn_hover();}
        .ing {display: none;}
    }
}
.hm-ui-new-site[ing] {
    footer > .ing {display: inline-block;}
}