
.hmaker .hm-prop-edit[link-lib="yes"] {
    .hm-prop-head {
        background:@chy_b; color:@chy_f;
        .hm-com-info {
            float: left;
            > em {color:rgba(255,255,255,0.8);}
            > em:hover {border-color:rgba(255,255,255,0.2);}
            em[in-lib], em[in-lib]:hover {
                border-color:transparent; cursor: default;
                font-style: italic; opacity: .6;
            }
        }
        .hm-com-info {
            > .hm-skin-box {
                span.com-skin {
                    i,b {color:@chy_f;}
                }
                .page-css {color:@chy_f;}
            }
        }
        .hm-com-lib {background: @chy_b;}
    }
}

.hmaker .hm-prop-edit[link-lib="no"] .hm-prop-head {
    .hm-com-lib {color:@clink; background: @cb2;}
    .hm-com-lib:hover {
        color:@clink_hover;
    }
}

// 编辑属性面板
@ppTabH  : 28px;
.hmaker .hm-prop-edit { @noselect();
    padding:@d2;
    .hm-prop-head { 
        padding:@d2; font-family: @f_fixed; font-size:@f2;
        color:@cf2; background: @cb2; border-top:1px solid @cborder1;
        .hm-com-info {
            float:left; line-height: 24px; padding-left:@d1;
            > .hm-skin-box {
                span.com-skin {
                    b {
                        font-size: @f2; color:@cf0; opacity: 1;
                        font-style: normal;
                    }
                }
            }
            > em   {
                color:@c3; font-style: normal; font-size:@f1;
                display: inline-block; vertical-align: middle;
                padding:0 @d1; border:1px solid transparent;
            }
            > em:before {display:inline; content:"#";}
            > em:hover {border-color:rgba(0,0,0,0.2);}
        }
        .hm-com-lib {
            float:right;
            .menu {padding:0;}
        }
    }
    .hm-prop-head:after{@clr();}
    .hm-prop-tabs { @noselect();
        height:(@ppTabH+@d2+@d2)/2; padding:@d2;
        ul {
            @flex(); justify-content: center;
            li {
                height:@ppTabH; line-height: @ppTabH - 1; 
                border:1px solid @cborder1; border-left:0;
                min-width: 80px; text-align: center; padding:0 @d2; font-size:@f2;
                background: @cb1; color:@cf1; cursor: pointer; 
                > b {font-weight: normal;}
            }
            li:first-child {
                border-left:1px solid @cborder1;
                border-radius: @d2 0 0 @d2;
            }
            li:last-child {
                border-radius: 0 @d2 @d2 0;
            }
            li[current] {background: @ch0_b; color:@ch0_f;}
        }
    }
    .hm-prop-body {
        width:100%; height:100%; border:1px solid @cborder1;
        padding:@ppTabH/2 + @d1 @d1 @d1 @d1;
        .hm-prop-con {
            position: absolute; top:0; left:0; right:0; bottom:0; display: none;
            > * {width:100%; height:100%;}
        }
        .hm-prop-con[current] {display: block;}
        //....................................................
        // 块属性
        @bPosH  : 120px;
        @bSkinH : 32px;
        @boxW : 150px;
        @boxH : 96px;
        @vS : 12px;
        @dH : 24px;
        .hm-prop-block {
            position: relative; width:100%; height:100%;
            > div {position: absolute; left:0; right:0;}
            // 皮肤
            .hmpb-skin {
                top:@bPosH; height:@bSkinH; line-height: @bSkinH;
                padding:0 @d3; 
                margin:0; background: @cb2; color:@cf2;
                > em {
                    float:left; display: block; font-style: normal;
                }
                > .hm-skin-box {
                    float:right;
                }
            }
            // 块的 form
            .hmpb-form {
                top:@bPosH + @bSkinH; bottom:0; margin:1px 0;
            }
            .hmpb-form[no-setting] {
                margin:1px 0; border:1px dashed @cborder1;
                padding:@d4; text-align: center; color: @c2;
                font-style: italic; font-weight: normal;
                > i {font-size: @f3;}
            }
            .hmpb-pos {
                top:0; height:@bPosH;
                @flex(); padding:0;
                .hmpb-pos-box-con {
                    flex:1 1 auto;
                }
                .hmpb-dis-mode {flex:0 0 auto;}
                .hmpb-pos-mode {flex:0 0 auto;}
                ul {
                    margin-top:-@d3; font-size:@f0; text-align: center;
                    li[head] {
                        color:@c2; font-size: @f0;
                        text-align: center;
                    }
                    li[v] {
                        padding:@d1; border:1px dotted @c2;
                        color:@c2; cursor: pointer;
                        border-radius: @d0; margin:@d0 0;
                        &[current],&[on] {
                            border:1px solid @chx_b;
                            background: @chx_b; color:@chx_f;
                        }
                    }
                }
            }
            // 绝对定位
            .hmpb-pos[mode="abs"], .hmpb-pos[mode="fix"] {
                .hmpb-pos-v:hover {background:@cb0; border-color:@c6;}
                .hmpb-pos-v[highlight], .hmpb-pos-v[highlight]:hover {
                    background:@cb0; border-color:@c6;
                }
                .hmpb-pos-d[show], .hmpb-pos-v{display: block;}
                .hmpb-margin {display: none;}
            }
            // 相对定位
            .hmpb-pos[mode="inflow"] {
                .hmpb-pos-d[show] {display: block;}
                .hmpb-margin {
                    display: block; position: absolute; left:@dH; right:@dH; top: @dH / -2; height:@dH;
                    text-align: center;
                    > [ui-id] {
                        display: inline-block;
                        .com-switch ul {
                            overflow: hidden; border-radius: @d2; padding:0;
                        }
                    }
                }
            }
            // 位置信息编辑区
            .hmpb-pos-box { @noselect();
                margin:@d3 auto; width:@boxW; height:@boxH;
                border:1px dashed @cborder0;
                position: relative;
                //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                .hmpb-pos-v {display: none;
                    width:@vS;height:@vS;border-radius: @vS; 
                    border:1px solid @cborder1; position: absolute;
                    cursor: pointer;
                }
                .hmpb-pos-v[md="TL"]{top:@vS/-2;    left:@vS/-2;}
                .hmpb-pos-v[md="TR"]{top:@vS/-2;    right:@vS/-2;}
                .hmpb-pos-v[md="LB"]{bottom:@vS/-2; left:@vS/-2;}
                .hmpb-pos-v[md="BR"]{bottom:@vS/-2; right:@vS/-2;}
                //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                .hmpb-pos-d {display: none;
                    position: absolute; padding:0 @d1; line-height: @dH; height: @dH;
                    text-align: center;
                    > span {
                        background: @cb1; color:@cf1; 
                        > * {display: inline-block; padding:@d0 @d1; vertical-align: middle;}
                        em {color:@c4; font-style: normal; cursor: pointer;}
                        em:hover {text-decoration: underline;}
                    }
                    .z-edit-it input{@input_focus(); font-family: @f_fixed;}
                }
                .hmpb-pos-d[key="left"]  {top:@boxH/2 - @vS; left:@vS*-3;}
                .hmpb-pos-d[key="right"] {top:@boxH/2 - @vS; right:@vS*-2;}
                .hmpb-pos-d[key="top"]   {top:@dH/-2;   left:@vS;right:@vS;}
                .hmpb-pos-d[key="bottom"]{bottom:@dH/-2;left:@vS;right:@vS;}
                .hmpb-pos-d[key="width"],
                .hmpb-pos-d[key="height"] { left:0; right:0;
                    line-height: 18px; height:18px;
                    span > * {display: inline-block; padding:0 @d1; vertical-align: middle;}
                    b  {width: 30px; text-align: right;}
                    em {
                        width: 60px; text-align: left; font: @f1 @f_fixed; 
                    }
                }
                .hmpb-pos-d[key="width"]{bottom:@boxH/2;}
                .hmpb-pos-d[key="height"]{top:@boxH/2;}
            }
            // 各种位置模式的显示和隐藏
            .hmpb-pos-box[pos-by="WH"] {
                .hmpb-pos-d[key="width"],
                .hmpb-pos-d[key="height"]{display:block;}
            }
            .hmpb-pos-box[pos-by="TLWH"] {
                .hmpb-pos-d[key="top"],
                .hmpb-pos-d[key="left"],
                .hmpb-pos-d[key="width"],
                .hmpb-pos-d[key="height"]{display:block;}
            }
            .hmpb-pos-box[pos-by="TRWH"] {
                .hmpb-pos-d[key="top"],
                .hmpb-pos-d[key="right"],
                .hmpb-pos-d[key="width"],
                .hmpb-pos-d[key="height"]{display:block;}
            }
            .hmpb-pos-box[pos-by="LBWH"] {
                .hmpb-pos-d[key="left"],
                .hmpb-pos-d[key="bottom"],
                .hmpb-pos-d[key="width"],
                .hmpb-pos-d[key="height"]{display:block;}
            }
            .hmpb-pos-box[pos-by="BRWH"] {
                .hmpb-pos-d[key="bottom"],
                .hmpb-pos-d[key="right"],
                .hmpb-pos-d[key="width"],
                .hmpb-pos-d[key="height"]{display:block;}
            }
            .hmpb-pos-box[pos-by="TLBR"] {
                .hmpb-pos-d[key="top"],
                .hmpb-pos-d[key="left"],
                .hmpb-pos-d[key="bottom"],
                .hmpb-pos-d[key="right"]{display:block;}
            }
            .hmpb-pos-box[pos-by="TLBW"] {
                .hmpb-pos-d[key="top"],
                .hmpb-pos-d[key="left"],
                .hmpb-pos-d[key="bottom"],
                .hmpb-pos-d[key="width"]{display:block;}
            }
            .hmpb-pos-box[pos-by="TBRW"] {
                .hmpb-pos-d[key="top"],
                .hmpb-pos-d[key="bottom"],
                .hmpb-pos-d[key="right"],
                .hmpb-pos-d[key="width"]{display:block;}
            }
            .hmpb-pos-box[pos-by="TLRH"] {
                .hmpb-pos-d[key="top"],
                .hmpb-pos-d[key="left"],
                .hmpb-pos-d[key="right"],
                .hmpb-pos-d[key="height"]{display:block;}
            }
            .hmpb-pos-box[pos-by="LBRH"] {
                .hmpb-pos-d[key="left"],
                .hmpb-pos-d[key="bottom"],
                .hmpb-pos-d[key="right"],
                .hmpb-pos-d[key="height"]{display:block;}
            }
        } // ~ 块属性
        //....................................................
        // 控件属性
        .hm-prop-com {
            width:100%; height:100%; 
            .hmpc-form {
                width: 100%; height:100%; position: relative;
                > .hmpc-form-loading {  
                    position: absolute; top:0;left:0;right:0;bottom:0;
                    padding:@d6 @d4; color:@c2; text-align: center;
                    z-index: 9; font-size:@f1;
                    > * {display: inline-block; vertical-align: middle;}
                    > span {padding:0 @d2; font-size: @f3;}
                    > em {font-style: normal; }
                }
            }
            // 重置菜单控件属性
            .menu {
                background:@cborder1; padding:@d2; text-align: left;
                .menu-item[tp="button"]>.menu-item-wrapper{
                    transition: 0.2s;
                }
                .menu-item[tp="button"]>.menu-item-wrapper:hover {
                    color:@c0; background: rgba(255,255,255,0.4);
                    transform: translateY(-2px);
                }
            }
        } // ~ 控件属性
        //....................................................

    } // ~ .hm-prop-body
} // ~ 编辑属性面板
//............................................................
// 重新设置 form 表单的间距
//............................................................
.hm-prop-form {
    .form {
        padding:0 @d2; font-size: @f2;
        .fg-title {
            border-radius: @d0; font-size:@f2; 
            border:1px dotted @cborder0;
            margin-right: @d2;
        }
        .form-group-hide .fg-title {
            border-style: dotted;
        }
        // .form-fld {
        //     padding:@d1;
        //     .ff-txt {padding:@d3 @d3 @d3 @d4;}
        //     .ff-val {
        //         padding:@d0;
        //         input {font-family: @f_fixed;}
        //     }
        // }
        > .form-body > .form-body-wrapper > .form-group > .fg-fields {
            padding : @d2 @d0;
            > .form-fld {
                padding:1px; font-size:@f2; 
                > .ff-txt {
                    padding:@d2+1px @d2; min-width: 60px;
                    .fft-text {opacity: 0.8;}
                }
                // > .ff-txt .fft-text:after {
                //     content:":"; display: "inline";
                // }
                > .ff-val {
                    padding:0;
                    input,textarea {font-family: @f_fixed;}
                    .com-square-drop {padding:@d1 0;}
                    .com-droplist {padding:@d0 0;}
                }
            }
        }
    }
}
//............................................................
// 页面编辑面板
//............................................................
.hm-prop-page {
    overflow: auto; padding:@d2;
    > div > header {
        margin:1px; padding:@d2; background: @cb2; color:@cf2;
        border:0; font-weight: bold;
        text-align: left; font-size: @f2;
        &:after{@clr();}
        > i {margin-right: @d1;}
        > a {float:right; cursor: pointer; font-size:@f1;}
    }
    > .pp-attr {
        padding:0;
        .page-form {padding:@d0 0;}
    }
    > .pp-links {
        position: relative;
        > aside {
            padding:0 1px; 
            .menu {
                background: @cb2; color:@cf2;
                padding:@d0; text-align: right;
            }
        }
        > section {
            position: absolute; left:0; right:0; bottom:0;
            padding: 0 1px;
            > div {
                width: 100%; height: 100%; overflow:auto;
                border:1px solid @cborder0; 
            }
        }
    }
}
// 页面链接资源加载列表
.hm-rs-list {
    .list-item {
        font-size: @f2; font-family: @f_fixed;
        > i {width: 24px; margin-right: @d0;}
    }
}
// 页面链接资源加载列表
.hm-pg-links {
    padding:@d2;
    .list-item {
        font-size: @f1; font-family: @f_fixed;
        border-bottom:1px dashed @cborder1;
        > i {width: 24px; margin-right: @d0;}
    }
}
//............................................................
// 文件夹属性面板
//............................................................
@pfH0 : 180px;
@pfH1 : 200px;
.hm-prop-folder {
    position: relative;
    > section {
        position: absolute; left: 0; right: 0;
    }
    > .pf-preview {top:0; height:@pfH0;
        .opreview {
            padding:@d2; background: @cb2; color:@cf2;
            header {top:@d2;right:@d3;}
            img {box-shadow: 1px 1px 3px @cshadow; background:#000;}
        }
    }
    > .pf-meta {
        top:@pfH0; bottom:@pfH1;
        padding:@d4 @d4 0 @d4;
        // 表单项的特殊属性
        .ui-form {
            padding:@d3 0;
            .form > .form-body > .form-body-wrapper > .form-group 
            > .fg-fields > .form-fld {
                padding:@d1; font-size: @f1;
                border-bottom:1px dashed @cborder0;
                .ff-txt {
                    padding:0 @d2; 
                    .fft-text:after{display: inline; content: ": ";}
                }                
                .ff-val {
                    padding:0; color:@c3; 
                    .com-label {padding:0;}
                }
                b {font-weight: normal;}
            }
        }
    }
    > .pf-upload  {height:@pfH1; bottom:0; 
        padding:@d4;
        .ui-upload {
            border:1px dashed @cborder1; border-radius: @d2;
        }
    }
}
//............................................................
// 库属性面板
//............................................................
.hm-prop-lib {
    overflow: auto;
    > div {
        width:100%; height:100%; padding:@d2; display: none;
        > header {
            text-align: center; padding:@d2; color:@c2;
            h5 {padding:@d1; margin:0; font-size:@f3;}
            div {font-size:@f7;}
        }
    }
    > div[show] {display: block;}
    .hpl-info {
        > header {
            border-bottom:1px dashed @cborder1;
        }
        > section {
            padding:@d3; overflow: auto;
            h1 {font-size:@f3; padding:@d3 0; margin:0;}
            p {line-height: @f5; font-size:@f3;}
            em {color:@c0; font-style: normal;}
        }
    }
    .hpl-item {
        > header {
            > h5 {
                position: relative;
                a {
                    position: absolute; right: @d2;
                    font-weight: normal; visibility: sub;
                    cursor: pointer; color: @clink;
                    font-size:@f1;
                    text-decoration: none;
                    margin:0 @d2;
                }
                a:hover {
                    text-decoration: underline;
                    color:@clink_hover;
                }
            }
            > h6 {
                padding:@d3;margin:0;font-size:@f2;
                background: @cb2; color:@cf2;
            }
        }
        > section {
            padding: @d2;
            ul {
                list-style: none; padding:@d3; margin: 0;
                background: @cb0; color:@cf0;
                border:1px solid @cborder0;
                > li {
                    padding:@d3; border-top:1px dashed @cborder1;
                    font-family: @f_fixed;
                    > * {
                        display: inline-block; visibility: middle;
                    }
                    > em {
                        font-style: normal; color:@c2;
                        min-width:26px; 
                    }
                    > i {
                        width: 16px; text-align: center;
                    }
                    > em:after {display: inline; content: ".";}
                    > b {font-weight: normal;margin:0 @d2;}
                }
                > li:first-child {border-top:0;}
            }
        }
    }
}
// 创建属性的界面
.hm-prop-lib-create {
    padding:@d4;
    > header {
        padding:@d4 0; font-size:@f2; color:@c2;
    }
    > section {
        input {@input();padding:@d3; font-size:@f3; width:100%;}
        input:focus {@input_focus();}
        input[readonly]{opacity: 0.4; @input();}
    }
    > footer {
        padding:@d3 0; 
        .tip {float:left;}
        .tip[mode="ok"]   {color:@c7;}
        .tip[mode="warn"] {color:@c6;}
        .ado {
            float:right;
            > span { margin-right:@d2;}
            > b { opacity: .4; @btn(); padding:@d3 @d5;}
            > b[enable] {opacity: 1.0;}
            > b[enable]:hover {@btn_hover();}
            .ing {display: none;}
        }
    }
}
.hm-prop-lib-create[ing] {
    footer > .ado > .ing {display: inline-block;}
}
//............................................................
// 面板上的皮肤选择器对象
// TODO 将 com 上的那个改成用这个
//............................................................
.hm-skin-box {@noselect();
    white-space: nowrap; font-family: @f_fixed; color:@cf1; 
    > * {display:inline-block;vertical-align: middle;}
    > span.com-skin {cursor: pointer;
        > i {transition:0.2s;}
        > b {
            font-weight: normal; font-size:@f1; margin-left:@d1; 
            color: @c0; font-weight: normal;
        }
        > b[skin-none] {
            font-style: italic; opacity: 0.4; color:@c2;
        }
    }
    > span.page-css {
        cursor: pointer; display: inline-block; vertical-align: middle;
        padding:0 0 0 @d2; font-size:@f2;
        > i, >b {transition:0.2s;}
        > b {display: inline-block; vertical-align: middle;
            font-weight: normal; margin-left:@d1;
        }
        > b[css-none] {font-style: italic; opacity: 0.4;}
        // 重置弹出体的一些 CSS
        > div {
            line-height: @f3;
            ul > li:after {
                display: inline-block; content: attr(fnm);
                padding:@d0 @d2; border-radius:@d1;
                color:@c6; border:1px dotted @c6;
                font-size:@f1; font-family: @f_fixed;
                margin: 0 @d2; opacity: 0.4;
            }
        }
        // 显示列表
        > div.css-current { @noselect(); 
            z-index:100;
            padding:1px; border:1px solid @cborder1; 
            background: @cpop_b; color:@cpop_f;
            > header {
                padding:@d3; color:@cf2; background: @cb2;
                text-align: center;
            }
            > section {
                padding: @d3 @d2; color:@cf1; background: @cb1;
                border-top:1px solid @cborder1;
                border-bottom:1px solid @cborder1;
                ul {
                    padding:@d2; 
                    li { transition:.3s;
                        white-space: nowrap;
                        padding:@d2 @d4; 
                        b {
                            font-weight: normal; color:@c4;
                        }
                        b:before {display: inline; content: ".";}
                        em {color:@c2; margin-left: @d3;}
                    }
                }
                ul[empty] {
                    color:@c2; font-style: italic;
                }
            }
            > footer { 
                padding: @d3; text-align: right;
                b[a="edit"], b[a="cancel"] {color:@clink; cursor: pointer; font-weight: normal;}
                b[a="edit"]:hover, b[a="cancel"]:hover{
                    color:@clink_hover; text-decoration: underline;
                }
                b[a="ok"] {@btn(); padding:@d2 @d4; margin:0 @d3;}
                b[a="ok"]:hover {@btn_hover();}

                b[a="ok"], b[a="cancel"] {display: none;}
            }
        }
        > div.css-current[edit] {
            box-shadow: 3px 3px 6px @cshadow;
            > section {
                color:@cf0; background: @cb0;
                ul {
                    li:hover {
                        transform: translateX(-8px);
                        opacity: 0.3;
                    }
                }
            }
            > footer {
                b[a="edit"] {display: none;}
                b[a="ok"], b[a="cancel"] {display: inline-block;}
            }
        }
        // 显示全集列表
        div.css-all {
            z-index:100; box-shadow: 3px 3px 6px @cshadow;
            padding:1px; margin:0 @d3; border:1px solid @cborder1; 
            background: @cpop_b; color:@cpop_f; font-family: @f_fixed;
            min-width: 300px; min-height: 200px; overflow: auto;
            h4 {
                padding: @d2; color:@c2; font-size: @f2;
                background: @cb2; color: @cf2; 
                border:1px solid @cborder1;
            }
            ul {
                padding:@d4; color:@cf1; background: @cb1;
                li { transition:.3s;
                    white-space: nowrap;
                    padding:@d2 @d4; 
                    b {
                        font-weight: normal; color:@c4;
                    }
                    b:before {display: inline; content: ".";}
                    em {color:@c2; margin-left: @d3;}
                }
                li:hover {
                    transform: translateX(8px);
                    opacity: 0.3;
                }
            }
            ul[empty] {
                color:@c2; font-style: italic;
            }
        }
        div.css-all[nolinks] {
            padding:@d6; color:@c6; text-align: center;
        }
    }
    > span.page-css:hover {
        color:@c1; 
        > i, > b {transform: translateY(-2px) scale(1.4);}
    }
    // 选择列表
    .hm-skin-list {
        position: fixed; 
        padding:1px; border:1px solid @cborder1; z-index: 100;
        background: @cb0; color:@cf0; 
        box-shadow: 4px 4px 3px @cshadow;
        ul { 
            li {
                line-height: @f6; font-size:@f1; cursor: pointer;
                padding:0 @d3; cursor: pointer; white-space: nowrap;
            }
            li:hover {
                color:@ch0_f; background: @ch0_b;
            }
            li:before {
                display: inline-block; vertical-align: middle;
                width:20px; text-align: center; content: "";
                font-family:'Material-Design-Iconic-Font'; font-style: normal;
            }
            li[checked]:before {content: '\f26b';}
            li:after {
                display: inline;
                content: attr(value);
                color:@c2; font-size:@f0; margin-left:@d2;
            }
            li.skin-none {
                font-style: italic; color:@c2;
            }
        }
    }
    // 警告
    .hm-skin-list[warn] {
        padding: @d2 @d5; white-space: nowrap;
    }
    .hm-skin-list[warn="unset"] {color:@c6;}
    .hm-skin-list[warn="empty"] {color:@c3;}
    // 遮罩
    .hm-skin-mask {
        position: fixed; top:0; right:0; left:0; bottom:0;
        background: rgba(0,0,0,0);  z-index: 99;
    }
}
.hm-skin-box[box-enabled] {
    > span.com-skin:hover {
        color:@c0; 
        > i {transform: translateX(-4px) scale(1.3);}
    }
}

//............................................................
// 控件们的私有属性面板
//............................................................
// 通用的布局对象属性
//............................................................
.hmc-layout-prop {
    padding:@d3;
    // 样式显示区域
    .clp-layout { @noselect();
        > ul {
            border:3px solid @cborder1; padding:@d3;
            > li {
                padding:@d4; margin:1px; cursor: pointer;
                background:rgba(255,255,255,0.4);
                border:1px dashed @cborder1;
                font-family: @f_fixed; position: relative;
                &:after {@clr();}
                &[highlight] {background: rgba(255,255,0,0.4);}

                div[key="areaId"] {
                    padding:0 0 @d2 0; word-break:break-all;
                    float:left;
                }
                div[key="areaAlign"] {
                    clear:left; float:left; min-width: 80px;
                    > * {
                        display: inline-block; vertical-align: middle;
                        transition:transform 0.3s;
                    }
                    span {margin-left:@d1;}
                    &:hover {color:@c0;}
                }
                div[key="areaSize"] {
                    float:right; color:@clink; font-size:@f1; padding:@d0;
                    &:hover {
                        color:@clink_hover;
                        text-decoration: underline;
                    }
                }
                div[key="skin"] {clear:right; float:right;}
            } // > li
            div.layout-area-align-box {
                &:before {
                    display: block; content: "";
                    position: fixed; left: 0; right:0; bottom:0; top:0;
                    background: rgba(0,0,0,0);
                    z-index: 9999;
                }
                section {
                    position: fixed; z-index: 9999;
                    background: @cmenu_b; padding:@d3;
                    border-radius: @d1; box-shadow: 2px 2px 5px @cshadow;
                    table {
                        border-collapse: collapse;
                        td {
                            border:1px dotted @cborder1;
                            padding:@d5; text-align: center;
                            vertical-align: middle; cursor: pointer;
                            font-size: @f2; color:@c2;
                            i {font-size:@f4;}
                            span { margin:0 @d2;}
                        }
                        td:hover {
                            background: @ch1_b; color:@ch1_f;
                        }
                        td[checked] {
                            background: @chx_b; color:@chx_f;
                        }
                    }
                    div {
                        padding:@d2; text-align: center;
                        a {cursor: pointer;}
                        i {font-size:@f4;}
                        span { margin:0 @d2;}
                    }
                }
            } // ~ div.layout-area-align-box
        } // ~ ul
    } // ~ .clp-layout
}
//............................................................
// 布局: rows
// .hmc-rows-prop {
//     .clp-layout { @noselect();
//         > ul {
//             > li {
//                 > div[key="areaSize"]{float:left;}
//                 > div[key="skin"] {float:right;}
//             }
//             > li:after {@clr();}
//         }
//     }
// }
//............................................................
// 布局: columns
// .hmc-columns-prop {
//     .clp-layout { 
//         > ul {
//             @flex(); flex-wrap:wrap;
//             > li {
//                 flex: 1 0 auto; 
//                 min-height : 120px;
//                 min-width  : 30%;
//                 max-width  : 100%;
//                 > div[key="areaSize"] {
//                     text-align: center; padding:@d2;
//                 }
//                 > div[key="skin"] {
//                     position: absolute; right:0; bottom:0;
//                     padding:@d2;
//                 }
//             }
//         }
//     }
// }
//............................................................
// navmenu
.hmc-navmenu-prop {
    @itemH : 24px;
    .cnavmp-item-list { @noselect();
        padding: @d2; margin-bottom:@d3; overflow: auto; 
        border:1px solid @cborder1; background: @cb0; color:@cf0;
        .cnavmp-item {
            border:1px dotted rgba(0,0,0,0.1); cursor: pointer;
            padding:@d0 0 @d0 @d2; margin-bottom:1px;
            @flex(); flex-wrap:wrap; justify-content:flex-end;
            > span {flex: 0 0 auto; padding:0 @d1; display: block;
                line-height: @itemH; height: @itemH;
            }
            > span.info {
                @flex(); padding:0; flex:1 1 auto;
                > span.bullet{
                    width:20px; padding-left:@d1; flex:0 0 auto;
                    > [for="link"] i{
                        opacity: .4; color:@c2; 
                    }
                }
                > span[key="text"]{
                    white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
                    flex:1 1 auto;
                }
            }
            > span[key="href"]{ opacity: 0.7; flex:1 1 auto;
                white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
                color:@c2; font-family: @f_fixed; font-size:@f1; 
            }
            > span[key="href"]:before {
                font-family: 'FontAwesome'; display: inline; content: "\f0c1";
                letter-spacing: @d0; 
            }
            > span[key="href"][nohref] {
                font-style: italic;
            }
            > span[key="href"][nohref]:before {
                content: "\f127"; 
            }
            > span[key="skin"]{}
        }
        .cnavmp-item:after {@clr();}
        .cnavmp-item[current] {
            background:@cb0; color:@c0; border-color:@c0; border-style:solid;
            > span[key="href"] {
                text-decoration: underline; color:@clink; 
            }
            > span[key="href"]:hover {
                opacity: 1.0; 
            }
        }
        .cnavmp-item[newtab] {
            > span.info > span.bullet {
                > [for="link"] i{
                    opacity: 0.6; color:@c5;
                }
            }
        }
        .cnavmp-item[newtab][current] {
            > span.info > span.bullet {
                > [for="link"] i{
                    opacity: 1.0; color:@c0;
                }
            }
        }
        .cnavmp-item[sub] {
            border-left-width: 5px;
            border-left-style: solid;
            padding:0 0 0 @d2;
        }
        .cnavmp-empty {
            text-align: center; padding:@d5 0; font-size: @f3; color:@c6;
        }
    }
    // 显示隐藏区域模式下的菜单项样式
    .cnavmp-item-list[atype="toggleArea"] {
        .cnavmp-item {
            > span.info > span.bullet {
                > [for="link"] {display: none;}
                > [for="toggleArea"] {display: inline;}
            }
        }
    }
    // 超链接模式下的菜单项样式
    .cnavmp-item-list[atype="link"] {
        .cnavmp-item {
            > span.info > span.bullet {
                > [for="link"] {display: inline;}
                > [for="toggleArea"] {display: none;}
            }
        }
    }
    .cnavmp-form {
        padding: @d2 @d0 @d3 @d3; 
        .form {
            > .form-body > .form-body-wrapper > .form-group > .fg-fields {
                padding:0;
                > .form-fld {
                    padding:0;
                    .ff-txt {
                        padding: @d2;
                    }
                    .ff-val {
                        .com-switch {padding:0;}
                    }
                }
            }
        }
    }
}
// 弹出的 href 编辑界面
.navmenu-href-edit {
    width:100%; height:100%; padding:@d4;
    textarea {
        font-size: @f3; font-family: @f_fixed;
    }
}

//............................................................
// 控件: htmlcode
@htmlcodeTH : 32px;
@htmlcodeBH : 48px;
.hmc-htmlcode-prop {
    position: relative;
    padding:@htmlcodeTH 0 @htmlcodeBH 0;
    header {
        position: absolute; top:0; left:0; right:0; 
        height: @htmlcodeTH; line-height: @htmlcodeTH;
        padding:0 @d3;
        > span {float: left;}
        > a {
            float: right; color:@clink; cursor: pointer;
            > i {margin-right: @d2;}
            > em {font-style: normal;}
        }
        > a:hover {color:@clink_hover;}
    }
    header:after {@clr();}
    section {
        width: 100%; height: 100%; padding:@d1;
        textarea { @input(); 
            padding:@d3; outline:none; resize:none;
            width: 100%; height: 100%;
            font-family: @f_fixed; font-size: @f2; 
        }
        textarea:focus {@input_focus();}
    }
    footer {
        position: absolute; bottom:0; left:0; right:0; 
        height: @htmlcodeBH;
        padding:0 @d3; color:@c3;
    }
}

//............................................................
// 控件: dynamic
.hmc-dynamic-prop {
    overflow-y: scroll;
    > h4 {
        font-size:@f2; font-weight: normal; cursor: pointer;
        background: @cb2; color:@cf2; border:1px solid @cborder1;
        padding:@d2 @d3; margin:0;
    }
    > h4[hide-part] {color:@c0; border-color:@c0; border-style:dotted;}
    > [hide-me] {display: none;}
    > section[hide-me] {
        display: block; width:64px; margin:@d0 auto @d2 auto;
        border:1px dotted @cborder1; padding:0; text-align: center;
        color:@c0;
        > * {display: none;}
    }
    > section[hide-me]:after {display: inline;content: "...";}
    > aside {
        padding:@d2; color:@c3; font-family: @f_fixed;
        background: @cb3; color:@cf3;
        > span {float: left;}
        > b {
            float: right;
            > u {text-decoration: none;}
            > em:before {display: inline; content: "(";}
            > em {font-style: normal; margin-left:@d1;}
            > em:after {display: inline; content: ")";}
        }
    }
    > aside:after{@clr();}
    > header {
        padding: @d1 0;
    }
    > section[no-setting] {
        padding:@d3; text-align: center; color:@c2;
        font-style: italic; border:1px dashed @cborder1;
        margin:1px 0;
        > i {font-size: @f3;}
    }
    > section {
        padding-bottom:@d4;
        .form {
            padding: 1px 0; 
            > .form-body {
                overflow: auto;
                > .form-body-wrapper > .form-group > .fg-fields {
                    border:1px solid @cborder1; padding:0;
                    > .form-fld {
                        border-bottom:1px solid @cborder1; padding:0;
                        background: @cb1; color:@cf1;
                        > .ff-txt {
                            font-family: @f_fixed; font-size: @f2; min-width: unset;
                            padding:@d3;
                        }
                        
                        > .ff-val {
                            border-left:1px solid @cborder1;
                            padding:0; 
                            > .ffv-ui {
                                padding:@d0;
                                .com-edit-link {padding:1px @d2;}
                                .com-pair > section.pairs table {
                                    background: @cb2;
                                    td.cp-key {font-size: @f1; padding:@d1;}
                                    td.cp-val input {padding:@d1;}
                                }
                                .com-droplist {padding:0;}
                            }
                            > .ffv-tip {padding-top:0;}
                        }
                    }
                    > .form-fld:last-child {border:0;}
                }
            }
        }
    }
}

//............................................................
// 控件: cnd: filter/sorter 通用
.hmc-cnd-prop > section {
    overflow: auto; padding: @d2 0; font-size:@f2; font-family: @f_fixed;
    > div.empty {
        padding: @d4; text-align: center; color:@c2;
        > i {display: block; padding:@d3; font-size:@f6;}
    }
    > div.cnd-fld {
        padding:@d2; border:1px dotted @cborder1; 
        cursor: default; position: relative; margin-bottom:@d0;
        > ul.fld-info {
            padding:@d1 40px @d1 @d1;
            > li {float:left; padding:0 @d0;}
            > [key="enabled"] {
                padding: 1px @d1 1px 0;
                > i:first-child {display: inline;}
                > i:last-child {display: none;}
            }
            > [key="text"]:after {display: inline; content: ":";}
            > [key="text"] {color:@c5;}
            > [key="name"] {flex: 1 1 auto; color:@c7;}
            > .fi-box{ @noselect();
                float:right;
                padding:0 1px 0 0; opacity: 0.6;
                b {
                    display: block; opacity: 0.6; color:@c2; cursor: pointer;
                    font-weight: normal; font-size:@f1; padding:@d0 @d2;
                    border-radius: @d0; background: @ch1_b; color:@ch1_f;
                }
            }
            > [key="order"] b {
                background: #08F; color: #FFF;
                > i {margin-right: @d1;}
            }
        }
        > ul.fld-info:after{@clr();}
        > ul.fld-info[is-multi]  > [key="multi"]  b,
        > ul.fld-info[is-hide]   > [key="hide"]   b,
        > ul.fld-info[is-modify] > [key="modify"] b,
        {
            opacity: 1; background: @chx_b; color:@chx_f;
        }
        > ul.fld-info[is-or-desc] > [key="order"] b {
            background: #F80;
        }
        > .fld-edit {
            position: absolute; top:0; right: 0; padding:@d2; display: none;
            a {color:@clink; text-decoration: none; cursor: pointer;}
            a:hover {color:@clink_hover; text-decoration: underline;}
        }
        > .fld-itnb {
            position: absolute; top:0; right: 0; padding:@d0; margin:@d1;
            border-radius: @d1; border:1px solid @cborder1; color:@cborder0;
            font-size:@f1;
        }
        > ul.fld-items {
            padding:@d1 0 @d1 @d3; display: none;
            > li { @noselect();
                position: relative; transition:0.2s;
                padding:@d1 50px @d1 @d1; margin-bottom:@d0; 
                border:1px dotted @cborder1; border-left:@d2 solid @cborder1;
                > dl {
                    padding:@d0; margin:1px; font-size: @f1; cursor: pointer;
                    > * {padding:@d0; margin:0; float: left;}
                    > dt {color:@c5; margin-right: @d1; font-size: @f1;}
                    > dt:after {display:inline; content:":";}
                    > dd {
                        color:@c4;
                        > i {margin-right: @d1;}
                    }
                }
                > dl:after {@clr();}
                > span {
                    display: none; padding:@d2 @d2 @d2 0; width: 48px;
                    position: absolute; right:0; top:0;
                    > b {
                        display: block; flex:1 1 auto; cursor: pointer;
                        padding:@d1; font-weight: normal;
                        @flex(); justify-content:center; align-items: center;
                        i {transition: 0.2s;}
                    }
                }
            }
            > aside {@noselect();
                border:1px dotted @cborder0; 
                cursor: pointer; padding:@d2; text-align: center;
                margin:@d2 @d5 0 @d5; font-size: @f1;
                > i {margin-right: @d1; transition:0.3s;}
            }
        }
    }
    > div.cnd-fld[enabled]{
        > ul.fld-info {
            > [key="enabled"] {
                > i:first-child {display: none;}
                > i:last-child {display: inline;}
            }
        }
    }
    > div.cnd-fld[current] {
        border:1px solid @c0; background: @cb0;
        > ul.fld-info {
            > .fi-box{
                opacity: 1;
                b {opacity: 1;}
            }
            > [key="enabled"] {color:@c0;}
        }
        > .fld-edit { display: block; }
        > .fld-itnb { display: none; }
        > ul.fld-items {
            display: block;
            > li {
                border-color:@c0;
                > dl:hover > *{text-decoration: underline; color:@clink_hover;}
                > span {
                    @flex();
                    > b:hover {
                        color:@ch1_f; background: @ch1_b;
                    }
                    > b[a="del"]:hover  i{transform: rotate(360deg) scale(1.2);}
                }
            }
            > aside:hover {
                color: @c0; border:1px dashed @c0;
                > i {margin-right: @d4; transform:scale(1.2);}
            }
        }
    }
}
.hmc-cnd-pop-form {
    .form {
        padding:0; background: @cb1; 
        > .form-body > .form-body-wrapper > .form-group > .fg-fields {
            padding : @d2 @d0; 
            > .form-fld {
                padding:@d2 0; border-bottom:1px dotted @cborder1;
                > .ff-txt {
                    padding:@d2+1px @d2 @d2 @d4;
                    .fft-text:after{display:inline; content:":"}
                }
                > .ff-val {
                    padding:0;
                    input,textarea {font-family: @f_fixed;}
                    .com-square-drop {padding:@d1 0;}
                }
            }
            > .form-fld:last-child {border:0;}
        }
    }
}
//............................................................
// 控件: filter
@fltHH  : 32px;
.hmc-filter-prop {
    > aside {
        height: @fltHH;
    }
    > section {
        padding: @d2 0; 
    }
}
//............................................................
// 控件: sorter
@fltPad : @d0;
.hmc-sorter-prop {
    position: relative; padding:@fltPad+@fltHH 0 0 0;
    > aside {
        position: absolute; top:@fltPad; left:0; right:0;
        height: @fltHH;
    }
    > section {
        width:100%; height:100%; 
    }
}
//............................................................
// 通用的动态数据对象属性
//............................................................
.hm-dynamic-data-setting {
    // 表单样式
    .form {
        padding:0;
        .form-fld {
            padding:0;
            .ff-val{
                padding-right:0;
                .ffv-ui {
                    padding-right:0;
                    .com-box .cbsi b,
                    .com-drop b {
                        font-size:@f2; font-family: @f_fixed; font-weight: normal;
                    }
                    .cmd-box .cbsi {padding:@d1;}
                }
            }
        }
    }
}
//............................................................
// hmc-objlist-prop
.hmc-objlist-prop {
    padding:@d2; overflow-y: auto; overflow-x: hidden;
    //.....................................................
    @partDisabled : {
        content: "..."; width:40px; text-align: center;
        height:@f2; line-height: @f2; border:1px solid @cborder1; border-radius: @d0;
    };
    //.....................................................
    // 通用段落样式
    > section {
        padding:0 @d3;
        // 标题
        > h4 { @noselect();
            padding:@d2; margin:@d2 0 0 0; font:@f2 @f_fixed; 
            border:1px solid @cborder0; background:@cb4; color:@cf4;
            b {cursor: pointer;}
            ul{
                float: right; @flex();
                i {font-size:@f3; margin-left:@d2;}
                li{cursor: pointer; transition:0.2s;}
                li:hover {transform:scale(1.2); color:@c0;}
            }
        }
        > h4:after{@clr();}
        // 内容区
        > div {
            padding:@d2 0 @d2 @d2;
        }

        // 输入框
        input, textarea {
            @input(); padding:@d2; font-size:@f2; font-family:@f_fixed;
        }
        input:focus, textarea:focus {@input_focus();}
    }
    //.....................................................
    // 复选框样式
    .olstp-check {
        cursor: pointer; display: inline-block; width:@d5; text-align: left;
        i:first-child {display: none;}
        i:last-child  {display: inline;}
    }
    //.....................................................
    // 禁止的部分样式
    [part-disabled] {
        .olstp-check {
            i:first-child {display: inline;}
            i:last-child  {display: none;}
        }
    }
    > section[part-disabled] {
        > h4 {
            b {opacity: 0.4;}
            ul {display: none;}
        }
        > div > * {display: none;}
        > div:before {@partDisabled(); display:block; margin:0 auto @d3 auto;}
    }
    //.....................................................
    // 数据源
    .olstp-dds {
        h4 {cursor: pointer;}
    }
    .olstp-dds[part-disabled] {
        h4 {color: @c4; font-weight: bold;}
    }
    //.....................................................
    // 过滤器和排序器的表格
    .olstp-items {
        border:1px solid @cborder1;
        padding:@d2; margin-top:5px;
        min-height: 50px; background: @cb2; color:@cf2;
        width:100%;
        .part-item { @noselect();
            padding:@d2; background: @cb1; color:@cf1;
            border-radius: @d0; margin-bottom:@d3;
            em {
                display: inline-block; padding:0 @d1 0 @d3; font-style:normal; 
                white-space: nowrap; vertical-align: middle;
            }
            header {
                @flex();
                > * {flex:1 1 auto;}
                input {width:100%;}
                em {line-height: @d7;}
            }
            section {
                @flex(); height:@d7; line-height: @d7; padding:0 @d2;
                border:1px solid @cborder1; border-width: 1px 0;
                margin-top:@d1;
                > div:first-child {flex:1 1 auto;}
                > [key] {flex:0 0 auto; text-align: right;}
            }
            footer {
                padding:@d3;
                textarea { width:100%; height: 80px; resize:none;}
            }
            input,textarea {background: @cb1; color:@cf1;}
        }
        .part-item[current] {
            background: @cb0; color:@cf0; box-shadow:2px 2px 5px @cshadow;
            border-color:@c0;
            input,textarea {background: @cinput_b; color:@cinput_f;}
            input:focus,textarea:focus {background: @cinput_bF; color:@cinput_fF;}
        }
    }
    //.....................................................
    // 过滤器
    .olstp-filter {
        .olstp-kwd-label {
            @flex(); 
            font-size: @f2; color:@c2;
            .olstp-check, b {display: inline-block; padding:@d2;}
            textarea {flex:1 0 auto; height:50px;}
        }
        .olstp-kwd[part-disabled] {
            > .olstp-kwd-label > textarea,
            > .olstp-kwd-tip {display: none;}
        }
        .olstp-kwd[part-disabled] > .olstp-kwd-label:after {
            @partDisabled(); display: inline-block; align-self:center;
        }
        .olstp-kwd-tip {padding:@d2; font-size:@f1; color:@c3; text-align: right;}
    }
    //.....................................................
    // 排序器
    .olstp-sorter {
        section {padding-right:0;}
        [key="toggleable"] {
            padding-right:@d3;
        }
        [key="order"] {
            cursor: pointer; padding-left:@d4; border-left:1px solid @cborder1;
            em:before {display: inline-block; vertical-align: middle;}
            span > i {display: none;}
        }
        [key="order"][order="asc"] {
            em:before {content: attr(asc);}
            span > i:first-child{display: inline;}
        }
        [key="order"][order="desc"] {
            em:before {content: attr(desc);}
            span > i:last-child {display: inline;}
        }
        .sorter-lskey {
            @flex(); padding-top:@d2;
            em {display:inline-block; padding:@d3 @d3 @d2 0; font-style:normal;}
            input {flex:1 1 auto;}
        }
    }
    //.....................................................
    // 翻页器
    .olstp-pager {
        > div {
            height:360px; width:100%;
            .form-body {overflow-y: hidden;}
        }
    }
    //.....................................................
}
//............................................................
// hmc-objlist-prop
.hmc-objshow-prop {
    //.....................................................
    // 通用段落样式
    > section {
        padding:0 @d3;
        // 标题
        > h4 { @noselect();
            padding:@d2; margin:@d2 0 0 0; font:@f2 @f_fixed; 
            border:1px solid @cborder0; background:@cb4; color:@cf4;
            b {cursor: pointer;}
            ul{
                float: right; @flex();
                i {font-size:@f3; margin-left:@d2;}
                li{cursor: pointer; transition:0.2s;}
                li:hover {transform:scale(1.2); color:@c0;}
            }
        }
        > h4:after{@clr();}
        // 内容区
        > div {
            padding:@d2 0 @d2 @d2;
        }

        // 输入框
        input, textarea {
            @input(); padding:@d2; font-size:@f2; font-family:@f_fixed;
        }
        input:focus, textarea:focus {@input_focus();}
    }
}