@import (reference) "../ui";

// 编辑属性面板
@ppTabH : 28px;
.hmaker .hm-prop-edit {
    position:relative; padding:@ppTabH/2 + @d2 @d2 @d2 @d2;
    .hm-prop-tabs {
        position: absolute; top:@d2; left:0; right:0; height:@ppTabH; 
        ul {
            @flex(); justify-content: center;
            li {
                height:@ppTabH; line-height: @ppTabH - 1; 
                border:1px solid @cborder1; border-left:0;
                min-width: 80px; text-align: center; padding:0 @d2; font-size:@f2;
                background: @cb1; color:@cf1; cursor: pointer; 
            }
            li:first-child {
                border-left:1px solid @cborder1;
                border-radius: @d2 0 0 @d2;
            }
            li:last-child {
                border-radius: 0 @d2 @d2 0;
            }
            li[current] {background: @ch0_b; color:@ch0_f;}
        }
    }
    .hm-prop-body {
        width:100%; height:100%; border:1px solid @cborder1;
        padding:@ppTabH/2 + @d1 @d1 @d1 @d1;
        .hm-prop-con {
            position: absolute; top:0; left:0; right:0; bottom:0; display: none;
            > * {width:100%; height:100%;}
        }
        .hm-prop-con[current] {display: block;}
        //....................................................
        // 块属性
        @boxW : 200px;
        @boxH : 120px;
        @vS : 12px;
        @dH : 24px;
        .hm-prop-block {
            position: relative; width:100%; height:100%;
            .hmpb-pos {
                .hmpb-pos-abs {
                    padding:@d2; text-align: center;
                    > label {cursor: pointer;}
                    > label>* {display: inline; margin: 0 @d0;}
                    i {display: inline-block; width:14px; vertical-align: middle;}
                    i:first-child {display: none;}
                    i:last-child  {display: inline-block;}
                }
            }
            // 绝对定位
            .hmpb-pos[mode="abs"] {
                .hmpb-pos-abs{
                    i:first-child {display: inline-block;}
                    i:last-child  {display: none;}
                }
                .hmpb-pos-v:hover {background: @ch1_b; border-color:@ch1_f;}
                .hmpb-pos-v[highlight], .hmpb-pos-v[highlight]:hover {
                    background:@chx_f; border-color:@chx_b;
                }
                .hmpb-pos-d[show], .hmpb-pos-v{display: block;}
                .hmpb-margin {display: none;}
            }
            // 相对定位
            .hmpb-pos[mode="inflow"] {
                .hmpb-pos-d[show] {display: block;}
                .hmpb-margin {
                    display: block; position: absolute; left:@dH; right:@dH; top: @dH / -2; height:@dH;
                    text-align: center;
                    > [ui-id] {
                        display: inline-block;
                        .com-switch ul {
                            overflow: hidden; border-radius: @d2; padding:0;
                        }
                    }
                }
            }
            // 位置信息编辑区
            .hmpb-pos-box { @noselect();
                margin:@d5 auto; width:@boxW; height:@boxH;
                border:1px dashed @cborder0;
                position: relative;
                //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                .hmpb-pos-v {display: none;
                    width:@vS;height:@vS;border-radius: @vS; 
                    border:1px solid @cborder1; position: absolute;
                    cursor: pointer;
                }
                .hmpb-pos-v[md="TL"]{top:@vS/-2;    left:@vS/-2;}
                .hmpb-pos-v[md="TR"]{top:@vS/-2;    right:@vS/-2;}
                .hmpb-pos-v[md="LB"]{bottom:@vS/-2; left:@vS/-2;}
                .hmpb-pos-v[md="BR"]{bottom:@vS/-2; right:@vS/-2;}
                //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                .hmpb-pos-d {display: none;
                    position: absolute; padding:0 @d1; line-height: @dH; height: @dH;
                    text-align: center;
                    > span {
                        background: @cb1; color:@cf1; 
                        > * {display: inline-block; padding:@d0 @d1; vertical-align: middle;}
                    }
                }
                .hmpb-pos-d[key="left"]  {top:@boxH/2 - @vS; left:@vS*-3;}
                .hmpb-pos-d[key="right"] {top:@boxH/2 - @vS; right:@vS*-3;}
                .hmpb-pos-d[key="top"]   {top:@dH/-2;   left:@vS;right:@vS;}
                .hmpb-pos-d[key="bottom"]{bottom:@dH/-2;left:@vS;right:@vS;}
                .hmpb-pos-d[key="width"],
                .hmpb-pos-d[key="height"] { left:0; right:0;
                    span > * {display: inline-block; padding:0 @d1; vertical-align: middle;}
                    b  {width: 30px; text-align: right;}
                    em {
                        width: 60px; text-align: left; font-style: normal; font: @f1 @f_fixed;
                    }
                }
                .hmpb-pos-d[key="width"]{bottom:@boxH/2;}
                .hmpb-pos-d[key="height"]{top:@boxH/2;}
            }
            // 各种位置模式的显示和隐藏
            .hmpb-pos-box[pos-by="WH"] {
                .hmpb-pos-d[key="width"],
                .hmpb-pos-d[key="height"]{display:block;}
            }
            .hmpb-pos-box[pos-by="TLWH"] {
                .hmpb-pos-d[key="top"],
                .hmpb-pos-d[key="left"],
                .hmpb-pos-d[key="width"],
                .hmpb-pos-d[key="height"]{display:block;}
            }
            .hmpb-pos-box[pos-by="TRWH"] {
                .hmpb-pos-d[key="top"],
                .hmpb-pos-d[key="right"],
                .hmpb-pos-d[key="width"],
                .hmpb-pos-d[key="height"]{display:block;}
            }
            .hmpb-pos-box[pos-by="LBWH"] {
                .hmpb-pos-d[key="left"],
                .hmpb-pos-d[key="bottom"],
                .hmpb-pos-d[key="width"],
                .hmpb-pos-d[key="height"]{display:block;}
            }
            .hmpb-pos-box[pos-by="BRWH"] {
                .hmpb-pos-d[key="bottom"],
                .hmpb-pos-d[key="right"],
                .hmpb-pos-d[key="width"],
                .hmpb-pos-d[key="height"]{display:block;}
            }
            .hmpb-pos-box[pos-by="TLBR"] {
                .hmpb-pos-d[key="top"],
                .hmpb-pos-d[key="left"],
                .hmpb-pos-d[key="bottom"],
                .hmpb-pos-d[key="right"]{display:block;}
            }
            .hmpb-pos-box[pos-by="TLBW"] {
                .hmpb-pos-d[key="top"],
                .hmpb-pos-d[key="left"],
                .hmpb-pos-d[key="bottom"],
                .hmpb-pos-d[key="width"]{display:block;}
            }
            .hmpb-pos-box[pos-by="TBRW"] {
                .hmpb-pos-d[key="top"],
                .hmpb-pos-d[key="bottom"],
                .hmpb-pos-d[key="right"],
                .hmpb-pos-d[key="width"]{display:block;}
            }
            .hmpb-pos-box[pos-by="TLRH"] {
                .hmpb-pos-d[key="top"],
                .hmpb-pos-d[key="left"],
                .hmpb-pos-d[key="right"],
                .hmpb-pos-d[key="height"]{display:block;}
            }
            .hmpb-pos-box[pos-by="LBRH"] {
                .hmpb-pos-d[key="left"],
                .hmpb-pos-d[key="bottom"],
                .hmpb-pos-d[key="right"],
                .hmpb-pos-d[key="height"]{display:block;}
            }
            // 块的 form
            .hmpb-form {
                position: absolute; left:0; right:0; bottom:0;
            }
        } // ~ 块属性
        //....................................................
        // 控件属性
        @hmpcH : 32px;
        .hm-prop-com {
            width:100%; height:100%; position: relative; padding:@hmpcH 0 0 0;
            > .hmpc-info {@noselect();
                position: absolute; top:0; left:0; height: @hmpcH; line-height: @hmpcH;
                padding:0 @d4; font-family: @f_fixed; color:@cf1;
                > * {display:inline-block;vertical-align: middle;}
                > span {}
                > b    {margin:0 @d1;}
                > em   {color:@c3; font-style: normal;}
                > em:before {display:inline; content:"#";}
            }
            > .hmpc-skin {
                position: absolute; top:0; right:0;
                height: @hmpcH; line-height: @hmpcH; 
                padding:0 @d4; 
            }
            .hmpc-skin[skin-list-show] {
                .hmpc-skin-mask {display: block;}
                .hmpc-skin-list {display: block;}
            }
            .hmpc-form {
                width: 100%; height:100%;

                // 对于直接使用动态数据控件，加点边距
                > [ui-id] > .hm-dynamic-data-setting {
                    padding:@d3;
                }
            }
            // 重置菜单控件属性
            .menu {
                background:@cborder1; padding:@d2; text-align: right;
                .menu-item[tp="button"]>.menu-item-wrapper{
                    transition: 0.2s;
                }
                .menu-item[tp="button"]>.menu-item-wrapper:hover {
                    color:@c0; background: rgba(255,255,255,0.4);
                    transform: translateY(-2px);
                }
            }
        } // ~ 控件属性
        //....................................................
        // 控件内元素属性
        .hm-prop-com-ele { background:@cb2; color:@cf4;
            position: absolute; top:0; bottom:0;left:10000px;
            transition:0.2s; opacity: 0.3;
        }
        .hm-prop-com-ele[show] {
            left:0; opacity: 1.0;
        }
        .hm-prop-ele {
            width:100%; height:100%; position: relative; padding:@hmpcH 0 0 0;
            .hmpe-info {
                position: absolute; top:0; left:0; right:0; height: @hmpcH; line-height: @hmpcH;
                padding:0 @d4; font-family: @f_fixed; font-size:@f3; color:@cf1;  
                border-top: 1px solid @cborder0;
                border-bottom: 1px solid @cborder0;
                > * {margin-right: @d2; }
                > em {color:@c3; font-style: normal;}
            }
            .hmpe-form {
                width: 100%; height:100%;
            }
            .hmpe-hide {
                position: absolute; top:@d2; right:@d2;
                font-size:@f3; font-family: 'Material-Design-Iconic-Font';
                cursor:pointer; 
                color:@cbtn_f; background-color: @cbtn_b; 
                border-radius: 100px; border:2px solid @cbtn_l;
                line-height: @d5; width:@d5 + 4px; text-align: center;
                transition:0.2s;
            }
            .hmpe-hide:before {
                display: "inline";
                content: "\f136";
            }

            .hmpe-hide:hover {
                background-color: @ch0_b; color:@ch0_f; border-color:@cborder1;
                font-size:1.2em; font-weight: bold;
                transform: scale(1.2) rotate(360deg);
            }
        } 
        //....................................................

    } // ~ .hm-prop-body
} // ~ 编辑属性面板
//............................................................
// 重新设置 form 表单的间距
//............................................................
.hm-prop-edit {
    .form {
        padding:0 @d2;
        .fg-title {
            border-radius: @d0; font-size:@f2; 
        }
        .form-fld {
            padding:@d1;
            .ff-txt {padding:@d3 @d3 @d3 @d4;}
            .ff-val {
                padding:@d0;
                input {font-family: @f_fixed;}
            }
        }
    }
}
//............................................................
// 页面编辑面板
//............................................................
.hm-prop-page {
    > section {
        width:100%; height:100%;
    }
}
//............................................................
// 文件夹属性面板
//............................................................
@pfH0 : 180px;
@pfH1 : 200px;
.hm-prop-folder {
    position: relative;
    > section {
        position: absolute; left: 0; right: 0;
    }
    > .pf-preview {top:0; height:@pfH0;
        .opreview {
            // background:rgba(0,0,0,0.1);
            padding:@d2;
            img {box-shadow: 1px 1px 3px @cshadow; background:#000;}
        }
    }
    > .pf-meta    {top:@pfH0; bottom:@pfH1;
        padding:@d4 @d4 0 @d4;
        // 表单项的特殊属性
        .ui-form {
            border:1px solid @cborder1; border-radius: @d0;
            background: @cb2; color:@cf2;
            .form-fld{
                padding:@d2 @d0; font-size:@f1;
                .ff-txt {padding:@d2 @d0 @d2 @d7; border-right:1px solid @cborder1;}
                
                .ff-val {padding:0; color:@c3;}
                b {font-weight: normal;}
            }
        }
    }
    > .pf-upload  {height:@pfH1; bottom:0; 
        padding:@d4;
        .ui-upload {
            border:1px dashed @cborder1; border-radius: @d2;
        }
    }
}
//............................................................
// 面板上的皮肤选择器对象
// TODO 将 com 上的那个改成用这个
//............................................................
.hm-skin-box {
    white-space: nowrap; font-family: @f_fixed; color:@cf1; cursor: pointer;
    > * {display:inline-block;vertical-align: middle;}
    > b   { font-weight: normal; font-size:@f1; margin-left:@d1;}
    > b[skin-none] {font-style: italic; opacity: 0.4;}
    > span {cursor: pointer; transition:0.2s;}
    // 选择列表
    .hm-skin-list {
        position: fixed; 
        padding:1px; border:1px solid @cborder1; z-index: 100;
        background: @cb0; color:@cf0; 
        box-shadow: 4px 4px 3px @cshadow;
        ul { 
            li {
                line-height: @f6; font-size:@f1; cursor: pointer;
                padding:0 @d3; cursor: pointer; white-space: nowrap;
            }
            li:hover {
                color:@ch0_f; background: @ch0_b;
            }
            li:before {
                display: inline-block; vertical-align: middle;
                width:20px; text-align: center; content: "";
                font-family:'Material-Design-Iconic-Font'; font-style: normal;
            }
            li[checked]:before {content: '\f26b';}
            li:after {
                display: inline;
                content: attr(value);
                color:@c2; font-size:@f0; margin-left:@d2;
            }
            li.skin-none {
                font-style: italic; color:@c2;
            }
        }
    }
    // 警告
    .hm-skin-list[warn] {
        padding: @d2 @d5; white-space: nowrap;
    }
    .hm-skin-list[warn="unset"] {color:@c6;}
    .hm-skin-list[warn="empty"] {color:@c3;}
    // 遮罩
    .hm-skin-mask {
        position: fixed; top:0; right:0; left:0; bottom:0;
        background: rgba(0,0,0,0.3);  z-index: 99;
    }
}
.hm-skin-box[box-enabled]:hover {
    color:@c0; 
    > span {transform: translateX(-4px) scale(1.3);}
}

//............................................................
// 控件们的私有属性面板
//............................................................
// 通用的布局对象属性
//............................................................
.hmc-layout-prop {
    padding:@d3;
    // 样式显示区域
    .clp-layout { @noselect();
        > ul {
            border:3px solid @cborder1; padding:@d3;
            > li {
                padding:@d4; margin:1px; cursor: pointer;
                background:rgba(255,255,255,0.4);
                border:1px dashed @cborder1;
                font-family: @f_fixed;
            }
            li[highlight] {
                background: rgba(255,255,0,0.4);
            }
        }
    }
}
//............................................................
// 布局: rows
.hmc-rows-prop {
    .clp-layout { @noselect();
        > ul {
            > li {
                > div[key="areaId"] {float: left;}
                > div[key="skin"] {float:right;}
            }
            li:after {@clr();}
        }
    }
}
//............................................................
// 布局: columns
.hmc-columns-prop {
    .clp-layout { 
        > ul {
            @flex(); flex-wrap:wrap;
            > li {
                flex: 1 0 auto; 
                min-height : 120px;
                min-width  : 30%;
                position: relative;
                > div[key="skin"] {
                    position: absolute; right:0; bottom:0;
                    padding:@d2;
                }
            }
        }
    }
}
//............................................................
// navmenu
.hmc-navmenu-prop {
    overflow: auto;
    .cnavmp-item-list { @noselect();
        padding: @d2; margin-bottom:@d3; 
        border:1px solid @cborder1; background: @cb0; color:@cf0;
        .cnavmp-item {
            border:1px solid rgba(0,0,0,0); cursor: pointer;
            padding:@d2; margin-bottom:1px;
            > span {float:left; padding:@d1; display: none;}
            > span[key="toar-icon"] {
                padding:@d1 @d0;
                >i {font-style: normal;}
            }
            > span[key="text"]{display: block;}
            > span[key="toar-bid"]{
                > i {margin:0 @d2;}
            }
            > span[key="href"]{ 
                color:@c2; font-family: @f_fixed; font-size:@f1; width: 180px; 
                white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
            }
            > span[key="href"]:before {
                font-family: 'FontAwesome'; display: inline; content: "\f0c1";
                letter-spacing: @d0; 
            }
            > span[key="href"][nohref] {
                font-style: italic;
            }
            > span[key="href"][nohref]:before {
                content: "\f127"; 
            }
            > span[key="newtab"]{
                float:right;
                u {text-decoration: none; margin-right:@d1;}
                em {font-style: normal;}
                i:first-child {display: none;}
                i:last-child {display: inline;}
            }
            > span[key="newtab"][open-newtab]{
                i:first-child {display: inline;}
                i:last-child {display: none;}
            }
            // 区域显示的遮罩
            .toar-drop-mask {
                position: fixed; top:0; left:0; right:0; bottom:0; z-index: 99999;
                background: rgba(0,0,0,0);
            }
            .toar-drop {
                position: fixed; z-index: 100000;
                border:1px solid @cborder1; padding:@d0;
                background: @cpop_b; color:@cpop_f; 
                box-shadow: 2px 2px 3px @cshadow;
                border-radius: @d1;
                ul {
                    li {
                        padding: @d2 @d4 @d2 @d2; border-radius: @d0;
                        > i {display: inline-block; width: 20px; text-align: center; margin-right:@d1;}
                        > em {font-size: @f1;}
                        > b {font-weight: normal;}
                    }
                    li:hover {
                        background: @ch0_b; color:@ch0_f;
                    }
                }
            }
        }
        .cnavmp-item:after {@clr();}
        .cnavmp-item[current] {
            background:@cb0; color:@c0; border-color:@c0; 
            > span[key="href"] {
                text-decoration: underline; color:@clink; opacity: 0.7;
            }
            > span[key="href"]:hover {
                opacity: 1.0;
            }
        }
        .cnavmp-empty {
            text-align: center; padding:@d5 0; font-size: @f3; color:@c6;
        }
    }
    // 显示隐藏区域模式下的菜单项样式
    .cnavmp-item-list[atype="toggleArea"] {
        .cnavmp-item {
            > span[key="toar-icon"] {display:block;}
            > span[key="toar-bid"]  {display:block;}
        }
    }
    // 超链接模式下的菜单项样式
    .cnavmp-item-list[atype="link"] {
        .cnavmp-item {
            > span[key="link-icon"] {display:block;}
            > span[key="href"]      {display:block;}
            > span[key="newtab"]    {display:block;}
        }
    }
    .cnavmp-item-list[atype="link"] {
        .cnavmp-item[current] {
            > span[key="link-icon"]:hover {color:#888;}
        }
    }
    .cnavmp-actions {@noselect();
        ul {
            background: @cborder1; padding:@d2;
            @flex(); 
            justify-content: flex-end; 
            align-items:flex-start;
            li {
                padding:@d2; transition: 0.2s; 
                cursor: pointer; font-size: @f1;
            }
            li:hover {
                color:@c0; background: rgba(255,255,255,0.4);
                transform: translateY(-2px);
            }
        }
    }
    .cnavmp-form {
        padding: @d3; 
    }
}
// 弹出的 href 编辑界面
.navmenu-href-edit {
    width:100%; height:100%; padding:@d4;
    textarea {
        font-size: @f3; font-family: @f_fixed;
    }
}

//............................................................
// 通用的动态数据对象属性
//............................................................
.hm-dynamic-data-setting {
    // 表单样式
    .form {
        padding:0;
        .form-fld {
            padding:0;
            .ff-val{
                padding-right:0;
                .ffv-ui {
                    padding-right:0;
                    .com-box .cbsi b,
                    .com-drop b {
                        font-size:@f1; font-family: @f_fixed; font-weight: normal;
                    }
                    .cmd-box .cbsi {padding:@d1;}
                }
            }
        }
    }
}
//............................................................
// hmc-objlist-prop
.hmc-objlist-prop {
    padding:@d2; overflow-y: auto; overflow-x: hidden;
    //.....................................................
    @partDisabled : {
        content: "..."; width:40px; text-align: center;
        height:@f2; line-height: @f2; border:1px solid @cborder1; border-radius: @d0;
    };
    //.....................................................
    // 通用段落样式
    > section {
        padding:0 @d3;
        // 标题
        > h4 { @noselect();
            padding:@d2; margin:@d2 0 0 0; font:@f2 @f_fixed; 
            border:1px solid @cborder0; background:@cb4; color:@cf4;
            b {cursor: pointer;}
            ul{
                float: right; @flex();
                i {font-size:@f3; margin-left:@d2;}
                li{cursor: pointer; transition:0.2s;}
                li:hover {transform:scale(1.2); color:@c0;}
            }
        }
        > h4:after{@clr();}
        // 内容区
        > div {
            padding:@d2 0 @d2 @d2;
        }

        // 输入框
        input, textarea {
            @input(); padding:@d2; font-size:@f2; font-family:@f_fixed;
        }
        input:focus, textarea:focus {@input_focus();}
    }
    //.....................................................
    // 复选框样式
    .olstp-check {
        cursor: pointer; display: inline-block; width:@d5; text-align: left;
        i:first-child {display: none;}
        i:last-child  {display: inline;}
    }
    //.....................................................
    // 禁止的部分样式
    [part-disabled] {
        .olstp-check {
            i:first-child {display: inline;}
            i:last-child  {display: none;}
        }
    }
    > section[part-disabled] {
        > h4 {
            b {opacity: 0.4;}
            ul {display: none;}
        }
        > div > * {display: none;}
        > div:before {@partDisabled(); display:block; margin:0 auto @d3 auto;}
    }
    //.....................................................
    // 数据源
    .olstp-dds {
        h4 {cursor: pointer;}
    }
    .olstp-dds[part-disabled] {
        h4 {color: @c4; font-weight: bold;}
    }
    //.....................................................
    // 过滤器和排序器的表格
    .olstp-items {
        border:1px solid @cborder1;
        padding:@d2; margin-top:5px;
        min-height: 50px; background: @cb2; color:@cf2;
        width:100%;
        .part-item { @noselect();
            padding:@d2; background: @cb1; color:@cf1;
            border-radius: @d0; margin-bottom:@d3;
            em {
                display: inline-block; padding:0 @d1 0 @d3; font-style:normal; 
                white-space: nowrap; vertical-align: middle;
            }
            header {
                @flex();
                > * {flex:1 1 auto;}
                input {width:100%;}
                em {line-height: @d7;}
            }
            section {
                @flex(); height:@d7; line-height: @d7; padding:0 @d2;
                border:1px solid @cborder1; border-width: 1px 0;
                margin-top:@d1;
                > div:first-child {flex:1 1 auto;}
                > [key] {flex:0 0 auto; text-align: right;}
            }
            footer {
                padding:@d3;
                textarea { width:100%; height: 80px; resize:none;}
            }
            input,textarea {background: @cb1; color:@cf1;}
        }
        .part-item[current] {
            background: @cb0; color:@cf0; box-shadow:2px 2px 5px @cshadow;
            border-color:@c0;
            input,textarea {background: @cinput_b; color:@cinput_f;}
            input:focus,textarea:focus {background: @cinput_bF; color:@cinput_fF;}
        }
    }
    //.....................................................
    // 过滤器
    .olstp-filter {
        .olstp-kwd-label {
            @flex(); 
            font-size: @f2; color:@c2;
            .olstp-check, b {display: inline-block; padding:@d2;}
            textarea {flex:1 0 auto; height:50px;}
        }
        .olstp-kwd[part-disabled] {
            > .olstp-kwd-label > textarea,
            > .olstp-kwd-tip {display: none;}
        }
        .olstp-kwd[part-disabled] > .olstp-kwd-label:after {
            @partDisabled(); display: inline-block; align-self:center;
        }
        .olstp-kwd-tip {padding:@d2; font-size:@f1; color:@c3; text-align: right;}
    }
    //.....................................................
    // 排序器
    .olstp-sorter {
        section {padding-right:0;}
        [key="toggleable"] {
            padding-right:@d3;
        }
        [key="order"] {
            cursor: pointer; padding-left:@d4; border-left:1px solid @cborder1;
            em:before {display: inline-block; vertical-align: middle;}
            span > i {display: none;}
        }
        [key="order"][order="asc"] {
            em:before {content: attr(asc);}
            span > i:first-child{display: inline;}
        }
        [key="order"][order="desc"] {
            em:before {content: attr(desc);}
            span > i:last-child {display: inline;}
        }
        .sorter-lskey {
            @flex(); padding-top:@d2;
            em {display:inline-block; padding:@d3 @d3 @d2 0; font-style:normal;}
            input {flex:1 1 auto;}
        }
    }
    //.....................................................
    // 翻页器
    .olstp-pager {
        > div {
            height:360px; width:100%;
            .form-body {overflow-y: hidden;}
        }
    }
    //.....................................................
}
//............................................................
// hmc-objlist-prop
.hmc-objshow-prop {
    //.....................................................
    // 通用段落样式
    > section {
        padding:0 @d3;
        // 标题
        > h4 { @noselect();
            padding:@d2; margin:@d2 0 0 0; font:@f2 @f_fixed; 
            border:1px solid @cborder0; background:@cb4; color:@cf4;
            b {cursor: pointer;}
            ul{
                float: right; @flex();
                i {font-size:@f3; margin-left:@d2;}
                li{cursor: pointer; transition:0.2s;}
                li:hover {transform:scale(1.2); color:@c0;}
            }
        }
        > h4:after{@clr();}
        // 内容区
        > div {
            padding:@d2 0 @d2 @d2;
        }

        // 输入框
        input, textarea {
            @input(); padding:@d2; font-size:@f2; font-family:@f_fixed;
        }
        input:focus, textarea:focus {@input_focus();}
    }
}