@import (reference) "../ui";

@lW : 180px;
@rW : 400px;
@panTH : 32px;

.hmaker {
    position: relative;
    > div {position: absolute; top:0; bottom:0;}
    .hm-con-main {left:@lW;right:@rW;}
    .hm-con-resource {left:0; width:@lW;}
    .hm-con-prop {right:0; width:@rW;}
    //.............................................................
    .hm-W {width: 100%; height:100%; position: relative;}
    //.............................................................
    // 面板的通用样式
    .hm-panel {
        position: relative; padding-top:@panTH;
        background: @cb1;
        > header { @noselect();
            position: absolute; top:0;left:0;right:0;
            background: @cb2; color:@cf2; height:@panTH; line-height: @panTH; 
            > ul {
                > li {
                    position: absolute; top:0; bottom: 0; padding:0 @d3;
                }
                .hmpn-pin {
                    right:0; cursor: pointer;
                }
                .hmpn-tt {
                    left: 0;
                }
                .hmpn-opt {
                    right: @d6;
                }
            }
        }
        > section {
            width: 100%; height:100%; position: relative;
            > * {display: none;
                position: absolute; top:0; left:0; right:0; bottom:0; 
            }
            > *[current] {display: block;}
        }
    }
    //.............................................................
    // 主区域
    .hm-page {
        border-right:1px solid @cborder1;
        //.........................................................
        > .hm-W > div {position: absolute;}
        .hmpg-stage {
            top:@panTH; left:@panTH; right:0; bottom:0; 
            background:#AAB;
            .hmpg-screen {
                background: #FFF; width: 100%; height:100%;
            }
        }
        //.........................................................
        // 隐藏的 .iload <iframe>
        .hmpg-frame-load { display: none;
            width:380px; height:100%; position: fixed; top:300px; left:0px;
            border:3px solid red; z-index: 1000; background: rgba(255,255,255,0.8);
        }
        //.........................................................
        .hmpg-ibar {@noselect();
            top:0;bottom:0;left:0;width:@panTH;
            border:1px solid @cborder1;
            border-top: 0; border-bottom: 0;
            background:@cb2; text-align: center;
            h4 {
                line-height: @panTH; border-bottom:1px solid @cborder1;
            }
            ul {
                line-height: @panTH; font-size: @f3; 
                li {cursor: pointer;}
                li:hover {color: @ch1_f; background: @ch1_b;}
                li:before{line-height: @f5; font-size:@f3;}
            }
        }
        //.........................................................
        .hmpg-sbar {
            top:0;left:@panTH;right:0; height:@panTH;
            background:@cb2;
            > .hm-W > div {position: absolute; top:0;bottom:0;}
            .hmpg-sbar-com  {left:0;}
            .hmpg-sbar-page {right:0;}
            // 菜单的统一属性
            .menu {
                padding:@d1 @d2;
            }
        }
        //.........................................................
    }
    // ~End of 主区域
    //.............................................................
}