.hmaker .hm-prop-edit {
  position: relative;
  padding: 20px 6px 6px 6px;
}
.hmaker .hm-prop-edit .hm-prop-tabs {
  position: absolute;
  top: 6px;
  left: 0;
  right: 0;
  height: 28px;
}
.hmaker .hm-prop-edit .hm-prop-tabs ul {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}
.hmaker .hm-prop-edit .hm-prop-tabs ul li {
  height: 28px;
  line-height: 27px;
  border: 1px solid #d0d0d0;
  border-left: 0;
  min-width: 80px;
  text-align: center;
  padding: 0 6px;
  font-size: 12px;
  background: #eeeeee;
  color: #666666;
  cursor: pointer;
}
.hmaker .hm-prop-edit .hm-prop-tabs ul li:first-child {
  border-left: 1px solid #d0d0d0;
  border-radius: 6px 0 0 6px;
}
.hmaker .hm-prop-edit .hm-prop-tabs ul li:last-child {
  border-radius: 0 6px 6px 0;
}
.hmaker .hm-prop-edit .hm-prop-tabs ul li[current] {
  background: #0044bb;
  color: #ffffff;
}
.hmaker .hm-prop-edit .hm-prop-body {
  width: 100%;
  height: 100%;
  border: 1px solid #d0d0d0;
  padding: 18px 4px 4px 4px;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-con {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-con > * {
  width: 100%;
  height: 100%;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-con[current] {
  display: block;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-block {
  position: relative;
  width: 100%;
  height: 100%;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-block .hmpb-pos .hmpb-pos-abs {
  padding: 6px;
  text-align: center;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-block .hmpb-pos .hmpb-pos-abs > label {
  cursor: pointer;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-block .hmpb-pos .hmpb-pos-abs > label > * {
  display: inline;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-block .hmpb-pos .hmpb-pos-abs i {
  display: inline-block;
  width: 14px;
  vertical-align: middle;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-block .hmpb-pos .hmpb-pos-abs i:first-child {
  display: none;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-block .hmpb-pos .hmpb-pos-abs i:last-child {
  display: inline-block;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-block .hmpb-pos[mode="abs"] .hmpb-pos-abs i:first-child {
  display: inline-block;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-block .hmpb-pos[mode="abs"] .hmpb-pos-abs i:last-child {
  display: none;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-block .hmpb-pos[mode="abs"] .hmpb-pos-v:hover {
  background: #cccccc;
  border-color: #444444;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-block .hmpb-pos[mode="abs"] .hmpb-pos-v[highlight],
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-block .hmpb-pos[mode="abs"] .hmpb-pos-v[highlight]:hover {
  background: #ffffff;
  border-color: #008800;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-block .hmpb-pos[mode="abs"] .hmpb-pos-d[show],
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-block .hmpb-pos[mode="abs"] .hmpb-pos-v {
  display: block;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-block .hmpb-pos-box {
  margin: 16px auto;
  width: 200px;
  height: 120px;
  border: 1px dashed #cccccc;
  position: relative;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-block .hmpb-pos-box .hmpb-pos-v {
  display: none;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  border: 1px solid #d0d0d0;
  position: absolute;
  cursor: pointer;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-block .hmpb-pos-box .hmpb-pos-v[md="lt"] {
  top: -6px;
  left: -6px;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-block .hmpb-pos-box .hmpb-pos-v[md="rt"] {
  top: -6px;
  right: -6px;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-block .hmpb-pos-box .hmpb-pos-v[md="lb"] {
  bottom: -6px;
  left: -6px;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-block .hmpb-pos-box .hmpb-pos-v[md="rb"] {
  bottom: -6px;
  right: -6px;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-block .hmpb-pos-box .hmpb-pos-d {
  display: none;
  position: absolute;
  padding: 6px;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-block .hmpb-pos-box .hmpb-pos-d > span {
  background: #eeeeee;
  color: #666666;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-block .hmpb-pos-box .hmpb-pos-d[key="left"] {
  top: 48px;
  left: -12px;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-block .hmpb-pos-box .hmpb-pos-d[key="top"] {
  top: -12px;
  left: 12px;
  right: 12px;
  text-align: center;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-block .hmpb-pos-box .hmpb-pos-d[key="right"] {
  top: 48px;
  right: -12px;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-block .hmpb-pos-box .hmpb-pos-d[key="bottom"] {
  bottom: -12px;
  left: 12px;
  right: 12px;
  text-align: center;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-block .hmpb-pos-box .hmpb-pos-d[key="width"] {
  bottom: 60px;
  left: 0;
  right: 0;
  text-align: center;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-block .hmpb-pos-box .hmpb-pos-d[key="height"] {
  top: 60px;
  left: 0;
  right: 0;
  text-align: center;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-block .hmpb-form {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-com {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 32px 0 0 0;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-com .hmpc-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 32px;
  line-height: 32px;
  padding: 0 12px;
  font-family: Monaco, Consolas, Courier New;
  color: #666666;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-com .hmpc-info > * {
  margin-right: 6px;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-com .hmpc-info > em {
  color: #008800;
  font-style: normal;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-com .hmpc-info > em:before {
  display: inline;
  content: " : ";
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-com .hmpc-form {
  width: 100%;
  height: 100%;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-com-ele {
  background: #e0e0e0;
  color: #666666;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10000px;
  transition: 0.2s;
  opacity: 0.3;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-com-ele[show] {
  left: 0;
  opacity: 1.0;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-ele {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 32px 0 0 0;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-ele .hmpe-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 32px;
  line-height: 32px;
  padding: 0 12px;
  font-family: Monaco, Consolas, Courier New;
  font-size: 14px;
  color: #666666;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-ele .hmpe-info > * {
  margin-right: 6px;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-ele .hmpe-info > em {
  color: #008800;
  font-style: normal;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-ele .hmpe-form {
  width: 100%;
  height: 100%;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-ele .hmpe-hide {
  position: absolute;
  top: 6px;
  right: 6px;
  font-size: 14px;
  font-family: 'Material-Design-Iconic-Font';
  cursor: pointer;
  color: #000000;
  background-color: #d0d0d0;
  border-radius: 100px;
  border: 2px solid #bbbbbb;
  line-height: 16px;
  width: 20px;
  text-align: center;
  transition: 0.2s;
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-ele .hmpe-hide:before {
  display: "inline";
  content: "\f136";
}
.hmaker .hm-prop-edit .hm-prop-body .hm-prop-ele .hmpe-hide:hover {
  background-color: #0044bb;
  color: #ffffff;
  border-color: #d0d0d0;
  font-size: 1.2em;
  font-weight: bold;
  transform: scale(1.2) rotate(360deg);
}
