@import (reference) "../ui";

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {margin:0; font-size:12px;}
//............................................................
// 拖拽相关
.pmv-dropi {
    padding:1px;
    .hm-drag-tip {
        width:100%; height:100%;
        border:2px dashed #F0F;
        text-align: center; padding:@d1; color:@c0;
        font-size:@f2; line-height: 22px;
        > * { display: none;}
    }
}
.pmv-dropi[pmv-hover] {
    .hm-drag-tip {
        background: rgba(255,255,255,0.6);
        > * { display: inline;}
    }
}
.pmv-mask[no-drag] .pmv-drops {display: none;}

//............................................................
// 控件通用属性
@hS  : 4px;
@hV  : 14px;
@aS  : 2px;
@aiH : 24px;
.hm-com {
    .ui-loading {
        font-size: @f4; padding:@d4; color:@c2;
    }
    > .hm-com-W {
        position: relative;
        > .hm-com-assist {
            > * {position:absolute; z-index: 1; display: none;}
            >.rsz-hdl1{
                border-width: 0;
                border-style: dotted;
                border-color: #0FF;
            }
            >.rsz-hdl1:hover {
                // background: rgba(255,255,0,0.6);
                // border:1px solid rgba(0,0,0,0.2);
            }
            >.rsz-hdl2 {
                width:@hV;height:@hV;
            }
            >.rsz-hdl2:hover {
                // background: rgba(255,255,0,0.6);
                // border:1px solid rgba(0,0,0,0.2);
            }
            > .hmc-ai[m="N"] {cursor:ns-resize; top:0;    left:0;right:0; height:@hS;}
            > .hmc-ai[m="S"] {cursor:ns-resize; bottom:0; left:0;right:0; height:@hS;}
            > .hmc-ai[m="W"] {cursor:ew-resize; left:0;   top:0;bottom:0; width:@hS;}
            > .hmc-ai[m="E"] {cursor:ew-resize; right:0;  top:0;bottom:0; width:@hS;}
            > .hmc-ai[m="NW"] {cursor:nwse-resize; top:0; left:0;}
            > .hmc-ai[m="NE"] {cursor:nesw-resize; top:0; right:0;}
            > .hmc-ai[m="SW"] {cursor:nesw-resize; bottom:0; left:0;}
            > .hmc-ai[m="SE"] {cursor:nwse-resize; bottom:0; right:0;}
            
            > .hmc-ai[m="N"] {border-top-width:@aS;}
            > .hmc-ai[m="S"] {border-bottom-width:@aS;}
            > .hmc-ai[m="W"] {border-left-width:@aS;}
            > .hmc-ai[m="E"] {border-right-width:@aS;}
            
            > .hmc-ai[m="H"] {
                top:0; right:0; padding:0;
                height:@aiH; line-height: @aiH;
                background: rgba(0,0,0,0.4); color:#FF0;
                cursor: hand; font-size: 8px; opacity: 0.6;
                transition: 0.5s; overflow: hidden;
                > i {
                    display: inline-block; text-align: center; 
                    width:@aiH; height: @aiH; line-height: @aiH;
                }
            }
            > .hmc-ai[m="H"]:hover {
                overflow: visible;;
                opacity: 1.0; z-index: 999;
                border-radius: 50%; 
            }
        }
    }
}

// 比较小的块，辅助柄显示的不同
.hm-com[hmc-small] > .hm-com-W > .hm-com-assist {
    > .hmc-ai[m="H"] {
        right: @aiH * -1; opacity: 0.8;
    }
    > .hmc-ai[m="H"]:hover {opacity: 1.0;}
}
.hm-com[hmc-small] > .hm-com-W > .hm-com-assist {
    > .rsz-hdl2 {display: none;}
}

// 绝对定位控件包裹器应该撑满
.hm-com[hmc-mode="abs"] > .hm-com-W {
    width:100%; height:100%;
}

// 激活块的辅助柄
.hm-com[hm-actived] > .hm-com-W > .hm-com-assist > * {
    display: block;
}

//............................................................
// 移动鼠标的遮罩
.hm-page-move-mask {
    //background: rgba(255,0,0,0.1);
    .pmv-helper {
        //background: rgba(255,255,0,0.4);
    }
}
.hm-page-move-mask[mmode="move"] {cursor: move;}
.hm-page-move-mask[mmode="N"] {cursor:ns-resize;}
.hm-page-move-mask[mmode="S"] {cursor:ns-resize;}
.hm-page-move-mask[mmode="W"] {cursor:ew-resize;}
.hm-page-move-mask[mmode="E"] {cursor:ew-resize;}
.hm-page-move-mask[mmode="NW"] {cursor:nwse-resize;}
.hm-page-move-mask[mmode="NE"] {cursor:nesw-resize;}
.hm-page-move-mask[mmode="SW"] {cursor:nesw-resize;}
.hm-page-move-mask[mmode="SE"] {cursor:nwse-resize;}
.hm-page-move-mask[mmode="H"] {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
}

.hm-com {@noselect();}

//............................................................
// 分栏控件通用
//............................................................
@areaP : 1px;
.hm-area {
    position: relative;
    > .hm-area-assist {
        .hma-ai {position: absolute; border:0 dotted rgba(0,0,0,0.2);}
        .hma-ai[m="N"]{top:@areaP;left:@areaP;right:@areaP;border-top-width:1px;}
        .hma-ai[m="W"]{top:@areaP;bottom:@areaP;left:@areaP;border-left-width:1px;}
        .hma-ai[m="E"]{top:@areaP;bottom:@areaP;right:@areaP;border-right-width:1px;}
        .hma-ai[m="S"]{bottom:@areaP;left:@areaP;right:@areaP;border-bottom-width:1px;}
    }
    > .hm-area-con {
        position: relative;
        min-height: 30px;
    }
}
.hm-com[highlight-mode] {
    > .hm-area {opacity: 0.4;}
    > .hm-area[highlight] {opacity: 1.0; background:rgba(255,255,0,0.4);}
}
.hm-com[hm-actived] .hm-area {
    .hma-ai {position: absolute; border-color:#0FF;}
}

//............................................................
// 各个控件的特殊显示
//............................................................
// rows
.hmc-rows {
    
}

//............................................................
// columns
.hmc-columns {
    @flex();
    > .hmc-col-block {
        flex: 1 1 auto;
        min-height: 30px;
    }
}
.hmc-columns[highlight-mode] {
    > .hmc-col-block {opacity: 0.4;}
    > .hmc-col-block[highlight] {opacity: 1.0; background:rgba(255,255,0,0.4);}
}
[hmb-mode="abs"]>.hmb-con>.hmb-area>.hm-com>.hmc-columns {
    width:100%; height:100%;
    align-item : stretch;
}
[hm-actived]>.hmb-con>.hmb-area>.hm-com>.hmc-columns {
    > .hmc-col-block {border:1px dotted @c0; border-right:0;}
    > .hmc-col-block:last-child {border-right:1px dotted @c0;}
}
//............................................................
// navmenu
.hmc-navmenu {
    ul{
        margin:0; padding:0; list-style: none;
    }
    li {position: relative; cursor: pointer;}
    li[href]{color:@clink; text-decoration: underline;}
    li[current] {color:@c0;}
    li[newtab] a:after {
        font-family: 'FontAwesome'; display: inline; content: "\f08e";
        font-size: @f0; color:@c2; 
        position: absolute; margin:-6px 0 0 2px;
    }
    li[toar-checked] {background: rgba(0,0,0,0.2);}
}
// 水平导航条(默认)
.hmc-navmenu[mode="default"] {
    ul {
        @flex(); flex-wrap: wrap;
        li {flex:0 0 auto;}
        li:first-child {border-left:0;}
    }
    ul:after{@clr();}
}
// 垂直导航条
.hmc-navmenu[mode="aside"] {

}
// 绝对定位模式下，导航条应该撑满
.hm-com[ctype="navmenu"][hmc-mode="abs"]>.hm-com-W>.hmc-navmenu {
    width:100%; height:100%;
}
//............................................................
// image
.hm-com[ctype="image"] {display: inline-block;}
.hmc-image { @noselect();
    position: relative; width:100%; height:100%;
    img {border:0;}
    .hmc-image-link-tip { display: none;
        position: absolute; left: @d0; top:@d0;
        color:#FFF; background: rgba(0,0,0,0.3);
        padding:@d2; border-radius: 50%; 
    }
    .hmc-image-txt { display: none;
        position: absolute; padding: @d2;
    }
}
.hmc-image[image-href] .hmc-image-link-tip {display: block;}
.hmc-image[show-txt]   .hmc-image-txt      {display: block;}
//............................................................
// Text
.hmc-text {
    > * {cursor: pointer;}
    > header {margin-bottom:10px;}
}

[hm-actived] .hmc-text{
    > header:hover, 
    > section:hover{
        background: rgba(255,255,0,0.4);
    }
}
//............................................................
// 动态对象的通用属性
.hmc-dds {
    .dds-warn {
        text-align: center; color:@c6; padding:@d4;
        > i {display: block; font-size:@f8; padding:@d3;}
    }
    .api-loading {
        padding:30px; text-align: center;
        color:@c2; font-size: 1.4em;
    }
    .api-empty {
        padding:30px; text-align: center;
        color:@c2; font-size: 1.4em;
    }
    .api-error {
        padding:30px; text-align: center;
        color:@c6; font-size: 1.4em;
    }
    .api-lack-params {
        padding:30px; text-align: center;
        color:@c3; font-size: 1.2em;
    }
}
//............................................................
// objlist
.hmc-objlist {
    /* begin debug 
    width:100%; height:100%;
    background: red url(/o/read/id:6p9oqsdb1sj4qpbfcalhjgdvih) no-repeat contain;
    end debug */
    // 过滤器
    > .hmc-objlist-filter {
        .flt-kwd {
            padding: @d2;
            > div {float: left; padding:4px;} 
        }
        .flt-kwd:after{@clr();}
        .flt-kwd-input input{padding:6px; outline:none;}
        .flt-kwd-btn b{
            display:inline-block; background: #080; color:#FFF; padding:7px 10px;
            border-radius: 2px;
        }
        .flt-fld-list {
            .flt-fld {
                padding:4px 60px; position: relative;
                border-bottom:1px solid #DDD;
                ul {
                    padding:8px; margin:0; list-style: none;
                    li {
                        float: left; min-width: 60px; cursor: pointer; 
                        text-decoration: underline; color:#08F;
                        padding: 0 6px;
                    }
                }
                ul:after {@clr();}
                .flt-fld-text  {
                    position: absolute; left:0; top:4px;
                    padding:8px;
                }
                .flt-fld-multi {
                    position: absolute; right:0; top:4px;
                    padding:4px; cursor: pointer;
                    background: #CCC; border:1px solid #888;
                }
            }
            .flt-fld:first-child {
                border-top:1px solid #DDD;
            }
        }
    }
    // 排序器
    > .hmc-objlist-sorter {
        padding:4px;
        ul {
            padding:0; margin:0; list-style: none;
            li {
                float: left; min-width: 60px; text-align: center; cursor: pointer; 
                padding: 4px 6px; background:#FFF;
                border: 1px solid #CCC; border-right: 0;
            }
            li:last-child {border-right: 1px solid #CCC;}
        }
        ul:after {@clr();}
    }
    // 列表内容
    > .hmc-objlist-list {
        padding:10px; 
    }
    // 翻页器
    > .hmc-objlist-pager {
        > .pager {
            color:#888; padding:10px; border-top:1px solid #CCC;
            text-align: center;
        }
        // 翻页器: 普通
        > .pager-normal {

        }
        // 翻页器: 跳转
        > .pager-jump {

        }
    }
} // ~ objlist

//............................................................
// objlist/objshow 的动态部分
@ddsP : 6px;
.hm-com[dynamic-data] {
    .dynamic-keys {
        position: absolute; top:@ddsP; left:@ddsP;
        padding:1px @d3; background: rgba(255,255,0,0.5); color:#000;
        font-family: @f_fixed; font-size:@f0; border-radius: @d1;
        font-weight: normal; border:1px solid rgba(0,0,0,0.2);
        ul {
            list-style: none; padding: 0; margin: 0;
            > li {float:left; padding:@d0;}
        }
        ul:after{@clr();}
    }
    .dynamic-reload { @noselect(); display: none;
        position: absolute; bottom:@ddsP; right:@ddsP;
        padding:@d3; background: #000; color: #FFF; opacity: 0.4;
        font-size:@f2; cursor: pointer; transition:0.3s;
    }
    .dynamic-reload:hover {
        opacity: 1.0; color:#FF0; border-radius: 50%;
        transform: rotate(360deg); z-index: 999;
    }
    .dynamic-reload:before {
        line-height: 24px;
    }
}
.hm-com[dynamic-data][hm-actived] {
    .dynamic-reload {display: block;}
}

