@import (reference) "../ui";

@lW : 180px;
@rW : 400px;
@panTH : 32px;

.hmaker {
    position: relative; background: @cb0; 
    > div {position: absolute; top:0; bottom:0;}
    .hm-con-main {left:@lW;right:@rW;}
    .hm-con-resource {left:0; width:@lW;}
    .hm-con-prop {right:0; width:@rW;}
    //.............................................................
    .hm-W {width: 100%; height:100%; position: relative;}
    //.............................................................
    // 面板的通用样式
    .hm-panel {
        position: relative; padding-top:@panTH;
        background: @cb1;
        > header { @noselect();
            position: absolute; top:0;left:0;right:0;
            background: @cb2; color:@cf2; height:@panTH; line-height: @panTH; 
            > ul {
                > li {
                    position: absolute; top:0; bottom: 0; padding:0 @d3;
                }
                .hmpn-pin {
                    right:0; cursor: pointer;
                }
                .hmpn-tt {
                    left: 0;
                }
                .hmpn-opt {
                    right: @d6;
                }
            }
        }
        > section {
            width: 100%; height:100%; position: relative;
            > * {
                position: absolute; top:0; left:0; right:0; bottom:0; 
            }
        }
    }
    //.............................................................
    // 属性面板
    .hm-con-prop {
        .hm-panel {
            > section {
                > * {display: none;}
                > *[current] {display: block;}
            }
        }
    }
    //.............................................................
    // 主区域
    .hm-page {
        border-right:1px solid @cborder1;
        //.........................................................
        > .hm-W > div {position: absolute;}
        .hmpg-stage {
            top:@panTH; left:@panTH; right:0; bottom:0; 
            background:#AAB;
            .hmpg-screen {
                background: #FFF;
                > iframe {width:100%; height:100%; border:0;}
            }
            .hmpg-screen[animat-on] {
                transition: 0.1s;
            }
            .hmpg-screen[mode="pc"] {
                width: 100%; height:100%; margin:0px auto;
            }
            .hmpg-screen[mode="phone"] {
                width: 400px; height:96%; margin:10px auto;
                box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
            }
        }
        //.........................................................
        // 隐藏的 .iload <iframe>
        .hmpg-frame-load { display: none;
            width:380px; height:100%; position: fixed; top:300px; left:0px;
            border:3px solid red; z-index: 1000; background: rgba(255,255,255,0.8);
        }
        //.........................................................
        .hmpg-ibar {@noselect();
            top:0;bottom:0;left:0;width:@panTH;
            border:1px solid @cborder1;
            border-top: 0; border-bottom: 0;
            background:@cb2; text-align: center;
            h4 {
                line-height: @panTH; border-bottom:1px solid @cborder1;
            }
            ul {
                line-height: @panTH; font-size: @f3; 
                li {cursor: pointer;}
                li:hover {color: @ch1_f; background: @ch1_b;}
                li:before{line-height: @f5; font-size:@f3;}
            }
        }
        //.........................................................
        .hmpg-sbar {
            top:0;left:@panTH;right:0; height:@panTH;
            background:@cb2; padding:0;
            > .hm-W > div {position: absolute; top:0;bottom:0;}
            // 组件路径条
            .hmpg-sbar-com  {left:0;
                .hm-combar{
                    white-space: nowrap; line-height: @panTH;
                    .hm-combar-item { 
                        display: inline-block; padding:0 @d2;
                        color:@c2; font-size:@f0;
                        i:first-child {vertical-align: middle;}
                        b {
                            margin: 0 @d1; font-weight: normal;
                            font-family: @f_fixed;
                        }
                    }
                    .hm-combar-item[parent] {
                        cursor: pointer;
                    }
                    .hm-combar-item[parent]:hover {
                        color:@c0; text-decoration: underline;
                    }
                    .hm-combar-item[current]{
                        font-weight: bold;; color:@cf0; cursor: default;
                    }
                }
            }
            // 右侧快捷菜单
            .hmpg-sbar-page {right:0;
                .menu {
                    padding:@d1; @flex();
                    .menu-item {
                        flex:0 1 @panTH - @d0 - @d0;
                        .menu-item-wrapper {
                            padding:0 @d1; 
                        }
                    }
                    .menu-item[md="top"][tp="separator"] {
                        height: unset;margin:0 @d1;
                        border-left:0; 
                        border-right:1px solid rgba(0,0,0,0.1);
                    }
                    .menu-item-status {
                        font-size: 16px; overflow: hidden;
                    }
                }
            }
        }
        //.........................................................
    }
    // ~End of 主区域
    //.............................................................
    // Otherview : 任何对象的浏览器
    .hm-other, .hm-folder {
        padding:@panTH 0 0 0;
        > header {
            position: absolute; top:0; left:0; right:0; 
            height: @panTH; line-height: @panTH; 
            background: @cb1; padding: 0 @d3; 
            font-family: @f_fixed;
            i {margin:0 @d2;}
        }
        > section {
            width:100%; height:100%;
        }
    }
    //.............................................................
}
//.............................................................
// 发布面板
.hm-publish-mask {
    .wn-process-panel > section > .wpp-msg[mode="result"] {
        @flex(); justify-content:center; 
        padding:@d6 @d4;
        > div {
            flex:0 0 auto;
            text-align: center;
            padding:@d3;
        }
        .hm-warn {
            color:@c6;
            margin:@d4; border-radius: @d2;
            > i {font-size: @f8;}
            > em {display: block; padding:@d3 0;}
        }
        .hm-enter {
            a {
                display: block; text-align: center;
                font-size: @f4; padding:@d3 0;
            }
        }
    }
}
//.............................................................
// 新建站点面板
.hm-ui-new-site {
    .ff-txt {
        padding: @d5+@d0 @d2 @d5 @d8;
    }
    .com-input input {
        font-size:@f3; padding:@d4;
    }
}





















