* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 12px;
}
.pmv-dropi {
  padding: 1px;
}
.pmv-dropi .hm-drag-tip {
  width: 100%;
  height: 100%;
  border: 2px dashed #F0F;
  text-align: center;
  padding: 4px;
  color: #ff8800;
  font-size: 12px;
  line-height: 22px;
}
.pmv-dropi .hm-drag-tip > * {
  display: none;
}
.pmv-dropi[pmv-hover] .hm-drag-tip {
  background: rgba(255, 255, 255, 0.6);
}
.pmv-dropi[pmv-hover] .hm-drag-tip > * {
  display: inline;
}
.pmv-mask[no-drag] .pmv-drops {
  display: none;
}
.hm-block > .hmb-con {
  position: relative;
}
.hm-block > .hmb-con > .mvrz-ass {
  display: none;
}
.hm-block > .hmb-con > .hmb-area {
  position: relative;
}
.hm-block[hmb-mode="abs"][hm-actived] > .hmb-con > .mvrz-ass {
  display: -webkit-flex;
  display: flex;
  border: 1px dotted #0FF;
}
.hm-block[hmb-mode="inflow"][hm-actived] {
  border: 1px dotted #0FF;
}
.hm-page-move-mask .pmv-helper {
  background: rgba(255, 255, 0, 0.2);
}
.hm-com {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.hmc-rows > .hmc-row-block {
  min-height: 30px;
}
.hmc-rows[highlight-mode] > .hmc-row-block {
  opacity: 0.4;
}
.hmc-rows[highlight-mode] > .hmc-row-block[highlight] {
  opacity: 1.0;
  background: rgba(255, 255, 0, 0.4);
}
[hm-actived] .hmc-rows > .hmc-row-block {
  border: 1px dotted #ff8800;
  border-bottom: 0;
}
[hm-actived] .hmc-rows > .hmc-row-block:last-child {
  border-bottom: 1px dotted #ff8800;
}
.hmc-columns {
  display: -webkit-flex;
  display: flex;
}
.hmc-columns > .hmc-col-block {
  flex: 1 1 auto;
  min-height: 30px;
}
.hmc-columns[highlight-mode] > .hmc-col-block {
  opacity: 0.4;
}
.hmc-columns[highlight-mode] > .hmc-col-block[highlight] {
  opacity: 1.0;
  background: rgba(255, 255, 0, 0.4);
}
[hmb-mode="abs"] > .hmb-con > .hmb-area > .hm-com > .hmc-columns {
  width: 100%;
  height: 100%;
  align-item: stretch;
}
[hm-actived] > .hmb-con > .hmb-area > .hm-com > .hmc-columns > .hmc-col-block {
  border: 1px dotted #ff8800;
  border-right: 0;
}
[hm-actived] > .hmb-con > .hmb-area > .hm-com > .hmc-columns > .hmc-col-block:last-child {
  border-right: 1px dotted #ff8800;
}
[hmb-mode="abs"] > .hmb-con > .hmb-area > .hm-com > .hmc-navmenu {
  width: 100%;
  height: 100%;
}
.hmc-navmenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 24px;
}
.hmc-navmenu li {
  padding: 6px 18px;
  position: relative;
  cursor: pointer;
}
.hmc-navmenu li[href] {
  color: #0088ff;
  text-decoration: underline;
}
.hmc-navmenu li[current] {
  color: #ff8800;
}
.hmc-navmenu li[newtab] a:after {
  font-family: 'FontAwesome';
  display: inline;
  content: "\f08e";
  font-size: 8px;
  color: #888888;
  position: absolute;
  margin: -6px 0 0 2px;
}
.hmc-navmenu[mode="default"] ul {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}
.hmc-navmenu[mode="default"] ul li {
  flex: 0 0 auto;
}
.hmc-navmenu[mode="default"] ul li:first-child {
  border-left: 0;
}
.hmc-navmenu[mode="default"] ul:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.hmc-navmenu li[toar-checked] {
  background: rgba(0, 0, 0, 0.2);
}
.hmc-image {
  width: 100%;
  height: 100%;
  position: relative;
}
.hmc-image .hmc-image-link-tip {
  position: absolute;
  right: 0;
  top: 0;
  margin: 6px;
  display: none;
  color: #FFF;
  font-size: 1.8em;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  padding: 8px;
}
.hmc-image[image-href] .hmc-image-link-tip {
  display: block;
}
.hmc-image-pic {
  width: 100%;
  height: 100%;
}
.hmc-image-txt {
  position: absolute;
  padding: 6px;
  background: rgba(0, 0, 0, 0.2);
  color: #FFF;
}
.hmc-text > * {
  cursor: pointer;
}
.hmc-text > header {
  margin-bottom: 10px;
}
[hm-actived] .hmc-text > header:hover,
[hm-actived] .hmc-text > section:hover {
  background: rgba(255, 255, 0, 0.4);
}
.hmc-objlist {
  /* begin debug 
    width:100%; height:100%;
    background: red url(/o/read/id:6p9oqsdb1sj4qpbfcalhjgdvih) no-repeat contain;
    end debug */
}
.hmc-objlist > section.hmol-msg > .warn {
  text-align: center;
  color: #ff0000;
  padding: 12px;
}
.hmc-objlist > section.hmol-msg > .warn > i {
  display: block;
  font-size: 64px;
  padding: 8px;
}
.hmc-objlist > .hmol-filter .flt-kwd {
  padding: 6px;
}
.hmc-objlist > .hmol-filter .flt-kwd > div {
  float: left;
  padding: 4px;
}
.hmc-objlist > .hmol-filter .flt-kwd:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.hmc-objlist > .hmol-filter .flt-kwd-input input {
  padding: 6px;
  outline: none;
}
.hmc-objlist > .hmol-filter .flt-kwd-btn b {
  display: inline-block;
  background: #080;
  color: #FFF;
  padding: 7px 10px;
  border-radius: 2px;
}
.hmc-objlist > .hmol-filter .flt-fld-list .flt-fld {
  padding: 4px 60px;
  position: relative;
  border-bottom: 1px solid #DDD;
}
.hmc-objlist > .hmol-filter .flt-fld-list .flt-fld ul {
  padding: 8px;
  margin: 0;
  list-style: none;
}
.hmc-objlist > .hmol-filter .flt-fld-list .flt-fld ul li {
  float: left;
  min-width: 60px;
  cursor: pointer;
  text-decoration: underline;
  color: #08F;
  padding: 0 6px;
}
.hmc-objlist > .hmol-filter .flt-fld-list .flt-fld ul:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.hmc-objlist > .hmol-filter .flt-fld-list .flt-fld .flt-fld-text {
  position: absolute;
  left: 0;
  top: 4px;
  padding: 8px;
}
.hmc-objlist > .hmol-filter .flt-fld-list .flt-fld .flt-fld-multi {
  position: absolute;
  right: 0;
  top: 4px;
  padding: 4px;
  cursor: pointer;
  background: #CCC;
  border: 1px solid #888;
}
.hmc-objlist > .hmol-filter .flt-fld-list .flt-fld:first-child {
  border-top: 1px solid #DDD;
}
.hmc-objlist > .hmol-sorter {
  padding: 4px;
}
.hmc-objlist > .hmol-sorter ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.hmc-objlist > .hmol-sorter ul li {
  float: left;
  min-width: 60px;
  text-align: center;
  cursor: pointer;
  padding: 4px 6px;
  background: #FFF;
  border: 1px solid #CCC;
  border-right: 0;
}
.hmc-objlist > .hmol-sorter ul li:last-child {
  border-right: 1px solid #CCC;
}
.hmc-objlist > .hmol-sorter ul:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.hmc-objlist > .hmol-list {
  padding: 10px;
}
.hmc-objlist > .hmol-list .hmol-list-loading {
  padding: 30px;
  text-align: center;
  color: #888888;
  font-size: 1.4em;
}
.hmc-objlist > .hmol-list .hmol-list-empty {
  padding: 30px;
  text-align: center;
  color: #888888;
  font-size: 1.4em;
}
.hmc-objlist > .hmol-list .api-error {
  padding: 30px;
  text-align: center;
  color: #F00;
  font-size: 1.4em;
}
.hmc-objlist > .hmol-pager > .pager {
  color: #888;
  padding: 10px;
  border-top: 1px solid #CCC;
  text-align: center;
}
