.hmaker {
  position: relative;
}
.hmaker > div {
  position: absolute;
  top: 0;
  bottom: 0;
}
.hmaker .hm-con-main {
  left: 180px;
  right: 400px;
}
.hmaker .hm-con-resource {
  left: 0;
  width: 180px;
}
.hmaker .hm-con-prop {
  right: 0;
  width: 400px;
}
.hmaker .hm-W {
  width: 100%;
  height: 100%;
  position: relative;
}
.hmaker .hm-panel {
  position: relative;
  padding-top: 32px;
  background: #eeeeee;
}
.hmaker .hm-panel > header {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #e0e0e0;
  color: #999999;
  height: 32px;
  line-height: 32px;
}
.hmaker .hm-panel > header > ul > li {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0 8px;
}
.hmaker .hm-panel > header > ul .hmpn-pin {
  right: 0;
  cursor: pointer;
}
.hmaker .hm-panel > header > ul .hmpn-tt {
  left: 0;
}
.hmaker .hm-panel > header > ul .hmpn-opt {
  right: 24px;
}
.hmaker .hm-panel > section {
  width: 100%;
  height: 100%;
  position: relative;
}
.hmaker .hm-panel > section > * {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.hmaker .hm-panel > section > *[current] {
  display: block;
}
.hmaker .hm-page {
  border-right: 1px solid #d0d0d0;
}
.hmaker .hm-page > .hm-W > div {
  position: absolute;
}
.hmaker .hm-page .hmpg-stage {
  top: 32px;
  left: 32px;
  right: 0;
  bottom: 0;
  background: #AAB;
}
.hmaker .hm-page .hmpg-stage .hmpg-screen {
  background: #FFF;
  width: 100%;
  height: 100%;
}
.hmaker .hm-page .hmpg-frame-load {
  display: none;
  width: 380px;
  height: 100%;
  position: fixed;
  top: 300px;
  left: 0px;
  border: 3px solid red;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.8);
}
.hmaker .hm-page .hmpg-ibar {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  top: 0;
  bottom: 0;
  left: 0;
  width: 32px;
  border: 1px solid #d0d0d0;
  border-top: 0;
  border-bottom: 0;
  background: #e0e0e0;
  text-align: center;
}
.hmaker .hm-page .hmpg-ibar h4 {
  line-height: 32px;
  border-bottom: 1px solid #d0d0d0;
}
.hmaker .hm-page .hmpg-ibar ul {
  line-height: 32px;
  font-size: 14px;
}
.hmaker .hm-page .hmpg-ibar ul li {
  cursor: pointer;
}
.hmaker .hm-page .hmpg-ibar ul li:hover {
  color: #444444;
  background: #cccccc;
}
.hmaker .hm-page .hmpg-ibar ul li:before {
  line-height: 24px;
  font-size: 14px;
}
.hmaker .hm-page .hmpg-sbar {
  top: 0;
  left: 32px;
  right: 0;
  height: 32px;
  background: #e0e0e0;
}
.hmaker .hm-page .hmpg-sbar > .hm-W > div {
  position: absolute;
  top: 0;
  bottom: 0;
}
.hmaker .hm-page .hmpg-sbar .hmpg-sbar-com {
  left: 0;
}
.hmaker .hm-page .hmpg-sbar .hmpg-sbar-page {
  right: 0;
}
.hmaker .hm-page .hmpg-sbar .menu {
  padding: 4px 6px;
}
