@wl-bar: @d1;
.wn-layout {
    position: relative; overflow: hidden; 
    //------------------------------------------------- rows
    [wl-type="rows"] > .wn-layout-con {
        position: relative; width:100%; height:100%;
        > div {position: absolute; left:0;right:0;}
        > [wl-type="bar"]{height:@wl-bar; cursor: ns-resize;}
    }
    //------------------------------------------------- cols
    [wl-type="cols"] > .wn-layout-con {
        position: relative; width:100%; height:100%;
        > div {position: absolute; top:0;bottom:0;}
        > [wl-type="bar"]{width:@wl-bar; cursor: ew-resize;}
    }
    //------------------------------------------------- tabs
    [wl-type="tabs"] {
        > .wlt-tabs { @noselect();
            @flex();
            padding: @d3 @d2 0 @d2; border-bottom:1px solid @cborder1;
            > ul {
                flex:1 1 auto; @flex();
                padding:0 @d2;
                > li {
                    padding:@d3; cursor: pointer;
                    color:@c2; opacity: 0.7;
                    border-bottom:0; border-left-width:0;
                    &:first-child {border-left-width:1px;}
                    > span {margin:0 @d2;}
                    &[current] {
                        background:@ch1_b; color:@ch1_f; opacity: 1;
                    }
                }
            }
            > .wl-action {
                flex:0 0 auto;
            }
        }
        > .wn-layout-con {
            position: relative;
            > * {
                position: absolute; top:0; left:0; right:0; bottom:0;
                display: none;
                &[current] {display:block;}
            } 
        }
    }
    //------------------------------------------------- box
    [wl-type="box"] {
        position: absolute; z-index:2;
        background:@cb2; color:@cf2; opacity: 1; 
        &[animat-on] {
            transition-property: opacity, left, top, bottom, right, width, height;
            transition-duration: .5s;
        }
        > .wlb-con {
            position: relative; width:100%; height:100%; 
            > .wlb-info {
                padding:@d3; border-bottom:1px solid @cborder1;
                background:@cb4; color:@cf4; overflow: hidden;
                > .wlb-title {
                    padding:0 @d1; font-size:1.2em;
                    > span {margin:0 @d2;}
                }
            }
            > .wlb-main {
                overflow: hidden;
            }
            > .wlb-closer {
                position: absolute;
                @flex(); justify-content: center; align-items: center;
                > b {
                    transition: transform 0.3s;
                    display:block; cursor:pointer;
                    width:32px; height:32px;
                    @flex(); justify-content: center; align-items: center;
                    font-size:@f4; font-family: 'Material-Design-Iconic-Font';

                    &:before{display:"inline"; content:"\f136";}
                    &:hover {transform: scale(1.2) rotate(180deg);}
                }
            } // ~ > .wlb-closer
            &[wlb-cm="RT"] > .wlb-closer {
                right:0; top:0;
            }
            //-----------------------------------
            &[wlb-cm="N"] > .wlb-closer {
                left:0; right:0; bottom:-48px;
                > b {
                    border-radius:50%;
                    color:rgba(0,0,0,0.2);
                    background-color: rgba(255,255,255,0.4); 
                    border:1px solid rgba(0,0,0,0.2);
                }
                > b:hover {
                    background-color: #FFF; color:#444; 
                    border-color:#444;
                }
            }
            //-----------------------------------
        } // ~ > .wlb-con
        &[wl-collapse="yes"] {
            opacity: 0;
            > .wlb-con {visibility: hidden;}
        }
        &[wl-area-hide] {
            z-index: -100;
        }
    }
    /*[wl-type] {
        padding:3px;
        > .wn-layout-con {
            border:1px dashed #CCC;
        }
    }*/
    //------------------------------------------------- bar
    [wl-type="bar"]{background:rgba(0,0,0,0.1); z-index:1;}
    [wl-type="bar"]:hover{background:rgba(0,0,0,0.2);}
}