@import (reference) "../ui";

.tmln {
    .tmlnW {
        width:100%; height:100%;
        @flex(); flex-flow:column nowrap;
    }

    .tmln-hour {
        flex: 1 1 auto;
        border-top:1px solid @cborder0;
    }
}