[theme="w0"] .ui-fld-edit-input {
  font-size: 14px;
  padding: 14px;
  width: 100%;
}
[theme="w0"] .ui-fld-edit-textarea {
  font-size: 14px;
  padding: 14px;
  width: 100%;
  height: 300px;
  resize: none;
  border: 1px solid #DDD;
}
[theme="w0"] .ui-fld-edit-label {
  font: 12px 'Lucida Console', Monaco, monospace;
  padding: 16px 16px;
}
[theme="w0"] .ui-fld-edit-switchs {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
  cursor: pointer;
  list-style: none;
  padding: 1px 0 1px 1px;
  margin: 3px;
  border: 1px solid #dddddd;
  background: #ffffff;
  color: #888888;
  font-size: 10px;
}
[theme="w0"] .ui-fld-edit-switchs li {
  float: left;
  padding: 8px 16px;
  margin-right: 1px;
  background: #dddddd;
}
[theme="w0"] .ui-fld-edit-switchs li.checked {
  color: #ffffff;
  background: #008800;
}
[theme="w0"] .ui-fld-edit-switchs:after {
  clear: both;
  height: 1px;
  overflow: hidden;
  display: block;
  content: "";
}
[theme="w0"] .ui-fld-edit-multiselectbox {
  position: relative;
  font-size: 12px;
}
[theme="w0"] .ui-fld-edit-multiselectbox .msb-item {
  padding: 4px 8px;
  cursor: pointer;
  margin: 2px;
  border: 1px solid #888888;
  background: #dddddd;
  display: inline-block;
}
[theme="w0"] .ui-fld-edit-multiselectbox .msb-box {
  padding: 8px;
}
[theme="w0"] .ui-fld-edit-multiselectbox .msb-box[empty] > div {
  font-size: 14px;
  padding: 4px;
  color: #888888;
  cursor: pointer;
}
[theme="w0"] .ui-fld-edit-multiselectbox .msb-box:hover {
  background: #ffffaa;
}
[theme="w0"] .ui-fld-edit-multiselectbox .msb-box:after {
  clear: both;
  height: 1px;
  overflow: hidden;
  display: block;
  content: "";
}
[theme="w0"] .ui-fld-edit-multiselectbox .msb-pad {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
  left: 0;
  right: 0;
  display: none;
  padding: 4px;
  border: 2px solid #cccccc;
  background: #FFF;
  min-height: 64px;
}
[theme="w0"] .ui-fld-edit-multiselectbox .msb-pad:after {
  clear: both;
  height: 1px;
  overflow: hidden;
  display: block;
  content: "";
}
