@import "../ui/ui.less";


[theme="w0"] {
    .theme_w0();
    
    .ui-fld-edit-input {
        font-size: @f_big; padding: @normal; width:100%;
    }

    .ui-fld-edit-label {
        font:@f_big @ff_code; padding:@big @big;
    }

    .ui-fld-edit-bool-switch {@noselect();
        display: inline-block; cursor:pointer;
        list-style: none; padding:1px 0 1px 1px; margin:3px;
        border:1px solid @c_gray_b; background: @c_white;
        color:@c_gray_f; font-size: @f_tiny;

        li {
            float: left; padding:@normal @big; margin-right:1px;
            background: @c_gray_b;
        }

        li.checked {
            color:@c_white; background: @c_green_f;
        }
    }
    .ui-fld-edit-bool-switch:after{@clr();}

}