/*
16x16 的 ICON
 DOM 应该类似于 
    <div class="ui-oicon-16">
        ... 随便多少层
        <i class="oicon" tp="avi" mime="video/x-msvideo"></i>
    </div>
*/
.ui-oicon-16 .oicon {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background: url(filetypes_32x32.png) no-repeat;
  background-size: 416px 448px;
}
.ui-oicon-16 .oicon_hide {
  visibility: hidden;
}
.ui-oicon-16 .oicon[otp="avi"] {
  background-position: 0px -32px;
}
.ui-oicon-16 .oicon[otp="bin"] {
  background-position: 0px -48px;
}
.ui-oicon-16 .oicon[otp="bmp"] {
  background-position: -16px -48px;
}
.ui-oicon-16 .oicon[otp="css"] {
  background-position: 0px -64px;
}
.ui-oicon-16 .oicon[otp="d-box"] {
  background-position: 0px -80px;
}
.ui-oicon-16 .oicon[otp="d-cal"] {
  background-position: -16px -80px;
}
.ui-oicon-16 .oicon[otp="d-cmd"] {
  background-position: -32px -80px;
}
.ui-oicon-16 .oicon[otp="d-material"] {
  background-position: -48px -80px;
}
.ui-oicon-16 .oicon[otp="d-pobj"] {
  background-position: -64px -80px;
}
.ui-oicon-16 .oicon[otp="d-pro"] {
  background-position: -80px -80px;
}
.ui-oicon-16 .oicon[otp="d-screen"] {
  background-position: -96px -80px;
}
.ui-oicon-16 .oicon[otp="doc"] {
  background-position: -112px -80px;
}
.ui-oicon-16 .oicon[otp="eml"] {
  background-position: 0px -96px;
}
.ui-oicon-16 .oicon[otp="eps"] {
  background-position: -16px -96px;
}
.ui-oicon-16 .oicon[otp="fla"] {
  background-position: 0px -112px;
}
.ui-oicon-16 .oicon[otp="folder"] {
  background-position: -16px -112px;
}
.ui-oicon-16 .oicon[otp="gif"] {
  background-position: 0px -128px;
}
.ui-oicon-16 .oicon[otp="gz"] {
  background-position: -16px -128px;
}
.ui-oicon-16 .oicon[otp="home"] {
  background-position: 0px -144px;
}
.ui-oicon-16 .oicon[otp="html"] {
  background-position: -16px -144px;
}
.ui-oicon-16 .oicon[otp="jpeg"] {
  background-position: 0px -176px;
}
.ui-oicon-16 .oicon[otp="jpg"] {
  background-position: -16px -176px;
}
.ui-oicon-16 .oicon[otp="js"] {
  background-position: -32px -176px;
}
.ui-oicon-16 .oicon[otp="midi"] {
  background-position: 0px -224px;
}
.ui-oicon-16 .oicon[otp="mov"] {
  background-position: -16px -224px;
}
.ui-oicon-16 .oicon[otp="mp3"] {
  background-position: -32px -224px;
}
.ui-oicon-16 .oicon[otp="mp4"] {
  background-position: -48px -224px;
}
.ui-oicon-16 .oicon[otp="mpeg"] {
  background-position: -64px -224px;
}
.ui-oicon-16 .oicon[otp="mpg"] {
  background-position: -80px -224px;
}
.ui-oicon-16 .oicon[otp="pdf"] {
  background-position: 0px -272px;
}
.ui-oicon-16 .oicon[otp="png"] {
  background-position: -16px -272px;
}
.ui-oicon-16 .oicon[otp="ppt"] {
  background-position: -32px -272px;
}
.ui-oicon-16 .oicon[otp="psd"] {
  background-position: -48px -272px;
}
.ui-oicon-16 .oicon[otp="pub"] {
  background-position: -64px -272px;
}
.ui-oicon-16 .oicon[otp="rar"] {
  background-position: 0px -304px;
}
.ui-oicon-16 .oicon[otp="sh"] {
  background-position: 0px -320px;
}
.ui-oicon-16 .oicon[otp="swf"] {
  background-position: -16px -320px;
}
.ui-oicon-16 .oicon[otp="tar"] {
  background-position: 0px -336px;
}
.ui-oicon-16 .oicon[otp="tiff"] {
  background-position: -16px -336px;
}
.ui-oicon-16 .oicon[otp="txt"] {
  background-position: -32px -336px;
}
.ui-oicon-16 .oicon[otp="unknown"] {
  background-position: 0px -352px;
}
.ui-oicon-16 .oicon[otp="wav"] {
  background-position: 0px -384px;
}
.ui-oicon-16 .oicon[otp="xml"] {
  background-position: 0px -400px;
}
