* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ui-clr:after {
    clear: both;
    height: 1px;
    line-height: 1px;
    overflow: hidden;
    display: block;
    content: "";
}

body.ui-body {
    margin: 0;
    overflow: hidden;
    background: #CCC;
}

body.ui-body font, body.ui-body td, body.ui-body form, body.ui-body p, body.ui-body input, body.ui-body {
    font-family: arial, sans-serif;
}

.ui-body a {
    color: #0457ad;
    text-decoration: none;
}

.ui-body a:hover {
    color: #ff3300;
    text-decoration: underline;
}

/* 所有的 ui-code-template 都是隐藏的 */
.ui-code-template {
    display: none;
}

/* 所有的 UI 中的通用组件 */
.ui-btn {
    color: #FFF;
    background-color: #08F;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    font-weight: normal;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    padding: 0 16px 0 12px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.ui-noselect {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;  
}

.ui-btn:hover {
    background-color: #4AF;
    color: #FF0;
}

.ui-body .fa {
    cursor: default;
}

.ui-log {
    padding:10px; margin:0;
    width:100%; height:100%; overflow: auto; 
    background: #000; 
    font-family: Monaco, Consolas, Courier New;
    font-size: 13px;
    -webkit-font-smoothing: auto;
    white-space: pre-wrap;
}

.ui-log-info {color:#CCC;}
.ui-log-err {color:#F00;}







