/***************************************************
 * 定义变量
 */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@clr : {
    content:"";
    display:block;
    height:0;
    clear:both;
};


@flex : {
    display: -webkit-flex;
    display: flex;
};

/***************************************************
 * 自适应布局
 */
html {
    font-size: 100px;
}

/***************************************************
 * 开始 BODY 的设置
 */
body {
    background: #FFF; font-size:.12rem;
}

// 重置导航菜单里面的 UL 样式
.hmc-navmenu {
    ul {list-style:none; margin:0; padding:0;}
}

/***************************************************
 * 定义关键的变量
 */
@c_lnk     : #08F;       // 链接颜色
@c_lnk_ho  : #F80;       // 链接颜色(hover)
@c_t0      : #444;       // 文字颜色
@c_0       : #f9c320;    // 主要颜色
@c_0r      : #FFF;       // 主要颜色的反色
@c_1       : #e93029;    // 辅助颜色
@c_1r      : #FFF;       // 辅助颜色的反色
@c_2       : #34373e;    // 第三颜色
@c_2r      : #FFF;       // 第三颜色的反色
@c_light0   : rgba(255,255,255,0.2);
@c_light1   : rgba(255,255,255,0.4);

/***************************************************
 * 针对控件的样式
 */

//............................................
// com.rows:主体布局
.hm-com[skin="skin-rows-main"] {
    width: 8rem; margin:.1rem auto;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
    border-radius: 2px;
}
.skin-rows-main {
    
}

//............................................
// com.columns:顶栏
.skin-columns-sky {
    
}

//............................................
// com.rows:幻灯片
.skin-rows-slider {
    
}

//............................................
// com.image:全块图片
.hm-com[skin="skin-image-full"] { display: block;}
.skin-image-full {
    
}

//............................................
// com.navmenu:水平菜单
.skin-navmenu-h {
    a[href] {text-decoration: none; color:@c_lnk;}
    a[href]:hover {text-decoration: underline; color:@c_lnk_ho;}
    a {
        display: inline-block; vertical-align: middle; 
        white-space: nowrap; cursor: pointer;
    }
    ul li[current]{
        background: @c_0;
        > a { color:@c_0r;}
    }
    .ul-top {@flex(); justify-content:flex-end;}
    .li-top {
        flex: 0 0 auto; margin:0; padding: .08rem .14rem;
    }
    .li-top[sub-item-nb] > a:after {
        color:rgba(0,0,0,0.2);
        margin:0 0 0 .06rem; 
        font-family:'Material-Design-Iconic-Font';
        display:inline; content:"\f2f2";
    }
    .li-top[sub-item-nb][open-sub] {
        > a:after{color:rgba(0,0,0,0.4);}
    }
    .ul-sub {display: none;}
}

//............................................
// com.navmenu:垂直纵列菜单
.skin-navmenu-cols {
    a[href] {text-decoration: none; color:@c_2r; cursor: pointer;}
    a[href]:hover {text-decoration: underline;}
    a {cursor: default;}
    li {margin:0; text-align: center;}
    li[open-sub]{
        > .ul-sub {display: block;}
    }
    .ul-top {@flex();}
    .li-top {flex:1 1 auto; padding:.08rem .12rem;
        > a {font-weight: bold;}
    }
    .li-sub {padding:.04rem 0;}
    .ul-sub {padding-top:.08rem;}
    .ul-sub-n {display: none;}
}
// for IDE:
.hm-com-navmenu[hm-actived] .skin-navmenu-cols {
    ul li[current]{
        > a {background: #FF0; color:#000;}
    }
}

//............................................
// com.text:底栏口号
.skin-text-slogon {
    background: @c_2; color:@c_2r;
    padding:.05rem; text-align: center;
}

//............................................
// markdown 文本内容
.skin-markdown {
    // 重定义字体大小
    table, thead, tbody, tr, th, td {font-size:1em;}
    
    // 链接
    a {color:#08F; text-decoration: none;}
    a:hover {text-decoration: underline;}
    
    // 表格
    table {
        border-spacing: 0; border-collapse: collapse;
    }
    td, th {
        border:1px solid #dfe2e5; padding:.08rem .16rem;
        font-family: -apple-system, BlinkMacSystemFont, 
                    "Segoe UI", Helvetica, Arial, 
                    sans-serif, "Apple Color Emoji", 
                    "Segoe UI Emoji", "Segoe UI Symbol";
    }
    th {font-weight: bold;}
    
    // 代码
    pre {
        padding: .16rem; overflow: auto;
        font-size: 85%; line-height: 1.45;
        background-color: #F0F0F0; border-radius: 3px;
        font-family: "SFMono-Regular", Consolas, "Liberation Mono", 
                     Menlo, Courier, monospace;
    }
    
}

//............................................
// 分栏区域的样式
.skin-sky-logo {
    padding:.1rem;
}

.skin-sky-menu {
    @flex(); align-items:flex-end;
    text-align: right;
    padding:.1rem 0;
    border-top:1px solid @c_2r;
}

.skin-main-slider {
    border-top:1px solid @c_1;
    border-bottom:2px solid @c_0;
}

.skin-footer-slogon {
    border-top:2px solid @c_0; background: @c_2; color:@c_2r;
    text-align: center;
}

.skin-footer-logo {
    text-align: center; padding:.1rem;
    background: @c_2;
}

.skin-footer-menu {
    padding:.1rem 0; font-size: .12rem; 
    background: @c_2; color:@c_light1;
    border-top:1px solid @c_light0;
    border-bottom:1px solid @c_light0;
}

.skin-footer-copyright {
    text-align: center; background: @c_2; color:@c_light1;
    font-size: .11rem;
}

//............................................
// com.dynamic:媒体列表
.skin-dynamic-media-hlist {
    padding: .08rem;
    .wn-li-media {float:left; margin:.12rem; position: relative;}
    .wlm-info {list-style: none; padding: .08rem 0; margin: 0; min-height: .6rem;}
    .wlm-ih a{font-size:.14rem; text-decoration:none;}
    .wlm-is{font-size:.11rem; }
    .wlm-thumb {
        position: relative; color:#FFF; font-size:.11rem; overflow: hidden;
        background-repeat: no-repeat; background-position: center center;
        background-size: cover; background-color:#000;
        > * {
            position: absolute; padding:.02rem .06rem; text-decoration: none;
            font-size:.11rem; font-style:normal; font-weight: normal;
            font-family: "Microsoft YaHei", Lyh-Regular, helvetica, Arial, sans-ser;
        }
        em {bottom:.06rem; right:.06rem; background: rgba(0,0,0,0.4); }
        u  {bottom:.06rem; left:.06rem; background: rgba(0,0,0,0.3); padding:.04rem;}
        b  {
            background: #F9400f; top:.06rem;left:-.46rem; transform: rotate(-45deg);
            width: 1.2rem; text-align: center; 
        }
    }
}
.skin-dynamic-media-hlist:after{@clr();}
// 图文
.skin-dynamic-media-hlist[sa-li-mode=pt]{
    .wlm-thumb {
        a {
            width:100%; height:100%; background:rgba(0,0,0,0); 
            @flex(); justify-content: center; align-items: center;
            color:#FFF; font-size:.4rem;
        }
        a[href]:hover {background: rgba(0,0,0,0.4);}
        a[href]:hover span{font-family:'Material-Design-Iconic-Font'; display: inline-block;}
        a[href]:hover span:before {content:"\f3a8";}
    }
    .wlm-ih a{color:#444;}
    .wlm-is{color:#AAA;}
}
// 仅图
.skin-dynamic-media-hlist[sa-li-mode=p]{
    .wlm-thumb:hover a{background: rgba(0,0,0,0.4);}
    .wlm-info {
        position: absolute; top:0;left:0;right:0;bottom:0;
        padding:.12rem; color:#FFF;
        .wlm-ih a{color:#FFF; z-index: 100;}
        .wlm-is{color:#DDD;}
    }    
}

// 比例和大小
.skin-dynamic-media-hlist>section:after{@clr();}
.skin-dynamic-media-hlist[sa-li-size="b"][sa-li-scale="16x9"]
    .wlm-thumb {width:4rem; height:2.24rem;}
.skin-dynamic-media-hlist[sa-li-size="b"][sa-li-scale="9x16"]
    .wlm-thumb {width:2.24rem; height:4rem;}
.skin-dynamic-media-hlist[sa-li-size="b"][sa-li-scale="4x3"]
    .wlm-thumb {width:4rem; height:3rem;}
.skin-dynamic-media-hlist[sa-li-size="b"][sa-li-scale="3x4"]
    .wlm-thumb {width:3rem; height:4rem;}
.skin-dynamic-media-hlist[sa-li-size="b"][sa-li-scale="1x1"]
    .wlm-thumb {width:4rem; height:4rem;}
    
.skin-dynamic-media-hlist[sa-li-size="m"][sa-li-scale="16x9"]
    .wlm-thumb {width:2rem; height:1.12rem;}
.skin-dynamic-media-hlist[sa-li-size="m"][sa-li-scale="9x16"]
    .wlm-thumb {width:1.12rem; height:2rem;}
.skin-dynamic-media-hlist[sa-li-size="m"][sa-li-scale="4x3"]
    .wlm-thumb {width:2rem; height:1.5rem;}
.skin-dynamic-media-hlist[sa-li-size="m"][sa-li-scale="3x4"]
    .wlm-thumb {width:1.5rem; height:2rem;}
.skin-dynamic-media-hlist[sa-li-size="m"][sa-li-scale="1x1"]
    .wlm-thumb {width:2rem; height:2rem;}
    
.skin-dynamic-media-hlist[sa-li-size="s"][sa-li-scale="16x9"]
    .wlm-thumb {width:1rem; height:.56rem;}
.skin-dynamic-media-hlist[sa-li-size="s"][sa-li-scale="9x16"]
    .wlm-thumb {width:1.56rem; height:1rem;}
.skin-dynamic-media-hlist[sa-li-size="s"][sa-li-scale="4x3"]
    .wlm-thumb {width:1rem; height:.75rem;}
.skin-dynamic-media-hlist[sa-li-size="s"][sa-li-scale="3x4"]
    .wlm-thumb {width:.75rem; height:1rem;}
.skin-dynamic-media-hlist[sa-li-size="s"][sa-li-scale="1x1"]
    .wlm-thumb {width:1rem; height:1rem;}

//............................................
// com.dynamic:文章列表
.skin-dynamic-article-list {
    padding: .08rem; font-size:.16rem;
    .wn-li-article {@flex(); border:0;}
    .wla-thumb {
        display: block; flex:0 0 auto; margin:0 .12rem 0 0; cursor: pointer;
        background-repeat: no-repeat; background-position: center center;
        background-size: cover; background-color:#000;
    }
    .wla-info {flex:1 1 auto; list-style: none; padding: 0; margin: 0;}
    .wla-ih a {text-decoration:none; color:#08F; cursor: pointer;}
    .wla-ih a:hover {text-decoration:underline;;}
    .wla-is{font-size:.8em; color:#AAA;}
    .wla-ii {
        font-size:.8em; color:#888;
        em {font-style:normal;}
        u  {text-decoration:none;}
        b  {font-weight: normal;}
    }
}
// 显示模式
// 图文
.skin-dynamic-article-list[sa-li-mode=ptb]{
    .wn-li-article {padding:.12rem .06rem;}
    .wla-thumb {}
    .wla-info {position: relative; padding-bottom:1em;}
    .wla-is {padding:.08rem 0;}
    .wla-ii {position: absolute; bottom:.02rem; left:0; right: 0;}
}
// 仅标题
.skin-dynamic-article-list[sa-li-mode=t]{
    .wn-li-article {padding:.06rem;}
    .wla-thumb, .wla-is, .wla-ii{display: none;}
}
// 标题+摘要
.skin-dynamic-article-list[sa-li-mode=tb]{
    .wn-li-article {padding:.06rem;}
    .wla-thumb {display: none;}
    .wla-is {padding:.08rem 0;}
}

// 分隔线
.skin-dynamic-article-list[sa-sep] {
    .wn-li-article {border-top:1px solid #AAA;}
    .wn-li-article:first-child {border:0;}
}
.skin-dynamic-article-list[sa-sep-style="dashed"] {
    .wn-li-article {border-top-style:dashed;;}
}
.skin-dynamic-article-list[sa-sep-style="dotted"] {
    .wn-li-article {border-top-style:dotted;;}
}

// 题图边框
.skin-dynamic-article-list[sa-li-thumb-border="b"] {
    .wla-thumb {border:3px solid #AAA;}
}
.skin-dynamic-article-list[sa-li-thumb-border="t"] {
    .wla-thumb {border:1px solid #AAA;}
}

// 题图圆角
.skin-dynamic-article-list[sa-li-thumb-radius="b"] {
    .wla-thumb {border-radius:.16rem;}
}
.skin-dynamic-article-list[sa-li-thumb-radius="s"] {
    .wla-thumb {border-radius:6px;}
}

// 比例和大小
.skin-dynamic-article-list[sa-li-thumb-sz="b"][sa-li-scale="16x9"]
    .wla-thumb {width:2rem; height:1.12rem;}
.skin-dynamic-article-list[sa-li-thumb-sz="b"][sa-li-scale="9x16"]
    .wla-thumb {width:1.12rem; height:2rem;}
.skin-dynamic-article-list[sa-li-thumb-sz="b"][sa-li-scale="4x3"]
    .wla-thumb {width:2rem; height:1.5rem;}
.skin-dynamic-article-list[sa-li-thumb-sz="b"][sa-li-scale="3x4"]
    .wla-thumb {width:1.5rem; height:2rem;}
.skin-dynamic-article-list[sa-li-thumb-sz="b"][sa-li-scale="1x1"]
    .wla-thumb {width:2rem; height:2rem;}

.skin-dynamic-article-list[sa-li-thumb-sz="m"][sa-li-scale="16x9"]
    .wla-thumb {width:1.5rem; height:.84375rem;}
.skin-dynamic-article-list[sa-li-thumb-sz="m"][sa-li-scale="9x16"]
    .wla-thumb {width:.84375rem; height:1.5rem;}
.skin-dynamic-article-list[sa-li-thumb-sz="m"][sa-li-scale="4x3"]
    .wla-thumb {width:1.5rem; height:1.125rem;}
.skin-dynamic-article-list[sa-li-thumb-sz="m"][sa-li-scale="3x4"]
    .wla-thumb {width:1.125rem; height:1.5rem;}
.skin-dynamic-article-list[sa-li-thumb-sz="m"][sa-li-scale="1x1"]
    .wla-thumb {width:1.5rem; height:1.5rem;}

.skin-dynamic-article-list[sa-li-thumb-sz="s"][sa-li-scale="16x9"]
    .wla-thumb {width:1rem; height:.56rem;}
.skin-dynamic-article-list[sa-li-thumb-sz="s"][sa-li-scale="9x16"]
    .wla-thumb {width:0.56rem; height:1rem;}
.skin-dynamic-article-list[sa-li-thumb-sz="s"][sa-li-scale="4x3"]
    .wla-thumb {width:1rem; height:.75rem;}
.skin-dynamic-article-list[sa-li-thumb-sz="s"][sa-li-scale="3x4"]
    .wla-thumb {width:.75rem; height:1rem;}
.skin-dynamic-article-list[sa-li-thumb-sz="s"][sa-li-scale="1x1"]
    .wla-thumb {width:1rem; height:1rem;}











