* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {font-size:100px;}

body {margin:0; font-size:.14rem;}

form {
	margin: 1rem auto; 
	width: 3.5rem;
	transition: 0.3s;
}

header {
	padding:20px; text-align:center;
	border-bottom:1px dashed #000; height:128px;
	transition: 3.8s;
}
header img {transition: 0.8s;}
section {padding:20px;}
.form-tip {color:#888; font-size:.12rem; padding:.06rem;}
section > div {padding: .08rem; position:relative; }
section > .form-name {transition: 0.3s;}
section > .form-passwd {transition: 0.8s;}
section > .form-passwd-re {transition: 1.2s;}
section > .form-btn {transition: .5s;}
section > .form-others {transition: 1.2s;}
section > .form-signup {transition: 1.4s;}
section > div > span {
	position:absolute; display:block; padding:.08rem;
	font-size:.24rem; 
}
input {
	outline:none; padding:.14rem .14rem .14rem .42rem; font-size:.16rem;
	width:100%; border:1px solid #000;
}
input:focus{background:#FFD;}
button {
	width:100%; padding:12px; border:1px solid #000;
	background:#000; color:#FFF; font-size:.16rem;
}
button[disabled] {
	opacity:0.2;
}

.form-checkre {display:none;}
.form-checkre .re-icon {display:none;}
.form-checkre span {
	position:relative; font-size:.14rem; display:inline-block;
	vertical-align:middle; padding:.02rem;
}
.form-checkre[mode]{display:block;}
.form-checkre[mode="warn"]{color:#F00;}
.form-checkre[mode="warn"] .re-warn{display:inline-block;}
.form-checkre[mode="ok"] {color:#080;}
.form-checkre[mode="ok"] .re-ok{display:inline-block;}

.form-vcode {transition: .5s; opacity:0; overflow:hidden; height:1px; padding:0;}
.form-vcode[show] {position:relative; opacity:1; height:unset; padding:.08rem;}
.form-vcode .vcode-tip {padding:.04rem;}
.form-vcode .vcode-tt  {font-size:.14rem; padding:.14rem; color:#080;}
.form-vcode input {padding-left:1.6rem;}
.form-vcode b {
	display:block; background:#888; color:#FFF; text-align:center; font-size:.12rem;
	padding:.06rem; cursor:default; margin:.02rem 0; font-weight:normal;
	user-select: none; font-style:italic;
}
.form-vcode b em {font-style:normal;color:#FF0;margin-right:.04rem;display:inline;}
.form-vcode b span {display:inline;}
.form-vcode b[enabled] {background:#080; cursor:pointer; font-style:normal;}
.form-vcode b[enabled]:hover {background:#3A3;}
.form-vcode b[enabled] em {display:none;}
.form-vcode b[enabled] span {display:none;}

section > .form-others {padding:0 16px; height:.36rem;}
section > .form-others > *{display:inline-block; vertical-align:top;}
section > .form-others b{color:#AAA; font-size:.12rem; font-weight:normal; margin-right:.08rem;}
section > .form-others a{color:#000; font-size:.18rem; margin:0 .02rem;opacity:0.8; transition: 0.3s;}
section > .form-others a:hover{opacity:1.0; transform:scale(1.4);}
section > .form-signup {text-align:center;}
section > .form-signup a {color:#888; text-decoration:none;}
section > .form-signup a:hover {color:#08F; text-decoration:underline;}
section > .form-signup a i {margin-right:.04rem;}

body[mode="begin"] form {dopacity: 0;}
body[mode="begin"] header {border-color:rgba(0,0,0,0);}
body[mode="begin"] header img {transform: translateY(60px) scale(.1); opacity:0;}
body[mode="begin"] .form-name {transform: translateX(300px); opacity:0;}
body[mode="begin"] .form-passwd {transform: translateX(-300px); opacity:0;}
body[mode="begin"] .form-passwd-re {transform: translateX(-300px); opacity:0;}
body[mode="begin"] .form-btn {transform: translateY(50px); opacity:0;}
body[mode="begin"] .form-others {transform: translateY(50px); opacity:0;}
body[mode="begin"] .form-signup {transform: translateY(50px); opacity:0;}
