* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {margin:0;}

form {
	margin: 100px auto; 
	width: 400px;
	transition: 0.3s;
}

header {
	padding:20px; text-align:center;
	border-bottom:1px dashed #000; height:128px;
	transition: 3.8s;
}
header img {transition: 0.8s;}
section {padding:20px;}
section > div {padding: 8px; position:relative; }
section > .login-name {transition: 0.3s;}
section > .login-passwd {transition: 0.8s;}
section > .login-btn {transition: 1.2s;}
section > div > span {
	position:absolute; display:block; padding:12px;
	font-size:24px; 
}
input {
	outline:none; padding:14px 14px 14px 42px; font-size:16px;
	width:100%; border:1px solid #000;
}
input:focus{background:#FFD;}
button {
	width:100%; padding:12px; border:1px solid #000;
	background:#000; color:#FFF; font-size:16px;
}

body[mode="begin"] form {dopacity: 0;}
body[mode="begin"] header {border-color:rgba(0,0,0,0);}
body[mode="begin"] header img {transform: translateY(60px) scale(.1); opacity:0;}
body[mode="begin"] .login-name {transform: translateX(300px); opacity:0;}
body[mode="begin"] .login-passwd {transform: translateX(-300px); opacity:0;}
body[mode="begin"] .login-btn {transform: translateY(50px); opacity:0;}
