@import "_page";

//......................................................................
.main {
    margin: 10% auto 0 auto; 
    max-width: 3.5rem; 
    min-width: 3rem;
    transition: 0.3s; 
}
@media screen and (max-device-width: 480px) {
    .main {
        margin: 0 auto; 
        width:100%;
    }
}
//......................................................................
header.big-icon{
    padding:.2rem .2rem 0 .2rem; text-align:center;
    height:1.1rem; color:@c_tip;
    .about  {font-size: .12rem; text-align: right;}
}
header.small-icon {
    padding:.1rem .2rem; color:@c_tip; 
    border-bottom:1px dashed @c_box1;
    > img {height:.32rem; float: left;}
    > h4 {
    	line-height:.32rem; padding:0 .1rem; margin:0; 
    	float:right; font-size:.18rem; font-weight: normal;
    }
}
header.small-icon:after{@clr();}
header[an] {
	img   {transition: 0.8s;}
	> div {transition: 1.3s;}
}
header[an="slide-down"] {
	img {transition: 1.2s;}
	.slogon {transition: 0.8s;}
}
body[mode="begin"] {
	header[an] > * {opacity: 0;}
	header[an="zoom-in"] {
		img {transform: translateY(60px) scale(.1);}
		.slogon {transform: scale(.1);}
	}
	header[an="slide-down"] {
		img {transform: translateY(-80px);}
		.slogon {transform: translateY(-120px);}
	}
	header[an="slide-up"] {
		img {transform: translateY(80px);}
		.slogon {transform: translateY(120px);}
	}
	
}
//......................................................................
section {
	padding:20px;
	//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	> div {
		transition: 0.5s; padding: .08rem; position:relative;
		> span.fld-icon {
			position:absolute; display:block; padding:.08rem .08rem .08rem .14rem;
			font-size:.24rem; color:@c_icon_t;
		}
	}
	> div[mode="invalid"] {
		> span { color:@c_invalid;}
		> input {border-color:@c_invalid; color:@c_invalid;}
	}
	> div[mode="ok"] {
		> span { color:@c_ok;}
		> input {border-color:@c_ok;}
	}
	//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	.fld-tip {
		font-size:.12rem; padding:.06rem; color:@c_tip;
	}
	//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	> .form-name {transition: 0.3s;}
	> .form-passwd {transition: 0.8s;}
	> .form-passre {transition: 1.2s;}
	> .form-btn {transition: .5s;}
	> .form-others {transition: 1.2s;}
	> .form-links {transition: 1s;}
	> .form-signup {transition: 1.4s;}
	//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	> .form-title {
		font-size:.14rem; color:@c_tip; line-height: .24rem;
		font-family: @f_fixed;
		em {color:@c_link; font-style: normal;}
		u {text-decoration: none; font-size:.12rem;}
	}
	//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	.form-tip {
		display:none;
		.re-icon {display:none;}
		span {
			font-size:.12rem; margin-left:.02rem;
		}
		> div {
			padding:.04rem .08rem; background: @c_tip_b; border:1px solid @c_tip_l;
		}
	}
	.form-tip[mode]{display:block;}
	.form-tip[mode="warn"] {
		.re-warn{display:inline-block;}
		span {color:@c_invalid;}
	}
	.form-tip[mode="ok"] {
		.re-ok{display:inline-block;}
		span {color:@c_ok;}
	}
	//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	.form-vcode[show] {position:relative; opacity:1; height:unset; padding:.08rem;}
	.form-vcode {
		transition: .3s; opacity:0; overflow:hidden; height:1px; padding:0;
		.vcode-tt  {font-size:.14rem; padding:.14rem; color:@c_ok;}
		input {padding-left:1.6rem;}
		b {
			display:block; background:@c_disabled_b; color:@c_disabled_f; text-align:center; font-size:.12rem;
			padding:.06rem; cursor:default; margin:.02rem 0; font-weight:normal;
			user-select: none; font-style:italic;
			font-family: Monaco, Consolas, Courier New;
		}
		b em {font-style:normal;color:@c_disabled_e;margin-right:.04rem;display:inline;}
		b span {display:inline;}
		b[enabled] {background:@c_btn_enable; cursor:pointer; font-style:normal;}
		b[enabled]:hover {background:@c_btn_enable_hover;}
		b[enabled] em {display:none;}
	}
	//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	.form-passwd {
		> span { cursor: pointer; color:@c_icon_t;
			i:first-child {display: none;}
			i:last-child {display: inline-block;}
		}
		.fpwd-level {display: none;
			ul { @flex();
				list-style: none; margin:.04rem; padding: 0;
				border:1px solid @c_box1;
				li {
					flex:1 1 auto; padding:.02rem; text-align: center;
					font-size: .10rem; color: @c_box1; 
					border-left:1px solid @c_box1;
					> i {margin:0 .02rem;}
				}
				li:first-child{border-left:0;}
				li[on] {background: @c_box1_on_b; color:@c_box1_on_f;}
				li[on-mark] {color:@c_box1_on_fF;}
			}
		}
		.fpwd-tip {display: none;}
	}
	.form-passwd[mode="short"] .fpwd-tip {display: block;}
	.form-passwd[mode="invalid"] .fpwd-tip {
		display: block; color:@c_invalid; font-size:.16rem;
	}
	.form-passwd[mode="ok"] .fpwd-level {display: block;}
	.form-passwd[eye-on] {
		> span { color:@c_icon_e;
			i:first-child {display: inline-block;}
			i:last-child {display: none;}
		}
	}
	.form-passwd[mode="hide"]{display: none;}
	//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	.form-passre {
		> span i {display: none;}
	}
	.form-passre[mode="invalid"] {
		> span i:first-child {display:inline-block; color:@c_invalid;}
	}
	.form-passre[mode="ok"] {
		> span i:last-child {display:inline-block; color:@c_ok;}
	}
	.form-passre[mode="hide"]{display: none;}
	//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	.form-btn {
		.form-submit-error { display: none;
			color:@c_invalid; font-size:.12rem; padding:.06rem;
		}
	}
	.form-btn[mode="invalid"] {
		.form-submit-error {
			display: block;
		}
	}
	//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	.form-others {
		padding:0 .16rem; height:.36rem; text-align: right;
		> *{display:inline-block; vertical-align:top;}
		b{
			color:@c_tip; font-size:.12rem; font-weight:normal; 
			margin-right:.08rem; vertical-align: middle;
		}
		a{color:@c_icon_oauth2; font-size:.18rem; margin:0 .02rem;opacity:0.6; transition: 0.3s;}
		a:hover{opacity:1.0; transform:scale(1.4); color:@c_icon_oauth2_hover;}
	}
	//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	.form-links {
		padding:0 .16rem; font-size: .12rem; line-height: .20rem;
		a {color:@c_link; text-decoration:none;}
		a:hover {text-decoration:underline;}
		a i {width:.16rem;}
	}
	//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
}
//......................................................................
.vcode-captcha {
	@flex();
	position: fixed; top:0; left:0; right:0; bottom:0; 
	background: rgba(0,0,0,0.4); 
  	justify-content: center; align-items: center;
  	padding-bottom:31.8%;
	a {font-size:.12rem;}
	.vc-main {
		width: 3.5rem; 
		background: @c_vc_b; padding: .2rem; border-radius: .06rem;
		box-shadow: .04rem .04rem .1rem rgba(0,0,0,0.6);
		> div {padding:.02rem 0;}
		.vcm-img {
			text-align: center; padding:.04rem;
			img {height:50px;}
		}
		.vcm-reload {
			text-align: right;
		}
		.vcm-input {
			padding-bottom:.06rem;
			input {padding:.06rem .1rem; border-color:@c_vc_f;}
		}
		.vcm-do {
			float: right; display: block; padding:.06rem .3rem; 
			border:0; border-radius: .04rem; font-weight: normal;
			background:@c_vc_f; color:@c_vc_b; font-size:.12rem;
			cursor: pointer;
		}
		.vcm-do:hover {
			background: @c_vc_f_hover;
		}
		.vcm-cancel {
			float: left; display: block; padding:.04rem; 
		}
	}
	.vc-main:after{@clr();}
}
//......................................................................
body[mode="begin"] {
	section {
		> div {opacity: 0;}
		> .form-name {transform: translateX(300px);}
		> .form-passwd {transform: translateX(-300px);}
		> .form-passre {transform: translateX(-300px);}
		> .form-btn {transform: translateY(50px);}
		> .form-others {transform: translateY(50px);}
		> .form-links {transform: translateY(100px);}
	}
}
