
.quartz {
    position: relative; padding: @d4 0 0 0;
    .qz-tabs { @noselect();
        position: absolute; top:0; left: 0; right: 0;
        ul {@flex(); flex-flow: row nowrap; justify-content: center;
            height:@d4 * 2;
            li {
                background: @cb1; color: @cf1; cursor: pointer;
                white-space: nowrap; padding:0 @d4; line-height: @d4 * 2 - 2;
                border-top:1px solid  @cborder0; 
                border-bottom:1px solid  @cborder0; 
                border-left:1px solid @cborder0; min-width: 80px; text-align: center;
            }
            li:first-child {border-radius: @d2 0 0 @d2;}
            li:last-child  {border-radius: 0 @d2 @d2 0; border-right:1px solid @cborder0;}
            li:hover {
                color:@ch1_f; background: @ch1_b;
            }
            li.current, li.current:hover {
                color:@ch0_f; background: @ch0_b;
            }
        }
    }
    //------------------------------------ 通用
    .qz-main {
        width:100%; height:100%; border:1px solid @cborder1; padding:@d4;
        overflow-y: auto;
    }
    .qz-main-con { 
        width: 100%; height:100%;
        .qz-explain {
            padding:@d5; background: @cb1; border: 1px dashed @cborder0;
        }
        h3 { @noselect(); clear:both;
            padding:@d4 0; font-size:@f3;
            b { vertical-align: middle; margin-right:@d4;}
            u {font-size:@f1; color:@clink; cursor: pointer; text-decoration: none;}
            u:hover {color:@clink_hover; text-decoration: underline;}
        }
        section {@noselect(); color:@cf1;}
    }
    //------------------------------------ 周
    .qz-week-day {
        ul {@flex(); flex-flow: row wrap; justify-content: flex-start;}
        li {
            white-space: nowrap; padding:0 @d4; line-height: @d4 * 2 - 2;
            cursor: pointer; border:1px dotted #CCC; margin: 1px; color:@cf1;
            border-radius: @d1;
        }
        li.checked {
            color:@chx_f; background: @chx_b; border-color:@chx_b;
            font-weight: bold;;
        }
    }
    //------------------------------------ 月
    .qz-month {
        .qz-month-mo, .qz-month-da {
            float: left; padding:@d3;
        }
        section ul{ @noselect();
            @flex(); flex-flow: row wrap; justify-content: flex-start;
            li {
                white-space: nowrap; padding:0 @d4; line-height: @d4 * 2 - 2;
                cursor: pointer; border:1px dotted #CCC; margin: 1px; color:@cf1;
                border-radius: @d1; text-align: center;
            }
            li[checked] {
                color:@chx_f; background: @chx_b; border-color:@chx_b;
            }
        }
    }
    .qz-month-mo {
        width: 170px; 
        section ul li {
            padding:0; width: @f2 * 4;
        }
        .qz-month-W {
            text-align: right;
            padding:@d2 @d0;  cursor: pointer; color:@cf1;
            span {
                display: inline-block; vertical-align: middle;
                width: 14px; margin-right:@d1;
                i:first-child {display: inline;}
                i:last-child  {display: none;}
            }
            b {
                vertical-align: middle;
            }
        }
        .qz-month-W[checked]{
            color:@cf1;
            i:first-child {display: none;}
            i:last-child  {display: inline;}
        }
    }
    .qz-month-da {
        width: 200px; 
        section ul li {
            padding:0; width: @f2 * 2;
        }
    }
    //------------------------------------ 高级
    .qz-adv {
        section{
            padding:@d3 0; position: relative;
            input {
                border:1px solid @cborder0; padding:@d4 @d4 @d4 @d8;
                outline:none; font-family: @f_fixed; font-size:@f3;
                width:100%;
            }
            .qz-adv-st {@flex(); justify-content: center; align-items: center;
                dbackground: #CCC;
                position: absolute;top:@d3; left:0; bottom:@d3; width: @d7;
                > * {
                    font-size: @f4;
                }
                > *:first-child {color:#F00; display: none;}
                > *:last-child  {color:#080; display: inline;}
            }
        }
        section.invalid {
            input {
                border-color:#F00; background: rgba(255,0,0,0.2); color:#F00;
            }
            .qz-adv-st {
                > *:first-child {display: inline;}
                > *:last-child  {display: none;}
            }
        }
        .qz-adv-tip {
            color:@c3; padding:@d2; font-size:@f1;
        }
    }
}