/*
停靠条遵守下面的 DOM 结构:
<ul>
    <li><a target="_blank" href="http://weibo.com"><i class="fa fa-weibo"></i></a></li>
    <li><a target="_blank" href="http://weibo.com"><i class="fa fa-weixin"></i></a></li>
    <li a="top"><a><i class="fa fa-angle-double-up"></i></a></li>
</ul>

- 其中 a="top" 表示回到顶部
*/
.skin-htmlcode-fixbar {
    font-size:.24rem; background:rgba(250,250,250,0.9);
    border:1px solid @c_main; padding:0; overflow: hidden;
    ul {
        @flex(); flex-wrap:wrap; align-content:stretch;
        height:100%; padding:0;
        li {
            @flex(); align-items: center; justify-content: center;
            width:100%; padding:0; 
            border-top:1px solid @c_main;
            position: relative;
            &:first-child{border-top:0;}
            a{color:@c_main;}
            &:hover {
                background: @c_main; 
                a {color:#FFF;}
            }
            > .enter-show {
                display: none; position: absolute; 
            }

        }
    }
}
