.skin-rows-footer {
    border-top:1px solid #DDD; font-size:.14rem;
    > .hm-area > .hm-area-con {
        max-width: @d_page_maxW;
        margin:0 auto; padding:0;
    }

    &[sa-line-s] >.hm-area{border-top-width:1px; border-top-color:rgba(0,0,0,0.3);}
    
    &[sa-line-s="solid"]  >.hm-area{border-top-style:solid;}
    &[sa-line-s="dashed"] >.hm-area{border-top-style:dashed;}
    &[sa-line-s="dotted"] >.hm-area{border-top-style:dotted;}

    &[sa-line-w="tiny"]   >.hm-area{border-top-width:1px;}
    &[sa-line-w="normal"] >.hm-area{border-top-width:.03rem;}
    &[sa-line-w="bold"]   >.hm-area{border-top-width:.06rem;}

    &[sa-line-s][sa-line-w] >.hm-area:first-child{border-top-width: 0;}
}