.skin-columns-autofit {
//...............................................
// 卡片式
&[sa-area-s="card"] {
    padding:1px;

    > .hm-area {
        margin:.2rem;
        box-shadow: .02rem .02rem .06rem rgba(0,0,0,0.4);
    }

    &[sa-line-s] >.hm-area{border-width:1px; border-color:rgba(0,0,0,0.3);}

    &[sa-line-s="solid"]  >.hm-area {border-style:solid;}
    &[sa-line-s="dashed"] >.hm-area {border-style:dashed;}
    &[sa-line-s="dotted"] >.hm-area {border-style:dotted;}

    &[sa-line-w="tiny"]   >.hm-area{border-width:1px;}
    &[sa-line-w="normal"] >.hm-area{border-width:.03rem;}
    &[sa-line-w="bold"]   >.hm-area{border-width:.05rem;}

    
}
//...............................................
}

// 桌面版
@media screen and (min-width: @d_page_minW) {
.skin-columns-autofit {
//...............................................
// 分隔线  
&[sa-area-s="line"] {

    &[sa-line-s] >.hm-area{border-left-width:1px; border-left-color:rgba(0,0,0,0.3);}
    
    &[sa-line-s="solid"]  >.hm-area{border-left-style:solid;}
    &[sa-line-s="dashed"] >.hm-area{border-left-style:dashed;}
    &[sa-line-s="dotted"] >.hm-area{border-left-style:dotted;}

    &[sa-line-w="tiny"]   >.hm-area{border-left-width:1px;}
    &[sa-line-w="normal"] >.hm-area{border-left-width:.03rem;}
    &[sa-line-w="bold"]   >.hm-area{border-left-width:.06rem;}

    &[sa-line-s][sa-line-w] >.hm-area:first-child{border-left-width: 0;}
}
//...............................................
}}

// 手机版
@media screen and (max-width: @d_page_minW) {
.hm-com-columns[skin="skin-columns-autofit"] > .hm-com-W {
    > .skin-columns-autofit {
        display: block;
    }
}
.skin-columns-autofit {
//...............................................
// 分隔线  
&[sa-area-s="line"] {

    &[sa-line-s] >.hm-area{border-top-width:1px; border-top-color:rgba(0,0,0,0.3);}
    
    &[sa-line-s="solid"]  >.hm-area{border-top-style:solid;}
    &[sa-line-s="dashed"] >.hm-area{border-top-style:dashed;}
    &[sa-line-s="dotted"] >.hm-area{border-top-style:dotted;}

    &[sa-line-w="tiny"]   >.hm-area{border-top-width:1px;}
    &[sa-line-w="normal"] >.hm-area{border-top-width:.03rem;}
    &[sa-line-w="bold"]   >.hm-area{border-top-width:.06rem;}

    &[sa-line-s][sa-line-w] >.hm-area:first-child{border-top-width: 0;}
}
//...............................................
// 指定分栏
> .hm-area {
    &[area-align] > .hm-area-con{align-items:center; justify-content:center;}
}
//...............................................
}}