.skin-navmenu-tabs {
//..................................................
padding:.2rem;
.ul-sub {display:none;}
.ul-top {
    @flex(); justify-content:center; align-items:stretch;
    padding:0rem;
}
.li-top {
    flex:1 1 auto;  margin:0 1px 0 0;
    @flex(); 
    a {
        display: block; flex:1 1 auto;
        cursor: pointer; text-align: center;
        letter-spacing: .02rem;
        padding:.12rem .02rem;
        border:1px solid rgba(0,0,0,0.2);
        border-top:.04rem solid @c_main;
        color:@c_main; background:rgba(255,255,255,0.8);
    }
}
//..................................................
&[sa-it-wrap="both"] {
    .ul-top {flex-wrap: wrap;}
    .li-top {white-space: nowrap;}
}
//..................................................
}

// IDE 的优先显示
html[hmaker-ide] {
    .skin-navmenu-tabs {
        .li-top[current] {
            border:1px dotted #00A;
        }
    }
}

// 桌面版
@media screen and (min-width: @d_page_minW) {
.skin-navmenu-tabs {
//..................................................
&[sa-it-wrap="desktop"] {
    .ul-top {flex-wrap: wrap;}
    .li-top {white-space: nowrap;}
}
//..................................................
}}

// 手机版
@media screen and (max-width: @d_page_minW) {
.skin-navmenu-tabs {
//..................................................
&[sa-it-wrap="mobile"] {
    .ul-top {flex-wrap: wrap;}
    .li-top {white-space: nowrap;}
}
//..................................................
}}