//#全局-颜色设置    
@c_main      : #98CA22;    // color: 主颜色
@c_lnk       : #98CA22;    // color: 链接文字颜色
@c_lnk_hover : #008800;    // color: 链接悬停颜色
@c_body      : #888;       // color: 默认文字颜色

//#全局-尺寸设置
@d_page_maxW : 1200px;    // width    : 页面最大宽度
@d_page_minW : 640px;     // width    : 页面最小宽度
@f_page      : .16rem;    // fontSize : 页面默认字号


//#文章-特殊文字颜色
@ar_tab_c       : #666;               // color    : 表格文字
@ar_bold_c      : #98CA22;            // color    : 加粗文字
@ar_italic_c    : #98CA22;            // color    : 斜体文字
@ar_del_c       : #98CA22;            // color    : 删除文字
@ar_u_c         : #98CA22;            // color    : 下滑线文字
@ar_hr          : 1px dashed rgba(0,0,0,0.1); // border   : 分隔线样式

