.skin-text-gorgeous:extend(.wn-text-content) {
    // 自定义属性
    text-align: center; 
    padding:.1rem 0 .4rem 0;

    // 对内容排列的定制
    &[sa-h-align="left"] article.md-content {
        h1,h2,h3,h4,h5,h6 {text-align: left;}
    }
    &[sa-h-align="center"] article.md-content {
        h1,h2,h3,h4,h5,h6 {text-align: center;}
    }
    &[sa-h-align="right"] article.md-content {
        h1,h2,h3,h4,h5,h6 {text-align: right;}
    }
    &[sa-p-align="left"] article.md-content {
        p, blockquote {text-align: left;}
    }
    &[sa-p-align="center"] article.md-content {
        p, blockquote {text-align: center;}
    }
    &[sa-p-align="right"] article.md-content {
        p, blockquote {text-align: right;}
    }
    

    // 对文章的定制
    article.md-content {
        .cbox-cols > ul, .cbox-cols2 > ul {
            padding:.1rem; margin:0; list-style: none;
            li {padding:.1rem;}
        }
        // 特殊布局: 左右两个，中间一个图标
        .cbox-line-tow-plus {
            ul {
                @flex(); justify-content:center; align-items:center;
                padding:.4rem .1rem; margin:0; list-style: none;
                background: rgba(0,0,0,0.05);
                li {flex:0 0 auto;}
                li:nth-child(2n+1) {
                    border-radius: 50%; padding:.5rem;
                    text-align: center; background: #FFF;
                    border:.1rem solid rgba(0,0,0,0.1); 
                    color:#AAA; font-size:.8em;
                    b {font-size:1.8em; color:#444; }
                }
                li:nth-child(2n+0) {
                    @flex(); justify-content:center; align-items:center;
                    font-size: 2em; width:.5rem; height:.5rem;
                    border-radius: 50%; 
                    background: @c_main; color:#FFF;
                    margin:0 3%;
                }
            }
        }
        // 特殊布局：并排居中放置
        .cbox-line-n {
            ul {
                @flex();  justify-content:center; align-items:center; flex-wrap: wrap;
                padding:.4rem .1rem; margin:0; list-style: none;
                li {
                    flex:0 0 auto; margin-right:-.5rem;
                    line-height: 1.4em; text-align: center;
                    span {
                        display:block; width:2.5rem; height:2.5rem; 
                        background: #EFD; border-radius: 50%; 
                        box-shadow: .02rem .02rem .06rem rgba(0,0,0,0.15);
                        @flex(); justify-content:center; align-items:center;
                        > i {
                            width:40%; height:40%; background: #FFF; color:#CCC;
                            border-radius: 50%; font-size:2.8em;
                            @flex(); justify-content:center; align-items:center;
                        }
                    }
                    color:#AAA; font-size:.8em;
                    b {
                        display: block; line-height: 1.6em;
                        font-size:1.8em; color:#444; 
                    }
                }
                li:nth-child(2n+0){
                    span{background: #FFF;}
                }
            }
        }
        // 特殊布局：第二种并排布局
        .cbox-cols2 {
            ul {
                @flex(); flex-wrap:wrap; justify-content: center;
                padding:.4rem 0; margin:0;
                li {
                    flex:1 1 auto;
                    text-align: center; color:#AAA;
                    line-height: .24rem; font-size:.16rem;
                    img {display: block; margin:0 auto -.5rem auto;}
                    b {
                        display: block; padding:.02rem .1rem;
                        color:#666; margin:.4rem 0 -.2rem 0;
                        i {font-size:1rem;}
                    }
                }
                li[md-img-only], li:last-child {
                    text-align: center;
                }
            } // ~ul
        }
    } // ~article.md-content
}

// 桌面版
@media screen and (min-width: @d_page_minW) {
    .skin-text-gorgeous {
        text-align: center;
        article.md-content {
            // 特殊布局：并排容器布局
            .cbox-cols {
                ul {
                    @flex(); 
                    padding:.4rem 0; margin:0;
                    li {flex: 1 1 auto;
                        max-width: 50%; text-align: center;
                        b {
                            display: block; padding:.02rem .1rem;
                            margin:.4rem 0 0 0;
                            width:100%; font-size:2em;
                        }
                    }
                } // ~ul
            }
            // 特殊布局：第二种并排布局
            .cbox-cols2 {
                ul li {
                    b {font-size:.2rem;}
                } // ~ul
            }
        } // ~ article.md-content
    }
}

// 手机版
@media screen and (max-width: @d_page_minW) {
    .skin-text-gorgeous {
        article.md-content {
            // 特殊布局：并排容器布局
            .cbox-cols {
                ul {
                    padding:.4rem 0; margin:0; text-align: center;
                    li {
                        b {
                            display: block; padding:.02rem .1rem;
                            margin:.4rem 0 0 0;
                            font-size:2em;
                            i {font-size:1rem;}
                        }
                    }
                } // ~ul
            }
            // 特殊布局：第二种并排布局
            .cbox-cols2 {
                ul li {
                    b {font-size:.3rem;}
                } // ~ul
            }
            // 特殊布局：并排居中放置
            .cbox-line-n {
                ul li {
                    margin-right:0; padding:.1rem;
                    span {width:1.8rem;height:1.8rem;}
                }
            }
        } // ~article.md-content
    }
}