.skin-dynamic-_std-th_table_any {
    padding:.1rem; 

    table {
        width:100%;
        border-spacing: 0;
        border-collapse: collapse;
    }

    caption {padding:.15rem;}
    td, th  {padding:.1rem;}
    td, th  {border:1px solid #DDD;}

    th {color:#888;}
    td {color:#444;}
    td[m="nb"] {color:#AAA; text-align: right; font-size:.8em;}

}

// 桌面版
@media screen and (min-width: @d_page_minW) {
}


// 手机版
@media screen and (max-width: @d_page_minW) {
    .skin-dynamic-_std-th_table_any {
        td, th {
            &[hide-when-mobile]{display: none;}
        }
    }
}