.skin-dynamic-_std-th_wall_image {
    font-size:.14rem; line-height: .2rem;
    text-decoration: none;
    .wp-list {
        @flex(); flex-wrap:wrap; align-content: stretch;
    } // ~ .wp-list

    .wp-item {
        text-align: center;
        @flex(); 
        a {
            flex:1 1 auto; position: relative;
            display:block; border:0px solid rgba(0,0,0,0.12);
            -moz-box-sizing   : content-box;
            -webkit-box-sizing: content-box;
            box-sizing        : content-box;
            overflow: hidden;
            &:hover {text-decoration: none;}
            // 标签
            .wpi-lbls {
                position: absolute; top:0; left:0; right:0;
                padding:0 .04rem; font-size:.12rem;
                @flex(); justify-content:center;
                li {
                    background:#ACF; color:#FFF; margin:0 .02rem;
                    padding:.02rem .06rem;
                    border-radius: 0 0 .02rem .02rem;
                }
            }
            .wpi-thumb {
                width:100%; height:1rem;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                background-position: center center;
                &[thumb-icon] {
                    @flex(); justify-content: center; align-items: center;
                    font-size:.3rem; color:#AAA;
                }
            }
            .wpi-info {
                padding:.1rem .04rem;
                h4 {
                    margin:0; padding:.02rem; color:#AAA; 
                    letter-spacing: 1px; font-weight: normal;
                }
                .wpi-meta {color:#AAA; padding:.05rem 0;}
                .wpi-link a {
                    i {margin-right:.04rem;}
                }
            }
        }
    } // ~ .wp-item
    // -------------------------------------------
    // 皮肤的自定义属性
    // -------------------------------------------
    // @it-thumb-clip(题图剪裁)[撑满=full,包含=contain,封面=cover]=full
    &[sa-it-thumb-clip="contain"] .wp-item>a .wpi-thumb {background-size: contain;}
    &[sa-it-thumb-clip="cover"]   .wp-item>a .wpi-thumb {background-size: cover;}
    // @it-border(项目边框)[无=none,细=t,中=m,粗=b]=none
    &[sa-it-border="t"] .wp-item>a {border-width:1px;}
    &[sa-it-border="m"] .wp-item>a {border-width:.03rem;}
    &[sa-it-border="b"] .wp-item>a {border-width:.06rem;}
    // @it-radius(项目圆角)[无=none,小=s,中=m,大=b]=none
    &[sa-it-radius="s"] .wp-item{ 
        >a {border-radius:.06rem;}
    }
    &[sa-it-radius="m"] .wp-item{ 
        >a {border-radius:.12rem;}
    }
    &[sa-it-radius="b"] .wp-item{ 
        >a {border-radius:.2rem;}
    }
    // 有边距，才显示内部圆角
    &[sa-it-padding] {
        &[sa-it-radius="s"] .wp-item .wpi-thumb {border-radius:.04rem;}
        &[sa-it-radius="m"] .wp-item .wpi-thumb {border-radius:.06rem;}
        &[sa-it-radius="b"] .wp-item .wpi-thumb {border-radius:.08rem;}
    }
    &[sa-it-padding="none"] {
        &[sa-it-radius="s"] .wp-item .wpi-thumb {border-radius:0;}
        &[sa-it-radius="m"] .wp-item .wpi-thumb {border-radius:0;}
        &[sa-it-radius="b"] .wp-item .wpi-thumb {border-radius:0;}
    }
    // @it-padding(项目边距)[无=none,小=s,中=m,大=b]=none
    &[sa-it-padding="s"] .wp-item>a {padding:.06rem}
    &[sa-it-padding="m"] .wp-item>a {padding:.12rem}
    &[sa-it-padding="b"] .wp-item>a {padding:.24rem;}
    // @it-hide-title(隐藏标题){yes}
    &[sa-it-hide-title] {
        .wp-item > a h4 {display:none;}
    }
}

// 桌面版
@media screen and (min-width: @d_page_minW) {
.skin-dynamic-_std-th_wall_image {
    .wp-item a {
        h4 {font-size:1.1em;}
    }
    // -------------------------------------------
    // 皮肤的自定义属性
    // -------------------------------------------
    // @it-mode(显示模式)[自动=auto,图文=pt,仅图=p]=auto
    &[sa-it-mode="p"],
    &[sa-it-mode="auto"] {
        .wp-item > a {
            &:hover .wpi-info {bottom:0; opacity: 1;}
            .wpi-info {
                font-size:.8em; line-height: .9em;
                transition:bottom .3s, opacity .8s;
                background:rgba(0,0,0,0.8); 
                position: absolute; left:0; right:0; //bottom: 0;
                bottom:-2rem; opacity: 0;
                line-height: 1.5em;
                h4        {color:rgba(255,255,255,0.9);}
                .wpi-meta {color:rgba(255,255,255,0.6);}
                .wpi-link a {
                    color:#8F0;
                    &:hover{color:#FF0;}
                }
            }
        }
    }
    &[sa-it-mode="pt"] {
        .wp-item > a {
            transition: .3s;
            &:hover {
                transform:translateY(-.04rem);
                box-shadow: .04rem .04rem .2rem rgba(0,0,0,0.2);
            }
        }
    }
    // @it-space(项目间距)[小=s,中=m,大=b]=m
    .wp-list, .wp-item {padding:.12rem;}
    &[sa-it-space="s"] {
        .wp-list, .wp-item {padding:.06rem}
    }
    &[sa-it-space="b"] {
        .wp-list, .wp-item {padding:.18rem;}
    }
    // @it-nb-desktop(桌面版列数)[2列=2,3列=3,4列=4,5列=5,6列=6]=4
    .wp-item {width:25%;}
    &[sa-it-nb-desktop="2"] .wp-item {width:50%;}
    &[sa-it-nb-desktop="3"] .wp-item {width:33.3%;}
    &[sa-it-nb-desktop="5"] .wp-item {width:20%;}
    &[sa-it-nb-desktop="6"] .wp-item {width:16.6%;}
}} // ~@media

// 手机版
@media screen and (max-width: @d_page_minW) {
.skin-dynamic-_std-th_wall_image {
    .wp-item a {
        h4 {font-size:1.3em;}
        .wpi-info {
            .wpi-link a {font-size:1.1em;}
        }
    }
    // -------------------------------------------
    // 皮肤的自定义属性
    // -------------------------------------------
    // @it-mode(显示模式)[自动=auto,图文=pt,仅图=p]=auto
    &[sa-it-mode="p"] {
        .wp-item > a {
            &:hover .wpi-info {bottom:0; opacity: 1;}
            .wpi-info {
                transition:bottom .3s, opacity .8s;
                background:rgba(0,0,0,0.8); 
                position: absolute; left:0; right:0; // bottom: 0;
                bottom:-2rem; opacity: 0;
                h4        {color:rgba(255,255,255,0.9);}
                .wpi-meta {color:rgba(255,255,255,0.6);}
                .wpi-link a {
                    color:#8F0;
                    &:hover{color:#FF0;}
                }
            }
        }
    }
    &[sa-it-mode="auto"],
    &[sa-it-mode="pt"] {
        .wp-item > a {
            transition: .3s;
            &:hover {
                transform:translateY(-.04rem);
                box-shadow: .04rem .04rem .2rem rgba(0,0,0,0.2);
            }
        }
    }
    // @it-space(项目间距)[小=s,中=m,大=b]=m
    .wp-list, .wp-item {padding:.1rem;}
    &[sa-it-space="s"] {
        .wp-list, .wp-item {padding:.05rem}
    }
    &[sa-it-space="b"] {
        .wp-list, .wp-item {padding:.15rem;}
    }
    // @it-nb-mobile(移动版列数)[2列=2,3列=3,4列=4]=2
    .wp-item {width:50%;}
    &[sa-it-nb-mobile="2"] .wp-item {width:50%;}
    &[sa-it-nb-mobile="3"] .wp-item {width:33.3%;}
    &[sa-it-nb-mobile="4"] .wp-item {width:25%;}
    
}} // ~@media