.skin-filter-tabs {
    .hmcf-fld {@flex(); border:0; padding:1px;}
    // 每个字段就是一个标签
    .fld-more, {display: none;}
    .fld-info {
        flex:0 0 auto;
        display: block;
        font-size:1.2em; border:1px solid rgba(0,0,0,0.1);
        @flex(); justify-content: center; align-items: center;
        color: #888;
        margin:0 1px 0 0;
        em{color:unset;}
        em:after {display: none;}
        &[none-checked] {
            background: rgba(0,0,0,0.6); color:#FFF;
        }
    }
    .fld-items {
        flex:1 1 auto; @flex(); 
        padding:0;
        ul {
            flex:1 1 auto; @flex(); flex-wrap: wrap;
        }
        li {
            flex:1 1 auto; @flex();  padding: .1rem;
            white-space: nowrap;
            justify-content: center; align-items: center;
            text-align: center; font-size:1.2em;
            border:1px solid rgba(0,0,0,0.1);
            color: #888; 
            margin:0 1px 0 0;
        }
        li[it-checked] {
            background: rgba(0,0,0,0.6); color:#FFF;
            text-shadow:.01rem .01rem .03rem rgba(0,0,0,0.3);
        }
    }
    // 展开按钮
    .hmcf-exts {
        padding-top:0;
        b {
            border-top:0;
            font-size:.12rem; padding:.02rem .1rem; color:#888;
            border-radius: 0 0 .08rem .08rem;
        }
    }
    // 皮肤开关
    &[sa-hide-all] {
        .fld-info {display: none;}
    }
}

// 运行时隐藏折叠按钮
html[hmaker-runtime] {
    .skin-filter-tabs {
        .hmcf-exts {display: none;} 
    }
}