.wn-text-content {
    font-size:1em;
    line-height: 1.8em;
    letter-spacing: .06em;
}

// 正文内容
article.md-content {
    padding: 1px 0;
    // 重定义字体大小
    table, thead, tbody, tr, th, td {
        font-size:1em; color:@ar_tab_c;
    }
    
    // 链接
    a {color:@c_lnk; text-decoration: none;}
    a:hover {color:@c_lnk_hover; text-decoration: underline;}
    
    // ------------------------- 标题
    h1 {margin:.20rem auto;padding:.08rem .25rem;font-size:1.6em;line-height:1.8em;}
    h2 {margin:.16rem auto;padding:.06rem .25rem;font-size:1.5em;line-height:1.7em;}
    h3 {margin:.12rem auto;padding:.04rem .25rem;font-size:1.4em;line-height:1.6em;}
    h4 {margin:.10rem auto;padding:.02rem .25rem;font-size:1.3em;line-height:1.5em;}
    h5 {margin:.08rem auto;padding:.02rem .25rem;font-size:1.2em;line-height:1.5em;}
    h6 {margin:.04rem auto;padding:.02rem .25rem;font-size:1.1em;line-height:1.5em;}
    h1,h2,h3,h4,h5,h6 {
        max-width: @d_page_maxW; 
        u,em,b {
            font-style: normal; color:unset;
            margin:0 .08rem; text-decoration: none;
            display: inline-block; vertical-align: middle;
            border-bottom: .03rem solid @c_main; 
        }
    }
    // ------------------------- 段落及正文
    p {
        margin:.25rem auto; max-width: @d_page_maxW;
        padding:0 .25rem;
    }
    p[md-img-only] {
        text-align: center; padding:0;
        br {display: none;}
    }
    em {font-style: italic; color:@ar_italic_c;}
    b {color:@ar_bold_c; font-weight: bold;}
    del {color:@ar_del_c;}
    code {
        margin:.02rem .02rem .06rem .02rem; 
        border:1px solid #CCC; background: #FFC; color:#666;
        display: inline-block; vertical-align: middle;
        font-size:.8em; 
        padding:0 .04rem; font-family: @f_fixed;
        border-radius: .04rem;
    }
    // ------------------------- 分隔线 
    hr {
        max-width: @d_page_maxW;
        margin:.1rem auto;
        border-top:@ar_hr;
        border-left:none;
        border-right:none;
        border-bottom:none; 
    }
    // ------------------------- 图片/视频
    img, video {
        display: block; vertical-align: bottom;
        margin:0 auto;
        max-width: 100%; max-height: 100%; 
    }
    // ------------------------- 引用
    blockquote {
        max-width: @d_page_maxW; margin:.1rem auto;
        padding: .25rem; 
        font-size: .8em; line-height: 1.6em;
        background: rgba(0,0,0,0.05);
        text-align: left;
    }
    // ------------------------- 无序列表
    ul, ol {
        max-width: @d_page_maxW;
        margin:.05rem auto .1rem auto; 
        padding:.1rem .2rem .1rem .56rem;
        text-align: left;
    }
    ul, ol {
        ul, ol {
            padding:.03rem 0 .1rem .05rem; margin:0 .24rem;
        }
    }
    ul{list-style:disc;
        ul {
            list-style: square; 
            ul {list-style: circle;}
        }
    }
    ol{list-style:decimal;
        ol {list-style:lower-alpha;
            ol {list-style:upper-roman;}
        }
    }
    ul.md-task-list, ol.md-task-list{
        list-style:none;
        li.md-task-list-item {
            line-height: 1.4em;
            input[type="checkbox"] {
                margin:0 .06rem 0.02rem -0.16rem; vertical-align: middle;
            }
        }
    }
    
    // ------------------------- 表格
    table {
        border-spacing: 0; border-collapse: collapse;
        margin:.2rem auto;
    }
    td, th {
        border:1px solid #dfe2e5; padding:.08rem .16rem;
    }
    th {font-weight: bold;}
    
    // ------------------------- 代码
    pre {
        max-width: @d_page_maxW; margin:.1rem auto;
        padding: .16rem;
        overflow: auto; border: 1px dashed rgba(0,0,0,0.4);
        font-size: .8em; line-height: 1.6em;
        background: rgba(0,0,0,0.6); color:rgba(255,255,255,0.8);
        border-radius: .05px;
        font-family: @f_fixed; 
        text-align: left;
    }

    // Markdown
    // 标签式归纳
    &[ar-tabs-mode="tabs"] {
        // 原始的标签标题等隐藏
        .z-article-tab-source {display: none;}
        // 块
        > .z-article-block {
            padding:1px; display: none;
            &[current] {display: block;}
        }
    }
    // 跳转式归纳
    &[ar-tabs-mode="jump"] {
        // 嗯，好像没啥要设置的 ^_^!       
    }
    // 一级标签
    > .z-article-tabs {
        background:#FFF;
        border-bottom:2px solid #AAA;
        @flex(); justify-content: center; flex-wrap: wrap;
        &[z-dock-enabled] {
            box-shadow: 0 3px 4px rgba(0,0,0,0.3);
        }
        ul {
            list-style: none; padding:0; margin:0;
            letter-spacing: .01rem; width:100%;
            @flex(); 
            li {
                flex:1 1 auto;
                padding:.15rem 0; margin:0; cursor: pointer;
                text-align: center;
                color:rgba(0,0,0,0.6); font-size:.9em;
                border-left:1px dotted rgba(0,0,0,0.2);
                &:first-child {
                    border-left:0;
                }
                &[current] {
                    border-left-color:transparent;
                    background:#000; color:#FFF;
                }
            }
        }
    }
    // 二级跳转式归纳标签
    > .z-article-block {
        &:after{@clr();}
        > .z-article-tabs {
            float:left; width:16%; max-width: 1.2rem;
            ul {
                list-style: none; margin:0;
                padding:.2rem .2rem 0 0; margin:0;
            }
            li {
                padding:.05rem; margin:.04rem;
                text-align: center;
                background: #EEE; color:#AAA;
                border:1px solid transparent;
                border-radius: .2rem; cursor: pointer;
                &[current] {background: #444; color:#FFF;}
                &:hover {
                    background: #FFF; color:#CCC;
                    border-color:#BBB;
                };
            }
        }
        > .z-article-blcon {
            float:right; width:84%;
            [z-article-tab-source] {
                code {display: none;}
            }
        }
    }

} // ~ 结束正文 article
