.skin-dynamic-_std-th_list_article {
    // 文章显示
    .wn-li-article {
        padding:.12rem .2rem .3rem .2rem; width:100%;
        > h4 {
            margin:0; padding:.1rem 0 .2rem 0;
            line-height: .25rem; font-size:1.3em;
            letter-spacing: 1px;
            > a {color:#666;}
            > a:hover {color:#000;}
        }
        > a.wla-thumb {
            display: block; overflow: hidden;
            @flex(); justify-content:center; align-items:center;
            font-size:3em; color:#CCC;
            border:1px solid rgba(0,0,0,0.1);
            border-radius: .04rem;
            img {width:100%; transition:1s;}
            &:hover {
                img {
                    transform:scale(1.05);
                }
            }
        }
        > ul.wla-info {
            @flex(); flex-wrap:wrap; 
            align-items:flex-start;
            align-content:flex-start;
            > li {
                font-size: 1.1em; letter-spacing: 1px;
            }
            > li[key="brief"] {width:100%;
                color:#888; 
                margin:0 0 .16rem 0;
            }
            > li[key="date"] {
                padding-right:.2rem; color:@c_main;
            }
            > li[key="source"] {
                color:@c_main; font-weight: bold;
            }
        }
    }

    // 显示 border
    .wn-li-article {border-top:1px dotted rgba(0,0,0,0.1);}
    .wn-li-article:first-child{border:0;}
}

// 桌面版
@media screen and (min-width: @d_page_minW) {
.skin-dynamic-_std-th_list_article {
    .wn-li-article {
        @flex(); flex-wrap:wrap; flex-direction: column;
        height: 3rem;
        > h4 {width:50%;}
        > a.wla-thumb {
            order:-1; height:100%; width: 42%;
            box-shadow: .03rem .03rem .08rem rgba(0,0,0,0.2);
        }
        > ul.wla-info {
            width:50%;
            > li[key="brief"] {width:100%;
                color:#888; padding:0 0 0 .16rem;
                border-left:.02rem solid rgba(0,0,0,0.1);
                margin:0 0 .16rem 0;
            }
        }
    }
}
} // ~@media

// 手机版
@media screen and (max-width: @d_page_minW) {
.skin-dynamic-_std-th_list_article {
    .wn-li-article {
        @flex(); flex-wrap:wrap;
        > h4 {width:100%;}
        > a.wla-thumb {width:40%; height:2rem;}
        > ul.wla-info {width:60%; padding:0 0 0 .16rem;}
    }
}
} // ~@media