.skin-text-brief:extend(.wn-text-content) {
    @hLc : rgba(0,0,0,0.6);
    //---------------------------------------------
    padding:0; text-align: center;

    // 对内容排列的定制
    &[sa-h-align="left"] article.md-content {
        h1,h2,h3,h4,h5,h6 {text-align: left;}
    }
    &[sa-h-align="center"] article.md-content {
        h1,h2,h3,h4,h5,h6 {text-align: center;}
    }
    &[sa-h-align="right"] article.md-content {
        h1,h2,h3,h4,h5,h6 {text-align: right;}
    }
    &[sa-p-align="left"] article.md-content p {text-align: left;}
    &[sa-p-align="center"] article.md-content p {text-align: center;}
    &[sa-p-align="right"] article.md-content p {text-align: right;}
    

    // 对文章的定制
    article.md-content {
        padding:.1rem; margin:0;
        h1,h2,h3,h4,h5,h6 {
            border:0;
            margin:0 .1rem; padding: .06rem;
            font-size:1.6em; letter-spacing:.1em;
        }

        blockquote {
            text-align: inherit;
            border:0;
        }

        a {
            display: inline-block; cursor: pointer;
            color:rgba(0,0,0,0.6); padding:.04rem;
            border:1px solid rgba(0,0,0,0.3);
            min-width: 1.8rem; text-align: center;
            vertical-align: middle; margin:1px;
            font-size:.8em;
            > * {margin-right:.4em;}
        }
        a:hover {
            text-decoration: none;
            color:#FFF; background: @c_lnk;
        }

        ul {
            list-style: none;
            display: inline-block;
            margin: 0  auto;
        }
    }

    // 对标题的装饰线定义
    &[sa-h-line-m="all"] {
        article.md-content .md-header {border:1px solid @hLc;}
        // 线样式
        &[sa-h-line-s="solid"]  article.md-content .md-header{border-style: solid;}
        &[sa-h-line-s="dashed"] article.md-content .md-header{border-style: dashed;}
        &[sa-h-line-s="dotted"] article.md-content .md-header{border-style: dotted;}
        // 线粗细
        &[sa-h-line-w="tiny"]   article.md-content .md-header{border-width: 1px;}
        &[sa-h-line-w="normal"] article.md-content .md-header{border-width: .03rem;}
        &[sa-h-line-w="bold"]   article.md-content .md-header{border-width: .06rem;}
    }
    &[sa-h-line-m="left"] {
        article.md-content .md-header {border-left:3px solid @hLc;}
        // 线样式
        &[sa-h-line-s="solid"]  article.md-content .md-header{border-left-style: solid;}
        &[sa-h-line-s="dashed"] article.md-content .md-header{border-left-style: dashed;}
        &[sa-h-line-s="dotted"] article.md-content .md-header{border-left-style: dotted;}
        // 线粗细
        &[sa-h-line-w="tiny"]   article.md-content .md-header{border-left-width: 1px;}
        &[sa-h-line-w="normal"] article.md-content .md-header{border-left-width: .03rem;}
        &[sa-h-line-w="bold"]   article.md-content .md-header{border-left-width: .06rem;}
    }
    &[sa-h-line-m="V"] {
        article.md-content .md-header {
            border-top: 1px solid @hLc;
            border-bottom: 1px solid @hLc;
        }
        // 线样式
        &[sa-h-line-s="solid"]  article.md-content .md-header{border-top-style: solid;  border-bottom-style: solid;}
        &[sa-h-line-s="dashed"] article.md-content .md-header{border-top-style: dashed; border-bottom-style: dashed;}
        &[sa-h-line-s="dotted"] article.md-content .md-header{border-top-style: dotted; border-bottom-style: dotted;}
        // 线粗细
        &[sa-h-line-w="tiny"]   article.md-content .md-header{border-top-width: 1px;    border-bottom-width: 1px;}
        &[sa-h-line-w="normal"] article.md-content .md-header{border-top-width: .03rem; border-bottom-width: .03rem;}
        &[sa-h-line-w="bold"]   article.md-content .md-header{border-top-width: .06rem; border-bottom-width: .06rem;}
    }
    &[sa-h-line-m="up"] {
        article.md-content .md-header {border-top: 1px solid @hLc;}
        // 线样式
        &[sa-h-line-s="solid"]  article.md-content .md-header{border-top-style: solid;}
        &[sa-h-line-s="dashed"] article.md-content .md-header{border-top-style: dashed;}
        &[sa-h-line-s="dotted"] article.md-content .md-header{border-top-style: dotted;}
        // 线粗细
        &[sa-h-line-w="tiny"]   article.md-content .md-header{border-top-width: 1px;}
        &[sa-h-line-w="normal"] article.md-content .md-header{border-top-width: .03rem;}
        &[sa-h-line-w="bold"]   article.md-content .md-header{border-top-width: .06rem;}
    }
    &[sa-h-line-m="down"] {
        article.md-content .md-header {border-bottom: 1px solid @hLc;}
        // 线样式
        &[sa-h-line-s="solid"]  article.md-content .md-header{border-bottom-style: solid;}
        &[sa-h-line-s="dashed"] article.md-content .md-header{border-bottom-style: dashed;}
        &[sa-h-line-s="dotted"] article.md-content .md-header{border-bottom-style: dotted;}
        // 线粗细
        &[sa-h-line-w="tiny"]   article.md-content .md-header{border-bottom-width: 1px;}
        &[sa-h-line-w="normal"] article.md-content .md-header{border-bottom-width: .03rem;}
        &[sa-h-line-w="bold"]   article.md-content .md-header{border-bottom-width: .06rem;}
    }
}