.skin-dynamic-_std-th_list_any {
    padding:.1rem;

    .wn-li-item {
        border-top:1px solid rgba(0,0,0,0.08);
        padding:.1rem;
        &:first-child {border:0;}
        &:nth-child(2n) {
            
        }

        > header {
            line-height: .26rem; font-size:.18rem;
            u {
                text-decoration: none; font-size:0.8em;
                color:#AAA; margin:.08rem;
            }
            a {
                em {
                    font-style: normal;
                    &:after{display:inline; content:" > ";}
                }
            }
        }

        > section {
            &:after{@clr();}
            a.wla-thumb {
                float:left; margin:0 .2rem 0 .1rem;
                img {
                    height:1.6rem; border:1px solid #DDD;
                    border-radius: .04rem; background-color: #DDD;
                    max-width: 100%;
                }
            }
            p {
                margin:.1rem 0 .1rem .1rem; min-width: 50%; color:#888;
                font-size:.16rem; line-height: .26rem; letter-spacing: 1px;
                &[key="th_slogan"] {font-size:.8em; color:#F80;}
                &[key="brief"] {
                    background-color: rgba(0,0,0,0.05);
                    padding:.1rem;
                }
                &[key="th_price"] {
                    font-family:@f_fixed; letter-spacing: 1px;
                    color:#F80; font-weight: bold; padding:.02rem .1rem;
                    &:before{display:inline; content:"￥";}
                }
            }
        }  // > section
        .it-more {
            background:rgba(0,0,0,0.03); color:#888; font-size:1em;
            padding:.1rem .25rem; margin:.05rem 0 .1rem .05rem;
        } // .it-meta-con
    }
}