.skin-sorter-normal {
    ul {
        li {
            border-radius: .04rem; border:1px solid rgba(0,0,0,0.1);
            padding:.06rem .12rem; font-size:.12rem;
            background: transparent; color:@c_main;
            &[enabled] {
                background: @c_main; color:#FFF; border-color:@c_main;
                text-shadow:1px 1px 3px rgba(0,0,0,0.4);
            }
        }
    }
}