.skin-dynamic-_std-th_show_obj:extend(.wn-text-content) {
    .wn-obj-layout {
        section[group-name="header"] {
            float: none; clear:both;
            max-width:@d_page_maxW;
            margin:0 auto;
        }
    }
}


// 桌面版
@media screen and (min-width: @d_page_minW) {
.skin-dynamic-_std-th_show_obj {
    
}
} // ~@media

// 手机版
@media screen and (max-width: @d_page_minW) {
.skin-dynamic-_std-th_show_obj {
    
}
} // ~@media