.skin-dynamic-_std-th_show_article:extend(.wn-text-content) {
    padding:0 .3rem;

    > header, > aside {
        letter-spacing: 1px;
    }

    header.md-title {
        font-size:1.6em;line-height:1.6em;
        padding:.3rem 0; text-align: center;
    }

    aside.md-info {
        text-align: center; color:@c_main;
        span {margin:0 .1rem;}
    }

    aside.md-brief {
        padding:.3rem; margin:0 .6rem;
        color:#AAA; font-size:1em;
    }
}