.skin-pager-normal { @noselect();
    text-align: center; padding:.1rem;

    b {
        margin:0 .1rem;
    }

    .pg_ele a {
        background:#666; color:#EEE; padding:.1rem;
        border-radius: 2px; font-size:12px;
        &:hover {
            background:#000; color:#FFF;
        }
    }
    .pg_nbs b {
        color:#000;
    }
    .pg_brief {
        font-size:12px; padding:0 .15rem;
        color:#888;
    }
}