.skin-navmenu-tree {
//...............................................
padding:.2rem; line-height: 2em;
.ul-sub {
    padding:.05rem .15rem;
    margin:0 0 0 .15rem;
}
.li-top {
    padding:.1rem 0;
}
li > a {display: block; padding-left:.1rem;}
li[current] > a {
    border-left:.06rem solid rgba(100,100,100,0.4);
}

//...............................................
// 分隔线  
&[sa-sep-line-s] .li-top {
    border-top-color:#DDD;
}

&[sa-sep-line-s="solid"]  .li-top{border-top-style:solid;}
&[sa-sep-line-s="dashed"] .li-top{border-top-style:dashed;}
&[sa-sep-line-s="dotted"] .li-top{border-top-style:dotted;}

&[sa-sep-line-w="tiny"]   .li-top{border-top-width:1px;}
&[sa-sep-line-w="normal"] .li-top{border-top-width:.03rem;}
&[sa-sep-line-w="bold"]   .li-top{border-top-width:.06rem;}

&[sa-sep-line-s] .li-top:first-child{border-top: 0;}
//............................................... 
}
