// 通用行为
.skin-columns-animat-c2 {
    > .hm-area:first-child {width:50%;}
    > .hm-area:last-child {width:50%;}
}

.hm-com-columns[skin="skin-columns-animat-c2"]{
    > .hm-com-W > .skin-columns-animat-c2{
        > .hm-area { transition:0.5s;}
    }
}
.hm-com-columns[skin="skin-columns-animat-c2"] {
    // 总显示动画
    &[hm-scroll-outview] {
        > .hm-com-W > .skin-columns-animat-c2[sa-animat-mode="always"] {
            > .hm-area:first-child {
                transform:translateX(-1000px);
            }
            > .hm-area:last-child {
                transform:translateX(1000px);
            }
        }
    }
    // 仅显示一次
    &[hm-never-inview] {
        > .hm-com-W > .skin-columns-animat-c2[sa-animat-mode="once"] {
            > .hm-area:first-child {
                transform:translateX(-1000px);
            }
            > .hm-area:last-child {
                transform:translateX(1000px);
            }
        }
    }
}
