.skin-searcher-normal {
    @flex(); 
    padding:.05rem; max-width: 6rem; margin:0 auto;
    .kwd-input {
        flex: 1 1 auto;
        @flex();
        input {
            flex:1 1 auto; padding:0 1em;
            font-size:.16rem; font-weight: normal;
            border:1px solid rgba(0,0,0,0.2);
            border-radius: .04rem;
            &:focus {
                background:#FFC;
            }
        }
    }
    .kwd-btn {
        flex: 0 0 auto;
        b {
            transition:.3s; text-align: center;
            padding:.12rem; font-size:.16rem;
            font-weight: normal;
            background:rgba(0,0,0,0.8); color:#FFF;
            border-radius: .04rem;
            border:0; 
            &:hover {
                transform: translateX(3px);
            }
        }
    }
}