/*
面包屑遵守下面的 DOM 结构:
<ul>
    <li><a href="/path/to/home">首页</a></li>
    <li><a href="/path/to/parent">父栏目</a></li>
    <li><b>当前页面项目</b></li>
</ul>

- 其中 a="top" 表示回到顶部
*/
.skin-htmlcode-crumb {
    padding: .1rem; color:#AAA;
    line-height: 1.5em; font-size: .9em;
    ul {
        &:after{@clr();}
        li {float:left;}
        li:after{
            display: inline; content:" > ";
            margin:0 .05rem; font-size: .6em;
        }
        li:last-child::after {
            display: none;
        }
    }
    a,b {display: inline-block; vertical-align: middle;}
}