// 通用
.skin-navmenu-sitemap {
    font-size: .13rem;
    a {
        color:#333; display: block;
        padding:.04rem 0;
    }
    a[href]:hover {
        color:#98CA22;
        text-decoration: underline;
    }
    .li-top {
        > a {
            font-weight: bold; color:#333;
        }
    }
}

// 编辑器
html[hmaker-ide] {
    .skin-navmenu-sitemap {
        li[current] > a {
            background: #FF0; color:#000;
        }       
    }
}

// 桌面版
@media screen and (min-width: @d_page_minW) {
    .skin-navmenu-sitemap {
        .ul-top {
            @flex(); justify-content:center;
            padding:.04rem 0;
        }
        .li-top {
            padding:0 .1rem; flex:1 1 auto;
        }
        .ul-sub {
            padding:.04rem 0;
        }
        // 分隔线
        &[sa-sep="solid"] .li-top {
            border-left:1px solid rgba(0,0,0,0.2);
            &:first-child{border:0;}
        }
        &[sa-sep="dashed"] .li-top {
            border-left:1px dashed rgba(0,0,0,0.2);
            &:first-child{border:0;}
        }
        &[sa-sep="dotted"] .li-top {
            border-left:1px dotted rgba(0,0,0,0.2);
            &:first-child{border:0;}
        }
        // 标题排列
        &[sa-h-align="center"] .li-top > a{text-align: center;}
        &[sa-h-align="right"]  .li-top > a{text-align: right;}
        // 链接排列
        &[sa-s-align="center"] .li-sub {text-align: center;}
        &[sa-s-align="right"]  .li-sub {text-align: right;}
    }
}

// 手机版
@media screen and (max-width: @d_page_minW) {
    .skin-navmenu-sitemap {
        .ul-top {
            font-size:.18rem;
        }
        .li-top {
            padding:.1rem 0;
        }
        .ul-sub {
            @flex(); flex-wrap:wrap;
        }
        .li-sub {
            flex:1 1 auto;
            padding:0 .04rem; line-height: .32rem;
        }
        // 分隔线
        &[sa-sep="solid"] .li-top {
            border-top:1px solid rgba(0,0,0,0.2);
            &:first-child{border:0;}
        }
        &[sa-sep="dashed"] .li-top {
            border-top:1px dashed rgba(0,0,0,0.2);
            &:first-child{border:0;}
        }
        &[sa-sep="dotted"] .li-top {
            border-top:1px dotted rgba(0,0,0,0.2);
            &:first-child{border:0;}
        }
        // 标题排列
        &[sa-h-align="center"] .li-top > a{text-align: center;}
        &[sa-h-align="right"]  .li-top > a{text-align: right;}
        // 链接排列
        &[sa-s-align="left"] .ul-sub {
            justify-content:flex-start;
            border-left:2px solid @c_main;
            padding-left:.04rem; margin-left:.02rem;
        }
        &[sa-s-align="center"] .ul-sub {
            justify-content:center;  text-align: center;
        }
        &[sa-s-align="right"]  .ul-sub {
            justify-content:flex-end;  text-align: right;
            border-right:2px solid @c_main;
            padding-right:.04rem; margin-right:.02rem;
        }
    }
// ~ @media screen
}