// 手机版
@media screen and (max-width: @d_page_minW) {
    .hm-com-columns > .hm-com-W > .hmc-columns {
        & > .skin-area-Lmenubox {
            order: -1; flex:0 0 auto; 
            @flex(); justify-content:center; align-items:center;
            cursor: pointer;
            &:after {
                z-index: 2;
                font-family:'Material-Design-Iconic-Font';
                display:inline; content: "\f197";
                padding:0 .1rem 0 .16rem; font-size:.20rem;
            }
            > .hm-area-con { transition: left 0.3s;
                display: block; position: fixed; z-index: 3;
                left: @d_page_minW * -1; top:0; bottom:0; min-width: 50%;
                background: rgba(255,255,255,0.8); color:#222;
                overflow: auto; padding:.24rem;
                box-shadow: 0.02rem .02rem .06rem rgba(0,0,0,0.4);
            }
            &[highlight] {
                &:before {
                    display: block; content:""; position: fixed; z-index: 2;
                    left:0; top:0; bottom:0; right:0;
                    background: rgba(0,0,0,0.3);
                }
                > .hm-area-con {left: 0;}
            } 
        }

        & > .skin-area-Rmenubox {
            order: 1; flex:0 0 auto; 
            @flex(); justify-content:center; align-items:center;
            cursor: pointer;
            &:after {
                z-index: 2;
                font-family:'Material-Design-Iconic-Font';
                display:inline; content: "\f197";
                padding:0 .1rem 0 .16rem; font-size:.20rem;
            }
            > .hm-area-con { transition: right 0.3s;
                display: block; position: fixed; z-index: 3;
                right: @d_page_minW * -1; top:0; bottom:0; min-width: 50%;
                background: rgba(255,255,255,0.8); color:#222;
                overflow: auto; padding:.24rem;
                box-shadow: 0.02rem .02rem .06rem rgba(0,0,0,0.4);
            }
            &[highlight] {
                &:before {
                    display: block; content:""; position: fixed; z-index: 2;
                    left:0; top:0; bottom:0; right:0;
                    background: rgba(0,0,0,0.3);
                }
                > .hm-area-con {right: 0;}
            } 
        }
    }
// ~ @media screen
}