.wn-obj-layout {
    &:after {@clr();}
    > *, section > * {display: block;}
    .wn-obj-hr {
        width:100%; padding:.2rem .08rem;
        hr{
            height:0px; margin:0;
            border:0; width: 100%;
            border-top:1px solid rgba(0,0,0,0.2);
        }
    }
    // 标题
    h4[fld-type] {
        padding:.1rem; margin:0; font-size:1.6em; font-weight: normal;
    }
    // 表格
    table {
        margin:.1rem; 
        td {padding:.08rem;}
        td.tbl-col-name {white-space: nowrap; }
    }
    // 列表
    ul[fld-display="UL"] {
        @flex(); flex-wrap: wrap;
        padding:.1rem;
        li {
            padding:.02rem; margin:0;
            span {display: block;}
            a:hover {text-decoration: none;}
        }
        &[li-type="text"] {
            li span {
                padding:.04rem .13rem .06rem .13rem;
                border-radius: 0.04rem;
                font-size:.8em; 
                border:1px solid rgba(0,0,0,0.1);
                color:#888;
            }
            li[current] span {
                background:#444; color:#FFF;
            }
        }
        &[li-img] {
            li {
                padding:.04rem; opacity: 0.8;
                border:2px solid rgba(0,0,0,0.1);
                cursor: pointer;
            }
            li span {
                width:.5rem; height:.5rem;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
            }
            li[current]{
                border-color:#F80; opacity: 1;
            }
        }
    }
    // 预览
    .wn-obj-preview {
        width:100%;  padding:.1rem;
        span {
            display: block; 
            width:100%; height: 1rem;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            border:1px solid rgba(0,0,0,0.1);
            @flex(); justify-content: center; align-items: center;
            font-size:1.2em;
        }
    }
    // 列表项目
    [fld-display="List"] {
        span {
            > * {
                display: inline-block; white-space: nowrap;
                vertical-align: middle;
            }
            > u {text-decoration: none;}
            > em {
                opacity: 0.6; font-size:.9em;
                font-style: normal;
                padding:0 .06rem;
            }
        }
    }
    // 普通文字
    span[fld-type], em.wn-obj-text {
        padding:.05rem; font-style: normal;
    }
    // 重点文字
    em[fld-display="Em"] {
        font-style: normal; font-size:1.2em;
        color:#F80; letter-spacing: .02em;
        padding:.05rem .15rem;
    }
    // 文字块
    blockquote[fld-display="Block"] {
        width:100%; margin:0; padding:.1rem;
        > div {
            padding:.1rem;
            color:#888; letter-spacing:.02em;
        }
    }
    // 链接
    u[fld-key] {
        padding:.1rem;
    }
    // 按钮
    b[fld-key] {
        padding: .1rem;
        a {
            background:#444; color:#EEE;
            display: inline-block; padding:.1rem .2rem;
            text-decoration: none; cursor: pointer;
            border-radius: .04rem;
            &:hover {
                background:#000; color:#FFF;
                text-decoration: none;
            }
        }
    }
    // Markdown
    article.md-content {
        width:100%; padding:.2rem;
    }
}

//...............................................
// 剪裁方式
[sa-obj-it-preview-clip="full"] {
    .wn-obj-layout .wn-obj-preview span {
        background-size: 100% 100%;
    }
}
[sa-obj-it-preview-clip="cover"] {
    .wn-obj-layout .wn-obj-preview span {
        background-size: cover;
    }
}
//...............................................
// 内容浮动
[sa-ele-float="both"] {
    .wn-obj-layout {
        > * {float:left;}
        section {
            &:after {@clr();}
            > * {float:left;}
        }
    }
}

// 桌面版
@media screen and (min-width: @d_page_minW) {
//...............................................
// 标题不折行
[sa-h-nowrap="desktop"] .wn-obj-layout {
    h4[fld-type] {
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }
}
//...............................................
// 内容浮动
[sa-ele-float="desktop"] {
    .wn-obj-layout {
         > * {float:left; display: block;}
        section {
            &:after {@clr();}
            > * {float:left; display: block;}
        }
    }
}
} // ~@media

// 手机版
@media screen and (max-width: @d_page_minW) {
.wn-obj-layout {
    // 按钮居中
    b[fld-key] {text-align: center;}
}
//...............................................
// 标题不折行
[sa-h-nowrap="mobile"] .wn-obj-layout {
    h4[fld-type] {
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }
}
//...............................................
// 内容浮动
[sa-ele-float="mobile"] {
    .wn-obj-layout {
         > * {float:left; display: block;}
        section {
            &:after {@clr();}
            > * {float:left; display: block;}
        }
    }
}
} // ~@media