.skin-navmenu-btn {
padding:.1rem;
.ul-sub {display:none;}
.ul-top {
    @flex(); 
    padding:0; flex-wrap: wrap;
}
.li-top {
    flex:0 0 auto;  margin:1px 1px 0 0;
    @flex(); white-space: nowrap;
    a {
        display: block; flex:1 1 auto;
        cursor: pointer; text-align: center;
        letter-spacing: .02rem;
        padding:.12rem .1rem;
        color:#EEE; background:#444; 
    }
    a:hover {text-decoration: none;}
}
//...............................................
// 分隔线  
&[sa-btn-align] .li-top {
    border-left-color:#DDD;
}

&[sa-btn-align="center"]  .ul-top{justify-content: center;}
&[sa-btn-align="right"]   .ul-top{justify-content: flex-end;}
&[sa-btn-align="stretch"] {
    .li-top{flex:1 1 auto;}
}
//...............................................
}

// IDE 的优先显示
html[hmaker-ide] {
    .skin-navmenu-btn {
        .li-top[current] {
            border:1px dotted #00A;
        }
    }
}