.skin-searcher-btnlike {
    position: relative; padding:0 .1rem 0 .1rem;
    > div {height: .42rem;}
    &[show-input] {
        &:before {
            display:block; content: "";
            position: fixed; top:0; left:0; right:0; bottom:0;
            background:rgba(0,0,0,0.6);
            z-index: 1;
        }
        > .kwd-input {
            input {padding:0 .15rem;}
        }
    }
    > .kwd-input { transition:.3s;
        position: absolute; right:.02rem; top:0; z-index: 2;
        width:.01rem; opacity: 0; 
        padding:0 .1rem 0 0; text-align: right;
        > input {
            width:100%; height:100%; overflow: hidden;
            border:1px solid rgba(0,0,0,0.2);
            border-radius: .36rem;
            background:#DDD;
            padding:0;
            &:focus {background:#FFA;}
        }
    }
    > .kwd-btn {
        z-index: 3; padding:0 .1rem 0 0;
        width:.3rem;
        b {
            border:0; font-size:.2rem;
            width:100%; height:100%;
            padding:0; 
            @flex(); justify-content: center; align-items:center;
        }
    }
}


// 桌面版
@media screen and (min-width: @d_page_minW) {
.skin-searcher-btnlike {
    &[show-input] {
        > .kwd-input {
            width:4rem; opacity: 1;
        }
    }
}}

// 手机版
@media screen and (max-width: @d_page_minW) {
.skin-searcher-btnlike {
    &[show-input] {
        > .kwd-input {
            width:4rem; opacity: 1;
            input {font-size:.2rem;}
        }
    }
}}