body[skin="skin-simple"] {
    
    background: #FCC;
    
    .skin-menu-normal {
        background: yellow;
    }
    
    .skin-menu-ava {
        background: blue;
    }
    
    .skin-objlist-row {
        .hmol-list > *{
            border-top:1px solid #CCC;
        }
    }
    
    .skin-objlist-btns {
        .hmol-list > *{
            display: inline-block;
        }
    }
    
    .simple-list-item {
        padding:20px; color:red;
    }
}