body[skin="skin-simple"] {
  background: #FCC;
}
body[skin="skin-simple"] .skin-menu-normal {
  background: yellow;
}
body[skin="skin-simple"] .skin-menu-ava {
  background: blue;
}
body[skin="skin-simple"] .skin-objlist-rows .hmc-objlist-list > * {
  border-top: 1px solid #CCC;
}
body[skin="skin-simple"] .skin-objlist-btns .hmc-objlist-list > * {
  display: inline-block;
}
body[skin="skin-simple"] .simple-list-item {
  padding: 20px;
  color: red;
}
