@import (reference) "../ui";

//......................................... 定义变量

//......................................... 主要样式:Begin
.thing {
    position: relative;
    > section {
        position: absolute; top:0; bottom:0; left:0; right:0;
        > .th-con {
            width: 100%; height:100%;
        }
    }
    section.th-search {right:50%;}
    section.th-form   {left:50%; border-left:1px solid @cborder1;}

    .th-err {
        padding:@d8; font-size:@f6; color:@c6;
    }

    .th-blank {
        padding:@d8; font-size:@f5; color:@c2;
    }
    //......................................... th-form
    .th-form .th-con{
        padding-left: @d2;
    }

    //.........................................
}
//......................................... 主要样式:End