.thing {
  position: relative;
}
.thing > section {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.thing > section > .th-con {
  width: 100%;
  height: 100%;
}
.thing section.th-search {
  right: 50%;
}
.thing section.th-form {
  left: 50%;
  border-left: 1px solid #d0d0d0;
}
