.oform-title {
  padding: 16px;
  text-align: center;
  color: #333333;
  background: #e0e0e0;
  font-size: 14px;
}
.oform-fldnm {
  width: 30%;
  text-align: right;
  padding: 16px 14px;
  color: #888888;
  font-size: 12px;
}
.oform-fld-required {
  color: #ff0000;
  font-weight: bolder;
  margin-right: 4px;
}
.oform-fldval {
  width: 70%;
  padding: 12px;
}
.oform-fldcmt {
  padding: 4px;
  color: #008800;
  font-size: 12px;
}
.oform-grp {
  width: 100%;
  border-collapse: collapse;
}
.oform-grp td {
  border: 1px solid #dddddd;
  vertical-align: top;
}
.oform-flow {
  width: 100%;
  height: 100%;
}
.oform-flow .oform-flow-main {
  overflow: auto;
}
.oform-flow .oform-actions {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  list-style: none;
  text-align: center;
  margin: 0;
  border-bottom: 1px solid #dddddd;
  padding: 12px;
}
.oform-flow .oform-actions:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.oform-flow .oform-abtn {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin: 0 2px;
  padding: 8px 32px;
  border: 1px solid #bbbbbb;
  background: #d0d0d0;
  color: #000000;
  border-radius: 4px;
}
.oform-flow .oform-abtn:hover {
  color: #ffffff;
  background: #0044bb;
}
.oform-flow .oform-flow-ghead {
  padding: 16px;
  font-size: 16px;
}
.oform-tabs {
  width: 100%;
  height: 100%;
}
.oform-tabs .oform-tabs-viewport {
  width: 100%;
  height: 100%;
}
.oform-tabs .oform-tabs-main {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.oform-tabs .oform-tabs-bar {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 16px 0 0 0;
  border-bottom: 1px solid #dddddd;
}
.oform-tabs .oform-tabs-bar:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.oform-tabs .oform-tabs-li {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin: 0 2px;
  padding: 12px 32px;
  border: 1px solid #bbbbbb;
  border-bottom: 0;
  background: #000000;
  color: #d0d0d0;
  border-radius: 4px 4px 0 0;
}
.oform-tabs .oform-tabs-li[highlight] {
  color: #ffffff;
  background: #0044bb;
  border-color: #ff8800;
}
.oform-tabs .oform-actions {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 16px;
  border-top: 1px solid #dddddd;
}
.oform-tabs .oform-actions:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.oform-tabs .oform-abtn {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin: 0 2px;
  padding: 8px 32px;
  border: 1px solid #bbbbbb;
  background: #d0d0d0;
  color: #000000;
  border-radius: 4px;
}
.oform-tabs .oform-abtn:hover {
  color: #ffffff;
  background: #0044bb;
}
.oform-tabs .oform-grp {
  display: none;
}
.oform-tabs .oform-tabs-main[grp-nb="1"] .oform-grp {
  display: table;
}
