@import (reference) "../../ui";



//............................. 简单文本控件
.hmc-text {
    margin:1px;
    .hmc-main {
        padding: 10px; letter-spacing: 2px; 
        font-size: 14px; line-height: 24px;
    }
}
