.ocreate-warn {
  padding: 12px;
  text-align: center;
  font-size: 16px;
  color: #ff8800;
}
.ocreate > div {
  width: 100%;
  height: 100%;
  position: relative;
}
.ocreate > div > div {
  position: absolute;
}
.ocreate > div .ocreate-list {
  left: 0;
  top: 0;
  bottom: 0;
  width: 30%;
}
.ocreate > div .ocreate-view {
  left: 30%;
  top: 0;
  bottom: 48px;
  right: 0;
}
.ocreate > div .ocreate-actions {
  left: 30%;
  right: 0;
  bottom: 0;
  height: 48px;
}
.ocreate > div .ocreate-list {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.ocreate > div .ocreate-list > div {
  width: 100%;
  height: 100%;
  position: relative;
}
.ocreate > div .ocreate-list > div > * {
  position: absolute;
  left: 0;
  right: 0;
}
.ocreate > div .ocreate-list > div header {
  top: 0;
  height: 32px;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
  color: #888888;
}
.ocreate > div .ocreate-list > div ul {
  top: 32px;
  bottom: 0;
  overflow: auto;
}
.ocreate > div .ocreate-list > div ul li {
  padding: 8px 16px;
  cursor: pointer;
}
.ocreate > div .ocreate-list > div ul li .oicon {
  margin-right: 6px;
}
.ocreate > div .ocreate-list > div ul li.highlight {
  background: rgba(0, 64, 255, 0.6);
  color: #ffffff;
}
.ocreate > div .ocreate-view .ocreate-thumb {
  padding: 48px 12px 12px 12px;
  text-align: center;
}
.ocreate > div .ocreate-view .ocreate-thumb img {
  width: 128px;
}
.ocreate > div .ocreate-view .ocreate-text {
  padding: 12px;
  text-align: center;
  font-size: 16px;
}
.ocreate > div .ocreate-view .ocreate-text em {
  font-style: normal;
  color: #888888;
  margin-left: 6px;
}
.ocreate > div .ocreate-view .ocreate-input {
  padding: 6px;
}
.ocreate > div .ocreate-view .ocreate-input input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  color: #444444;
  background: rgba(255, 255, 255, 0.4);
}
.ocreate > div .ocreate-view .ocreate-input input:focus {
  color: #000000;
  background: rgba(255, 255, 255, 0.8);
  border-color: #ffffff;
}
.ocreate > div .ocreate-view .ocreate-tip {
  padding: 8px;
  color: #00aa00;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
}
.ocreate > div .ocreate-actions {
  padding: 8px;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.ocreate > div .ocreate-actions b {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin: 0 2px;
  padding: 6px 32px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  text-align: center;
  width: 100px;
}
.ocreate > div .ocreate-actions b:hover {
  color: #ffffff;
  background: rgba(0, 64, 255, 0.6);
}
