.ui-oedit {
    background: #DDD;
}

.ui-oedit-sky {
    height:60px;
}

.ui-oedit-title {
    padding:14px 24px;
    line-height: 32px;
}

.ui-oedit-title .fa{font-size:24px;}
.ui-oedit-title .ui-tt{margin-left:6px;}

.ui-oedit-actions {
    padding:14px 24px; text-align: right;
}

.ui-btn .fa {margin-right:10px; width:10px;}

.ui-oedit-main {
    padding:0 20px;
}

.ui-oedit-textarea {
    outline: none;
    border:1px dashed #DDD; border-radius: 6px;
    font-size: 14px; color:#444; 
    font-family: Monaco, Consolas, Courier New;
    padding:20px;   
}

.ui-oedit-footer {
    line-height: 40px;
    height:40px;
    font-size:10px; color:#AAA;
    padding:0 20px;
    text-align: right;
}