
@infoW : 340px;
//--------------------------------------------------------- 全局
.oview {
    position: relative; 
    > div {position: absolute;top:0;transition: 0.5s;}
    .oview-main {background: @cb4;padding:@d4; bottom: 0;}
    .oview-meta {width:@infoW; background: @cb1; bottom: 0;}
    .oview-showmeta {
        top:0; right:0; padding:@d3; magin:@d2; font-size: @f5; cursor: pointer;
    }
    .oview-showmeta[data-balloon]::before {font-size: @f4;}
    .form {
        .form-title {
            text-align: left; color:@cf1; font-size:@f2; font-family: @f_fixed;
            opacity: 0.6;
            i {margin: 0 @d2;}
        }
        .ff-txt {padding-left:@d4;}
    }
    .ui-loading {
        padding:@d6; text-align: center; font-size: @f5; height:100%;
    }
    .ui-loading:before {
        content:"";
        display: block;
        height:40%;
    }
}

.oview[show-meta="yes"] {
    .oview-main {
        left:0; right:@infoW; overflow: auto;
        padding:@d4;
    }
    .oview-meta {
        right: 0;
    }
    .oview-showmeta {opacity: 0; width:1px; height:1px; padding:0; margin: 0;}
}

.oview[show-meta="no"] {
    .oview-main {
        left:0; right:0; overflow: auto; 
        padding:@d4;
    }
    .oview-meta {
        right: -@infoW;
    }
    .oview-showmeta {opacity: 0.6;}
    .oview-showmeta:hover {opacity: 1; font-size: @f6;}
}
//---------------------------------------------------------
// 预览部分
//---------------------------------------------------------
.ui-o_view_preview, .opreview {
    width: 100%; height: 100%;
}
.opreview {
    position: relative;
    > header {
        position: absolute; right: 0; top:0;
        ul { @noselect();
            text-align: center;
            b {
                display:block; font-weight: normal;
                cursor: pointer; padding:@d1 0;
                color:rgba(0,0,0,0.8);
                i {
                    font-size: 1.2em; transition: 0.3s;
                    text-shadow: 1px  0 0 rgba(255,255,255,0.5),
                             -1px 0 0 rgba(255,255,255,0.5),
                             0  1px 0 rgba(255,255,255,0.5),
                             0 -1px 0 rgba(255,255,255,0.5);
                }
            }
            b:hover {
                i {
                    color:#FF0;
                    text-shadow:
                             1px  0 0 rgba(0,0,0,0.5),
                             -1px 0 0 rgba(0,0,0,0.5),
                             0  1px 0 rgba(0,0,0,0.5),
                             0 -1px 0 rgba(0,0,0,0.5);
                    transform: translateX(-2px) scale(1.2);
                }
            }
        }
    }
    > section {width:100%; height:100%;}
    > aside {display: none;}
}
//全屏预览模式 
@fsPad : 10px;
.opreview[fullscreen] {
    &:before {
        position: fixed; top:0; left:0; bottom:0; right:0;
        z-index: 1000;
        display: block; content: "";
        background: rgba(0,0,0,0.8);
    }
    > section {
        position: fixed; top:@fsPad; left:@fsPad; bottom:@fsPad; right:@fsPad;
        z-index: 1000; width:unset; height:unset;
        background: transparent;
    }
    > aside {display: block;
        padding:@d2;
        position: fixed; right: 0; top:0; z-index: 1000;
        cursor: pointer; background: #000; color:#888;
        i {margin-right: @d1;}
    }
    > aside:hover {
        background: @ch0_b; color:@ch0_f;
    }
}

//--------------------------------------------------------- 文本
.opreview[mode="text"]{
    overflow: auto;
    pre {padding:@d2;}
}
//--------------------------------------------------------- 图片
.opreview[mode="pic"]{@noselect();
    div.img-con {
        width:100%; height:100%;
        text-align: center;  @flex(); justify-content:center; align-items:center;
        img.autofit {@noselect();
            object-fit: contain; width:100%; height:100%;
        }
    }
}
//--------------------------------------------------------- 视频
.opreview[mode="video"]{@noselect();
    .video-con {
        position: relative; 
        .video-ctrl {
            position: absolute; top:0; left:0; right:0; cursor: pointer;
            text-align: center;  @flex(); justify-content:center; align-items:center;
            > div {opacity: 0.3;}
        }
        .video-ctrl:hover > div {opacity: 0.8;}
        .video-bar {
            @flex(); padding:@d2; align-items:center;
            > div {padding:@d2; color:@cf2; cursor: pointer;}
            > div:hover {color:@cf0;}
            .vb-progress {
                @vbpBSZ : 12px;  @vbpH : 6px; 
                flex:1 1 auto; background: @cb3; height:6px; padding:0;
                .vbp-current {background: @chx_b;position: relative; height:100%;}
                .vbp-current:after {
                    position: absolute; top: (@vbpH - @vbpBSZ) / 2; right:(@vbpH - @vbpBSZ) / 2;
                    display: block; content:"";
                    background: @chx_f;
                    border-radius: @vbpBSZ; width:@vbpBSZ; height:@vbpBSZ;
                }
            }
        }
    }
    .video-con[video-status="play"]{
        .vc-play  {display: none;}
        .vc-pause {display: none;}
        .video-ctrl:hover {
            .vc-pause {display: block;}
        }
        .video-bar {
            .vb-play {display: none;}
            .vb-stop {display: block;}
        }
    }
    .video-con[video-status="pause"]{
        .vc-play  {display: block;}
        .vc-pause {display: none;}
        .video-bar {
            .vb-play {display: block;}
            .vb-stop {display: none;}
        }
    }
}
//--------------------------------------------------------- 未知
.opreview[mode="thumb"] {
    .thumb-con {
        @flex(); justify-content:center; align-items:center;
        width: 100%; height:100%;
        img {max-width: 100%; max-height: 100%;}
    }
}