.opreview {
  position: relative;
}
.opreview > div {
  position: absolute;
  top: 0;
  transition: 0.5s;
}
.opreview .opreview-main {
  background: #cccccc;
  padding: 12px;
  bottom: 0;
}
.opreview .opreview-info {
  width: 340px;
  background: #eeeeee;
  bottom: 0;
}
.opreview .opreview-showinfo {
  top: 0;
  right: 0;
  padding: 8px;
  magin: 6px;
  font-size: 24px;
  cursor: pointer;
}
.opreview .opreview-showinfo[data-balloon]::before {
  font-size: 16px;
}
.opreview .form .form-title {
  text-align: left;
  color: #666666;
  font-size: 12px;
  font-family: Monaco, Consolas, Courier New;
  opacity: 0.6;
}
.opreview .form .form-title i {
  margin: 0 6px;
}
.opreview .form .ff-txt {
  padding-left: 12px;
}
.opreview .ui-loading {
  padding: 24px;
  text-align: center;
  font-size: 24px;
  height: 100%;
}
.opreview .ui-loading:before {
  content: "";
  display: block;
  height: 40%;
}
.opreview[show-info="yes"] .opreview-main {
  left: 0;
  right: 340px;
  overflow: auto;
  padding: 12px;
}
.opreview[show-info="yes"] .opreview-info {
  right: 0;
}
.opreview[show-info="yes"] .opreview-showinfo {
  opacity: 0;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: 0;
}
.opreview[show-info="no"] .opreview-main {
  left: 0;
  right: 0;
  overflow: auto;
  padding: 12px;
}
.opreview[show-info="no"] .opreview-info {
  right: -340px;
}
.opreview[show-info="no"] .opreview-showinfo {
  opacity: 0.6;
}
.opreview[show-info="no"] .opreview-showinfo:hover {
  opacity: 1;
  font-size: 32px;
}
.opreview-main[mode="text"] {
  overflow: auto;
}
.opreview-main[mode="text"] pre {
  padding: 6px;
}
.opreview-main[mode="pic"] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.opreview-main[mode="pic"] div.img-con {
  width: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.opreview-main[mode="pic"] div.img-con img.autofit {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.opreview-main[mode="video"] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.opreview-main[mode="video"] .video-con {
  position: relative;
}
.opreview-main[mode="video"] .video-con .video-ctrl {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.opreview-main[mode="video"] .video-con .video-ctrl > div {
  opacity: 0.3;
}
.opreview-main[mode="video"] .video-con .video-ctrl:hover > div {
  opacity: 0.8;
}
.opreview-main[mode="video"] .video-con .video-bar {
  display: -webkit-flex;
  display: flex;
  padding: 6px;
  align-items: center;
}
.opreview-main[mode="video"] .video-con .video-bar > div {
  padding: 6px;
  color: #999999;
  cursor: pointer;
}
.opreview-main[mode="video"] .video-con .video-bar > div:hover {
  color: #333333;
}
.opreview-main[mode="video"] .video-con .video-bar .vb-progress {
  flex: 1 1 auto;
  background: #dddddd;
  height: 6px;
  padding: 0;
}
.opreview-main[mode="video"] .video-con .video-bar .vb-progress .vbp-current {
  background: #008800;
  position: relative;
  height: 100%;
}
.opreview-main[mode="video"] .video-con .video-bar .vb-progress .vbp-current:after {
  position: absolute;
  top: -3px;
  right: -3px;
  display: block;
  content: "";
  background: #ffffff;
  border-radius: 12px;
  width: 12px;
  height: 12px;
}
.opreview-main[mode="video"] .video-con[video-status="play"] .vc-play {
  display: none;
}
.opreview-main[mode="video"] .video-con[video-status="play"] .vc-pause {
  display: none;
}
.opreview-main[mode="video"] .video-con[video-status="play"] .video-ctrl:hover .vc-pause {
  display: block;
}
.opreview-main[mode="video"] .video-con[video-status="play"] .video-bar .vb-play {
  display: none;
}
.opreview-main[mode="video"] .video-con[video-status="play"] .video-bar .vb-stop {
  display: block;
}
.opreview-main[mode="video"] .video-con[video-status="pause"] .vc-play {
  display: block;
}
.opreview-main[mode="video"] .video-con[video-status="pause"] .vc-pause {
  display: none;
}
.opreview-main[mode="video"] .video-con[video-status="pause"] .video-bar .vb-play {
  display: block;
}
.opreview-main[mode="video"] .video-con[video-status="pause"] .video-bar .vb-stop {
  display: none;
}
.opreview-main[mode="others"] {
  font-size: 32px;
  color: #333333;
  padding: 96px;
  text-align: center;
}
