@import "../ui.less";

.opreview-wrapper {
    width:100%;  height:100%; overflow: hidden; background: @cb0;
}

.opreview-wrapper[mode="text"]{
    pre {padding:20px;}
}

.opreview-wrapper[mode="pic"]{
    text-align: center; 
    img.autofit {
        object-fit: contain; width:100%; height:100%;
    }
}

.opreview-wrapper[mode="others"] {
    font-size: @f6; color:@cf0; padding:@da; text-align: center;
}

