
.edit-link { @noselect();
    @flex(); flex-flow:column nowrap;
    header {
        flex:0 0 auto;
        padding:@d4 @d2 0 @d2; border-bottom:1px solid @c0;
        ul {
            @flex(); flex-flow: row nowrap; 
            li {
                padding:@d2 @d4; margin:0 @d2; color:@c2;
                background: rgba(0,0,0,0.05); cursor: pointer;
                border:1px solid rgba(0,0,0,0); border-bottom:0;
                border-radius: @d1 @d1 0 0; font-weight: bold;
            }
            li:hover {background: rgba(0,0,0,0.1);}
            li.highlight, li.highlight:hover {
                border-color:@c0;
                color:@chx_f; background: @c0;
            } 
        }
    }
    section {
        flex: 1 1 auto; position: relative;
        > div {position: absolute;top:0;left:0;right:0;bottom:0;}

        .el-lnk {
            padding:@d6;
            input { @input();
                width:100%; padding:@d4; font:@f4 @f_fixed; 
            }
            input:focus {@input_focus();}
            .el-lnk-comment {
                padding:@d3; color:@c3; font-size:@f1;
            }
        }
    }
}