
//...........................................................
.cmd-log pre {
    padding:@d3; margin:0;
    width:100%; height:100%; overflow: auto; 
    font-size:1em; line-height: 1.8em;
    background: #000; color:#DDD;
    font-family: @f_fixed;
    font-size: @f2;
    -webkit-font-smoothing: auto;
    white-space: pre-wrap;
    .msg-info {color:#CCC;}
    .msg-err {color:#F00;}
}

//...........................................................
.wn-process-panel {
    width:100%; height:100%; overflow: hidden;
    background: @cb1; color:@cf1;
    font-family: @f_fixed;
    font-size: @f2;
    position: relative;

    > header {
        padding:@d4; font-size:@f8; text-align: center;
        > h4 {
            padding:@d4; margin: 0; text-align: center;
            font-size: @f4;
        }
        > div {
            display: none; padding:@d3; height: 100px;
        }
        > [st="ing"]  {color:@c2;}
        > [st="ok"]   {color:@c3;}
        > [st="fail"] {color:@c6;}
    }
    > section {
        padding:@d2 @d6;
        @emW : 80px;
        @emH : 32px;
        @iH  : 3px;
        > .wpp-bar {
            width:100%; position: relative;
            padding-top : (@emH - @iH) / 2;
            padding-left: @emW; 
            > em {
                display: block; position: absolute; top:0; left:0;
                line-height: @emH; height: @emH;
                width:@emW; text-align: right;
                color:@c4; font-style:normal; font-family: @f_fixed;
                font-size: @f2;
            }
            > em:after {display: inline; margin-left:@d4; content:"";}
            > b {
                display: block; width:100%; overflow: hidden;
                background: rgba(0,0,0,0.4); border:1px solid #FFF;
                > i {display:block; height:@iH; background: #0F0;}
            }
        }
        > .wpp-msg {
            padding:@d3 @d3 @d3 @emW; font-family: @f_fixed; font-size: @f2; color:@c2;
        }
    }
    @fH : 24px;
    > pre { opacity: 0; transition:0.3s;
        position: absolute; bottom:@fH; top:100%; left:0; right:0;
        padding:10px; margin:0;
        overflow: auto; 
        background: rgba(0,0,0,0.9); color:#FFF;
        font-family: @f_fixed;
        font-size: @f2;
        -webkit-font-smoothing: auto;
        white-space: pre-wrap;
    }
    > footer {
        position: absolute; bottom:0; right:0;
        height:@fH; line-height: @fH;
        font-size: @f3; padding:0 @d3;
        cursor: pointer; 
    }
    > footer:hover {font-size: @f4;}
}
.wn-process-panel[st="ing"] {
    footer {
        > i:first-child{display: none;}
        color: @c5;
    }
    header [st="ing"]{display: block;}
} 
.wn-process-panel[st="ok"] {
    header [st="ok"]{display: block;}
    footer {
        > i:first-child{display: none;}
        color: @c3;
    }
}
.wn-process-panel[st="fail"] {
    header [st="fail"]{display: block;}
    footer {
        color: @c6;
    }
}
.wn-process-panel[show-log] {
    > pre { opacity: 1.0; top:0;}
}