<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

	<!-- 启动gzip压缩 -->
	<filter>
		<filter-name>jettyGzipFilter</filter-name>
		<filter-class>org.eclipse.jetty.servlets.GzipFilter</filter-class>
		<init-param>
			<param-name>mimeTypes</param-name>
			<param-value>text/plain,text/javascript,application/x-javascript,text/html,text/css,image/gif,image/png,image/jpeg</param-value>
		</init-param>
		<init-param>
			<param-name>minGzipSize</param-name>
			<param-value>1024</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>jettyGzipFilter</filter-name>
		<url-pattern>/gu/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>jettyGzipFilter</filter-name>
		<url-pattern>/o/*</url-pattern>
	</filter-mapping>
	
	<!-- walnut domain 转换 -->
    <filter>
        <filter-name>walnutFilter</filter-name>
        <filter-class>org.nutz.walnut.jetty.WalnutFilter</filter-class>
        <init-param>
            <param-name>nutzFilterName</param-name>
            <param-value>nutz</param-value>
        </init-param>
        <init-param>
            <param-name>errorPage</param-name>
            <param-value>/WEB-INF/jsp/invalid_domain.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>hostMap</param-name>
            <param-value>hostmap</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>walnutFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>	

	<!-- nutz-mvc -->
	<filter>
		<filter-name>nutz</filter-name>
		<filter-class>org.nutz.mvc.NutFilter</filter-class>
		<init-param>
			<param-name>modules</param-name>
			<param-value>org.nutz.walnut.web.WnMainModule</param-value>
		</init-param>
		<init-param>
			<param-name>ignore</param-name>
			<param-value>^.+\\.jsp$</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>nutz</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
