.ui-mask-others {
  opacity: 0.2;
}
.ui-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
}
.ui-mask > .ui-arena {
  position: relative;
  width: 100%;
  height: 100%;
}
.ui-mask-bg {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
}
.ui-mask-closer {
  position: absolute;
  font-size: 16px;
  font-family: 'Material-Design-Iconic-Font';
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  line-height: 24px;
  width: 28px;
  text-align: center;
  transition: 0.2s;
}
.ui-mask-closer:before {
  display: "inline";
  content: "\f136";
}
.ui-mask-closer:hover {
  background-color: rgba(0, 64, 255, 0.6);
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.1);
  font-size: 1.2em;
  font-weight: bold;
  transform: scale(1.2) rotate(360deg);
}
.ui-mask-main {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
  box-shadow: 4px 4px 24px #000000;
}
