.ui-mask-others {
  opacity: 0.2;
}
.ui-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
}
.ui-mask .ui-arena {
  position: relative;
  width: 100%;
  height: 100%;
}
.ui-mask-bg {
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.2;
}
.ui-mask-closer {
  position: absolute;
  font-size: 16px;
  color: #CCC;
  text-shadow: 0 0 10px #FFF;
  border-radius: 32px;
  background: #000000;
  display: block;
  width: 32px;
  height: 32px;
  line-height: 28px;
  border: 2px solid #888888;
  text-align: center;
}
.ui-body .ui-mask-closer {
  cursor: pointer;
}
.ui-mask-closer:hover {
  color: #FFF;
  border-color: #FFF;
  text-shadow: 0 0 4px #FFF;
}
.ui-mask-main {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
  box-shadow: 0 0 32px #000000;
}
