@import "../ui.less";
//----------------------------------------------------------------
.com-label {
    font-family: @f_fixed; padding:@d1;
}
//----------------------------------------------------------------
.com-link {
    padding:@d2; white-space: nowrap;
    u {cursor: pointer; color:@clink; text-decoration: none;}
    u:hover {color:@clink_hover; text-decoration: underline;}
    span {
        color: @cf2; width: 16px; display: inline-block; vertical-align: middle;
        text-align: center;
        i[tp="cl-obj"]     {display: none;}
        i[tp="cl-ext"]     {display: none;}
        i[tp="cl-unknown"] {display: none;}
    }
    u {
        display: inline-block; vertical-align: middle;
    }
}
.com-link[link-type="obj"] span i[tp="cl-obj"]{display: inline;}
.com-link[link-type="ext"] span i[tp="cl-ext"]{display: inline;}
.com-link[link-type="unknown"] span i[tp="cl-unknown"]{display: inline;}
//----------------------------------------------------------------
.com-input {
    white-space: nowrap; position: relative;
    input {
        padding:@d2; width:100%; @input();
    }
    input:focus {@input_focus();}
    .unit {
        display: block; position: absolute; top:0; bottom:0; right:0;
        padding:0 @d1 0 @d0; color:rgba(0,0,0,0.2);
    }
}
//----------------------------------------------------------------
@CCH : 30px;
.com-color {
    input, div.preview {
        vertical-align: middle; display: inline-block;
        padding:0 @d2; outline:none; height:@CCH; line-height: @CCH;
        border-radius: @d1; 
    }
    input {@input();font-family: @f_fixed; font-size:@f2; }
    input:focus {@input_focus();}
    div.preview {
        width:@CCH; height:@CCH; position: relative; padding: 0; overflow: hidden;
        background: url(/gu/rs/core/js/ui/form/bgcanvas.png);
        > div {
            width: 100%; height: 100%;
        }
    }
    input.color {position: fixed; top:-999999999999px; left:-999999999999px;}
    input.hex {width:@f2 * 6;}
    input.alpha {width:@f1*4;}
}
//----------------------------------------------------------------
@cdlH  : @f5;
@cdlIW : @d6;
.com-droplist { @noselect();
    position: relative; 
    * {cursor: pointer;}
    .com-box {
        min-width: 100px; width:100%;
        border:1px solid @cborder1; border-radius: @d1;
        position: relative; 
        padding: 0 @cdlIW 0 @d3; 
        background: @cb0; color:@cf0; overflow: hidden;
        .com-box-drop {
            position: absolute; top:0; right:0; bottom:0; width: @cdlIW;
            text-align: center; border-radius: 0 @d1 @d1 0;
        }
    }
    .com-mask {
        position: fixed; top:0; left: 0; right: 0; bottom: 0;
        z-index: 999; background: rgba(0,0,0,0); cursor: default;
        display: none;
    }
    .com-drop { display: none;
        z-index: 1000; min-width:100px;
        position: fixed; top:0; left:0; 
        overflow: hidden; white-space: nowrap; 
        background: @cmenu_b; color:@cmenu_f; border-radius: @d2;
        box-shadow: 2px 2px 8px @cshadow;
        > div {
            position: relative; width:100%; height:100%;
        }
        ul {
            list-style: none; padding:0; margin:0;
            li {
                padding:@d2 @d4;
            }
        }
    }
    span[it="check"] {
        display: inline-block; vertical-align: middle;
        width:16px; text-align: center;
        i:first-child {display: inline;}
        i:last-child  {display: none;}
    }
    span[it="icon"] {
        display: inline-block; vertical-align: middle;
        width:20px; text-align: center;
    }
    b[it="text"] {display: inline-block; vertical-align: middle; padding-left: @d1;}
}
.com-droplist[show] {
    .com-mask {display: block;}
    .com-drop {display: block;}
}
.com-droplist[multi="no"]{
    .com-box {
        min-height:@cdlH + 3; line-height: @cdlH; white-space: nowrap;
        span[it="check"] { display: none; }
        .com-box-drop {
            line-height: @cdlH;
        }
    }
    .com-multi-apply {display: none;};
    span[it="check"] {
        * {display: none;}
    }
    ul {
        li:hover {
            color:@ch0_f; background: @ch0_b;
        }
        li.checked {
            span[it="check"] {
                * {display: inline;}
            }
        }
    }
}

.com-droplist[multi="yes"] {
    .com-box {
        padding:@d1 @d1 + @cdlIW @d1 @d1; min-height:@cdlH + @d1 * 2;
        .com-box-drop {
            line-height: @cdlH + @d1 * 2;
        }
    }
    .cbsi {
        display: inline-block; vertical-align: middle;
        background: rgba(0,0,0,0.08); border:1px solid rgba(0,0,0,0.12);
        border-radius: @d1;
        margin:@d0; padding:@d0 @d2;
        span[it="check"]{display: none;}
    }
    .com-drop {
        @cdmH : 30px;
        .com-multi-apply {
            border-top:1px dotted @cborder0;
            text-align: center; height:@cdmH; line-height: @cdmH;
            position: absolute; left:0; right:0; bottom:0; 
            background: @cmenu_b;
        }
        .com-multi-apply:hover{
            background: @ch1_b; color:@ch1_f;
        }
        ul {
            padding-bottom: @cdmH; overflow: auto;
            li.checked {
                color:@ch0_f; background: @ch0_b;
                span[it="check"]{
                    i:first-child {display: none;}
                    i:last-child  {display: inline;}
                }
            }
        }
    }
    .com-drop[freeze] {
        ul {
            width:100%; height:100%;
        }
    }
}
//----------------------------------------------------------------
.com-butlist { @noselect();
    * {cursor: pointer;}
    li {
        padding:@d2 @d4; cursor: pointer; opacity: 0.8;
    }
    li.checked {
        opacity: 1.0; color:@c5;
        span[it="but"] {
            i:first-child {display: none;}
            i:last-child  {display: inline;}
        }
    }
    li.checked:hover, li:hover {background: rgba(255,255,0,0.1);}
    span[it="but"] {
        display: inline-block; vertical-align: middle;
        width:16px; text-align: left;
        i:first-child {display: inline;}
        i:last-child  {display: none;}
    }
    span[it="icon"] {
        display: inline-block; vertical-align: middle;
        width:20px; text-align: center;
    }
    b[it="text"] {display: inline-block; vertical-align: middle; padding-left: @d1;}
}
//----------------------------------------------------------------
.com-checklist {
    .cc-quick {
        span {display: inline-block; padding:@d1 @d2; border-radius: @d1;}
        span:hover {color:@ch1_f; background:@ch1_b;}
    }
}
//----------------------------------------------------------------
.com-switch {@noselect();
    padding:@d0;
    ul {
        list-style: none; padding:1px 1px 1px 0; margin:0;
        background: @cborder1; display: inline-block;
    }
    ul:after{@clr();}
    li {
        float:left; padding:@d1; background: #CCC; color:#888;
        margin-left:1px; min-width: @d7; text-align: center;
        cursor: pointer;
    }
    li.checked {
        color:#FFF; background: #080;
    }
}
//----------------------------------------------------------------
.com-text {
    width: 100%; height:100%;
    textarea {
        width: 100%; height:100%; padding:@f0; border-radius: @d1; resize: none;
        @input();
    }
    textarea:focus {
        @input_focus();
    }
}