.com-label {
  font-family: Monaco, Consolas, Courier New;
  padding: 4px;
}
.com-link {
  padding: 6px;
  white-space: nowrap;
}
.com-link u {
  cursor: pointer;
  color: #aabbff;
  text-decoration: none;
}
.com-link u:hover {
  color: #ccddff;
  text-decoration: underline;
}
.com-link span {
  color: #888888;
  width: 16px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.com-link span i[tp="cl-obj"] {
  display: none;
}
.com-link span i[tp="cl-ext"] {
  display: none;
}
.com-link span i[tp="cl-unknown"] {
  display: none;
}
.com-link u {
  display: inline-block;
  vertical-align: middle;
}
.com-link[link-type="obj"] span i[tp="cl-obj"] {
  display: inline;
}
.com-link[link-type="ext"] span i[tp="cl-ext"] {
  display: inline;
}
.com-link[link-type="unknown"] span i[tp="cl-unknown"] {
  display: inline;
}
.com-input {
  white-space: nowrap;
  position: relative;
}
.com-input input {
  padding: 6px;
  width: 100%;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  color: #444444;
  background: rgba(255, 255, 255, 0.4);
}
.com-input input:focus {
  color: #000000;
  background: rgba(255, 255, 255, 0.8);
  border-color: #ffffff;
}
.com-input .unit {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0 4px 0 2px;
  color: rgba(0, 0, 0, 0.2);
}
.com-color input,
.com-color div.preview {
  vertical-align: middle;
  display: inline-block;
  padding: 0 6px;
  outline: none;
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
}
.com-color input {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  color: #444444;
  background: rgba(255, 255, 255, 0.4);
  font-family: Monaco, Consolas, Courier New;
  font-size: 12px;
}
.com-color input:focus {
  color: #000000;
  background: rgba(255, 255, 255, 0.8);
  border-color: #ffffff;
}
.com-color div.preview {
  width: 30px;
  height: 30px;
  position: relative;
  padding: 0;
  overflow: hidden;
  background: url(/gu/rs/core/js/ui/form/bgcanvas.png);
}
.com-color div.preview > div {
  width: 100%;
  height: 100%;
}
.com-color input.color {
  position: fixed;
  top: -999999999998.9999px;
  left: -999999999998.9999px;
}
.com-color input.hex {
  width: 72px;
}
.com-color input.alpha {
  width: 40px;
}
.com-droplist {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
}
.com-droplist * {
  cursor: pointer;
}
.com-droplist .com-box {
  min-width: 100px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  position: relative;
  padding: 0 24px 0 8px;
  background: #000000;
  color: #cccccc;
  overflow: hidden;
}
.com-droplist .com-box .com-box-drop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 24px;
  text-align: center;
  border-radius: 0 4px 4px 0;
}
.com-droplist .com-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0);
  cursor: default;
  display: none;
}
.com-droplist .com-drop {
  display: none;
  z-index: 1000;
  min-width: 100px;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  border-radius: 6px;
  box-shadow: 2px 2px 8px #000000;
}
.com-droplist .com-drop > div {
  position: relative;
  width: 100%;
  height: 100%;
}
.com-droplist .com-drop ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.com-droplist .com-drop ul li {
  padding: 6px 12px;
}
.com-droplist span[it="check"] {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  text-align: center;
}
.com-droplist span[it="check"] i:first-child {
  display: inline;
}
.com-droplist span[it="check"] i:last-child {
  display: none;
}
.com-droplist span[it="icon"] {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  text-align: center;
}
.com-droplist b[it="text"] {
  display: inline-block;
  vertical-align: middle;
  padding-left: 4px;
}
.com-droplist[show] .com-mask {
  display: block;
}
.com-droplist[show] .com-drop {
  display: block;
}
.com-droplist[multi="no"] .com-box {
  min-height: 27px;
  line-height: 24px;
  white-space: nowrap;
}
.com-droplist[multi="no"] .com-box span[it="check"] {
  display: none;
}
.com-droplist[multi="no"] .com-box .com-box-drop {
  line-height: 24px;
}
.com-droplist[multi="no"] .com-multi-apply {
  display: none;
}
.com-droplist[multi="no"] span[it="check"] * {
  display: none;
}
.com-droplist[multi="no"] ul li:hover {
  color: #ffffff;
  background: rgba(0, 64, 255, 0.6);
}
.com-droplist[multi="no"] ul li.checked span[it="check"] * {
  display: inline;
}
.com-droplist[multi="yes"] .com-box {
  padding: 4px 28px 4px 4px;
  min-height: 32px;
}
.com-droplist[multi="yes"] .com-box .com-box-drop {
  line-height: 32px;
}
.com-droplist[multi="yes"] .cbsi {
  display: inline-block;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin: 2px;
  padding: 2px 6px;
}
.com-droplist[multi="yes"] .cbsi span[it="check"] {
  display: none;
}
.com-droplist[multi="yes"] .com-drop .com-multi-apply {
  border-top: 1px dotted rgba(255, 255, 255, 0.2);
  text-align: center;
  height: 30px;
  line-height: 30px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
}
.com-droplist[multi="yes"] .com-drop .com-multi-apply:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}
.com-droplist[multi="yes"] .com-drop ul {
  padding-bottom: 30px;
  overflow: auto;
}
.com-droplist[multi="yes"] .com-drop ul li.checked {
  color: #ffffff;
  background: rgba(0, 64, 255, 0.6);
}
.com-droplist[multi="yes"] .com-drop ul li.checked span[it="check"] i:first-child {
  display: none;
}
.com-droplist[multi="yes"] .com-drop ul li.checked span[it="check"] i:last-child {
  display: inline;
}
.com-droplist[multi="yes"] .com-drop[freeze] ul {
  width: 100%;
  height: 100%;
}
.com-butlist {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.com-butlist * {
  cursor: pointer;
}
.com-butlist li {
  padding: 6px 12px;
  cursor: pointer;
  opacity: 0.8;
}
.com-butlist li.checked {
  opacity: 1.0;
  color: #ffffff;
}
.com-butlist li.checked span[it="but"] i:first-child {
  display: none;
}
.com-butlist li.checked span[it="but"] i:last-child {
  display: inline;
}
.com-butlist li.checked:hover,
.com-butlist li:hover {
  background: rgba(255, 255, 0, 0.1);
}
.com-butlist span[it="but"] {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  text-align: left;
}
.com-butlist span[it="but"] i:first-child {
  display: inline;
}
.com-butlist span[it="but"] i:last-child {
  display: none;
}
.com-butlist span[it="icon"] {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  text-align: center;
}
.com-butlist b[it="text"] {
  display: inline-block;
  vertical-align: middle;
  padding-left: 4px;
}
.com-checklist .cc-quick span {
  display: inline-block;
  padding: 4px 6px;
  border-radius: 4px;
}
.com-checklist .cc-quick span:hover {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.2);
}
.com-switch {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  padding: 2px;
}
.com-switch ul {
  list-style: none;
  padding: 1px 1px 1px 0;
  margin: 0;
  background: rgba(255, 255, 255, 0.1);
  display: inline-block;
}
.com-switch ul:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.com-switch li {
  float: left;
  padding: 4px;
  background: #CCC;
  color: #888;
  margin-left: 1px;
  min-width: 32px;
  text-align: center;
  cursor: pointer;
}
.com-switch li.checked {
  color: #FFF;
  background: #080;
}
.com-text {
  width: 100%;
  height: 100%;
}
.com-text textarea {
  width: 100%;
  height: 100%;
  padding: 8px;
  resize: none;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  color: #444444;
  background: rgba(255, 255, 255, 0.4);
}
.com-text textarea:focus {
  color: #000000;
  background: rgba(255, 255, 255, 0.8);
  border-color: #ffffff;
}
