.tree-wrapper {
    padding:0; width:100%; height:100%;
    overflow: auto;
}

.tree-node{ @noselect();
    &[nd-disabled] {
        > .tnd-self {
            opacity: 0.3;
        }
    }
    .tnd-children {
        padding-left:@d5;
        &[is-empty] {
            border:1px dotted rgba(100,100,100,0.4);
            color:rgba(100,100,100,0.6); font-size:@f0;
            margin:@d1 @d6; padding:@d0; text-align: center; 
        }
    }
}
.tnd-self{ @noselect();
    padding:@d0 0; line-height: @d5 + @d2; white-space: nowrap;
    >div {display: inline-block; vertical-align: middle;}
    .tnd-handle{
        width:@d5; overflow: hidden; text-align: center;
    }
    .tnd-icon{
        padding:0 @d2 0 @d0; min-width: @d6; text-align: center;
    }
    .tnd-text{
        cursor: pointer; 
    }
}
// 在拖拽层里的样式
.wn-dragging {
    .tnd-self {
        font-size: 1.2em; background:rgba(255,255,255,0.8);
        text-align: center;
        border:1px solid rgba(0,0,0,0.3);
    }
}

.tree-node-actived {
    > .tnd-self {
        background: @ch0_b; color:@ch0_f;
    }
}

.tree-node[ndtp="leaf"]{
    > .tnd-self {
        .tnd-handle {visibility: hidden;}
    }
}

.tree-node[collapse="yes"] {
    > .tnd-self {
        .tnd-handle i:last-child{display: none;}
        .tnd-icon {
            i:last-child {display: none;}
            i:first-child{display: inline-block;}
        }
    }
    > .tnd-children {display: none;}
}

.tree-node[collapse="no"] {
    > .tnd-self {
        .tnd-handle i:first-child{display: none;}
        .tnd-icon {
            i:first-child{display: none;}
            i:last-child {display: inline-block;}
        }
    }
}