.tree {
  overflow: auto;
}
.tree-wrapper {
  padding: 6px;
}
.tree-node {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.tree-node .tnd-self {
  padding: 2px 0;
  line-height: 16px;
}
.tree-node .tnd-self > div {
  display: inline-block;
  vertical-align: middle;
}
.tree-node .tnd-self .tnd-handle {
  width: 16px;
  height: 16px;
  overflow: hidden;
  text-align: center;
}
.tree-node .tnd-self .tnd-icon {
  padding: 0 6px 0 2px;
  min-width: 16px;
  text-align: center;
}
.tree-node .tnd-self .tnd-text {
  cursor: pointer;
}
.tree-node .tnd-children {
  padding-left: 16px;
}
.tree-node-actived > .tnd-self {
  background: #ffffff;
  color: #000000;
}
.tree-node[ndtp=leaf] .tnd-handle {
  visibility: hidden;
}
.tree-node[collapse="yes"] .tnd-handle i:last-child {
  display: none;
}
.tree-node[collapse="yes"] .tnd-children {
  display: none;
}
.tree-node[collapse="no"] .tnd-handle i:first-child {
  display: none;
}
