@pT : 40px;
@pB : 48px;
//.............................................................
.pop {
    width:100%; height:100%; position: relative;
    > * {position: absolute; left: 0; right: 0;}
    .pm-title {
        top:0; height:@pT; line-height: @pT; padding:0 @d4;
        text-align: left; font-size: @f3;
        border-bottom: 1px solid @cborder1;
    }
    .pm-body {
        top:@pT; bottom:@pB;
        background: @cb0;

        .ui-quartz {
            padding:@d3;
        }
    }
    .pm-btns {@noselect();
        bottom:0; height:@pB;
        border-top: 1px solid @cborder1;
        text-align: right; padding:@d3;
        .pm-btn {@btn(); outline: none;}
        .pm-btn:hover{@btn_hover();}
        .pm-btn:focus{@btn_focus();}
    }
}
//.............................................................
.pop-msg {
    .pm-body {
        background: @cb1; color:@cf1;
        font-size:@f3; font-family: @f_fixed;
        @flex(); 
        .pop-msg-icon {
            flex:0 0 auto; padding:@d6 0 0 @d7;
            > i {
                font-size:@f7; width:@f7 + @d2;
            }    
        }
        .pop-msg-text {
            flex:1 1 auto; padding:@d7;
            overflow: auto; width:100%; height:100%;
            em {color:@c3;}
        }
        .pop-msg-prompt {
            flex:1 1 auto; padding:@d5 @d6;
            .pmp-input {
                padding:@d2 0; 
                input {@input();
                    width:100%; padding:@d4; font-size: @f3;
                    font-family: @f_fixed;
                }
                input:focus {@input_focus();}
            }
            .pmp-warn {
                color:@c6; font-size:@f2;
            }
        }
    }
    .pm-body[mode="warn"] {
        .pop-msg-icon {color:@c6;}
    }
    .pm-body[mode="ok"] {
        .pop-msg-icon {color:@c7;}
    }
}
//.............................................................
.pop-zcron {
    .pm-body {
        padding:@d3 @d4;
    }
}
//.............................................................
