.pop .pop-title {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  padding: 12px;
  text-align: center;
  font-size: 16px;
  border-bottom: 1px solid #dddddd;
}
.pop .pop-actions {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  border-top: 1px solid #dddddd;
  text-align: right;
  padding: 8px;
}
.pop .pop-actions .pop-btn {
  display: inline-block;
  vertical-align: middle;
  padding: 8px 24px;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid #bbbbbb;
  background: #d0d0d0;
  color: #000000;
  border-radius: 2px;
}
.pop .pop-actions .pop-btn:hover {
  background: #0044bb;
  color: #ffffff;
}
