.pop {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
}
.pop .pm-title {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  padding: 8px;
  text-align: center;
  font-size: 14px;
  border-bottom: 1px solid #dddddd;
}
.pop .pm-body {
  flex: 1 0 auto;
  background: #ffffff;
}
.pop .pm-body .ui-quartz {
  padding: 8px;
}
.pop .pm-btns {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  border-top: 1px solid #dddddd;
  text-align: right;
  padding: 8px;
}
.pop .pm-btns .pm-btn {
  display: inline-block;
  vertical-align: middle;
  padding: 8px 24px;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid #bbbbbb;
  background: #d0d0d0;
  color: #000000;
  border-radius: 2px;
}
.pop .pm-btns .pm-btn:hover {
  background: #0044bb;
  color: #ffffff;
}
