<div class="ui-arena pop-mask">
    <div class="ui-mask-bg"></div>
    <div class="ui-mask-main"><div class="pop">
        <div class="pm-title"></div>
        <div class="pm-body" ui-gasket="main"></div>
        <div class="pm-btns">
            <b class="pm-btn pm-btn-ok">{{ok}}</b>
            <b class="pm-btn pm-btn-cancel">{{cancel}}</b>
        </div>
    </div></div>
    <div class="ui-mask-closer"></div>
</div>