.pvg {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  background: #eeeeee;
}
.pvg > div {
  position: absolute;
}
.pvg .pvg-users-head {
  top: 0;
  left: 0;
  height: 42px;
  width: 40%;
}
.pvg .pvg-users-list {
  top: 42px;
  bottom: 0;
  left: 0;
  width: 40%;
}
.pvg .pvg-paths-head {
  top: 0;
  height: 42px;
  left: 40%;
  right: 0;
}
.pvg .pvg-paths-list {
  top: 42px;
  bottom: 0;
  left: 40%;
  right: 0;
}
.pvg .pvg-head > div {
  width: 100%;
  height: 100%;
  position: relative;
  border-bottom: 1px solid #d0d0d0;
}
.pvg .pvg-head > div > div {
  position: absolute;
  top: 0;
  bottom: 0;
}
.pvg .pvg-head > div .pvg-title {
  left: 0;
  padding: 12px;
}
.pvg .pvg-head > div .pvg-title b {
  margin-left: 8px;
}
.pvg .pvg-head > div .pvg-menu {
  right: 0;
}
.pvg .pvg-list {
  padding: 12px;
}
.pvg .pvg-list .lst-item > * {
  display: inline-block;
  vertical-align: middle;
}
.pvg .pvg-list .lst-item b {
  margin: 0 6px;
  min-width: 100px;
}
.pvg .pvg-list .lst-item > span.pvg-edit {
  display: none;
  color: #333333;
  white-space: nowrap;
}
.pvg .pvg-list .lst-item > span.pvg-edit .pvg-cus {
  color: #0088ff;
}
.pvg .pvg-list .lst-item > span.pvg-edit .pvg-cus:hover {
  color: #ff0000;
  text-decoration: underline;
}
.pvg .pvg-list .lst-item > span.pvg-edit .pvg-mode {
  padding: 6px 0;
  background: #cccccc;
  color: #444444;
}
.pvg .pvg-list .lst-item > span.pvg-edit .pvg-mode u {
  text-decoration: none;
  padding: 6px;
}
.pvg .pvg-list .lst-item > span.pvg-edit .pvg-mode u.checked {
  background: #008800;
  color: #ffffff;
}
.pvg .pvg-list .lst-item > span.pvg-edit .pvg-mode u.pvg-auto:hover {
  background: #0044bb;
  color: ch0_f;
}
.pvg .pvg-list .lst-item[role="ADMIN"] {
  color: #FF0;
}
.pvg .pvg-list .lst-item[role="REQUEST"] {
  opacity: 0.5;
}
.pvg .pvg-list .lst-item[role="BLOCK"] {
  opacity: 0.5;
  color: #F00;
}
.pvg .pvg-list[pvg-edit-on] .lst-item > span.pvg-edit {
  display: inline-block;
}
.pvg .pvg-list[pvg-edit-on] .lst-item > span.pvg-edit .pvg-cus {
  display: inline;
}
.pvg .pvg-list[pvg-edit-on] .lst-item > span.pvg-edit .pvg-mode {
  display: none;
}
.pvg .pvg-list[pvg-edit-on] .lst-item > span.pvg-edit[pvg] .pvg-cus {
  display: none;
}
.pvg .pvg-list[pvg-edit-on] .lst-item > span.pvg-edit[pvg] .pvg-mode {
  display: inline;
}
.pvg .pvg-users-head {
  border-right: 1px solid #d0d0d0;
}
.pvg .pvg-users-list {
  border-right: 1px solid #d0d0d0;
}
.pvg .pvg-users-list .lst-item > em {
  min-width: 60px;
}
.pvgau-mask {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
  padding-top: 96px;
}
.pvgau-mask header {
  font-size: 14px;
  padding: 0 24px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 48px;
  line-height: 48px;
  background: #eeeeee;
  color: #ff8800;
  border-bottom: 1px solid #d0d0d0;
}
.pvgau-mask .pvgau-tip {
  padding: 8px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 48px;
  background: #e0e0e0;
  color: #888888;
  border-bottom: 1px solid #d0d0d0;
}
.pvgau-mask section > div {
  padding: 12px 24px;
  border-bottom: 1px dashed #d0d0d0;
}
.pvgau-mask footer {
  padding: 6px 92px 6px 6px;
  position: relative;
}
.pvgau-mask footer input {
  outline: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  color: #000000;
  background: #ffffff;
  width: 100%;
  padding: 8px;
  font-size: 16px;
}
.pvgau-mask footer input:focus {
  color: #000000;
  background: #ffffcc;
  border-color: #ff8800;
}
.pvgau-mask footer b {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin: 0 2px;
  padding: 6px 32px;
  border: 1px solid #bbbbbb;
  background: #d0d0d0;
  color: #000000;
  border-radius: 4px;
  position: absolute;
  top: 6px;
  right: 6px;
  bottom: 6px;
  width: 80px;
  text-align: center;
  padding: 10px 0;
}
.pvgau-mask footer b:hover {
  color: #ffffff;
  background: #0044bb;
}
