
.com-edit-link {
    width:100%; 
    color:@clink; cursor: pointer; font-family: @f_fixed; font-size: @f2;
    padding:@d2 @d1;
    @flex();
    > * {
        flex:0 0 auto; display: block;
    }
    .cel-icon {
        padding-right:@d1;
        @flex(); align-items: center;
    }
    .cel-href {
        flex:1 1 auto; padding:@d0 0;
        white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
        &:hover {color:@clink_hover; text-decoration: underline;}
    }
    .cel-del {
        padding:0 @d2;
        @flex(); align-items: center;
        i {transition: .3s;}
        &:hover i {
            color:@clink_hover; font-weight: bold;
            transform:rotate(180deg) scale(1.1);
        }
    }
}

//.........................................................
// 编辑链接/动作的集成控件
.edit-link {
    padding:@d2;
}

//.........................................................
// 编辑超链接
.edit-link-href {
    padding:@d3;
    > header {
        padding: @d4 @d3 @d0 @d3;
    }
    > section {
        padding: @d0 @d3;
        input {
            @input(); padding:@d3; width:100%;
            font-family: @f_fixed;
        }
        input:focus {
            @input_focus();
        }
    }
    > aside {
        padding:@d0 @d5; color:@c2;
        font-size: @f1; font-family: @f_fixed;
        code {color:@c3;}
        code:before {display:inline; content:'"';}
        code:after  {display:inline; content:'"';}
    }
}
//.........................................................
// 编辑动作
.edit-link-action {
    padding:@d2 @d3;
    > section {
        padding:@d2 0;
        div.ai-tip {
            padding:@d3; color:@c3; font-size:@f3; 
        }
        .form-title {
            text-align: left; color:@c2;
        }
    }
}

//.........................................................
// 重新定义一下 .com-pair 的显示尺寸
.hm-link-params {
    .com-pair > section.pairs{
        padding:@d0;
        table {
            td.cp-val input {
                padding:@d1;
            }
        }
    }
}

//.........................................................
.edit-pick-area { @noselect();
    padding:@d3;
    .list-item {
        font-size:@f3; padding:0 @d4;
        span {margin:0 @d2;}
        em {display: block; text-align: center;}
    }
    .list-item[ao-used] {
        opacity: 0.6; color:@c4;
    }
    .list-item[ao-used][li-actived] {
        background: @ch1_b; color:@ch1_f;
    }
}