
.form-title {
    padding:@d4; text-align: center; color:@cf0;
    background: @cb2; font-size: @f4;
    border-bottom:1px solid @cborder1;
}

.form-body {
    overflow-x: hidden; overflow-y: scroll;
    position: relative;
}

.form-group, .form-fld{
    display: inline-block; vertical-align: top;
}

.form-group {
    padding-right:1px;
}

.form-group-hide {
    .fg-title {
        border-color:@c0; color:@c0; background: rgba(255,255,255,0.2);
    }
    .fg-title:after {
        content: "..."; font-weight: bolder; 
        position: absolute; right:@d3;
    }
    .fg-fields {
        display: none;
    }
}

.fg-title { @noselect();
    padding:@d2; margin: @d2 0 0 0; font-size:@f4;
    color:@cf1; background: rgba(255,255,255,0.1); border:1px solid rgba(0,0,0,0);
    border-bottom-color: rgba(0,0,0,0.2);
    position: relative; cursor: pointer;
    .fg-tt-icon {
        margin:0 @d2;
    }
    .fg-tt-text {
        margin:0 @d2;
    }
}

.form-fld {
    border-top: 1px dashed rgba(255,255,255,0.15); padding:@d1;
    position: relative;
}
.form-fld[first-row]{border:0;}

.ff-prompt {
    position: absolute; top:0; bottom:0; left:0; 
    padding:@d5; display: none; font-size:@f4;
}

.form-fld[form-prompt] .ff-prompt{display: block;}
.form-fld[form-prompt="ok"] .ff-prompt{color:@c3;}
.form-fld[form-prompt="warn"] {
    color:@c6;
    .ff-txt {color:@c6;}
    .ffv-tip {color:@c6;}
}
.form-fld[form-prompt="spinning"] .ff-prompt{color:@c1;}


.ff-txt, .ff-val {
    display: inline-block; vertical-align: top; 
}

.ff-txt {
    text-align: right; padding:@d4 @d4 @d4 @d8; color:@c2; white-space: nowrap;
    .fft-icon {margin-right:@d2;}
    .fft-text {}
}
.ff-txt[required] {
    .fft-text {color:@c5;}
    .fft-text:before {
        display: inline; content: "*"; margin:0 @d0 0 0; color:@c6; 
    }
}

.ff-val {padding:@d2;}

.ffv-ui {display: inline-block; vertical-align: middle;}
.ffv-ui[fill="all"]{width:100%;}
.ffv-tip {
    display: inline-block; color:@c3; padding: @d1; 
    font-size:@f1; font-family: @f_fixed;
}

.ff-tmpl {
    position: absolute; top:0; left:0; bottom:0; padding:@d5 0; display: none;
}
.form-fld[tmpl-on="yes"]{
    opacity: 1.0;
    .ff-tmpl {
        > i:first-child {display: none;}
        > i:last-child {display: inline;}
    }
}

.form-fld[tmpl-on="no"]{
    opacity: 0.3;
    .ff-tmpl {
        right:0; 
        > i:first-child {display: inline;}
        > i:last-child {display: none;}
    }
}

.form-fld[fld-disabled]{
    opacity: 0.3; font-style: italic;
}

.form-fld[fld-disabled]:after {
    position: absolute; left: 0; right:0; top:0; bottom:0; background: rgba(0,0,0,0);
    display: block; content: "";
}

// .form>.form-body>div>.form-group>.fg-fields>.form-fld[fld-disabled]{
//     display: none;
// }

.form[hide-disabled-fld] .form-fld[fld-disabled] {
    display: none;
}

.form[as-template] {
    .ff-tmpl{display: block;}
}

.form-group{
    [ui-width="auto"], [ui-fixed-width] {
        .ffv-ui {display: inline-block; vertical-align: middle; }
    }
    [ui-width="all"] {
        .ffv-ui {width:100%;}
        .ffv-tip {}
    }
    .fg-fields {padding:@d1 0;}
}

//........................................ 紧凑模式
.form[display-mode="compact"] {
    .form-title {
        padding:@d2; font-size: @f1;
    }
    .form-fld {
        padding:0;
        .ff-txt {padding:@d3+@d1 @d2 @d2 @d5;}
        .ff-val {padding:@d0 @d1;}
    }
}
