.com-label {
  font-family: Monaco, Consolas, Courier New;
  padding: 4px;
}
.com-link {
  padding: 6px;
  white-space: nowrap;
}
.com-link u {
  cursor: pointer;
  color: #0088ff;
  text-decoration: none;
}
.com-link u:hover {
  color: #ff0000;
  text-decoration: underline;
}
.com-link span {
  color: #999999;
  width: 16px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.com-link span i[tp="cl-obj"] {
  display: none;
}
.com-link span i[tp="cl-ext"] {
  display: none;
}
.com-link span i[tp="cl-unknown"] {
  display: none;
}
.com-link u {
  display: inline-block;
  vertical-align: middle;
}
.com-link[link-type="obj"] span i[tp="cl-obj"] {
  display: inline;
}
.com-link[link-type="ext"] span i[tp="cl-ext"] {
  display: inline;
}
.com-link[link-type="unknown"] span i[tp="cl-unknown"] {
  display: inline;
}
.com-input {
  white-space: nowrap;
  position: relative;
}
.com-input input {
  padding: 6px;
  width: 100%;
  outline: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  color: #000000;
  background: #ffffff;
}
.com-input input:focus {
  color: #000000;
  background: #ffffcc;
  border-color: #ff8800;
}
.com-input .unit {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0 4px 0 2px;
  color: rgba(0, 0, 0, 0.2);
}
.com-square-drop > .cc-box {
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 1px;
  border-radius: 3px;
  background: #CCC;
  border: 1px solid #cccccc;
  position: relative;
  overflow: hidden;
  background: url(/gu/rs/core/js/ui/form/bgcanvas.png);
}
.com-square-drop > .cc-box .ccb-preview {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  border: 1px solid #cccccc;
  position: relative;
  overflow: hidden;
}
.com-square-drop > .cc-box .ccb-preview[empty] {
  background: #FFF;
}
.com-square-drop > .cc-box .ccb-preview[empty]:before {
  content: "";
  display: block;
  height: 2px;
  background: #F00;
  position: absolute;
  top: 50%;
  left: -100px;
  right: -100px;
  transform: rotate(-45deg);
}
.com-square-drop > .cc-edit > * {
  z-index: 20;
}
.com-square-drop > .cc-edit > .cce-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 0, 0, 0);
}
.com-square-drop > .cc-edit > .cce-con {
  position: fixed;
  width: 340px;
  height: 200px;
  background: #ffffff;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #cccccc;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
.com-square-drop > .cc-edit {
  display: none;
}
.com-square-drop[show] > .cc-edit {
  display: block;
}
.com-background > .cc-edit > .cce-con {
  height: 330px;
  width: 430px;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
}
.com-color > .cc-edit > .cce-con > div {
  width: 100%;
  height: 100%;
  position: relative;
}
.com-color > .cc-edit > .cce-con > div > div {
  position: absolute;
}
.com-color > .cc-edit .cce-colors {
  top: 0;
  left: 0;
  bottom: 0;
  right: 40%;
  padding: 12px;
}
.com-color > .cc-edit .cce-colors > div {
  width: 100%;
  height: 100%;
  position: relative;
}
.com-color > .cc-edit .cce-colors > div > div {
  position: absolute;
  left: 0;
  right: 0;
}
.com-color > .cc-edit .cce-colors .ccec-head {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  top: 0;
  height: 24px;
  padding-bottom: 12px;
}
.com-color > .cc-edit .cce-colors .ccec-head span {
  height: 100%;
  border: 1px solid #cccccc;
}
.com-color > .cc-edit .cce-colors .ccec-head u {
  cursor: pointer;
}
.com-color > .cc-edit .cce-colors .ccec-body {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  top: 24px;
  bottom: 24px;
  border: 1px solid #cccccc;
}
.com-color > .cc-edit .cce-colors .ccec-body span:first-child {
  border: 0;
}
.com-color > .cc-edit .cce-colors .ccec-body u {
  overflow: hidden;
}
.com-color > .cc-edit .cce-colors .ccec-body u:hover {
  border: 0;
  transform: scale(1.8);
  z-index: 200;
  width: 80px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.com-color > .cc-edit .cce-colors .ccec-body u:hover b {
  color: #FFF;
  text-shadow: 0 0 2px #000;
}
.com-color > .cc-edit .cce-colors .ccec-ctip {
  bottom: 0;
  height: 24px;
  line-height: 24px;
  text-align: center;
  color: #333333;
  font: 12px Monaco, Consolas, Courier New;
}
.com-color > .cc-edit .cce-colors span {
  display: block;
  width: 100%;
  border-top: 1px solid #cccccc;
}
.com-color > .cc-edit .cce-colors span u {
  display: block;
  float: left;
  border-left: 1px solid #cccccc;
  height: 100%;
}
.com-color > .cc-edit .cce-colors span u:first-child {
  border: 0;
}
.com-color > .cc-edit .cce-colors span:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.com-color > .cc-edit .cce-values {
  top: 0;
  right: 0;
  bottom: 0;
  left: 60%;
  padding: 0;
  text-align: right;
}
.com-color > .cc-edit .cce-values b {
  display: inline-block;
  width: 60px;
  vertical-align: middle;
  text-align: left;
}
.com-color > .cc-edit .cce-values input {
  outline: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  color: #000000;
  background: #ffffff;
  padding: 4px;
  border-radius: 2px;
  border-radius: 1px;
  font: 10px Monaco, Consolas, Courier New;
  width: 50px;
}
.com-color > .cc-edit .cce-values input:focus {
  color: #000000;
  background: #ffffcc;
  border-color: #ff8800;
}
.com-color > .cc-edit .cce-values em {
  display: inline-block;
  padding: 0 6px;
  vertical-align: middle;
}
.com-color > .cc-edit .cce-values > div {
  padding: 8px 0;
}
.com-color > .cc-edit .cce-values .cce-rgb > div {
  padding: 2px 0;
}
.com-color > .cc-edit .cce-values .cce-hex input {
  width: 91px;
}
.com-droplist {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
}
.com-droplist * {
  cursor: pointer;
}
.com-droplist .com-box {
  min-width: 100px;
  width: 100%;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  position: relative;
  padding: 0 24px 0 8px;
  background: #ffffff;
  color: #333333;
  overflow: hidden;
}
.com-droplist .com-box .com-box-drop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 24px;
  text-align: center;
  border-radius: 0 4px 4px 0;
}
.com-droplist .com-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0);
  cursor: default;
  display: none;
}
.com-droplist .com-drop {
  display: none;
  z-index: 1000;
  min-width: 100px;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  background: #ffffff;
  color: #000000;
  border-radius: 6px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
.com-droplist .com-drop > div {
  position: relative;
  width: 100%;
  height: 100%;
}
.com-droplist .com-drop ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.com-droplist .com-drop ul li {
  padding: 6px 12px;
}
.com-droplist span[it="check"] {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  text-align: center;
}
.com-droplist span[it="check"] i:first-child {
  display: inline;
}
.com-droplist span[it="check"] i:last-child {
  display: none;
}
.com-droplist span[it="icon"] {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  text-align: center;
}
.com-droplist b[it="text"] {
  display: inline-block;
  vertical-align: middle;
  padding-left: 4px;
}
.com-droplist[show] .com-mask {
  display: block;
}
.com-droplist[show] .com-drop {
  display: block;
}
.com-droplist[multi="no"] .com-box {
  min-height: 27px;
  line-height: 24px;
  white-space: nowrap;
}
.com-droplist[multi="no"] .com-box span[it="check"] {
  display: none;
}
.com-droplist[multi="no"] .com-box .com-box-drop {
  line-height: 24px;
}
.com-droplist[multi="no"] .com-multi-apply {
  display: none;
}
.com-droplist[multi="no"] span[it="check"] * {
  display: none;
}
.com-droplist[multi="no"] ul li:hover {
  color: #ffffff;
  background: #0044bb;
}
.com-droplist[multi="no"] ul li.checked span[it="check"] * {
  display: inline;
}
.com-droplist[multi="yes"] .com-box {
  padding: 4px 28px 4px 4px;
  min-height: 32px;
}
.com-droplist[multi="yes"] .com-box .com-box-drop {
  line-height: 32px;
}
.com-droplist[multi="yes"] .cbsi {
  display: inline-block;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin: 2px;
  padding: 2px 6px;
}
.com-droplist[multi="yes"] .cbsi span[it="check"] {
  display: none;
}
.com-droplist[multi="yes"] .com-drop .com-multi-apply {
  border-top: 1px dotted #cccccc;
  text-align: center;
  height: 30px;
  line-height: 30px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
}
.com-droplist[multi="yes"] .com-drop .com-multi-apply:hover {
  background: #cccccc;
  color: #444444;
}
.com-droplist[multi="yes"] .com-drop ul {
  padding-bottom: 30px;
  overflow: auto;
}
.com-droplist[multi="yes"] .com-drop ul li.checked {
  color: #ffffff;
  background: #0044bb;
}
.com-droplist[multi="yes"] .com-drop ul li.checked span[it="check"] i:first-child {
  display: none;
}
.com-droplist[multi="yes"] .com-drop ul li.checked span[it="check"] i:last-child {
  display: inline;
}
.com-droplist[multi="yes"] .com-drop[freeze] ul {
  width: 100%;
  height: 100%;
}
.com-butlist {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.com-butlist * {
  cursor: pointer;
}
.com-butlist li {
  padding: 6px 12px;
  cursor: pointer;
  opacity: 0.8;
}
.com-butlist li.checked {
  opacity: 1.0;
  color: #000000;
}
.com-butlist li.checked span[it="but"] i:first-child {
  display: none;
}
.com-butlist li.checked span[it="but"] i:last-child {
  display: inline;
}
.com-butlist li.checked:hover,
.com-butlist li:hover {
  background: rgba(255, 255, 0, 0.1);
}
.com-butlist span[it="but"] {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  text-align: left;
}
.com-butlist span[it="but"] i:first-child {
  display: inline;
}
.com-butlist span[it="but"] i:last-child {
  display: none;
}
.com-butlist span[it="icon"] {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  text-align: center;
}
.com-butlist b[it="text"] {
  display: inline-block;
  vertical-align: middle;
  padding-left: 4px;
}
.com-checklist .cc-quick span {
  display: inline-block;
  padding: 4px 6px;
  border-radius: 4px;
}
.com-checklist .cc-quick span:hover {
  color: #444444;
  background: #cccccc;
}
.com-switch {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  padding: 2px;
}
.com-switch ul {
  list-style: none;
  padding: 1px 1px 1px 0;
  margin: 0;
  background: #d0d0d0;
  display: inline-block;
}
.com-switch ul:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.com-switch li {
  float: left;
  padding: 4px;
  background: #CCC;
  color: #888;
  margin-left: 1px;
  min-width: 32px;
  text-align: center;
  cursor: pointer;
}
.com-switch li.checked {
  color: #FFF;
  background: #080;
}
.com-text {
  width: 100%;
  height: 100%;
}
.com-text textarea {
  width: 100%;
  height: 100%;
  padding: 8px;
  resize: none;
  outline: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  color: #000000;
  background: #ffffff;
}
.com-text textarea:focus {
  color: #000000;
  background: #ffffcc;
  border-color: #ff8800;
}
