@import "../ui.less";

.form-title {
    padding:@d4; text-align: center; color:@cf0;
    background: @cb2; font-size: @f4;
    border-bottom:1px solid @cborder1;
}

.form-body {
    overflow-x: hidden; overflow-y: scroll;
    position: relative;
}

.form-group, .form-fld{
    display: inline-block; vertical-align: top;
}

.form-group {
    padding-right:1px;
}

.form-group-hide {
    .fg-title {
        border-color:@c0; color:@c0; background: rgba(255,255,255,0.2);
    }
    .fg-title:after {
        content: "..."; font-weight: bolder; 
        position: absolute; right:@d3;
    }
    .fg-fields {
        display: none;
    }
}

.fg-title { @noselect();
    padding:@d2; margin: @d2 0 0 0; font-size:@f4;
    color:@cf1; background: rgba(255,255,255,0.1); border:1px solid rgba(0,0,0,0.0);
    border-bottom-color: rgba(0,0,0,0.2);
    position: relative; cursor: pointer;
    .fg-tt-icon {
        margin:0 @d2;
    }
    .fg-tt-text {
        margin:0 @d2;
    }
}

.form-fld {
    border-top: 1px dashed rgba(255,255,255,0.15); padding:@d1;
    position: relative;
}
.form-fld[first-row]{border:0;}

.ff-prompt {
    position: absolute; top:0; bottom:0; left:0;  font-size:1.2em;
    padding:@d5; display: none;
}

.form-fld[form-prompt] .ff-prompt{
    display: block;
}


.ff-txt, .ff-val {
    display: inline-block; vertical-align: top; 
}

.ff-txt {
    text-align: right; padding:@d4 @d4 @d4 @d8; color:@c2;
    .fft-icon {margin-right:@d2;}
    .fft-text {}
}
.ff-txt[required] {color:@cf0; font-weight: bolder;}
.ff-txt[required]:before {
    display: inline; content: "*"; font-weight: bolder;
    position: absolute; margin-left:-@d3; color:#F00;
}

.ff-val {padding:@d2;}

.ffv-ui {display: inline-block; vertical-align: middle; padding-right:@d2;}
.ffv-ui[fill="all"]{width:100%;}
.ffv-tip {display: inline-block; color:@c3; padding: @d1; font-size:@f0;}

.ff-tmpl {
    position: absolute; top:0; left:0; bottom:0; padding:@d5 0; display: none;
}
.form-fld[tmpl-on="yes"]{
    opacity: 1.0;
    .ff-tmpl {
        > i:first-child {display: none;}
        > i:last-child {display: inline;}
    }
}

.form-fld[tmpl-on="no"]{
    opacity: 0.4;
    .ff-tmpl {
        right:0; 
        > i:first-child {display: inline;}
        > i:last-child {display: none;}
    }
}

.form[as-template] {
    .ff-tmpl{display: block;}
}

.form-group{
    [ui-width="auto"], [ui-fixed-width] {
        .ffv-ui {display: inline-block; vertical-align: middle; padding-right:@d2;}
        .ffv-tip {display: inline-block; color:@c3; padding: @d1; font-size:@f0;}
    }
    [ui-width="all"] {
        .ffv-ui {width:100%;}
        .ffv-tip {}
    }
}

