.form-title {
  padding: 12px;
  text-align: center;
  color: #333333;
  background: #e0e0e0;
  font-size: 16px;
}
.form-body {
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}
.form-group,
.form-fld {
  display: inline-block;
  vertical-align: top;
}
.form-group {
  padding-right: 1px;
}
.form-group-hide .fg-title {
  border-color: #ff8800;
  color: #ff8800;
}
.form-group-hide .fg-title:after {
  content: "...";
  font-weight: bolder;
  position: absolute;
  right: 8px;
}
.form-group-hide .fg-fields {
  display: none;
}
.fg-title {
  padding: 6px;
  margin: 6px 0 0 0;
  font-size: 16px;
  color: #666666;
  background: #eeeeee;
  border: 1px solid rgba(0, 0, 0, 0);
  position: relative;
}
.fg-title .fg-tt-icon {
  margin: 0 6px;
}
.fg-title .fg-tt-text {
  margin: 0 6px;
}
.form-fld {
  border-bottom: 1px dashed #dddddd;
  padding: 4px;
}
[multi-cols] .form-fld {
  border: 0;
}
.ff-txt,
.ff-val {
  display: inline-block;
  vertical-align: top;
}
.ff-txt {
  text-align: right;
  padding: 12px 12px 12px 12px;
  color: #666666;
}
.ff-txt .fft-icon {
  margin-right: 6px;
}
.ff-txt .fft-text {
  margin-left: 4px;
}
.ff-txt[required] {
  color: #333333;
  font-weight: bolder;
}
.ff-txt[required]:before {
  display: inline;
  content: "*";
  font-weight: bolder;
  position: absolute;
  margin-left: -8px;
  color: #F00;
}
.ff-val {
  padding: 6px;
}
.ffv-ui {
  padding-right: 6px;
}
.ffv-tip {
  display: inline-block;
  color: #008800;
  padding: 4px;
  font-size: 8px;
}
.form-group [ui-width="auto"] .ffv-ui,
.form-group [ui-fixed-width] .ffv-ui {
  display: inline-block;
  vertical-align: middle;
  padding-right: 6px;
}
.form-group [ui-width="auto"] .ffv-tip,
.form-group [ui-fixed-width] .ffv-tip {
  display: inline-block;
  color: #008800;
  padding: 4px;
  font-size: 8px;
}
.form-group [ui-width="all"] .ffv-ui {
  width: 100%;
}
