.form-title {
  padding: 12px;
  text-align: center;
  color: #333333;
  background: #e0e0e0;
  font-size: 16px;
  border-bottom: 1px solid #d0d0d0;
}
.form-body {
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}
.form-group,
.form-fld {
  display: inline-block;
  vertical-align: top;
}
.form-group {
  padding-right: 1px;
}
.form-group-hide .fg-title {
  border-color: #ff8800;
  color: #ff8800;
  background: rgba(255, 255, 255, 0.2);
}
.form-group-hide .fg-title:after {
  content: "...";
  font-weight: bolder;
  position: absolute;
  right: 8px;
}
.form-group-hide .fg-fields {
  display: none;
}
.fg-title {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  padding: 6px;
  margin: 6px 0 0 0;
  font-size: 16px;
  color: #666666;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(0, 0, 0, 0);
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: relative;
  cursor: pointer;
}
.fg-title .fg-tt-icon {
  margin: 0 6px;
}
.fg-title .fg-tt-text {
  margin: 0 6px;
}
.form-fld {
  border-top: 1px dashed rgba(255, 255, 255, 0.15);
  padding: 4px;
  position: relative;
}
.form-fld[first-row] {
  border: 0;
}
.ff-prompt {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  font-size: 1.2em;
  padding: 16px;
  display: none;
}
.form-fld[form-prompt] .ff-prompt {
  display: block;
}
.ff-txt,
.ff-val {
  display: inline-block;
  vertical-align: top;
}
.ff-txt {
  text-align: right;
  padding: 12px 12px 12px 48px;
  color: #888888;
}
.ff-txt .fft-icon {
  margin-right: 6px;
}
.ff-txt[required] {
  color: #333333;
  font-weight: bolder;
}
.ff-txt[required]:before {
  display: inline;
  content: "*";
  font-weight: bolder;
  position: absolute;
  margin-left: -8px;
  color: #F00;
}
.ff-val {
  padding: 6px;
}
.ffv-ui {
  display: inline-block;
  vertical-align: middle;
  padding-right: 6px;
}
.ffv-ui[fill="all"] {
  width: 100%;
}
.ffv-tip {
  display: inline-block;
  color: #008800;
  padding: 4px;
  font-size: 8px;
}
.ff-tmpl {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 16px 0;
  display: none;
}
.form-fld[tmpl-on="yes"] {
  opacity: 1.0;
}
.form-fld[tmpl-on="yes"] .ff-tmpl > i:first-child {
  display: none;
}
.form-fld[tmpl-on="yes"] .ff-tmpl > i:last-child {
  display: inline;
}
.form-fld[tmpl-on="no"] {
  opacity: 0.4;
}
.form-fld[tmpl-on="no"] .ff-tmpl {
  right: 0;
}
.form-fld[tmpl-on="no"] .ff-tmpl > i:first-child {
  display: inline;
}
.form-fld[tmpl-on="no"] .ff-tmpl > i:last-child {
  display: none;
}
.form[as-template] .ff-tmpl {
  display: block;
}
.form-group [ui-width="auto"] .ffv-ui,
.form-group [ui-fixed-width] .ffv-ui {
  display: inline-block;
  vertical-align: middle;
  padding-right: 6px;
}
.form-group [ui-width="auto"] .ffv-tip,
.form-group [ui-fixed-width] .ffv-tip {
  display: inline-block;
  color: #008800;
  padding: 4px;
  font-size: 8px;
}
.form-group [ui-width="all"] .ffv-ui {
  width: 100%;
}
