.pvg {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
}
.pvg > div {
  position: absolute;
}
.pvg .pvg-users-head {
  top: 0;
  left: 0;
  height: 42px;
  width: 40%;
}
.pvg .pvg-users-list {
  top: 42px;
  bottom: 0;
  left: 0;
  width: 40%;
}
.pvg .pvg-paths-head {
  top: 0;
  height: 42px;
  left: 40%;
  right: 0;
}
.pvg .pvg-paths-list {
  top: 42px;
  bottom: 0;
  left: 40%;
  right: 0;
}
.pvg .pvg-head > div {
  width: 100%;
  height: 100%;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.pvg .pvg-head > div > div {
  position: absolute;
  top: 0;
  bottom: 0;
}
.pvg .pvg-head > div .pvg-title {
  left: 0;
  padding: 12px;
}
.pvg .pvg-head > div .pvg-title b {
  margin-left: 8px;
}
.pvg .pvg-head > div .pvg-menu {
  right: 0;
}
.pvg .pvg-list {
  padding: 12px;
}
.pvg .pvg-list .lst-item > * {
  display: inline-block;
  vertical-align: middle;
}
.pvg .pvg-list .lst-item b {
  margin: 0 6px;
  min-width: 100px;
}
.pvg .pvg-list .lst-item[role="ADMIN"] {
  color: #FF0;
}
.pvg .pvg-list .lst-item[role="REQUEST"] {
  opacity: 0.5;
}
.pvg .pvg-list .lst-item[role="BLOCK"] {
  opacity: 0.5;
  color: #F00;
}
.pvg .pvg-users-head {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.pvg .pvg-users-list {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.pvg .pvg-users-list .lst-item > em {
  min-width: 60px;
}
.pvg .pvg-users-list .lst-item > span.pvg-edit {
  display: none;
  color: #cccccc;
  white-space: nowrap;
}
.pvg .pvg-users-list .lst-item > span.pvg-edit .pvg-cus {
  color: #aabbff;
}
.pvg .pvg-users-list .lst-item > span.pvg-edit .pvg-cus:hover {
  color: #ccddff;
  text-decoration: underline;
}
.pvg .pvg-users-list .lst-item > span.pvg-edit .pvg-mode {
  padding: 6px 0;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}
.pvg .pvg-users-list .lst-item > span.pvg-edit .pvg-mode u {
  text-decoration: none;
  padding: 6px;
}
.pvg .pvg-users-list .lst-item > span.pvg-edit .pvg-mode u.checked {
  background: #008800;
  color: #ffffff;
}
.pvg .pvg-users-list .lst-item > span.pvg-edit .pvg-mode u.pvg-auto:hover {
  background: rgba(0, 64, 255, 0.6);
  color: ch0_f;
}
.pvg .pvg-users-list[pvg-edit-on] .lst-item > span.pvg-edit {
  display: inline-block;
}
.pvg .pvg-users-list[pvg-edit-on] .lst-item > span.pvg-edit .pvg-cus {
  display: inline;
}
.pvg .pvg-users-list[pvg-edit-on] .lst-item > span.pvg-edit .pvg-mode {
  display: none;
}
.pvg .pvg-users-list[pvg-edit-on] .lst-item > span.pvg-edit[pvg] .pvg-cus {
  display: none;
}
.pvg .pvg-users-list[pvg-edit-on] .lst-item > span.pvg-edit[pvg] .pvg-mode {
  display: inline;
}
