@import (reference) "../ui";

.hm-com[actived]{
    background: rgba(255,255,0, 0.2);
}

.hmc-text {
    border:1px dashed #CCC;
    .hmc-wrapper {
        
    }
}

.hmc-image {
    padding:20px; background: blue;
}

.hmc-navbtns {
    padding:20px; background: pink;
}