.ui-wedit {
    background: @cb0; color:@cf0; position: absolute; 
    top:0; left:0; right:0; bottom: 0;
}

.ui-wedit-sky {
    height:50px;
}

.ui-wedit-title {
    padding:@d4 @d6;
    line-height: 32px;
}

.ui-wedit-title .fa{font-size:@f6;}
.ui-wedit-title .ui-tt{margin-left:@d3;}

.ui-wedit-actions {
    position: absolute; top:14px; right:14px;
}
.ui-btn {
    margin-left: @d2;
}
.ui-btn .fa {margin-right:@d4; width:10px;}

.ui-wedit-main {
    position: absolute; 
    top:50px; bottom: 32px; left:0; right:0;
    padding:@d2;
}

.ui-wedit-textarea {@input();
    width:100%; height:100%;
    outline: none;
    border:1px dashed @cborder1; border-radius: 6px;
    font-size: @f3; 
    font-family: Monaco, Consolas, Courier New;
    padding:20px;   
}
.ui-wedit-textarea:focus{@input_focus();}

.ui-wedit-footer {
    line-height: 28px; height:32px;
    padding:0 @d5;
    font-size:@f2; color:@c2; font-family: @f_fixed;
    text-align: right;
    position: absolute;
    bottom:0;  right: 0;
}