@import (reference) "../ui";

@nav_w    : 200px;
@tb_h     : 32px;
@footer_h : 32px;
@prop_w   : 200px;
.bp {
    background: @cb0; position: relative;
    > div {
        position: absolute; 
    }
    .bp-con-nav {background: red;
        top:0; bottom:@footer_h; left:0; width:@nav_w; background: @cb1;
    }

    .bp-con-main { background: #CCC;
        top:0; bottom:@footer_h; left:@nav_w; right:0;
    }

    .bp-con-footer {background: blue;
        bottom:0; left:0; right:0; height:@footer_h;
    }
}

.outline-con .bp-con-nav{
    width:100%; height:100%;
}

.bp-nav {
    position:relative;
    .bp-nav-abar {
        .menu {text-align: right; padding:@d0; color:@cf0;}    
    }
    
    .bp-nav-tree {
        position: absolute; top:0; left:0; right: 0; bottom: 0;
    }
}
