@import "../ui.less";

@infoW : 340px;
//--------------------------------------------------------- 全局
.opreview {
    position: relative; 
    > div {position: absolute;top:0;transition: 0.5s;}
    .opreview-main {background: @cb4;padding:@d4; bottom: 0;}
    .opreview-info {width:@infoW; background: @cb1; bottom: 0;}
    .opreview-showinfo {
        top:0; right:0; padding:@d3; magin:@d2; font-size: @f5; cursor: pointer;
    }
    .opreview-showinfo[data-balloon]::before {font-size: @f4;}
    .form {
        .form-title {
            text-align: left; color:@cf1; font-size:@f2; font-family: @f_fixed;
            opacity: 0.6;
            i {margin: 0 @d2;}
        }
        .ff-txt {padding-left:@d4;}
    }
    .ui-loading {
        padding:@d6; text-align: center; font-size: @f5; height:100%;
    }
    .ui-loading:before {
        content:"";
        display: block;
        height:40%;
    }
}

.opreview[show-info="yes"] {
    .opreview-main {
        left:0; right:@infoW; overflow: auto;
        padding:@d4;
    }
    .opreview-info {
        right: 0;
    }
    .opreview-showinfo {opacity: 0; width:1px; height:1px; padding:0; margin: 0;}
}

.opreview[show-info="no"] {
    .opreview-main {
        left:0; right:0; overflow: auto; 
        padding:@d4;
    }
    .opreview-info {
        right: -@infoW;
    }
    .opreview-showinfo {opacity: 0.6;}
    .opreview-showinfo:hover {opacity: 1; font-size: @f6;}
}
//--------------------------------------------------------- 文本
.opreview-main[mode="text"]{
    overflow: auto;
    pre {padding:@d2;}
}
//--------------------------------------------------------- 图片
.opreview-main[mode="pic"]{@noselect();
    div.img-con {
        width:100%; height:100%;
        text-align: center;  @flex(); justify-content:center; align-items:center;
        img.autofit {@noselect();
            object-fit: contain; width:100%; height:100%;
        }
    }
}
//--------------------------------------------------------- 视频
.opreview-main[mode="video"]{@noselect();
    .video-con {
        position: relative; 
        .video-ctrl {
            position: absolute; top:0; left:0; right:0; cursor: pointer;
            text-align: center;  @flex(); justify-content:center; align-items:center;
            > div {opacity: 0.3;}
        }
        .video-ctrl:hover > div {opacity: 0.8;}
        .video-bar {
            @flex(); padding:@d2; align-items:center;
            > div {padding:@d2; color:@cf2; cursor: pointer;}
            > div:hover {color:@cf0;}
            .vb-progress {
                @vbpBSZ : 12px;  @vbpH : 6px; 
                flex:1 1 auto; background: @cb3; height:6px; padding:0;
                .vbp-current {background: @chx_b;position: relative; height:100%;}
                .vbp-current:after {
                    position: absolute; top: (@vbpH - @vbpBSZ) / 2; right:(@vbpH - @vbpBSZ) / 2;
                    display: block; content:"";
                    background: @chx_f;
                    border-radius: @vbpBSZ; width:@vbpBSZ; height:@vbpBSZ;
                }
            }
        }
    }
    .video-con[video-status="play"]{
        .vc-play  {display: none;}
        .vc-pause {display: none;}
        .video-ctrl:hover {
            .vc-pause {display: block;}
        }
        .video-bar {
            .vb-play {display: none;}
            .vb-stop {display: block;}
        }
    }
    .video-con[video-status="pause"]{
        .vc-play  {display: block;}
        .vc-pause {display: none;}
        .video-bar {
            .vb-play {display: block;}
            .vb-stop {display: none;}
        }
    }
}
//--------------------------------------------------------- 未知
.opreview-main[mode="others"] {
    font-size: @f6; color:@cf0; padding:@da; text-align: center;
}

