.opreview-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
}
.opreview-wrapper[mode="text"] pre {
  padding: 20px;
}
.opreview-wrapper[mode="pic"] {
  text-align: center;
}
.opreview-wrapper[mode="pic"] img.autofit {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.opreview-wrapper[mode="others"] {
  font-size: 32px;
  color: #222222;
  padding: 96px;
  text-align: center;
}
